﻿@{
    Layout = "~/Views/Shared/_MasterPage.cshtml";
    ViewBag.Title = "Acerca del portal de indicadores de ACTI";
}

<div class="row">
    <div class="col-lg-6 col-md-6">
        <h3><strong>¿Qué son los indicadores CTI?</strong></h3>
        <blockquote>
            <p class="text-justify smallCita">
                Los Indicadores de Ciencia, Tecnología e Innovación son instrumentos de medición, análisis
                y comparación internacional de las actividades de Investigación, Desarrollo tecnológico e Innovación (I+D+i)
                del Sistema de Ciencia, Tecnología e Innovación de un país. Aportan relevantes datos estadísticos para valorar,
                comparar y tomar decisiones en materia de políticas públicas y estrategias empresariales de aspectos estratégicos en la Sociedad del Conocimiento.
            </p>
            <small>Tomado de <a href="http://www.ovtt.org/indicadores" target="_blank">Observatorio Virtual de Transferencia de Tecnología</a></small>
        </blockquote>
        <h3><strong>Modelo de Medición de Actividades de Ciencia y Tecnología de la Universidad del Magdalena (MACTI-UM)</strong></h3>
        <p class="text-justify">
            El modelo de medición de Actividades de Ciencia, Tecnología e Innovación de la Universidad del Magdalena (MACTI-UM) está diseñado con una estructura de niveles, 
            que va desde lo general hasta lo especifico. Específicamente, se tiene que el modelo está estructurado en seis dimensiones, 18 categorías distribuidas en las 6 
            dimensiones propuestas, al igual que 47 indicadores y sus desagregaciones. En este portal algunos indicadores fueron incluidos en uno solo, se pueden consultar por los filtros ofrecidos,
            razón por la cual el número de indicadores será menor. En la siguiente tabla se presenta las seis dimensiones propuestas con sus respectivas categorías 
            y el número de indicadores propuestos para cada una de ellas.
        </p>
        <div class="table-responsive">
            <table class="table table-bordered table-striped table-condensed">
                <thead>
                    <tr>
                        <th class="text-center">Dimensiones</th>
                        <th class="text-center">Categoría</th>
                        <th class="text-center">Número de indicadores</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td rowspan="4">Insumos</td>
                        <td>Recursos económicos</td>
                        <td class="text-center">1</td>
                    </tr>
                    <tr>
                        <td>Recursos Estructurales y Relacionales</td>
                        <td class="text-center">5</td>
                    </tr>
                    <tr>
                        <td>Recursos Físicos y Tecnológicos</td>
                        <td class="text-center">7</td>
                    </tr>
                    <tr>
                        <td>Recursos Humanos</td>
                        <td class="text-center">4</td>
                    </tr>
                    <tr>
                        <td rowspan="3">Proceso</td>
                        <td>Proyectos</td>
                        <td class="text-center">1</td>
                    </tr>
                    <tr>
                        <td>Personal para ACTI en Formación</td>
                        <td class="text-center">1</td>
                    </tr>
                    <tr>
                        <td>Relaciones con el Entorno</td>
                        <td class="text-center">1</td>
                    </tr>
                    <tr>
                        <td rowspan="4">Resultado</td>
                        <td>Productos</td>
                        <td class="text-center">4</td>
                    </tr>
                    <tr>
                        <td>Personal Formado para ACTI</td>
                        <td class="text-center">1</td>
                    </tr>
                    <tr>
                        <td>Transferencia de Conocimiento</td>
                        <td class="text-center">3</td>
                    </tr>
                    <tr>
                        <td>Recursos Económicos</td>
                        <td class="text-center">2</td>
                    </tr>
                    <tr>
                        <td rowspan="3">Disponibilidad de insumos</td>
                        <td>Recursos económicos</td>
                        <td class="text-center">2</td>
                    </tr>
                    <tr>
                        <td>Recursos Físicos y Tecnológicos</td>
                        <td class="text-center">5</td>
                    </tr>
                    <tr>
                        <td>Recursos Humanos</td>
                        <td class="text-center">2</td>
                    </tr>
                    <tr>
                        <td rowspan="2">Productividad</td>
                        <td>Productividad de Recursos Humanos</td>
                        <td class="text-center">2</td>
                    </tr>
                    <tr>
                        <td>Relaciones con el Entorno</td>
                        <td class="text-center">1</td>
                    </tr>
                    <tr>
                        <td rowspan="2">Impacto</td>
                        <td>Impacto académico</td>
                        <td class="text-center">2</td>
                    </tr>
                    <tr>
                        <td>Reconocimiento externo</td>
                        <td class="text-center">2</td>
                    </tr>
                </tbody>
            </table>
        </div>
        
    </div>
    <div class="col-lg-6 col-md-6">
        <h3><strong>¿Cuál es el objetivo de este portal?</strong></h3>
        <p class="text-justify">
            El portal de indicadores de ACTI permite la visualización y
            descargar de reportes de indicadores de actividades de ciencia, tecnología e innovación
            manejados por la Universidad del Magdalena, cuya finalidad es ayudar a interpretar en
            qué sectores debe dar prioridad al proceso de investigación, ciencia e innovación;
            observar cuales han sido los avances o retrocesos que ha tenido en materia de investigación
            y dar cuenta no solo a las entidades de la universidad sino a la comunidad en general de
            los resultados obtenidos anualmente respecto a temas de ciencia, investigación e innovación.
        </p>

        <h3><strong>Herramientas de apoyo en la construcción de la página</strong></h3>
        <p class="text-justify">Las herramientas que sirvieron de apoyo en la construcción de este portal fueron:</p>
        <ul>
            <li>
                <p class="text-justify">
                    <strong class="text-info"><a href="https://github.com/nicolaskruchten/pivottable" target="_blank">PivotTable.js: </a></strong>
                    librería de Javascript de tablas pivotes con la funcionalidad de arrastrar y soltar utilizando jQuery/jQueryUI y escrito originalmente en CoffeeScript por Nicolas Kruchten en Datacratic. 
                    La función básica de PivotTable.js es permitir la exploración y análisis de datos desactivando un conjunto de datos en una tabla de resumen y, a continuación, opcionalmente, agregando cierta
                    capacidad de arrastre y soltar permitirle a un usuario manipular este cuadro resumen, convirtiéndola en una tabla dinámica, muy similar a la encontrada en las versiones anteriores de Microsoft 
                    Excel con un montón de características orientadas a desarrolladores adicionales y algunos efectos de visualización. Con complementos opcionales, la tabla de resumen se puede representar como diversos 
                    tipos de gráficos, que dan vuelta a la tabla dinámica en un gráfico dinámico. PivotTable.js está disponible con licencia MIT de CDNJS y NPM y Bower bajo el nombre de pivottable. Es empleado en este portal en todas las tablas de datos de los indicadores. 
                </p>
            </li>
            <li>
                <p class="text-justify">
                    <strong class="text-info"><a href="http://www.highcharts.com/" target="_blank">Highcharts: </a></strong>
                    plugin que ofrece una herramienta para crear gráficos estadísticos interactivos fácilmente manejables en proyectos web. Highcharts es usado por decenas de millones de desarrolladores y 61 de las 100 
                    empresas más grandes del mundo. Permite ser utilizado de manera libre para el desarrollo de sitios web personales, sitios escolares y organizaciones sin ánimo de lucro, solo pide licencia para usos comerciales; 
                    al ser la Universidad del Magdalena una institución académica puede utilizar de manera gratuita esta API. Este plugin es utilizado en todos los gráficos a excepción de los empleados en la tabla dinámica de consulta personalizada.
                </p>
            </li>
            <li>
                <p class="text-justify">
                    <strong class="text-info"><a href="http://www.tipue.com/search/" target="_blank">Tipue Search: </a></strong>
                    es un plugin JQuery, motor de búsqueda de sitios web. Es gratis, de código abierto, adaptado a la resolución de las pantallas y rápido. Es gratis, tanto para uso comercial y no comercial. En la aplicación fue empleado el modo estático 
                    de Tipue Search en el buscador ofrecido en el menú de navegación, donde se establecían las palabras claves por las que se podía acceder a los indicadores que ofrece el portal.
                </p>
            </li>
        </ul>
    </div>
</div>
