﻿@{
    Layout = "~/Views/Shared/_MasterPage.cshtml";
    ViewBag.Title = "Ayuda del portal de indicadores de ACTI";
}

<div class="row">
    <div class="col-lg-12 col-md-12">
        <!--Acordion items ayuda-->
        <div class="panel-group" id="accordion">
            <div class="panel panel-primary">
                <div class="panel-heading">
                    <h4 class="panel-title">
                        <a data-toggle="collapse" data-parent="#accordion" href="#collapse1">
                            Buscar un indicador
                        </a>
                    </h4>
                </div>
                <div id="collapse1" class="panel-collapse collapse in">
                    <div class="panel-body">
                        <div class="space">
                            <p class="text-justify">Para buscar un indicador de ACTI la aplicación ofrece las siguientes opciones:</p>
                            <h4>Buscar un indicador por el menú principal de navegación</h4>
                            <p class="text-justify">En la parte izquierda de su pantalla, se encuentra el menú principal de navegación. A través de este menú podrá buscar y seleccionar el indicador que desea ver.</p>
                            <img class="img-responsive center-block" src="~/Content/Imagenes/menu.png" alt="Menu de navegación" style="margin-bottom:20px;" />
                            <h4>Buscar un indicador por el panel de búsqueda</h4>
                            <p class="text-justify">En el menú principal de navegación localizado a la izquierda de su pantalla, se encuentra el panel de búsqueda.</p>
                            <img class="img-responsive center-block" src="~/Content/Imagenes/busqueda.png" alt="Panel de búsqueda" style="margin-bottom:20px; margin-top:20px;"/>
                            <p class="text-justify">Para buscar un indicador en el panel de búsqueda debe ingresar el nombre o palabras claves asociadas al indicador, presionar la tecla enter y será dirigido a una página de resultados que lista aquellos indicadores que cumplen con el criterio de búsqueda ingresado, allí usted puede elegir que indicador desea consultar.</p>
                            <img class="img-responsive center-block" src="~/Content/Imagenes/pagina_resultados.png" alt="Página de resultados" style="margin-bottom:20px; margin-top:20px;"/>
                            <p class="text-justify"><strong class="text-info">Nota:</strong> Si el texto ingresado no coincide con ningún indicador ofrecido en el portal, le aparecerá el mensaje <strong class="text-info">“No hay páginas que cumplan con el criterio de búsqueda”</strong>.</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="panel panel-primary">
                <div class="panel-heading">
                    <h4 class="panel-title">
                        <a data-toggle="collapse" data-parent="#accordion" href="#collapse2">
                            Visualizar un indicador
                        </a>
                    </h4>
                </div>
                <div id="collapse2" class="panel-collapse collapse">
                    <div class="panel-body">
                        <div class="space">
                            <p class="text-justify">Para visualizar un indicador se ofrece un <strong class="text-info">Panel de información</strong> que describe las características del indicador como el nombre, forma de cálculo, medidas manejadas y desagregaciones por las que se puede discriminar.</p>
                            <img class="img-responsive center-block" src="~/Content/Imagenes/panel_info_indicador.png" alt="Panel de información de un indicador" style="margin-bottom:20px; margin-top:20px;" />
                            <p>Además se ofrece el <strong class="text-info">Panel de indicadores</strong> conformado por tres pestañas para la visualización de los datos, el botón de descargar para generar reportes del indicador, ayuda en el manejo del panel y un pie de página que indica las fuentes de información que suministraron datos para el cálculo de los indicadores.</p>
                            <img class="img-responsive center-block" src="~/Content/Imagenes/panel_indicadores.png" alt="Panel de un indicador" style="margin-bottom:20px; margin-top:20px;" />
                        </div>
                    </div>
                </div>
            </div>
            <div class="panel panel-primary">
                <div class="panel-heading">
                    <h4 class="panel-title">
                        <a data-toggle="collapse" data-parent="#accordion" href="#collapse3">
                            Funcionamiento de consulta general
                        </a>
                    </h4>
                </div>
                <div id="collapse3" class="panel-collapse collapse">
                    <div class="panel-body">
                        <div class="space">
                            <p class="text-justify">En consulta general podrá ver la tabla de datos y gráfica por años del indicador asociado a una desagregación seleccionada. En los indicadores de personas y productos contará además de estos filtros, con la posibilidad de mostrar el indicador de acuerdo a las opciones presentadas en el primer nivel ACTI.</p>
                            <p class="text-justify"><strong class="text-info">Nota: </strong>En el indicador de posición de la universidad en ranking de CTI, solo se ofrece los filtros de rango de años y la tabla de datos del indicador.</p>
                            <p class="text-justify">Esta pestaña funciona de la siguiente manera:</p>
                            <ol>
                                <li>
                                    <p class="text-justify">Seleccione el rango de los años por el que desea visualizar el indicador, para ello se encuentra el filtro <strong class="text-info">Desde</strong> y <strong class="text-info">Hasta</strong> donde usted escoge el año de inicio y fin por el que desea listar la información del indicador.</p>
                                    <img class="img-responsive center-block" src="@Url.Content("~/Content/Imagenes/rangoYear.jpg")" alt="Filtros de rango de años" />
                                    <p class="text-justify"><strong class="text-info">Nota:</strong> Para ver el indicador listado por todos los años seleccione la opción <strong class="text-info"><em>"Todos"</em></strong> en el filtro <strong class="text-info">Desde</strong>, esta es la opción por defecto con la que inicia el indicador.</p>
                                    <img class="img-responsive center-block" src="@Url.Content("~/Content/Imagenes/todos.png")" alt="Filtro desde con opción de todos los años" />
                                </li>
                                <li>
                                    <p class="text-justify">Seleccione la desagregación por la que desea ver el indicador escogiendo una de las opciones brindadas en el filtro <strong class="text-info">Tabla del indicador</strong> o <strong class="text-info">Tabla</strong> en el caso del indicador personas y productos.</p>
                                    <img class="img-responsive center-block" src="@Url.Content("~/Content/Imagenes/tabla.png")" alt="Filtro tabla del indicador" />
                                </li>
                                <li>
                                    <p class="text-justify">Escoja la actividad de ciencia, tecnología e innovación en el filtro <strong class="text-info">ACTI</strong> (Solo aplica para el indicador de personas dedicadas a ACTI y de productos de CTI)</p>
                                    <img class="img-responsive center-block" src="@Url.Content("~/Content/Imagenes/acti.png")" alt="Filtro acti" />
                                </li>
                                <li>
                                    <p class="text-justify">De clic en el botón <img border="0" src="@Url.Content("~/Content/Imagenes/btnConsultar.png")" /> para efectuar la carga del indicador.</p>
                                </li>
                            </ol>
                            <p class="text-justify"><strong class="text-info">Sugerencia: </strong>En los gráficos puede seleccionar que series del indicador desea ver, haga clic en el nombre de la serie para quitarla o mostrarla en la visualización de la gráfica.</p>
                            <p class="text-justify">Para descargar un gráfico, de clic en el botón <img border="0" src="@Url.Content("~/Content/Imagenes/descargar_img.png")" /> ubicado en la esquina derecha superior del gráfico y seleccione el formato por el cual desea exportar la imagen. La imagen que se descarga guarda los cambios de selección en la serie realizados por usted.</p>
                            <p class="text-justify"><strong class="text-info">Nota: </strong>Si desea descargar la tabla y gráfico del indicador que está visualizando diríjase al botón <strong class="text-info">Descargar</strong> ubicado en la parte superior del panel de este indicador y seleccione la opción descargar tabla en el formato deseado.</p>
                            <img class="img-responsive center-block" src="@Url.Content("~/Content/Imagenes/descargar_tabla.png")" alt="Decargar tabla" />
                        </div>
                    </div>
                </div>
            </div>
            <div class="panel panel-primary">
                <div class="panel-heading">
                    <h4 class="panel-title">
                        <a data-toggle="collapse" data-parent="#accordion" href="#collapse4">
                            Funcionamiento de consulta personalizada de los indicadores
                        </a>
                    </h4>
                </div>
                <div id="collapse4" class="panel-collapse collapse">
                    <div class="panel-body">
                        <div class="space">
                            <p class="text-justify">En consulta personalizada podrá decidir las desagregaciones, forma de visualización y medida del indicador. Además, podrá filtrar los datos de una dimensión como si fuera una tabla dinámica de Excel. A continuación, se muestra el funcionamiento de esta sección:</p>
                            <img class="img-responsive center-block" src="@Url.Content("~/Content/Imagenes/pivot.gif")" alt="Tabla dinámica" />
                            <blockquote>
                                <p>Funcionamiento de la tabla dinámica de consulta personalizada</p>
                                <small>Tomado de <a href="https://github.com/nicolaskruchten/pivottable" target="_blank">PivotTable.js</a></small>
                            </blockquote>
                        </div>
                    </div>
                </div>
            </div>

            <div class="panel panel-primary">
                <div class="panel-heading">
                    <h4 class="panel-title">
                        <a data-toggle="collapse" data-parent="#accordion" href="#collapse5">
                            Fucionamiento de consulta de gráficos de los indicadores
                        </a>
                    </h4>
                </div>
                <div id="collapse5" class="panel-collapse collapse">
                    <div class="panel-body">
                        <div class="space">
                            <p class="text-justify">Esta pestaña ofrece una variedad de gráficos que cuentan con filtros propios de aquellas del año y desagregaciones del indicador.</p>
                            <p class="text-justify">Consulta gráficos funciona de la siguiente manera:</p>
                            <ol>
                                <li>
                                    <p class="text-justify">Escoja el año por el que desea visualizar el indicador.</p>
                                    <img class="img-responsive center-block" src="@Url.Content("~/Content/Imagenes/year.png")" alt="Filtros año" />
                                </li>
                                <li>
                                    <p class="text-justify">Seleccione una de opciones de los filtros de las desagregaciones.</p>
                                </li>
                                <li>
                                    <p class="text-justify">De clic en el botón <img border="0" src="@Url.Content("~/Content/Imagenes/btnConsultar.png")" /> para efectuar la carga de los gráficos del indicador.</p>
                                </li>
                            </ol>
                            <p class="text-justify">Para descargar un gráfico, de clic en el botón <img border="0" src="@Url.Content("~/Content/Imagenes/descargar_img.png")" /> ubicado en la esquina derecha superior del gráfico y seleccione el formato por el cual desea exportar la imagen. La imagen que se descarga guarda los cambios de selección en la serie realizados por usted.</p>
                            <p class="text-justify"><strong class="text-info">Nota: </strong>En los gráficos puede seleccionar que series del indicador desea ver, haga clic en el nombre de la serie para quitarla o mostrarla en la visualización de la gráfica.</p>
                        </div>
                    </div>
                </div>
            </div>

            <div class="panel panel-primary">
                <div class="panel-heading">
                    <h4 class="panel-title">
                        <a data-toggle="collapse" data-parent="#accordion" href="#collapse6">
                            Generar reportes
                        </a>
                    </h4>
                </div>
                <div id="collapse6" class="panel-collapse collapse">
                    <div class="panel-body">
                        <div class="space">
                            <p class="text-justify">Para generar un reporte diríjase al botón <strong class="text-info">Descargar</strong> ubicado en la parte superior del <strong class="text-info">Panel de indicadores</strong> y elija entre descargar el indicador completo con las tablas de datos relacionadas a todas las desagregaciones o descargar solamente la tabla de datos y gráfico que está visualizando en la pestaña de <strong class="text-info">Consulta general</strong>. Los reportes pueden ser generado en los formatos Excel y Word.</p>
                            <p class="text-justify"><strong class="text-info">Nota: </strong>El filtro de años realizado en la pestaña <strong class="text-info">Consulta general</strong> será presenciado en los datos del reporte generado.</p>
                            <img class="img-responsive center-block" src="@Url.Content("~/Content/Imagenes/descargar.png")" alt="Descargar reporte" />
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!--./Fin acordion items ayuda-->
    </div>
</div>