﻿@{
    Layout = "~/Views/Shared/_MasterPage.cshtml";
    ViewBag.Title = "Portal de indicadores de ACTI";
}

<div class="row">
    <div class="col-lg-12 col-md-12">
        <p class="text-justify">
            Los indicadores de Actividades de Ciencia, Tecnología e Innovación (ACTI) de la Universidad del Magdalena que puede encontrar en este portal son:
        </p>
        <ul>
            <li>
                <i class="fa fa-briefcase"></i> <strong class="text-info">INSUMOS</strong> 
                <ul>
                    <li>
                        Recursos Económicos
                        <ul>
                            <li>
                                <a href="@Url.Action("Index", "Gastos")">Gastos en ACTI</a>
                            </li>
                        </ul>
                    </li>
                    <li>
                        Recursos Estructurales y Relacionales
                        <ul>
                            <li>
                                <a href="@Url.Action("Index", "Redes")">Redes de ACTI</a>
                            </li>
                            <li>
                                <a href="@Url.Action("Index", "OrganizacionesACTI")">Unidades organizativas para ACTI</a>
                            </li>
                            <li>
                                <a href="@Url.Action("Index", "ProgramasEducacionSuperior")">Programas de educación superior ofertados</a>
                            </li>
                            <li>
                                <a href="@Url.Action("Index", "Convenios")">Convenios de colaboración para ACTI</a>
                            </li>
                            <li>
                                <a href="@Url.Action("Index", "OrganizacionesColaboracion")">Organizaciones que realizan colaboración para ACTI</a>
                            </li>
                        </ul>
                    </li>
                    <li>
                        Recursos Físicos y Tecnológicos
                        <ul>
                            <li>
                                <a href="@Url.Action("Index", "Laboratorios")">Laboratorios para ACTI</a>
                            </li>
                            <li>
                                <a href="@Url.Action("Index", "PuestosTrabajo")">Puestos de trabajo en laboratorios para ACTI</a>
                            </li>
                            <li>
                                <a href="@Url.Action("Index", "EquiposLaboratorio")">Equipos de laboratorio ACTI</a>
                            </li>
                            <li>
                                <a href="@Url.Action("Index", "AreaEspacios")">Espacios utilizados para ACTI</a>
                            </li>
                            <li>
                                <a href="@Url.Action("Index", "RecursosBibliograficos")">Recursos bibliográficos para ACTI</a>
                            </li>
                            <li>
                                <a href="@Url.Action("Index", "Computadores")">Computadores para ACTI</a>
                            </li>
                            <li>
                                <a href="@Url.Action("Index", "LicenciasSoftware")">Licencias de software para ACTI</a>
                            </li>
                        </ul>
                    </li>
                    <li>
                        Recursos Humanos
                        <ul>
                            <li>
                                <a href="@Url.Action("Index", "Personas")">Personas dedicadas a ACTI</a>
                            </li>
                        </ul>
                    </li>
                </ul>
            </li>
            <li>
                <i class="fa fa-circle-o-notch"></i> <strong class="text-info">PROCESO</strong>
                <ul>
                    <li>
                        Proyectos
                        <ul>
                            <li>
                                <a href="@Url.Action("Index", "Proyectos")">Proyectos de CTI</a>
                            </li>
                        </ul>
                    </li>
                    <li>
                        Personal para ACTI en Formación 
                        <ul>
                            <li>
                                <a href="@Url.Action("Index", "Estudiantes")">Estudiantes</a>
                            </li>
                        </ul>
                    </li>
                    <li>
                        Relaciones con el entorno
                        <ul>
                            <li>
                                <a href="@Url.Action("Index", "EventosMovilizaciones")">Eventos de movilidad para ACTI</a>
                            </li>
                        </ul>
                    </li>
                </ul>
            </li>
            <li>
                <i class="fa fa-bar-chart"></i> <strong class="text-info">RESULTADO</strong> 
                <ul>
                    <li>
                        Productos
                        <ul>
                            <li>
                                <a href="@Url.Action("Index", "Productos")">Productos de ACTI</a>
                            </li>
                        </ul>
                    </li>
                    <li>
                        Personal Formado para ACTI
                        <ul>
                            <li>
                                <a href="@Url.Action("Index", "Graduados")">Graduados</a>
                            </li>
                        </ul>
                    </li>
                    <li>
                        Transferencia de Conocimiento
                        <ul>
                            <li>
                                <a href="@Url.Action("Index", "ServiciosCT")">Servicios científicos y tecnológicos ofertados</a>
                            </li>
                            <li>
                                <a href="@Url.Action("Index", "EventosCTI")">Eventos de CTI</a>
                            </li>
                            <li>
                                <a href="@Url.Action("Index", "Asistentes")">Asistentes a eventos de CTI</a>
                            </li>
                        </ul>
                    </li>
                    <li>
                        Recursos Económicos
                        <ul>
                            <li>
                                <a href="@Url.Action("Index", "IngresosProductos")">Ingresos por transferencia de productos de CTI</a>
                            </li>
                            <li>
                                <a href="@Url.Action("Index", "IngresosServicios")">Ingresos por prestación de SCT</a>
                            </li>
                        </ul>
                    </li>
                </ul>
            </li>
            <li>
                <i class="fa fa-check-square-o"></i> <strong class="text-info">DISPONIBILIDAD DE INSUMOS</strong> 
                <ul>
                    <li>
                        Recursos económicos
                        <ul>
                            <li>
                                <a href="@Url.Action("Index", "GastosPresupuesto")">% Gasto en ACTI en relación con el presupuesto total</a>
                            </li>
                            <li>
                                <a href="@Url.Action("Index", "GastosPersonas")">Proporción gasto en ACTI por personas</a>
                            </li>
                        </ul>
                    </li>
                    <li>
                        Recursos Físicos y Tecnológicos
                        <ul>
                            <li>
                                <a href="@Url.Action("Index", "PersonasLaboratorios")">Proporción personas por laboratorio</a>
                            </li>
                            <li>
                                <a href="@Url.Action("Index", "PersonasPuestosTrabajo")">Proporción personas por puestos en laboratorios</a>
                            </li>
                            <li>
                                <a href="@Url.Action("Index", "EquiposLaboratorioPersonas")">Proporción equipos de laboratorio por personas</a>
                            </li>
                            <li>
                                <a href="@Url.Action("Index", "PersonasEspacios")">Proporción personas por área de los espacios</a>
                            </li>
                            <li>
                                <a href="@Url.Action("Index", "ComputadoresPersonas")">Proporción computadores por personas</a>
                            </li>
                        </ul>
                    </li>
                    <li>
                        Recursos Humanos
                        <ul>
                            <li>
                                <a href="@Url.Action("Index", "PersonasPersonas")">Personas dedicadas a ACTI en relación con el total del personal</a>
                            </li>
                        </ul>
                    </li>
                </ul>
            </li>
            <li>
                <i class="fa fa-clock-o"></i> <strong class="text-info">PRODUCTIVIDAD</strong>
                <ul>
                    <li>
                        Productividad de Recursos Humanos
                        <ul>
                            <li>
                                <a href="@Url.Action("Index", "ProductosPersonas")">Proporción productos por persona</a>
                            </li>
                            <li>
                                <a href="@Url.Action("Index", "ProductosOrganizaciones")">Proporción productos por unidad organizativa</a>
                            </li>
                            <li>
                                <a href="@Url.Action("Index", "ProductosProyectos")">Proporción productos por proyecto</a>
                            </li>
                        </ul>
                    </li>
                    <li>
                        Relaciones con el entorno
                        <ul>
                            <li>
                                <a href="@Url.Action("Index", "EventosMovilizacionesPersonas")">Eventos de movilidad por personas</a>
                            </li>
                        </ul>
                    </li>
                </ul>
            </li>
            <li>
                <i class="fa fa-line-chart"></i> <strong class="text-info">IMPACTO</strong> 
                <ul>
                    <li>
                        Impacto académico
                        <ul>
                            <li>
                                <a href="@Url.Action("Index", "Citaciones")">Citaciones a productos CTI</a>
                            </li>
                            <li>
                                <a href="@Url.Action("Index", "CitacionesProductos")">Proporción citaciones por producto de CTI</a>
                            </li>
                        </ul>
                    </li>
                    <li>
                        Reconocimiento externo
                        <ul>
                            <li>
                                <a href="@Url.Action("Index", "Premios")">Premios por CTI</a>
                            </li>
                            <li>
                                <a href="@Url.Action("Index", "Posiciones")">Posición rankings CTI</a>
                            </li>
                        </ul>
                    </li>
                </ul>
            </li>
        </ul>
    </div>
</div>

