﻿@{
    Layout = "~/Views/Shared/_MasterPage.cshtml";
    ViewBag.Title = "Resultado de búsqueda";
}

@section head{
    @Styles.Render("~/tipuesearch/css")
}

<div class="row container-fluid">
    <div class="col-lg-12 col-md-12"><div id="tipue_search_content"></div></div>
</div>

@section SeccionScripts{

    @Scripts.Render("~/bundles/tipuesearch")

    <script>
        $(document).ready(function () {
            $('#tipue_search_input').tipuesearch();
        });
    </script>
} 