﻿@{
    Layout = "~/Views/Shared/_IndicadoresLayout.cshtml";
    ViewBag.Indicador = "Número de personas dedicadas a actividades de ciencia, tecnología e innovación (ACTI):";
    ViewBag.Descripcion = "Contabiliza los Personas resultantes de las actividades de ciencia, tecnología e innovación (ACTI) de la Universidad del Magdalena. Se calcula por conteo y se mide en “Personas”. Se puede discriminar por: grupo étnico, actividades desarrolladas (desagregación de las ACTI), campo de conocimiento según la clasificación OCDE, ámbito sectorial según la Clasificación Industrial Internacional Uniforme CIIU de la ONU, años de experiencia laboral, categoría de investigador, tipo de vinculación con la Universidad del Magdalena (regional, nacional o internacional), pertenencia a redes ACTI, tiempo dedicado a ACTI.";
    ViewBag.Nombre = "personas dedicadas a actividades de ciencia, tecnología e innovación";
    ViewBag.Fuente = "Datos prueba";
}

@section ConsultaGeneral{
    <!--Selecciona el rango de años, la tabla a consultar y acti-->
    <div class="row">
        <form class="form">
            <!--Selecciona el año desde-->
            <div class="col-lg-offset-1 col-md-offset-1 col-lg-2 col-md-2">
                <label>Desde</label>
                <select class="form-control" id="fromYear" name="fromYear">
                    <option value="-100">Todos</option>
                </select>
            </div>
            <!--./Fin selecciona el año desde-->
            <!--Selecciona hasta que año consultar-->
            <div class="col-lg-2 col-md-2">
                <div class="form-group">
                    <label>Hasta</label>
                    <select class="form-control" id="toYear" name="toYear">
                        <option value="-100">Todos</option>
                    </select>
                </div>
            </div>
            <!--./Fin selecciona hasta año -->
            <!--Selecciona el tipo de dimensión-->
            <div class="col-lg-2 col-md-2">
                <div class="form-group">
                    <label>Tabla</label>
                    <select class="form-control" id="tabla">
                        <option value="1">Área OCDE</option>
                        <option value="2">Subárea OCDE</option>
                        <option value="3">Disciplina OCDE</option>
                        <option value="4">Segundo nivel ACTI</option>
                        <option value="5">Tercer nivel ACTI</option>
                        <option value="6">Sexo</option>
                        <option value="7">Rango de edad</option>
                        <option value="8">Nivel de formación</option>
                        <option value="9">Nacionalidad</option>
                        <option value="10">Tipo de vinculación</option>
                        <option value="11">Grupo étnico</option>
                        <option value="12">Años de experiencia en ACTI</option>
                        <option value="13">Años de experiencia laboral</option>
                        <option value="14">Categoría de investigador</option>
                        <option value="15">Pertenencia a redes ACTI</option>
                        <option value="16">Tiempo dedicado a ACTI</option>
                    </select>
                </div>
            </div>
            <!--./Fin selecciona el tipo de dimensión-->
            <!--Selecciona acti-->
            <div class="col-lg-2 col-md-2">
                <div class="form-group">
                    <label>ACTI</label>
                    <select class="form-control" id="acti">
                        <option value="Investigación y desarrollo">I+D</option>
                        <option value="Servicios científicos y tecnológicos">SCT</option>
                        <option value="Enseñanza y formación científica y tecnológica">EFCT</option>
                        <option value="Innovación">Innovación</option>
                    </select>
                </div>
            </div>
            <!--./Fin selecciona acti-->
            <!--Botón consultar-->
            <div class="col-lg-2 col-md-2 topBoton">
                <button type="button" class="btn btn-primary" id="searchData">Consultar</button>
            </div>
            <!--./Fin botón consultar-->
        </form>
    </div>
    <!--./Fin selecciona el rango de años, tabla a consultar y acti-->
    <!--Tablas del indicador-->
    <div class="row container-fluid">
        <div class="col-lg-offset-2 col-lg-8 col-md-offset-2 col-md-8">
            <h4 class="text-center title-tabla" id="nombreTabla1"></h4>
        </div>

        <div class="table-responsive col-lg-12 col-lg-12 col-md-12 col-sm-12">
            <div id="Personas_tabla1" style="align-items:center;"></div>
        </div>

        <div class="col-lg-offset-1 col-lg-10 col-md-12 col-sm-12 col-xs-12">
            <div id="grafico1" class="grafico_general"></div>
        </div>

        <div class="col-lg-offset-2 col-lg-8 col-md-offset-2 col-md-8">
            <h4 class="text-center title-tabla" id="nombreTabla2"></h4>
        </div>

        <div class="table-responsive col-lg-12 col-lg-12 col-md-12 col-sm-12">
            <div id="Personas_tabla2" style="align-items:center;"></div>
        </div>

        <div class="col-lg-offset-1 col-lg-10 col-md-12 col-sm-12 col-xs-12">
            <div id="grafico2" class="grafico_general"></div>
        </div>
    </div>
    <!--./Fin Tablas del indicador-->
}

@section PanelGraficos{
    <!--Panel de los gráficos-->
    <div class="row">
        <!--Selecciona el año, nivel acti y ocde-->
        <div class="container-fluid">
            <form class="form">
                <!--Selecciona el año-->
                <div class="col-lg-offset-1 col-lg-2 col-md-offset-1 col-md-2">
                    <div class="form-group">
                        <label>Año</label>
                        <select class="form-control" id="year"></select>
                    </div>
                </div>
                <!--./Fin selecciona el año-->
                <!--Selecciona acti-->
                <div class="col-lg-2 col-md-2">
                    <div class="form-group">
                        <label>ACTI</label>
                        <select class="form-control" id="acti1">
                            <option value="Investigación y desarrollo">I+D</option>
                            <option value="Servicios científicos y tecnológicos">SCT</option>
                            <option value="Enseñanza y formación científica y tecnológica">EFCT</option>
                            <option value="Innovación">Innovación</option>
                        </select>
                    </div>
                </div>
                <!--./Fin selecciona acti-->
                <!--Selecciona ocde-->
                <div class="col-lg-2 col-md-2">
                    <div class="form-group">
                        <label>OCDE</label>
                        <select class="form-control" id="ocde">
                            <option value="1">Área</option>
                            <option value="2">Subárea</option>
                            <option value="3">Disciplina</option>
                        </select>
                    </div>
                </div>
                <!--./Fin selecciona ocde-->
                <!--Selecciona medida-->
                <div class="col-lg-2 col-md-2">
                    <div class="form-group">
                        <label>Medida</label>
                        <select class="form-control" id="medida">
                            <option value="1">Conteo</option>
                            <option value="2">Tiempo equivalente</option>
                        </select>
                    </div>
                </div>
                <!--./Fin selecciona medida-->
                <!--Botón consultar gráficos-->
                <div class="col-lg-2 col-md-2 topBoton">
                    <button type="button" class="btn btn-primary" id="searchGraphs">Consultar</button>
                </div>
                <!--./Fin botón consultar gráficos-->
            </form>
        </div>
        <!--./Fin selecciona el año, nivel acti y ocde-->
    </div>
    <div class="row container-fluid">
        <div class="col-lg-offset-1 col-lg-10 col-md-12 col-sm-12 col-xs-12">
            <div id="grafico3" class="grafico"></div>
            <div id="grafico4" class="grafico"></div>
            <div id="grafico5" class="grafico"></div>
            <div id="grafico6" class="grafico"></div>
            <div id="grafico7" class="grafico"></div>
            <div id="grafico8" class="grafico"></div>
        </div>
    </div>
    <!--./Fin panel de los gráficos-->
}

@section scripts{
    <style>
        .pvtTotal, .pvtTotalLabel, .pvtGrandTotal {
            display: none;
        }
    </style>

    <script>
        var desdeAño = "-100", hastaAño = "-100";
        var opcion = "1"; //opcion de la tabla a mostrar

        $(document).ready(function () {
            cargaInicial();       //carga inicial de los datos y gráficos del indicador
            load_years();         //carga los años del indicador
            change_hasta();       //cambio del año hasta
            datosTablaResumen();  //llena la tabla de consulta general
            drawGraphs();         //dibuja los gráficos del panel consulta de gráficos
        });
        /*-----------------------Carga inicialmente los datos y gráficos del indicador----------------*/
        function cargaInicial() {
            $(function () {
                //cuando cargue el gráfico, llena la tabla de consulta general
                DrawGrafico1();
                $.when(DrawGrafico1()).done(function (a1) {
                    loadDataTables();
                });
            });

            /*----Lista el indicador personas dedicadas a ACTI en la tabla dinámica----*/
            $(function () {
                $("#tablaDinamica").html('<img src="Content/Imagenes/cargando.gif" class="img-responsive centrar"/>');
                var sum = $.pivotUtilities.aggregatorTemplates.sum;
                var numberFormat = $.pivotUtilities.numberFormat;
                var intFormat = numberFormat({ digitsAfterDecimal: 0 });
                var floatFormat = numberFormat({ digitsAfterDecimal: 4 });

                var renderers = $.extend(
                    $.pivotUtilities.renderers,
                    $.pivotUtilities.c3_renderers,
                    $.pivotUtilities.d3_renderers
                    );

                var actionUrl = '@Url.Action("Listar", "Personas")';

                $.get(actionUrl, function (mps) {
                    $("#tablaDinamica").pivotUI(mps, {
                        aggregators: {
                            "Personas":
                                function () { return sum(intFormat)(["Cantidad"]) },
                            "Personas de tiempo completo equivalente":
                                function () { return sum(floatFormat)(["CantidadTE"]) }
                        },
                        hiddenAttributes: ["Cantidad", "CantidadTE","Periodo"],
                        renderers: renderers,
                        rendererName: "Tabla"
                    });
                });
            });
        }
        /*------------------Carga los años en los select------------------*/
        function load_years() {
            $.get(
                    '@Url.Action("getYears", "Personas")'
                )
                .done(function (data) {
                    var lastYear = (new Date).getFullYear() - 1;
                    $.each(data, function (i, row) {
                        var $option = $('<option>');
                        $option.val(row.año);
                        $option.html(row.año);
                        $('#fromYear').append($option);

                        var $option = $('<option>');
                        $option.val(row.año);
                        $option.html(row.año);
                        $('#year').append($option);
                        if (parseInt(row.año) == lastYear) {
                            $('#year').val(row.año);
                        }
                    })
                    //gráficos de la pestaña consulta gráficos
                    var año = $('#year').val();
                    var acti = $("#acti1").val();
                    var ocde = $("#ocde").find(':selected').text();
                    var medida = $('#medida').val();

                    DrawPersonasInvestigadorOCDE(año, ocde, acti, medida);
                    DrawPersonasExpACTIOCDE(año, ocde, acti, medida);
                    DrawPersonasFormacionOCDE(año, ocde, acti, medida);
                    DrawPersonasSexoOCDE(año, ocde, acti, medida);
                    DrawPersonasEdadOCDE(año, ocde, acti, medida);
                    DrawPersonasLaboralOCDE(año, ocde, acti, medida);
                })
                .fail(function (data) {
                    console.log('Error al cargar años!!!');
                }
            );
        }
        /*------------------Cambia el año hasta al seleccionar un año desde--------------*/
        function change_hasta() {
            $('#fromYear').change(function () {
                $.get(
                        '@Url.Action("getYears", "Personas")'
                    )
                    .done(function (data) {
                        var from = $("#fromYear").find(':selected').text();
                        var fromValue = $("#fromYear").find(':selected').val();
                        $('#toYear').empty();

                        if (fromValue == "-100") {
                            var $option = $('<option>');
                            $option.val("-100");
                            $option.html("Todos");
                            $('#toYear').append($option);
                        } else {
                            $.each(data, function (i, row) {
                                if (parseInt(row.año) >= parseInt(from)) {
                                    var $option = $('<option>');
                                    $option.val(row.año);
                                    $option.html(row.año);
                                    $('#toYear').append($option);
                                }
                            })
                        }
                    })
                    .fail(function (data) {
                        console.log('Error al cargar años hasta!!!');
                    }
                );
            });
        }
        /*-------------------Carga los datos y gráficos en consulta general--------------*/
        function datosTablaResumen() {
            $("#searchData").click(function () {
                //asigna a las variables globales el nuevo valor
                desdeAño = $('#fromYear').val();
                hastaAño = $('#toYear').val();
                opcion = $('#tabla').val();
                //cuando cargue el gráfico, llena la tabla de consulta general
                DrawGrafico1();
                $.when(DrawGrafico1()).done(function (a1) {
                    loadDataTables();
                });
            });
        }
        /*-------------------------------Exporta el indicador completo-------------------------*/
        function exportar(id) {
            var dt = new Date();
            var month = dt.getMonth() + 1;
            var day = dt.getDate();
            var year = dt.getFullYear();
            var tipoReporte = "0";
            var acti = $('#acti').val();

            var fecha = day + "" + month + "" + year;
            var fileName = "Personas" + fecha;
            window.location = "/Personas/Reporte/" + id + "/" + desdeAño + "/" + hastaAño + "/" + tipoReporte + "/" + acti + "/" + fileName;
        }
        /*-------------------------------Exporta el indicador por el tipo de tabla-------------------------*/
        function exportarTabla(id) {
            var dt = new Date();
            var month = dt.getMonth() + 1;
            var day = dt.getDate();
            var year = dt.getFullYear();
            var acti = $('#acti').val();

            var fecha = day + "" + month + "" + year;
            var fileName;
            switch (opcion) {
                case "2"://subárea ocde
                    fileName = "PersonasPorSubáreaOCDE" + fecha;
                    break;
                case "3"://disciplina ocde
                    fileName = "PersonasPorDisciplinaOCDE" + fecha
                    break;
                case "4"://segundo nivel acti
                    fileName = "PersonasPorN2ACTI" + fecha;
                    break;
                case "5"://tercer nivel acti
                    fileName = "PersonasPorN3ACTI" + fecha;
                    break;
                case "6"://sexo
                    fileName = "PersonasPorSexo" + fecha;
                    break;
                case "7"://edad
                    fileName = "PersonasPorEdad" + fecha
                    break;
                case "8"://nivel de formación
                    fileName = "PersonasPorNivelFormación" + fecha;
                    break;
                case "9"://nacionalidad
                    fileName = "PersonasPorNacionalidad" + fecha;
                    break;
                case "10"://vinculación
                    fileName = "PersonasPorTipoVinculación" + fecha;
                    break;
                case "11"://grupo étnico
                    fileName = "PersonasPorGrupoÉtnico" + fecha;
                    break;
                case "12"://experiencia acti
                    fileName = "PersonasPorExperienciaACTI" + fecha;
                    break;
                case "13"://experiencia laboral
                    fileName = "PersonasPorExperienciaLaboral" + fecha
                    break;
                case "14"://categoría del investigador
                    fileName = "PersonasPorCategoríaInvestigador" + fecha;
                    break;
                case "15"://perteniencia redes acti
                    fileName = "PersonasPorPertenenciaRedesACTI" + fecha;
                    break;
                case "16"://tiempo dedicado a acti
                    fileName = "PersonasPorTiempoDedicadoACTI" + fecha;
                    break;
                default://área ocde
                    fileName = "PersonasPorÁreaOCDE" + fecha
                    break;
            }
            window.location = "/Personas/Reporte/" + id + "/" + desdeAño + "/" + hastaAño + "/" + opcion + "/" + acti + "/" + fileName;
        }
        /*-----------------Carga los gráficos en la pestaña consulta gráficos ----------------*/
        function drawGraphs() {
            $("#searchGraphs").click(function () {
                var año = $('#year').val();
                var acti = $("#acti1").val();
                var ocde = $("#ocde").find(':selected').text();
                var medida = $('#medida').val();

                DrawPersonasInvestigadorOCDE(año, ocde, acti, medida);
                DrawPersonasExpACTIOCDE(año, ocde, acti, medida);
                DrawPersonasFormacionOCDE(año, ocde, acti, medida);
                DrawPersonasSexoOCDE(año, ocde, acti, medida);
                DrawPersonasEdadOCDE(año, ocde, acti, medida);
                DrawPersonasLaboralOCDE(año, ocde, acti, medida);
            });
        }
        /*----Lista la tabla de Personas----*/
        function loadDataTables() {
            $("#Personas_tabla1").html('<img src="Content/Imagenes/cargando.gif" class="img-responsive centrar"/>');
            $.ajax({
                url: "@Url.Action("ListarxYear", "Personas")",
                data: {
                    tabla: opcion,
                    desde: desdeAño,
                    hasta: hastaAño,
                    acti: $('#acti').val()
                },
                type: "GET",
                dataType: "json",
                success: function (data) {
                    var acti = $('#acti').val();
                    var opcion = $('#tabla').val();
                    var sum = $.pivotUtilities.aggregatorTemplates.sum;
                    var numberFormat = $.pivotUtilities.numberFormat;
                    var intFormat = numberFormat({ digitsAfterDecimal: 0 });
                    var floatFormat = numberFormat({ digitsAfterDecimal: 4 });

                    switch (opcion) {
                        case "2"://subárea ocde
                            $('#nombreTabla1').text("Número de personas de " + acti.toLowerCase() + "  por subárea OCDE");
                            $("#Personas_tabla1").pivot(data, {
                                rows: ["Subárea_OCDE"],
                                cols: ["Año"],
                                aggregator: sum(intFormat)(["Cantidad"])
                            });

                            $('#nombreTabla2').text("Personas de tiempo completo equivalente de " + acti.toLowerCase() + " por subárea OCDE");
                            $("#Personas_tabla2").pivot(data, {
                                rows: ["Subárea_OCDE"],
                                cols: ["Año"],
                                aggregator: sum(floatFormat)(["CantidadTE"])
                            });
                            break;
                        case "3"://disciplina ocde
                            $('#nombreTabla1').text("Número de personas de " + acti.toLowerCase() + "  por disciplina OCDE");
                            $("#Personas_tabla1").pivot(data, {
                                rows: ["Disciplina_OCDE"],
                                cols: ["Año"],
                                aggregator: sum(intFormat)(["Cantidad"])
                            });

                            $('#nombreTabla2').text("Personas de tiempo completo equivalente de " + acti.toLowerCase() + " por disciplina OCDE");
                            $("#Personas_tabla2").pivot(data, {
                                rows: ["Disciplina_OCDE"],
                                cols: ["Año"],
                                aggregator: sum(floatFormat)(["CantidadTE"])
                            });
                            break;
                        case "4"://acti segundo nivel
                            $('#nombreTabla1').text("Número de personas de " + acti.toLowerCase() + "  por el segundo nivel ACTI");
                            $("#Personas_tabla1").pivot(data, {
                                rows: ["ACTI_N2"],
                                cols: ["Año"],
                                aggregator: sum(intFormat)(["Cantidad"])
                            });

                            $('#nombreTabla2').text("Personas de tiempo completo equivalente de " + acti.toLowerCase() + " por el segundo nivel ACTI");
                            $("#Personas_tabla2").pivot(data, {
                                rows: ["ACTI_N2"],
                                cols: ["Año"],
                                aggregator: sum(floatFormat)(["CantidadTE"])
                            });
                            break;
                        case "5"://acti tercer nivel
                            $('#nombreTabla1').text("Número de personas de " + acti.toLowerCase() + "  por el tercer nivel ACTI");
                            $("#Personas_tabla1").pivot(data, {
                                rows: ["ACTI_N3"],
                                cols: ["Año"],
                                aggregator: sum(intFormat)(["Cantidad"])
                            });

                            $('#nombreTabla2').text("Personas de tiempo completo equivalente de " + acti.toLowerCase() + " por el tercer nivel ACTI");
                            $("#Personas_tabla2").pivot(data, {
                                rows: ["ACTI_N3"],
                                cols: ["Año"],
                                aggregator: sum(floatFormat)(["CantidadTE"])
                            });
                            break;
                        case "6"://sexo
                            $('#nombreTabla1').text("Número de personas de " + acti.toLowerCase() + "  por sexo");
                            $("#Personas_tabla1").pivot(data, {
                                rows: ["Sexo"],
                                cols: ["Año"],
                                aggregator: sum(intFormat)(["Cantidad"])
                            });

                            $('#nombreTabla2').text("Personas de tiempo completo equivalente de " + acti.toLowerCase() + " por sexo");
                            $("#Personas_tabla2").pivot(data, {
                                rows: ["Sexo"],
                                cols: ["Año"],
                                aggregator: sum(floatFormat)(["CantidadTE"])
                            });
                            break;
                        case "7"://edad
                            $('#nombreTabla1').text("Número de personas de " + acti.toLowerCase() + "  por rango de edad");
                            $("#Personas_tabla1").pivot(data, {
                                rows: ["Rango_Edad"],
                                cols: ["Año"],
                                aggregator: sum(intFormat)(["Cantidad"])
                            });

                            $('#nombreTabla2').text("Personas de tiempo completo equivalente de " + acti.toLowerCase() + " por rango de edad");
                            $("#Personas_tabla2").pivot(data, {
                                rows: ["Rango_Edad"],
                                cols: ["Año"],
                                aggregator: sum(floatFormat)(["CantidadTE"])
                            });
                            break;
                        case "8"://nivel de formación
                            $('#nombreTabla1').text("Número de personas de " + acti.toLowerCase() + "  por nivel de formación");
                            $("#Personas_tabla1").pivot(data, {
                                rows: ["Nivel_Formación"],
                                cols: ["Año"],
                                aggregator: sum(intFormat)(["Cantidad"])
                            });

                            $('#nombreTabla2').text("Personas de tiempo completo equivalente de " + acti.toLowerCase() + " por nivel de formación");
                            $("#Personas_tabla2").pivot(data, {
                                rows: ["Nivel_Formación"],
                                cols: ["Año"],
                                aggregator: sum(floatFormat)(["CantidadTE"])
                            });
                            break;
                        case "9"://nacionalidad
                            $('#nombreTabla1').text("Número de personas de " + acti.toLowerCase() + "  por nacionalidad");
                            $("#Personas_tabla1").pivot(data, {
                                rows: ["Nacionalidad"],
                                cols: ["Año"],
                                aggregator: sum(intFormat)(["Cantidad"])
                            });

                            $('#nombreTabla2').text("Personas de tiempo completo equivalente de " + acti.toLowerCase() + " por nacionalidad");
                            $("#Personas_tabla2").pivot(data, {
                                rows: ["Nacionalidad"],
                                cols: ["Año"],
                                aggregator: sum(floatFormat)(["CantidadTE"])
                            });
                            break;
                        case "10"://tipo de vinculación
                            $('#nombreTabla1').text("Número de personas de " + acti.toLowerCase() + "  por el tipo de vinculación con la Universidad del Magdalena");
                            $("#Personas_tabla1").pivot(data, {
                                rows: ["Tipo_Vinculación"],
                                cols: ["Año"],
                                aggregator: sum(intFormat)(["Cantidad"])
                            });

                            $('#nombreTabla2').text("Personas de tiempo completo equivalente de " + acti.toLowerCase() + " por el segundo nivel ACTI");
                            $("#Personas_tabla2").pivot(data, {
                                rows: ["Tipo_Vinculación"],
                                cols: ["Año"],
                                aggregator: sum(floatFormat)(["CantidadTE"])
                            });
                            break;
                        case "11"://grupo étnico
                            $('#nombreTabla1').text("Número de personas de " + acti.toLowerCase() + "  por grupo étnico");
                            $("#Personas_tabla1").pivot(data, {
                                rows: ["Grupo_Étnico"],
                                cols: ["Año"],
                                aggregator: sum(intFormat)(["Cantidad"])
                            });

                            $('#nombreTabla2').text("Personas de tiempo completo equivalente de " + acti.toLowerCase() + " por grupo étnico");
                            $("#Personas_tabla2").pivot(data, {
                                rows: ["Grupo_Étnico"],
                                cols: ["Año"],
                                aggregator: sum(floatFormat)(["CantidadTE"])
                            });
                            break;
                        case "12"://años de experiencia en ACTI
                            $('#nombreTabla1').text("Número de personas de " + acti.toLowerCase() + "  por años de experiencia en "+ acti);
                            $("#Personas_tabla1").pivot(data, {
                                rows: ["Años_Experiencia_ACTI"],
                                cols: ["Año"],
                                aggregator: sum(intFormat)(["Cantidad"])
                            });

                            $('#nombreTabla2').text("Personas de tiempo completo equivalente de " + acti.toLowerCase() + " por años de experiencia en " + acti);
                            $("#Personas_tabla2").pivot(data, {
                                rows: ["Años_Experiencia_ACTI"],
                                cols: ["Año"],
                                aggregator: sum(floatFormat)(["CantidadTE"])
                            });
                            break;
                        case "13"://años de experiencia laboral
                            $('#nombreTabla1').text("Número de personas de " + acti.toLowerCase() + "  por años de experiencia laboral");
                            $("#Personas_tabla1").pivot(data, {
                                rows: ["Años_Experiencia_Laboral"],
                                cols: ["Año"],
                                aggregator: sum(intFormat)(["Cantidad"])
                            });

                            $('#nombreTabla2').text("Personas de tiempo completo equivalente de " + acti.toLowerCase() + " por años de experiencia laboral");
                            $("#Personas_tabla2").pivot(data, {
                                rows: ["Años_Experiencia_Laboral"],
                                cols: ["Año"],
                                aggregator: sum(floatFormat)(["CantidadTE"])
                            });
                            break;
                        case "14"://categoría de investigador
                            $('#nombreTabla1').text("Número de personas de " + acti.toLowerCase() + "  por categoría de investigador");
                            $("#Personas_tabla1").pivot(data, {
                                rows: ["Categoría_Investigador"],
                                cols: ["Año"],
                                aggregator: sum(intFormat)(["Cantidad"])
                            });

                            $('#nombreTabla2').text("Personas de tiempo completo equivalente de " + acti.toLowerCase() + " por categoría de investigador");
                            $("#Personas_tabla2").pivot(data, {
                                rows: ["Categoría_Investigador"],
                                cols: ["Año"],
                                aggregator: sum(floatFormat)(["CantidadTE"])
                            });
                            break;
                        case "15"://pertenencia a redes ACTI
                            $('#nombreTabla1').text("Número de personas de " + acti.toLowerCase() + "  por pertenencia a redes ACTI");
                            $("#Personas_tabla1").pivot(data, {
                                rows: ["Pertenencia_Redes_ACTI"],
                                cols: ["Año"],
                                aggregator: sum(intFormat)(["Cantidad"])
                            });

                            $('#nombreTabla2').text("Personas de tiempo completo equivalente de " + acti.toLowerCase() + " por pertenencia a redes ACTI");
                            $("#Personas_tabla2").pivot(data, {
                                rows: ["Pertenencia_Redes_ACTI"],
                                cols: ["Año"],
                                aggregator: sum(floatFormat)(["CantidadTE"])
                            });
                            break;
                        case "16"://tiempo dedicado a ACTI
                            $('#nombreTabla1').text("Número de personas de " + acti.toLowerCase() + "  por tiempo dedicado a ACTI");
                            $("#Personas_tabla1").pivot(data, {
                                rows: ["Tiempo_Dedicado_ACTI"],
                                cols: ["Año"],
                                aggregator: sum(intFormat)(["Cantidad"])
                            });

                            $('#nombreTabla2').text("Personas de tiempo completo equivalente de " + acti.toLowerCase() + " por tiempo dedicado a ACTI");
                            $("#Personas_tabla2").pivot(data, {
                                rows: ["Tiempo_Dedicado_ACTI"],
                                cols: ["Año"],
                                aggregator: sum(floatFormat)(["CantidadTE"])
                            });
                            break;
                        default://área ocde
                            $('#nombreTabla1').text("Número de personas de " + acti.toLowerCase() + "  por área OCDE");
                            $("#Personas_tabla1").pivot(data, {
                                rows: ["Área_OCDE"],
                                cols: ["Año"],
                                aggregator: sum(intFormat)(["Cantidad"])
                            });

                            $('#nombreTabla2').text("Personas de tiempo completo equivalente de " + acti.toLowerCase() + " por área OCDE");
                            $("#Personas_tabla2").pivot(data, {
                                rows: ["Área_OCDE"],
                                cols: ["Año"],
                                aggregator: sum(floatFormat)(["CantidadTE"])
                            });
                            break;
                    }
                },
                error: function () {
                    alert("¡Falla cargando los datos de la tabla! Intente de nuevo.");
                }
            });
        }
        /*----Dibuja el gráfico de la tabla escogida por el usuario----*/
        function DrawGrafico1() {
            $("#Personas_tabla1").html('<img src="Content/Imagenes/cargando.gif" class="img-responsive centrar"/>');
            $('#nombreTabla1').text("");
            $("#Personas_tabla2").html('<img src="Content/Imagenes/cargando.gif" class="img-responsive centrar"/>');
            $('#nombreTabla2').text("");
            $("#grafico1").html('<img src="Content/Imagenes/cargando.gif" class="img-responsive centrar"/>');

            $.ajax({
                url: "@Url.Action("GraficoxYear", "Personas")",
                data: {
                    tabla: opcion,
                    desde: desdeAño,
                    hasta: hastaAño,
                    acti: $('#acti').val()
                },
                type: "GET",
                dataType: "json",
                success: function (data) {
                    DrawGrafico2(data);
                    var seriesData = [];
                    var xCategories = [];
                    var seriesName = [];
                    var valores = [];
                    var i, cat, nombre, k, titulo, sw = true;
                    var acti = $('#acti').val();
                    var opcion = $('#tabla').val();

                    switch (opcion) {
                        case "2"://subárea ocde
                            titulo = "Número de personas de " + acti.toLowerCase() + "  por subárea OCDE";
                            break;
                        case "3"://disciplina ocde
                            titulo = "Número de personas de " + acti.toLowerCase() + "  por disciplina OCDE";
                            break;
                        case "4"://acti segundo nivel
                            titulo = "Número de personas de " + acti.toLowerCase() + "  por el segundo nivel ACTI";
                            break;
                        case "5"://acti tercer nivel
                            titulo = "Número de personas de " + acti.toLowerCase() + "  por el tercer nivel ACTI";
                            break;
                        case "6"://sexo
                            titulo = "Número de personas de " + acti.toLowerCase() + "  por sexo";
                            break;
                        case "7"://edad
                            titulo = "Número de personas de " + acti.toLowerCase() + "  por rango de edad";
                            break;
                        case "8"://nivel de formación
                            titulo = "Número de personas de " + acti.toLowerCase() + "  por nivel de formación";
                            break;
                        case "9"://nacionalidad
                            titulo = "Número de personas de " + acti.toLowerCase() + "  por nacionalidad";
                            break;
                        case "10"://tipo de vinculación
                            titulo = "Número de personas de " + acti.toLowerCase() + "  por el tipo de vinculación con la Universidad del Magdalena";
                            break;
                        case "11"://grupo étnico
                            titulo = "Número de personas de " + acti.toLowerCase() + "  por grupo étnico";
                            break;
                        case "12"://años de experiencia en ACTI
                            titulo = "Número de personas de " + acti.toLowerCase() + "  por años de experiencia en " + acti;
                            break;
                        case "13"://años de experiencia laboral
                            titulo = "Número de personas de " + acti.toLowerCase() + "  por años de experiencia laboral";
                            break;
                        case "14"://categoría de investigador
                            titulo = "Número de personas de " + acti.toLowerCase() + "  por categoría de investigador";
                            break;
                        case "15"://pertenencia a redes ACTI
                            titulo = "Número de personas de " + acti.toLowerCase() + "  por pertenencia a redes ACTI";
                            break;
                        case "16"://tiempo dedicado a ACTI
                            titulo = "Número de personas de " + acti.toLowerCase() + "  por tiempo dedicado a ACTI";
                            break;
                        default://área ocde
                            titulo = "Número de personas de " + acti.toLowerCase() + "  por área OCDE"
                            break;
                    }
                    for (i = 0; i < data.length; i++) {
                        cat = data[i].año;
                        nombre = data[i].nombre;
                        if (xCategories.indexOf(cat) === -1) {
                            xCategories[xCategories.length] = cat;
                        }
                        if (seriesName.indexOf(nombre) === -1) {
                            seriesName[seriesName.length] = nombre;
                        }
                    }
                    for (i = 0; i < seriesName.length; i++) {
                        valores = [];
                        for (j = 0; j < xCategories.length; j++) {
                            var k = 0;
                            var sw = false;
                            while (k < data.length && !sw) {
                                if (data[k].nombre == seriesName[i] && data[k].año == xCategories[j]) {
                                    valores[j] = data[k].total;
                                    sw = true;
                                } else {
                                    k++;
                                }
                            }
                            if (!sw) {
                                valores[j] = null;
                            }
                        }
                        seriesData[i] = { name: seriesName[i], data: valores };
                    }
                    var chart;
                    $(document).ready(function () {

                        chart = new Highcharts.Chart({
                            chart: {
                                renderTo: 'grafico1',
                                type: 'column'
                            },
                            title: {
                                text: titulo
                            },
                            subtitle: {
                                text: 'Fuente: Datos prueba'
                            },
                            xAxis: {
                                title: {
                                    text: 'Años'
                                },
                                categories: xCategories
                            },
                            yAxis: {
                                min: 0,
                                title: {
                                    text: 'Personas',
                                    align: 'high'
                                },
                                labels: {
                                    overflow: 'justify'
                                },
                                stackLabels: {
                                    enabled: true
                                }
                            },
                            tooltip: {
                                headerFormat: '<b>{point.x}</b><br/>',
                                pointFormat: '{series.name}: {point.y} Personas<br/>' +
                                    'Total: {point.stackTotal} Personas'
                            },
                            plotOptions: {
                                column: {
                                    stacking: 'normal'
                                }
                            },
                            credits: {
                                enabled: false
                            },
                            series: seriesData
                        });
                    });
                },
                error: function () {
                    $("#grafico1").html("Error al cargar los datos del gráfico");
                    $("#grafico2").html("Error al cargar los datos del gráfico");
                }
            });
        }

        function DrawGrafico2(data) {
            $("#grafico2").html('<img src="Content/Imagenes/cargando.gif" class="img-responsive centrar"/>');
            var seriesData = [];
            var xCategories = [];
            var seriesName = [];
            var valores = [];
            var acti = $('#acti').val();
            var opcion = $('#tabla').val();
            var i, cat, nombre, k, titulo, sw = true;

            switch (opcion) {
                case "2"://subárea ocde
                    titulo = "Personas de tiempo completo equivalente de " + acti.toLowerCase() + " por subárea OCDE";
                    break;
                case "3"://disciplina ocde
                    titulo = "Personas de tiempo completo equivalente de " + acti.toLowerCase() + " por disciplina OCDE";
                    break;
                case "4"://acti segundo nivel
                    titulo = "Personas de tiempo completo equivalente de " + acti.toLowerCase() + " por el segundo nivel ACTI";
                    break;
                case "5"://acti tercer nivel
                    titulo = "Personas de tiempo completo equivalente de " + acti.toLowerCase() + " por el tercer nivel ACTI";
                    break;
                case "6"://sexo
                    titulo = "Personas de tiempo completo equivalente de " + acti.toLowerCase() + " por sexo";
                    break;
                case "7"://edad
                    titulo = "Personas de tiempo completo equivalente de " + acti.toLowerCase() + " por rango de edad";
                    break;
                case "8"://nivel de formación
                    titulo = "Personas de tiempo completo equivalente de " + acti.toLowerCase() + " por nivel de formación";
                    break;
                case "9"://nacionalidad
                    titulo = "Personas de tiempo completo equivalente de " + acti.toLowerCase() + " por nacionalidad";
                    break;
                case "10"://tipo de vinculación
                    titulo = "Personas de tiempo completo equivalente de " + acti.toLowerCase() + " por tipo de vinculación con la Universidad del Magdalena";
                    break;
                case "11"://grupo étnico
                    titulo = "Personas de tiempo completo equivalente de " + acti.toLowerCase() + " por grupo étnico";
                    break;
                case "12"://años de experiencia en ACTI
                    titulo = "Personas de tiempo completo equivalente de " + acti.toLowerCase() + " por años de experiencia en " + acti;
                    break;
                case "13"://años de experiencia laboral
                    titulo = "Personas de tiempo completo equivalente de " + acti.toLowerCase() + " por años de experiencia laboral";
                    break;
                case "14"://categoría de investigador
                    titulo = "Personas de tiempo completo equivalente de " + acti.toLowerCase() + " por categoría de investigador";
                    break;
                case "15"://pertenencia a redes ACTI
                    titulo = "Personas de tiempo completo equivalente de " + acti.toLowerCase() + " por pertenencia a redes ACTI";
                    break;
                case "16"://tiempo dedicado a ACTI
                    titulo = "Personas de tiempo completo equivalente de " + acti.toLowerCase() + " por tiempo dedicado a ACTI";
                    break;
                default://área ocde
                    titulo = "Personas de tiempo completo equivalente de " + acti.toLowerCase() + " por área OCDE"
                    break;
            }
            for (i = 0; i < data.length; i++) {
                cat = data[i].año;
                nombre = data[i].nombre;
                if (xCategories.indexOf(cat) === -1) {
                    xCategories[xCategories.length] = cat;
                }
                if (seriesName.indexOf(nombre) === -1) {
                    seriesName[seriesName.length] = nombre;
                }
            }
            for (i = 0; i < seriesName.length; i++) {
                valores = [];
                for (j = 0; j < xCategories.length; j++) {
                    var k = 0;
                    var sw = false;
                    while (k < data.length && !sw) {
                        if (data[k].nombre == seriesName[i] && data[k].año == xCategories[j]) {
                            valores[j] = Math.round(data[k].totalTE * 10000) / 10000;
                            sw = true;
                        } else {
                            k++;
                        }
                    }
                    if (!sw) {
                        valores[j] = null;
                    }
                }
                seriesData[i] = { name: seriesName[i], data: valores };
            }
            var chart;
            $(document).ready(function () {

                chart = new Highcharts.Chart({
                    chart: {
                        renderTo: 'grafico2',
                        type: 'column'
                    },
                    title: {
                        text: titulo
                    },
                    subtitle: {
                        text: 'Fuente: Datos prueba'
                    },
                    xAxis: {
                        title: {
                            text: 'Años'
                        },
                        categories: xCategories
                    },
                    yAxis: {
                        min: 0,
                        title: {
                            text: 'Personas de tiempo completo equivalente',
                            align: 'high'
                        },
                        labels: {
                            overflow: 'justify'
                        },
                        stackLabels: {
                            enabled: true
                        }
                    },
                    tooltip: {
                        headerFormat: '<b>{point.x}</b><br/>',
                        pointFormat: '{series.name}: {point.y} personas de tiempo completo equivalente<br/>' +
                            'Total: {point.stackTotal} personas de tiempo completo equivalente'
                    },
                    plotOptions: {
                        column: {
                            stacking: 'normal'
                        }
                    },
                    credits: {
                        enabled: false
                    },
                    series: seriesData
                });
            });
        }

        //Gráfico de Personas en el año por ocde y experiencia laboral
        function DrawPersonasLaboralOCDE(año, ocde, acti, medida) {
            $("#grafico3").html('<img src="Content/Imagenes/cargando.gif" class="img-responsive centrar"/>');

            $.ajax({
                url: "@Url.Action("PersonasLaboralOCDE", "Personas")",
                data: {
                    yearSearch: año,
                    catOCDE: $('#ocde').val(),
                    acti1: acti
                },
                type: "GET",
                dataType: "json",
                success: function (data) {
                    var seriesData = [];
                    var xCategories = [];
                    var seriesName = [];
                    var valores = [];
                    var titulo, medidaTitulo;

                    var i, cat, nombre;
                    for (i = 0; i < data.length; i++) {
                        cat = data[i].laboral;
                        nombre = data[i].nombre;
                        if (xCategories.indexOf(cat) === -1) {
                            xCategories[xCategories.length] = cat;
                        }
                        if (seriesName.indexOf(nombre) === -1) {
                            seriesName[seriesName.length] = nombre;
                        }
                    }

                    for (i = 0; i < seriesName.length; i++) {
                        valores = [];
                        for (j = 0; j < xCategories.length; j++) {
                            var k = 0;
                            var sw = false;
                            while (k < data.length && !sw) {
                                if (data[k].nombre == seriesName[i] && data[k].laboral == xCategories[j]) {
                                    if (medida == "1") {
                                        valores[j] = data[k].total;
                                    } else {
                                        valores[j] = Math.round(data[k].totalTE * 10000) / 10000;
                                    }
                                    sw = true;
                                } else {
                                    k++;
                                }
                            }
                            if (!sw) {
                                valores[j] = null;
                            }
                        }
                        seriesData[i] = { name: seriesName[i], data: valores };
                    }

                    if (medida == "1") {
                        titulo = 'Número de personas dedicadas a ' + acti.toLowerCase() + ' en el año ' + año + ' por ' + ocde.toLowerCase() + ' OCDE y años de experiencia laboral';
                        medidaTitulo = 'Personas';
                    } else {
                        titulo = 'Personas de tiempo completo equivalente dedicadas a ' + acti.toLowerCase() + ' en el año ' + año + ' por ' + ocde.toLowerCase() + ' OCDE y años de experiencia laboral';
                        medidaTitulo = 'Personas de tiempo completo equivalente';
                    }

                    var chart;
                    $(document).ready(function () {
                        chart = new Highcharts.Chart({
                            chart: {
                                renderTo: 'grafico3',
                                type: 'bar'
                            },
                            title: {
                                text: titulo
                            },
                            subtitle: {
                                text: 'Fuente: Datos prueba'
                            },
                            xAxis: {
                                title: {
                                    text: 'Años de experiencia laboral'
                                },
                                categories: xCategories
                            },
                            yAxis: {
                                min: 0,
                                title: {
                                    text: medidaTitulo,
                                    align: 'high'
                                }
                            },
                            legend: {
                                reversed: true
                            },
                            tooltip: {
                                headerFormat: '<b>{point.x}</b><br/>',
                                pointFormat: '{series.name}: {point.y} ' + medidaTitulo.toLowerCase() + '<br/>'
                            },
                            plotOptions: {
                                series: {
                                    stacking: 'normal'
                                }
                            },
                            credits: {
                                enabled: false
                            },
                            series: seriesData
                        });
                    });
                },
                error: function () {
                    $("#grafico3").html("Error al cargar los datos del gráfico");
                }
            });
        }
        //Gráfico de Personas en el año por ocde y rango de edad
        function DrawPersonasEdadOCDE(año, ocde, acti, medida) {
            $("#grafico3").html('<img src="Content/Imagenes/cargando.gif" class="img-responsive centrar"/>');
            $("#grafico4").html('<img src="Content/Imagenes/cargando.gif" class="img-responsive centrar"/>');

            $.ajax({
                url: "@Url.Action("PersonasEdadOCDE", "Personas")",
                data: {
                    yearSearch: año,
                    catOCDE: $('#ocde').val(),
                    acti1: acti
                },
                type: "GET",
                dataType: "json",
                success: function (data) {
                    var seriesData = [];
                    var xCategories = [];
                    var seriesName = [];
                    var valores = [];
                    var titulo, medidaTitulo;

                    var i, cat, nombre;
                    for (i = 0; i < data.length; i++) {
                        cat = data[i].edad;
                        nombre = data[i].nombre;
                        if (xCategories.indexOf(cat) === -1) {
                            xCategories[xCategories.length] = cat;
                        }
                        if (seriesName.indexOf(nombre) === -1) {
                            seriesName[seriesName.length] = nombre;
                        }
                    }

                    for (i = 0; i < seriesName.length; i++) {
                        valores = [];
                        for (j = 0; j < xCategories.length; j++) {
                            var k = 0;
                            var sw = false;
                            while (k < data.length && !sw) {
                                if (data[k].nombre == seriesName[i] && data[k].edad == xCategories[j]) {
                                    if (medida == "1") {
                                        valores[j] = data[k].total;
                                    } else {
                                        valores[j] = Math.round(data[k].totalTE * 10000) / 10000;
                                    }
                                    sw = true;
                                } else {
                                    k++;
                                }
                            }
                            if (!sw) {
                                valores[j] = null;
                            }
                        }
                        seriesData[i] = { name: seriesName[i], data: valores };
                    }

                    if (medida == "1") {
                        titulo = 'Número de personas dedicadas a ' + acti.toLowerCase() + ' en el año ' + año + ' por ' + ocde.toLowerCase() + ' OCDE y rango de edad';
                        medidaTitulo = 'Personas';
                    } else {
                        titulo = 'Personas de tiempo completo equivalente dedicadas a ' + acti.toLowerCase() + ' en el año ' + año + ' por ' + ocde.toLowerCase() + ' OCDE y rango de edad';
                        medidaTitulo = 'Personas de tiempo completo equivalente';
                    }

                    var chart;
                    $(document).ready(function () {
                        chart = new Highcharts.Chart({
                            chart: {
                                renderTo: 'grafico4',
                                type: 'bar'
                            },
                            title: {
                                text: titulo
                            },
                            subtitle: {
                                text: 'Fuente: Datos prueba'
                            },
                            xAxis: {
                                title: {
                                    text: 'Rango de edad'
                                },
                                categories: xCategories
                            },
                            yAxis: {
                                min: 0,
                                title: {
                                    text: medidaTitulo,
                                    align: 'high'
                                }
                            },
                            legend: {
                                reversed: true
                            },
                            tooltip: {
                                headerFormat: '<b>{point.x}</b><br/>',
                                pointFormat: '{series.name}: {point.y} ' + medidaTitulo.toLowerCase() + '<br/>'
                            },
                            plotOptions: {
                                series: {
                                    stacking: 'normal'
                                }
                            },
                            credits: {
                                enabled: false
                            },
                            series: seriesData
                        });
                    });
                },
                error: function () {
                    $("#grafico4").html("Error al cargar los datos del gráfico");
                }
            });
        }
        //Gráfico de Personas en el año por ocde y sexo
        function DrawPersonasSexoOCDE(año, ocde, acti, medida) {
            $("#grafico3").html('<img src="Content/Imagenes/cargando.gif" class="img-responsive centrar"/>');
            $("#grafico5").html('<img src="Content/Imagenes/cargando.gif" class="img-responsive centrar"/>');

            $.ajax({
                url: "@Url.Action("PersonasSexoOCDE", "Personas")",
                data: {
                    yearSearch: año,
                    catOCDE: $('#ocde').val(),
                    acti1: acti
                },
                type: "GET",
                dataType: "json",
                success: function (data) {
                    var seriesData = [];
                    var xCategories = [];
                    var seriesName = [];
                    var valores = [];
                    var titulo, medidaTitulo;

                    var i, cat, nombre;
                    for (i = 0; i < data.length; i++) {
                        cat = data[i].sexo;
                        nombre = data[i].nombre;
                        if (xCategories.indexOf(cat) === -1) {
                            xCategories[xCategories.length] = cat;
                        }
                        if (seriesName.indexOf(nombre) === -1) {
                            seriesName[seriesName.length] = nombre;
                        }
                    }

                    for (i = 0; i < seriesName.length; i++) {
                        valores = [];
                        for (j = 0; j < xCategories.length; j++) {
                            var k = 0;
                            var sw = false;
                            while (k < data.length && !sw) {
                                if (data[k].nombre == seriesName[i] && data[k].sexo == xCategories[j]) {
                                    if (medida == "1") {
                                        valores[j] = data[k].total;
                                    } else {
                                        valores[j] = Math.round(data[k].totalTE * 10000) / 10000;
                                    }
                                    sw = true;
                                } else {
                                    k++;
                                }
                            }
                            if (!sw) {
                                valores[j] = null;
                            }
                        }
                        seriesData[i] = { name: seriesName[i], data: valores };
                    }

                    if (medida == "1") {
                        titulo = 'Número de personas dedicadas a ' + acti.toLowerCase() + ' en el año ' + año + ' por ' + ocde.toLowerCase() + ' OCDE y sexo';
                        medidaTitulo = 'Personas';
                    } else {
                        titulo = 'Personas de tiempo completo equivalente dedicadas a ' + acti.toLowerCase() + ' en el año ' + año + ' por ' + ocde.toLowerCase() + ' OCDE y sexo';
                        medidaTitulo = 'Personas de tiempo completo equivalente';
                    }

                    var chart;
                    $(document).ready(function () {
                        chart = new Highcharts.Chart({
                            chart: {
                                renderTo: 'grafico5',
                                type: 'bar'
                            },
                            title: {
                                text: titulo
                            },
                            subtitle: {
                                text: 'Fuente: Datos prueba'
                            },
                            xAxis: {
                                title: {
                                    text: 'Sexo'
                                },
                                categories: xCategories
                            },
                            yAxis: {
                                min: 0,
                                title: {
                                    text: medidaTitulo,
                                    align: 'high'
                                }
                            },
                            legend: {
                                reversed: true
                            },
                            tooltip: {
                                headerFormat: '<b>{point.x}</b><br/>',
                                pointFormat: '{series.name}: {point.y} ' + medidaTitulo.toLowerCase() + '<br/>'
                            },
                            plotOptions: {
                                series: {
                                    stacking: 'normal'
                                }
                            },
                            credits: {
                                enabled: false
                            },
                            series: seriesData
                        });
                    });
                },
                error: function () {
                    $("#grafico5").html("Error al cargar los datos del gráfico");
                }
            });
        }

        //Gráfico de Personas en el año por ocde y nivel de formación
        function DrawPersonasFormacionOCDE(año, ocde, acti, medida) {
            $("#grafico3").html('<img src="Content/Imagenes/cargando.gif" class="img-responsive centrar"/>');
            $("#grafico6").html('<img src="Content/Imagenes/cargando.gif" class="img-responsive centrar"/>');

            $.ajax({
                url: "@Url.Action("PersonasFormacionOCDE", "Personas")",
                data: {
                    yearSearch: año,
                    catOCDE: $('#ocde').val(),
                    acti1: acti
                },
                type: "GET",
                dataType: "json",
                success: function (data) {
                    var seriesData = [];
                    var xCategories = [];
                    var seriesName = [];
                    var valores = [];
                    var titulo, medidaTitulo;

                    var i, cat, nombre;
                    for (i = 0; i < data.length; i++) {
                        cat = data[i].formacion;
                        nombre = data[i].nombre;
                        if (xCategories.indexOf(cat) === -1) {
                            xCategories[xCategories.length] = cat;
                        }
                        if (seriesName.indexOf(nombre) === -1) {
                            seriesName[seriesName.length] = nombre;
                        }
                    }

                    for (i = 0; i < seriesName.length; i++) {
                        valores = [];
                        for (j = 0; j < xCategories.length; j++) {
                            var k = 0;
                            var sw = false;
                            while (k < data.length && !sw) {
                                if (data[k].nombre == seriesName[i] && data[k].formacion == xCategories[j]) {
                                    if (medida == "1") {
                                        valores[j] = data[k].total;
                                    } else {
                                        valores[j] = Math.round(data[k].totalTE * 10000) / 10000;
                                    }
                                    sw = true;
                                } else {
                                    k++;
                                }
                            }
                            if (!sw) {
                                valores[j] = null;
                            }
                        }
                        seriesData[i] = { name: seriesName[i], data: valores };
                    }

                    if (medida == "1") {
                        titulo = 'Número de personas dedicadas a ' + acti.toLowerCase() + ' en el año ' + año + ' por ' + ocde.toLowerCase() + ' OCDE y nivel de formación';
                        medidaTitulo = 'Personas';
                    } else {
                        titulo = 'Personas de tiempo completo equivalente dedicadas a ' + acti.toLowerCase() + ' en el año ' + año + ' por ' + ocde.toLowerCase() + ' OCDE y nivel de formación';
                        medidaTitulo = 'Personas de tiempo completo equivalente';
                    }

                    var chart;
                    $(document).ready(function () {
                        chart = new Highcharts.Chart({
                            chart: {
                                renderTo: 'grafico6',
                                type: 'column'
                            },
                            title: {
                                text: titulo
                            },
                            subtitle: {
                                text: 'Fuente: Datos prueba'
                            },
                            xAxis: {
                                title: {
                                    text: 'Nivel de formación'
                                },
                                categories: xCategories
                            },
                            yAxis: {
                                min: 0,
                                title: {
                                    text: medidaTitulo,
                                    align: 'high'
                                }
                            },
                            tooltip: {
                                headerFormat: '<b>{point.x}</b><br/>',
                                pointFormat: '{series.name}: {point.y} ' + medidaTitulo.toLowerCase() + '<br/>'
                            },
                            plotOptions: {
                                series: {
                                    stacking: 'normal'
                                }
                            },
                            credits: {
                                enabled: false
                            },
                            series: seriesData
                        });
                    });
                },
                error: function () {
                    $("#grafico6").html("Error al cargar los datos del gráfico");
                }
            });
        }
        //Gráfico de Personas en el año por ocde y años de experiencia en acti
        function DrawPersonasExpACTIOCDE(año, ocde, acti, medida) {
            $("#grafico3").html('<img src="Content/Imagenes/cargando.gif" class="img-responsive centrar"/>');
            $("#grafico7").html('<img src="Content/Imagenes/cargando.gif" class="img-responsive centrar"/>');

            $.ajax({
                url: "@Url.Action("PersonasExpACTIOCDE", "Personas")",
                data: {
                    yearSearch: año,
                    catOCDE: $('#ocde').val(),
                    acti1: acti
                },
                type: "GET",
                dataType: "json",
                success: function (data) {
                    var seriesData = [];
                    var xCategories = [];
                    var seriesName = [];
                    var valores = [];
                    var titulo, medidaTitulo;

                    var i, cat, nombre;
                    for (i = 0; i < data.length; i++) {
                        cat = data[i].añosACTI;
                        nombre = data[i].nombre;
                        if (xCategories.indexOf(cat) === -1) {
                            xCategories[xCategories.length] = cat;
                        }
                        if (seriesName.indexOf(nombre) === -1) {
                            seriesName[seriesName.length] = nombre;
                        }
                    }

                    for (i = 0; i < seriesName.length; i++) {
                        valores = [];
                        for (j = 0; j < xCategories.length; j++) {
                            var k = 0;
                            var sw = false;
                            while (k < data.length && !sw) {
                                if (data[k].nombre == seriesName[i] && data[k].añosACTI == xCategories[j]) {
                                    if (medida == "1") {
                                        valores[j] = data[k].total;
                                    } else {
                                        valores[j] = Math.round(data[k].totalTE * 10000) / 10000;
                                    }
                                    sw = true;
                                } else {
                                    k++;
                                }
                            }
                            if (!sw) {
                                valores[j] = null;
                            }
                        }
                        seriesData[i] = { name: seriesName[i], data: valores };
                    }

                    if (medida == "1") {
                        titulo = 'Número de personas dedicadas a ' + acti.toLowerCase() + ' en el año ' + año + ' por ' + ocde.toLowerCase() + ' OCDE y años de experiencia en ' + acti;
                        medidaTitulo = 'Personas';
                    } else {
                        titulo = 'Personas de tiempo completo equivalente dedicadas a ' + acti.toLowerCase() + ' en el año ' + año + ' por ' + ocde.toLowerCase() + ' OCDE y años de experiencia en ' + acti;
                        medidaTitulo = 'Personas de tiempo completo equivalente';
                    }

                    var chart;
                    $(document).ready(function () {
                        chart = new Highcharts.Chart({
                            chart: {
                                renderTo: 'grafico7',
                                type: 'bar'
                            },
                            title: {
                                text: titulo
                            },
                            subtitle: {
                                text: 'Fuente: Datos prueba'
                            },
                            xAxis: {
                                title: {
                                    text: 'Años de experiencia en '+ acti
                                },
                                categories: xCategories
                            },
                            yAxis: {
                                min: 0,
                                title: {
                                    text: medidaTitulo,
                                    align: 'high'
                                }
                            },
                            legend: {
                                reversed: true
                            },
                            tooltip: {
                                headerFormat: '<b>{point.x}</b><br/>',
                                pointFormat: '{series.name}: {point.y} ' + medidaTitulo.toLowerCase() + '<br/>'
                            },
                            plotOptions: {
                                series: {
                                    stacking: 'normal'
                                }
                            },
                            credits: {
                                enabled: false
                            },
                            series: seriesData
                        });
                    });
                },
                error: function () {
                    $("#grafico7").html("Error al cargar los datos del gráfico");
                }
            });
        }
        //Gráfico de Personas en el año por ocde y categoría de investigador
        function DrawPersonasInvestigadorOCDE(año, ocde, acti, medida) {
            $("#grafico3").html('<img src="Content/Imagenes/cargando.gif" class="img-responsive centrar"/>');
            $("#grafico8").html('<img src="Content/Imagenes/cargando.gif" class="img-responsive centrar"/>');

            $.ajax({
                url: "@Url.Action("PersonasInvestigadorOCDE", "Personas")",
                data: {
                    yearSearch: año,
                    catOCDE: $('#ocde').val(),
                    acti1: acti
                },
                type: "GET",
                dataType: "json",
                success: function (data) {
                    var seriesData = [];
                    var xCategories = [];
                    var seriesName = [];
                    var valores = [];
                    var titulo, medidaTitulo;

                    var i, cat, nombre;
                    for (i = 0; i < data.length; i++) {
                        cat = data[i].colciencias;
                        nombre = data[i].nombre;
                        if (xCategories.indexOf(cat) === -1) {
                            xCategories[xCategories.length] = cat;
                        }
                        if (seriesName.indexOf(nombre) === -1) {
                            seriesName[seriesName.length] = nombre;
                        }
                    }

                    for (i = 0; i < seriesName.length; i++) {
                        valores = [];
                        for (j = 0; j < xCategories.length; j++) {
                            var k = 0;
                            var sw = false;
                            while (k < data.length && !sw) {
                                if (data[k].nombre == seriesName[i] && data[k].colciencias == xCategories[j]) {
                                    if (medida == "1") {
                                        valores[j] = data[k].total;
                                    } else {
                                        valores[j] = Math.round(data[k].totalTE * 10000) / 10000;
                                    }
                                    sw = true;
                                } else {
                                    k++;
                                }
                            }
                            if (!sw) {
                                valores[j] = null;
                            }
                        }
                        seriesData[i] = { name: seriesName[i], data: valores };
                    }

                    if (medida == "1") {
                        titulo = 'Número de personas dedicadas a ' + acti.toLowerCase() + ' en el año ' + año + ' por ' + ocde.toLowerCase() + ' OCDE y categoría de investigador';
                        medidaTitulo = 'Personas';
                    } else {
                        titulo = 'Personas de tiempo completo equivalente dedicadas a ' + acti.toLowerCase() + ' en el año ' + año + ' por ' + ocde.toLowerCase() + ' OCDE y categoría de investigador';
                        medidaTitulo = 'Personas de tiempo completo equivalente';
                    }

                    var chart;
                    $(document).ready(function () {
                        chart = new Highcharts.Chart({
                            chart: {
                                renderTo: 'grafico8',
                                type: 'column'
                            },
                            title: {
                                text: titulo
                            },
                            subtitle: {
                                text: 'Fuente: Datos prueba'
                            },
                            xAxis: {
                                title: {
                                    text: 'Categoría de investigador'
                                },
                                categories: xCategories
                            },
                            yAxis: {
                                min: 0,
                                title: {
                                    text: medidaTitulo,
                                    align: 'high'
                                }
                            },
                            tooltip: {
                                headerFormat: '<b>{point.x}</b><br/>',
                                pointFormat: '{series.name}: {point.y} ' + medidaTitulo.toLowerCase() + '<br/>'
                            },
                            plotOptions: {
                                series: {
                                    stacking: 'normal'
                                }
                            },
                            credits: {
                                enabled: false
                            },
                            series: seriesData
                        });
                    });
                },
                error: function () {
                    $("#grafico8").html("Error al cargar los datos del gráfico");
                }
            });
        }
    </script>
}

