﻿@{
    Layout = "~/Views/Shared/_IndicadoresLayout.cshtml";
    ViewBag.Indicador = "Estudiantes en programas de educación superior:";
    ViewBag.Descripcion = "Se calcula contando el número de estudiantes matriculados en los programas de educación superior que ofrece la universidad (técnico profesional, tecnológico, profesional, especialización, maestría y doctorado) y se mide en “estudiantes”. Se puede discriminar por: sexo, por procedencia geográfica, estrato socioeconómico, nivel, fuente de financiación (ej. beca y recursos personales) y campo de conocimiento según la clasificación OCDE.";
    ViewBag.Nombre = "número de estudiantes en programas de educación superior";
    ViewBag.Fuente = "Admisiones, Registro y Centro Académico (AyRE)";
}

@section ConsultaGeneral{
    <!--Selecciona el rango de años y la tabla a consultar-->
    <div class="row">
        <form class="form">
            <!--Selecciona el año desde-->
            <div class="col-lg-offset-1 col-md-offset-1 col-lg-2 col-md-2">
                <label>Desde</label>
                <select class="form-control" id="fromYear" name="fromYear">
                    <option value="-100">Todos</option>
                </select>
            </div>
            <!--./Fin selecciona el año desde-->
            <!--Selecciona hasta que año consultar-->
            <div class="col-lg-2 col-md-2">
                <div class="form-group">
                    <label>Hasta</label>
                    <select class="form-control" id="toYear" name="toYear">
                        <option value="-100">Todos</option>
                    </select>
                </div>
            </div>
            <!--./Fin selecciona hasta año -->
            <!--Selecciona el tipo de dimensión-->
            <div class="col-lg-4 col-md-4">
                <div class="form-group">
                    <label>Tabla del indicador</label>
                    <select class="form-control" id="tabla">
                        <option value="1">Área OCDE</option>
                        <option value="2">Subárea OCDE</option>
                        <option value="3">Disciplina OCDE</option>
                        <option value="4">Nivel formación</option>
                        <option value="5">Fuente financiación</option>
                        <option value="6">Estrato</option>
                        <option value="7">Sexo</option>
                        <option value="8">País</option>
                        <option value="9">Departamento/Estado</option>
                        <option value="10">Ciudad</option>
                    </select>
                </div>
            </div>
            <!--./Fin selecciona el tipo de dimensión-->
            <!--Botón consultar-->
            <div class="col-lg-2 col-md-2 topBoton">
                <button type="button" class="btn btn-primary" id="searchData">Consultar</button>
            </div>
            <!--./Fin botón consultar-->
        </form>
    </div>
    <!--./Fin selecciona el rango de años y tabla a consultar-->
    <!--Tabla del indicador-->
    <div class="row container-fluid">
        <div class="col-lg-offset-2 col-lg-8 col-md-offset-2 col-md-8">
            <h4 class="text-center title-tabla" id="nombreTabla"></h4>
        </div>

        <div class="table-responsive col-lg-12 col-lg-12 col-md-12 col-sm-12">
            <div id="est_tabla" style="align-items:center;"></div>
        </div>

        <div class="col-lg-offset-1 col-lg-10 col-md-12 col-sm-12 col-xs-12">
            <div id="grafico1" class="grafico_general"></div>
        </div>
    </div>
    <!--./Fin Tabla del indicador-->
}

@section PanelGraficos{
    <!--Panel de los gráficos-->
    <div class="row">
        <!--Selecciona el año, nivel ocde y procedencia-->
        <div class="container-fluid">
            <form class="form">
                <!--Selecciona el año-->
                <div class="col-lg-offset-2 col-lg-2 col-md-offset-1 col-md-2">
                    <div class="form-group">
                        <label>Año</label>
                        <select class="form-control" id="year"></select>
                    </div>
                </div>
                <!--./Fin selecciona el año-->
                <!--Selecciona el nivel OCDE-->
                <div class="col-lg-2 col-md-2">
                    <div class="form-group">
                        <label>OCDE</label>
                        <select class="form-control" id="ocde">
                            <option value="1">Área</option>
                            <option value="2">Subárea</option>
                            <option value="3">Disciplina</option>
                        </select>
                    </div>
                </div>
                <!--./Fin selecciona el nivel OCDE-->
                <!--Selecciona el tipo de procedencia-->
                <div class="col-lg-2 col-md-2">
                    <div class="form-group">
                        <label>Procedencia</label>
                        <select class="form-control" id="procedencia">
                            <option value="1">País</option>
                            <option value="2">Departamento ó Estado</option>
                        </select>
                    </div>
                </div>
                <!--./Fin selecciona el tipo de procedencia-->
                <!--Boton consultar gráficos-->
                <div class="col-lg-2 col-md-2 topBoton">
                    <button type="button" class="btn btn-primary" id="searchGraphs">Consultar</button>
                </div>
                <!--./Fin boton consultar gráficos-->
            </form>
        </div>
        <!--./Fin selecciona el año, nivel ocde y procedencia-->
    </div>
    <div class="row container-fluid">
        <div class="col-lg-offset-1 col-lg-10 col-md-12 col-sm-12 col-xs-12">
            <div id="grafico2" class="grafico"></div>
            <div id="grafico3" class="grafico"></div>
            <div id="grafico4" class="grafico"></div>
            <div id="grafico5" class="grafico"></div>
            <div id="grafico6" class="grafico"></div>
        </div>
    </div>
    <!--./Fin panel de los gráficos-->
}

@section scripts{
    <script>
        var desdeAño = "-100", hastaAño = "-100";
        var opcion = "1"; //opcion de la tabla a mostrar

        $(document).ready(function () {
            cargaInicial();       //carga inicial de los datos y gráficos del indicador
            load_years();         //carga los años del indicador
            change_hasta();       //cambio del año hasta
            datosTablaResumen();  //llena la tabla de consulta general
            drawGraphs();         //dibuja los gráficos del panel consulta de gráficos
        });
        /*-----------------------Carga inicialmente los datos y gráficos del indicador----------------*/
        function cargaInicial() {
            $(function () {
                //cuando cargue el gráfico, llena la tabla de consulta general
                DrawGrafico();
                $.when(DrawGrafico()).done(function (a1) {
                    loadDataTables();
                });
            });
            /*----Lista el indicador estudiantes en la tabla dinámica----*/
            $(function () {
                $("#tablaDinamica").html('<img src="Content/Imagenes/cargando.gif" class="img-responsive centrar"/>');
                var sum = $.pivotUtilities.aggregatorTemplates.sum;
                var numberFormat = $.pivotUtilities.numberFormat;
                var intFormat = numberFormat({ digitsAfterDecimal: 0 });

                var renderers = $.extend(
                    $.pivotUtilities.renderers,
                    $.pivotUtilities.c3_renderers,
                    $.pivotUtilities.d3_renderers
                    );

                var actionUrl = '@Url.Action("Listar", "Estudiantes")';

                $.get(actionUrl, function (mps) {
                    $("#tablaDinamica").pivotUI(mps, {
                        aggregators: {
                            "Estudiantes":
                                function () { return sum(intFormat)(["Cantidad"]) }
                        },
                        hiddenAttributes: ["Cantidad"],
                        renderers: renderers,
                        rendererName: "Tabla"
                    });
                });
            });
        }
        /*------------------Carga los años en los select------------------*/
        function load_years() {
            $.get(
                    '@Url.Action("getYears", "Estudiantes")'
                )
                .done(function (data) {
                    var lastYear = (new Date).getFullYear() - 1; //el año anterior al actual
                    $.each(data, function (i, row) {
                        var $option = $('<option>');
                        $option.val(row.año);
                        $option.html(row.año);
                        $('#fromYear').append($option);

                        var $option = $('<option>');
                        $option.val(row.año);
                        $option.html(row.año);
                        $('#year').append($option);
                        if (parseInt(row.año) == lastYear) {
                            $('#year').val(row.año);
                        }
                    })
                    //gráficos de la pestaña consulta gráficos
                    var año = $('#year').val();
                    var ocde = $("#ocde").find(':selected').text();
                    var procedencia = $("#procedencia").find(':selected').text();

                    DrawEstProcedenciaCatOCDE(ocde, procedencia, año);
                    DrawEstSexoCatOCDE(ocde, año);
                    DrawEstEstratoCatOCDE(ocde, año);
                    DrawEstFinanciacionCatOCDE(ocde, año);
                    DrawEstFormacionCatOCDE(ocde, año);
                })
                .fail(function (data) {
                    console.log('Error al cargar años!!!');
                }
            );
        }
        /*------------------Cambia el año hasta al seleccionar un año desde--------------*/
        function change_hasta() {
            $('#fromYear').change(function () {
                $.get(
                        '@Url.Action("getYears", "Estudiantes")'
                    )
                    .done(function (data) {
                        var from = $("#fromYear").find(':selected').text();
                        var fromValue = $("#fromYear").find(':selected').val();
                        $('#toYear').empty();

                        if (fromValue == "-100") {
                            var $option = $('<option>');
                            $option.val("-100");
                            $option.html("Todos");
                            $('#toYear').append($option);
                        } else {
                            $.each(data, function (i, row) {
                                if (parseInt(row.año) >= parseInt(from)) {
                                    var $option = $('<option>');
                                    $option.val(row.año);
                                    $option.html(row.año);
                                    $('#toYear').append($option);
                                }
                            })
                        }
                    })
                    .fail(function (data) {
                        console.log('Error al cargar años hasta!!!');
                    }
                );
            });
        }
        /*-------------------Carga los datos y gráficos en consulta general--------------*/
        function datosTablaResumen() {
            $("#searchData").click(function () {
                //asigna a las variables globales el nuevo valor
                desdeAño = $('#fromYear').val();
                hastaAño = $('#toYear').val();
                opcion = $('#tabla').val();
                //cuando cargue el gráfico, llena la tabla de consulta general
                DrawGrafico();
                $.when(DrawGrafico()).done(function (a1) {
                    loadDataTables();
                });
            });
        }
        /*-------------------------------Exporta el indicador completo-------------------------*/
        function exportar(id) {
            var dt = new Date();
            var month = dt.getMonth() + 1;
            var day = dt.getDate();
            var year = dt.getFullYear();
            var tipoReporte = "0";

            var fecha = day + "" + month + "" + year;
            var fileName = "Estudiantes" + fecha;
            window.location = "/Estudiantes/Reporte/" + id + "/" + desdeAño + "/" + hastaAño + "/" + tipoReporte + "/" + fileName;
        }
        /*-------------------------------Exporta el indicador por el tipo de tabla-------------------------*/
        function exportarTabla(id) {
            var dt = new Date();
            var month = dt.getMonth() + 1;
            var day = dt.getDate();
            var year = dt.getFullYear();
            var tipoReporte = opcion;
            var fecha = day + "" + month + "" + year;
            var fileName;
            switch (opcion) {
                case "2"://subárea ocde
                    fileName = "EstudiantesPorSubárea" + fecha;
                    break;
                case "3"://disciplina
                    fileName = "EstudiantesPorDisciplina" + fecha
                    break;
                case "4"://nivel de formación
                    fileName = "EstudiantesPorFormación" + fecha;
                    break;
                case "5"://fuente de financiación
                    fileName = "EstudiantesPorFinanciación" + fecha;
                    break;
                case "6"://estrato
                    fileName = "EstudiantesPorEstrato" + fecha;
                    break;
                case "7"://sexo
                    fileName = "EstudiantesPorSexo" + fecha;
                    break;
                case "8"://país
                    fileName = "EstudiantesPorPaís" + fecha;
                    break;
                case "9"://departamento o estado
                    fileName = "EstudiantesPorDepartamento-estado" + fecha;
                    break;
                case "10"://ciudad
                    fileName = "EstudiantesPorCiudad" + fecha;
                    break;
                default://área ocde
                    fileName = "EstudiantesPorÁrea" + fecha
                    break;
            }
            window.location = "/Estudiantes/Reporte/" + id + "/" + desdeAño + "/" + hastaAño + "/" + tipoReporte + "/" + fileName;
        }
        /*-----------------Carga los gráficos en la pestaña consulta gráficos----------------*/
        function drawGraphs() {
            $("#searchGraphs").click(function () {
                var ocde = $("#ocde").find(':selected').text();
                var procedencia = $("#procedencia").find(':selected').text();
                var año = $('#year').val();
                DrawEstProcedenciaCatOCDE(ocde, procedencia, año);
                DrawEstSexoCatOCDE(ocde, año);
                DrawEstEstratoCatOCDE(ocde, año);
                DrawEstFinanciacionCatOCDE(ocde, año);
                DrawEstFormacionCatOCDE(ocde, año);
            });
        }
        /*----Lista las tablas de estudiantes----*/
        function loadDataTables() {
            $("#est_tabla").html('<img src="Content/Imagenes/cargando.gif" class="img-responsive centrar"/>');
            $.ajax({
                url: "@Url.Action("ListarxYear", "Estudiantes")",
                data: {
                    tabla: opcion,
                    desde: desdeAño,
                    hasta: hastaAño
                },
                type: "GET",
                dataType: "json",
                success: function (data) {
                    var sum = $.pivotUtilities.aggregatorTemplates.sum;
                    var numberFormat = $.pivotUtilities.numberFormat;
                    var intFormat = numberFormat({ digitsAfterDecimal: 0 });

                    switch (opcion) {
                        case "2"://subárea ocde
                            $('#nombreTabla').text("Número de estudiantes por subárea OCDE");
                            $("#est_tabla").pivot(data, {
                                rows: ["Subárea_OCDE"],
                                cols: ["Año", "Periodo"],
                                aggregator: sum(intFormat)(["Cantidad"])
                            });
                            break;
                        case "3"://disciplina
                            $('#nombreTabla').text("Número de estudiantes por disciplina OCDE");
                            $("#est_tabla").pivot(data, {
                                rows: ["Disciplina_OCDE"],
                                cols: ["Año", "Periodo"],
                                aggregator: sum(intFormat)(["Cantidad"])
                            });
                            break;
                        case "4"://nivel de formación
                            $('#nombreTabla').text("Número de estudiantes por nivel de formación académica");
                            $("#est_tabla").pivot(data, {
                                rows: ["Nivel_Formación"],
                                cols: ["Año", "Periodo"],
                                aggregator: sum(intFormat)(["Cantidad"])
                            });
                            break;
                        case "5"://fuente de financiación
                            $('#nombreTabla').text("Número de estudiantes por fuente de financiación");
                            $("#est_tabla").pivot(data, {
                                rows: ["Fuente_Financiación"],
                                cols: ["Año", "Periodo"],
                                aggregator: sum(intFormat)(["Cantidad"])
                            });
                            break;
                        case "6"://estrato
                            $('#nombreTabla').text("Número de estudiantes por estrato socioeconómico");
                            $("#est_tabla").pivot(data, {
                                rows: ["Estrato"],
                                cols: ["Año", "Periodo"],
                                aggregator: sum(intFormat)(["Cantidad"])
                            });
                            break;
                        case "7"://sexo
                            $('#nombreTabla').text("Número de estudiantes por sexo");
                            $("#est_tabla").pivot(data, {
                                rows: ["Sexo"],
                                cols: ["Año", "Periodo"],
                                aggregator: sum(intFormat)(["Cantidad"])
                            });
                            break;
                        case "8"://país
                            $('#nombreTabla').text("Número de estudiantes por el país de procedencia");
                            $("#est_tabla").pivot(data, {
                                rows: ["País"],
                                cols: ["Año", "Periodo"],
                                aggregator: sum(intFormat)(["Cantidad"])
                            });
                            break;
                        case "9"://departamento o estado
                            $('#nombreTabla').text("Número de estudiantes por el departamento o estado de procedencia");
                            $("#est_tabla").pivot(data, {
                                rows: ["Departamento_Estado"],
                                cols: ["Año", "Periodo"],
                                aggregator: sum(intFormat)(["Cantidad"])
                            });
                            break;
                        case "10"://ciudad
                            $('#nombreTabla').text("Número de estudiantes por la ciudad de procedencia");
                            $("#est_tabla").pivot(data, {
                                rows: ["Ciudad"],
                                cols: ["Año", "Periodo"],
                                aggregator: sum(intFormat)(["Cantidad"])
                            });
                            break;
                        default://área ocde
                            $('#nombreTabla').text("Número de estudiantes por área OCDE");
                            $("#est_tabla").pivot(data, {
                                rows: ["Área_OCDE"],
                                cols: ["Año", "Periodo"],
                                aggregator: sum(intFormat)(["Cantidad"])
                            });
                            break;
                    }
                },
                error: function () {
                    alert("¡Falla cargando los datos de la tabla! Intente de nuevo.");
                }
            });
        }
        /*----Dibuja el gráfico de la tabla escogida por el usuario----*/
        function DrawGrafico() {
            $("#est_tabla").html('<img src="Content/Imagenes/cargando.gif" class="img-responsive centrar"/>');
            $('#nombreTabla').text("");
            $("#grafico1").html('<img src="Content/Imagenes/cargando.gif" class="img-responsive centrar"/>');
            $.ajax({
                url: "@Url.Action("GraficoxYear", "Estudiantes")",
                data: {
                    tabla: opcion,
                    desde: desdeAño,
                    hasta: hastaAño
                },
                type: "GET",
                dataType: "json",
                success: function (data) {
                    var seriesData = [];
                    var xCategories = [];
                    var seriesName = [];
                    var valores = [];
                    var i, cat, nombre, k, titulo, sw = true;

                    switch (opcion) {
                        case "2"://subárea ocde
                            titulo = "Número de estudiantes por subárea OCDE";
                            break;
                        case "3"://disciplina
                            titulo = "Número de estudiantes por disciplina OCDE";
                            break;
                        case "4"://nivel de formación
                            titulo = "Número de estudiantes por nivel de formación académica";
                            break;
                        case "5"://fuente de financiación
                            titulo = "Número de estudiantes por fuente de financiación";
                            break;
                        case "6"://estrato
                            titulo = "Número de estudiantes por estrato socioeconómico";
                            break;
                        case "7"://sexo
                            titulo = "Número de estudiantes por sexo";
                            break;
                        case "8"://país
                            titulo = "Número de estudiantes por el país de procedencia";
                            break;
                        case "9"://departamento o estado
                            titulo = "Número de estudiantes por el departamento o estado de procedencia";
                            break;
                        case "10"://ciudad
                            sw = false;
                            break;
                        default://área ocde
                            titulo = "Número de estudiantes por área OCDE"
                            break;
                    }
                    if (sw) {
                        for (i = 0; i < data.length; i++) {
                            cat = data[i].año;
                            nombre = data[i].nombre;
                            if (xCategories.indexOf(cat) === -1) {
                                xCategories[xCategories.length] = cat;
                            }
                            if (seriesName.indexOf(nombre) === -1) {
                                seriesName[seriesName.length] = nombre;
                            }
                        }
                        for (i = 0; i < seriesName.length; i++) {
                            valores = [];
                            for (j = 0; j < xCategories.length; j++) {
                                var k = 0;
                                var sw = false;
                                while (k < data.length && !sw) {
                                    if (data[k].nombre == seriesName[i] && data[k].año == xCategories[j]) {
                                        valores[j] = data[k].total;
                                        sw = true;
                                    } else {
                                        k++;
                                    }
                                }
                                if (!sw) {
                                    valores[j] = null;
                                }
                            }
                            seriesData[i] = { name: seriesName[i], data: valores };
                        }
                        var chart;
                        $(document).ready(function () {

                            chart = new Highcharts.Chart({
                                chart: {
                                    renderTo: 'grafico1',
                                    type: 'column'
                                },
                                title: {
                                    text: titulo
                                },
                                subtitle: {
                                    text: 'Fuente: Admisiones, Registro y Centro Académico (AyRE)'
                                },
                                xAxis: {
                                    title: {
                                        text: 'Años'
                                    },
                                    categories: xCategories
                                },
                                yAxis: {
                                    min: 0,
                                    title: {
                                        text: 'Estudiantes (conteo)',
                                        align: 'high'
                                    },
                                    labels: {
                                        overflow: 'justify'
                                    },
                                    stackLabels: {
                                        enabled: true
                                    }
                                },
                                tooltip: {
                                    headerFormat: '<b>{point.x}</b><br/>',
                                    pointFormat: '{series.name}: {point.y} estudiantes<br/>' +
                                        'Total: {point.stackTotal} estudiantes'
                                },
                                plotOptions: {
                                    column: {
                                        stacking: 'normal'
                                    }
                                },
                                credits: {
                                    enabled: false
                                },
                                series: seriesData
                            });
                        });
                    } else {
                        $("#grafico1").html("No puede gráficar estudiantes por ciudad, muchos datos a listar");
                    }
                },
                error: function () {
                    $("#grafico1").html("¡Error al cargar los datos del gráfico!");
                }
            });
        }
        /*----Dibuja el gráfico estudiantes en el año por categoria OCDE y nivel de formación----*/
        function DrawEstFormacionCatOCDE(ocde, año) {
            $("#grafico2").html('<img src="Content/Imagenes/cargando.gif" class="img-responsive centrar"/>');

            $.ajax({
                url: "@Url.Action("EstsYearFormacionOCDE", "Estudiantes")",
                data: {
                    yearSearch: año,
                    catOCDE: $('#ocde').val()
                },
                type: "GET",
                dataType: "json",
                success: function (data) {
                    var seriesData = [];
                    var xCategories = [];
                    var seriesName = [];
                    var valores = [];

                    var i, cat, nombre, k;
                    for (i = 0; i < data.length; i++) {
                        cat = data[i].formacion;
                        nombre = data[i].nombre;
                        if (xCategories.indexOf(cat) === -1) {
                            xCategories[xCategories.length] = cat;
                        }
                        if (seriesName.indexOf(nombre) === -1) {
                            seriesName[seriesName.length] = nombre;
                        }

                    }

                    for (i = 0; i < seriesName.length; i++) {
                        valores = [];
                        for (j = 0; j < xCategories.length; j++) {
                            var k = 0;
                            var sw = false;
                            while (k < data.length && !sw) {
                                if (data[k].nombre == seriesName[i] && data[k].formacion == xCategories[j]) {
                                    valores[j] = data[k].total;
                                    sw = true;
                                } else {
                                    k++;
                                }
                            }
                            if (!sw) {
                                valores[j] = null;
                            }
                        }
                        seriesData[i] = { name: seriesName[i], data: valores };
                    }

                    var chart;
                    $(document).ready(function () {
                        chart = new Highcharts.Chart({
                            chart: {
                                renderTo: 'grafico2',
                                type: 'column'
                            },
                            title: {
                                text: 'Número de estudiantes en el año ' + año + ' por nivel de formación académica y ' + ocde.toLowerCase() + ' OCDE'
                            },
                            subtitle: {
                                text: 'Fuente: Admisiones, Registro y Centro Académico (AyRE)'
                            },
                            xAxis: {
                                title: {
                                    text: 'Nivel de formación'
                                },
                                categories: xCategories
                            },
                            yAxis: {
                                min: 0,
                                title: {
                                    text: 'Estudiantes (conteo)',
                                    align: 'high'
                                },
                                stackLabels: {
                                    enabled: true
                                }
                            },
                            tooltip: {
                                headerFormat: '<b>{point.x}</b><br/>',
                                pointFormat: '{series.name}: {point.y} estudiantes<br/>' +
                                    'Total: {point.stackTotal} estudiantes'
                            },
                            plotOptions: {
                                column: {
                                    stacking: 'normal'
                                }
                            },
                            credits: {
                                enabled: false
                            },
                            series: seriesData
                        });
                    });
                },
                error: function () {
                    $("#grafico2").html("¡Error al cargar los datos del gráfico!");
                }
            });

        }
        //Estudiantes en el año por fuente de financiación y clasificación OCDE
        function DrawEstFinanciacionCatOCDE(ocde, año) {
            $("#grafico2").html('<img src="Content/Imagenes/cargando.gif" class="img-responsive centrar"/>');
            $("#grafico3").html('<img src="Content/Imagenes/cargando.gif" class="img-responsive centrar"/>');

            $.ajax({
                url: "@Url.Action("EstsYearFinanciacionOCDE", "Estudiantes")",
                data: {
                    yearSearch: año,
                    catOCDE: $('#ocde').val()
                },
                type: "GET",
                dataType: "json",
                success: function (data) {
                    var seriesData = [];
                    var xCategories = [];
                    var seriesName = [];
                    var valores = [];

                    var i, cat, nombre, k;
                    for (i = 0; i < data.length; i++) {
                        cat = data[i].nombre;
                        nombre = data[i].financiacion;
                        if (xCategories.indexOf(cat) === -1) {
                            xCategories[xCategories.length] = cat;
                        }
                        if (seriesName.indexOf(nombre) === -1) {
                            seriesName[seriesName.length] = nombre;
                        }
                    }

                    for (i = 0; i < seriesName.length; i++) {
                        valores = [];
                        for (j = 0; j < xCategories.length; j++) {
                            var k = 0;
                            var sw = false;
                            while (k < data.length && !sw) {
                                if (data[k].financiacion == seriesName[i] && data[k].nombre == xCategories[j]) {
                                    valores[j] = data[k].total;
                                    sw = true;
                                } else {
                                    k++;
                                }
                            }
                            if (!sw) {
                                valores[j] = null;
                            }
                        }
                        seriesData[i] = { name: seriesName[i], data: valores };
                    }

                    var chart;
                    $(document).ready(function () {
                        chart = new Highcharts.Chart({
                            chart: {
                                renderTo: 'grafico3',
                                type: 'bar'
                            },
                            title: {
                                text: 'Número de estudiantes en el año ' + año + ' por fuente de financiación y ' + ocde.toLowerCase() + ' OCDE'
                            },
                            subtitle: {
                                text: 'Fuente: Admisiones, Registro y Centro Académico (AyRE)'
                            },
                            xAxis: {
                                title: {
                                    text: ocde + ' OCDE'
                                },
                                categories: xCategories
                            },
                            yAxis: {
                                min: 0,
                                title: {
                                    text: 'Estudiantes (conteo)',
                                    align: 'high'
                                },
                                stackLabels: {
                                    enabled: true
                                }
                            },
                            tooltip: {
                                headerFormat: '<b>{point.x}</b><br/>',
                                pointFormat: '{series.name}: {point.y} estudiantes<br/>' +
                                    'Total: {point.stackTotal} estudiantes'
                            },
                            legend: {
                                reversed: true
                            },
                            plotOptions: {
                                bar: {
                                    stacking: 'normal'
                                }
                            },
                            credits: {
                                enabled: false
                            },
                            series: seriesData
                        });
                    });

                },
                error: function () {
                    $("#grafico3").html("¡Error al cargar los datos del gráfico!");
                }
            });
        }
        //Estudiantes en el año por clasificación OCDE y estrato
        function DrawEstEstratoCatOCDE(ocde, año) {
            $("#grafico2").html('<img src="Content/Imagenes/cargando.gif" class="img-responsive centrar"/>');
            $("#grafico4").html('<img src="Content/Imagenes/cargando.gif" class="img-responsive centrar"/>');

            $.ajax({
                url: "@Url.Action("EstsYearEstratoOCDE", "Estudiantes")",
                data: {
                    yearSearch: año,
                    catOCDE: $('#ocde').val()
                },
                type: "GET",
                dataType: "json",
                success: function (data) {
                    var seriesData = [];
                    var xCategories = [];
                    var seriesName = [];
                    var valores = [];

                    var i, cat, nombre, k;
                    for (i = 0; i < data.length; i++) {
                        cat = data[i].estrato;
                        nombre = data[i].nombre;
                        if (xCategories.indexOf(cat) === -1) {
                            xCategories[xCategories.length] = cat;
                        }
                        if (seriesName.indexOf(nombre) === -1) {
                            seriesName[seriesName.length] = nombre;
                        }
                    }

                    for (i = 0; i < seriesName.length; i++) {
                        valores = [];
                        for (j = 0; j < xCategories.length; j++) {
                            var k = 0;
                            var sw = false;
                            while (k < data.length && !sw) {
                                if (data[k].nombre == seriesName[i] && data[k].estrato == xCategories[j]) {
                                    valores[j] = data[k].total;
                                    sw = true;
                                } else {
                                    k++;
                                }
                            }
                            if (!sw) {
                                valores[j] = null;
                            }
                        }
                        seriesData[i] = { name: seriesName[i], data: valores };
                    }

                    var chart;
                    $(document).ready(function () {
                        chart = new Highcharts.Chart({
                            chart: {
                                renderTo: 'grafico4',
                                type: 'column'
                            },
                            title: {
                                text: 'Número de estudiantes en el año ' + año + ' por estrato socioeconómico y ' + ocde.toLowerCase() + ' OCDE'
                            },
                            subtitle: {
                                text: 'Fuente: Admisiones, Registro y Centro Académico (AyRE)'
                            },
                            xAxis: {
                                title: {
                                    text: 'Estrato socioeconómico'
                                },
                                categories: xCategories
                            },
                            yAxis: {
                                min: 0,
                                title: {
                                    text: 'Estudiantes (conteo)',
                                    align: 'high'
                                },
                                labels: {
                                    overflow: 'justify'
                                },
                                stackLabels: {
                                    enabled: true
                                }
                            },
                            tooltip: {
                                headerFormat: '<b>{point.x}</b><br/>',
                                pointFormat: '{series.name}: {point.y} estudiantes<br/>' +
                                    'Total: {point.stackTotal} estudiantes'
                            },
                            plotOptions: {
                                column: {
                                    stacking: 'normal'
                                }
                            },
                            credits: {
                                enabled: false
                            },
                            series: seriesData
                        });
                    });
                },
                error: function () {
                    $("#grafico4").html("¡Error al cargar los datos del gráfico!");
                }
            });
        }
        //Gráfico de estudiantes en el año por área y sexo
        function DrawEstSexoCatOCDE(ocde, año) {
            $("#grafico2").html('<img src="Content/Imagenes/cargando.gif" class="img-responsive centrar"/>');
            $("#grafico5").html('<img src="Content/Imagenes/cargando.gif" class="img-responsive centrar"/>');

            $.ajax({
                url: "@Url.Action("EstsYearSexoOCDE", "Estudiantes")",
                data: {
                    yearSearch: año,
                    catOCDE: $('#ocde').val()
                },
                type: "GET",
                dataType: "json",
                success: function (data) {
                    var seriesData = [];
                    var xCategories = [];
                    var seriesName = [];
                    var valores = [];

                    var i, cat, nombre, k;
                    for (i = 0; i < data.length; i++) {
                        cat = data[i].sexo;
                        nombre = data[i].nombre;
                        if (xCategories.indexOf(cat) === -1) {
                            xCategories[xCategories.length] = cat;
                        }
                        if (seriesName.indexOf(nombre) === -1) {
                            seriesName[seriesName.length] = nombre;
                        }
                    }

                    for (i = 0; i < seriesName.length; i++) {
                        valores = [];
                        for (j = 0; j < xCategories.length; j++) {
                            var k = 0;
                            var sw = false;
                            while (k < data.length && !sw) {
                                if (data[k].nombre == seriesName[i] && data[k].sexo == xCategories[j]) {
                                    valores[j] = data[k].total;
                                    sw = true;
                                } else {
                                    k++;
                                }
                            }
                            if (!sw) {
                                valores[j] = null;
                            }
                        }
                        seriesData[i] = { name: seriesName[i], data: valores };
                    }
                    var chart;
                    $(document).ready(function () {
                        chart = new Highcharts.Chart({
                            chart: {
                                renderTo: 'grafico5',
                                type: 'column'
                            },
                            title: {
                                text: 'Número de estudiantes en el año ' + año + ' por sexo y ' + ocde.toLowerCase() + " OCDE"
                            },
                            subtitle: {
                                text: 'Fuente: Admisiones, Registro y Centro Académico (AyRE)'
                            },
                            xAxis: {
                                title: {
                                    text: 'Sexo'
                                },
                                categories: xCategories
                            },
                            yAxis: {
                                min: 0,
                                title: {
                                    text: 'Estudiantes (conteo)',
                                    align: 'high'
                                },
                                labels: {
                                    overflow: 'justify'
                                },
                                stackLabels: {
                                    enabled: true
                                }
                            },
                            tooltip: {
                                headerFormat: '<b>{point.x}</b><br/>',
                                pointFormat: '{series.name}: {point.y} estudiantes<br/>' +
                                    'Total: {point.stackTotal} estudiantes'
                            },
                            plotOptions: {
                                series: {
                                    stacking: 'normal'
                                }
                            },
                            credits: {
                                enabled: false
                            },
                            series: seriesData
                        });
                    });
                },
                error: function () {
                    $("#grafico5").html("¡Error al cargar los datos del gráfico!");
                }
            });
        }
        //Gráfico estudiantes en el año por ocde y procedencia
        function DrawEstProcedenciaCatOCDE(ocde, procedencia, año) {
            $("#grafico2").html('<img src="Content/Imagenes/cargando.gif" class="img-responsive centrar"/>');
            $("#grafico6").html('<img src="Content/Imagenes/cargando.gif" class="img-responsive centrar"/>');

            $.ajax({
                url: "@Url.Action("EstsYearProcedenciaOCDE", "Estudiantes")",
                data: {
                    yearSearch: año,
                    catOCDE: $('#ocde').val(),
                    tipoProcedencia: $('#procedencia').val()
                },
                type: "GET",
                dataType: "json",
                success: function (data) {
                    var seriesData = [];
                    var xCategories = [];
                    var seriesName = [];
                    var valores = [];

                    var i, cat, nombre;
                    for (i = 0; i < data.length; i++) {
                        cat = data[i].procedencia;
                        nombre = data[i].nombre;
                        if (xCategories.indexOf(cat) === -1) {
                            xCategories[xCategories.length] = cat;
                        }
                        if (seriesName.indexOf(nombre) === -1) {
                            seriesName[seriesName.length] = nombre;
                        }
                    }

                    for (i = 0; i < seriesName.length; i++) {
                        valores = [];
                        for (j = 0; j < xCategories.length; j++) {
                            var k = 0;
                            var sw = false;
                            while (k < data.length && !sw) {
                                if (data[k].nombre == seriesName[i] && data[k].procedencia == xCategories[j]) {
                                    valores[j] = data[k].total;
                                    sw = true;
                                } else {
                                    k++;
                                }
                            }
                            if (!sw) {
                                valores[j] = null;
                            }
                        }
                        seriesData[i] = { name: seriesName[i], data: valores };
                    }

                    var chart;
                    $(document).ready(function () {
                        chart = new Highcharts.Chart({
                            chart: {
                                renderTo: 'grafico6',
                                type: 'bar'
                            },
                            title: {
                                text: 'Número de estudiantes en el año ' + año + ' por ' + ocde.toLowerCase() + ' y ' + procedencia.toLowerCase() + ' de procedencia'
                            },
                            subtitle: {
                                text: 'Fuente: Admisiones, Registro y Centro Académico (AyRE)'
                            },
                            xAxis: {
                                title: {
                                    text: procedencia + ' de procedencia'
                                },
                                categories: xCategories
                            },
                            yAxis: {
                                min: 0,
                                title: {
                                    text: 'Estudiantes (conteo)',
                                    align: 'high'
                                },
                                stackLabels: {
                                    enabled: true
                                }
                            },
                            legend: {
                                reversed: true
                            },
                            tooltip: {
                                headerFormat: '<b>{point.x}</b><br/>',
                                pointFormat: '{series.name}: {point.y} estudiantes<br/>'
                            },
                            plotOptions: {
                                bar: {
                                    stacking: 'normal'
                                }
                            },
                            credits: {
                                enabled: false
                            },
                            series: seriesData
                        });
                    });
                },
                error: function () {
                    $("#grafico6").html("¡Error al cargar los datos del gráfico!");
                }
            });
        }
    </script>
}


