body {
    font-family:Arial;
    font-size:12px;
    background-color:rgb(245, 245, 255);
}

#wrapper {
    width: 100%;
    background-color: #bb8939;     
}

#page-wrapper {
    padding: 0 15px;
    min-height: 600px;
    background-color: rgb(245, 245, 255);
    font-size:14px;
}
/*-------------------------------CSS propios de resolución de dispositivos móviles-------------------*/
@media(min-width:768px) {
    #page-wrapper {
        position: inherit;
        margin: 0 0 0 250px;
        padding: 0 30px;
        border-left: 1px solid #e7e7e7;
        min-height: 700px;
    }

    .sidebar {
        z-index: 1;
        position: absolute;
        width: 250px;
        margin-top: 51px;
    }
}

@media(min-width:730px) {
    #content{
        min-height: 600px;
    }
}

@media(min-width:1500px) {
    #content{
        min-height: 1000px;
    }
}

/*-------------------------------CSS propios de resolución mayores a móviles-------------------*/
@media (max-width: 767px) {
    header{
        height: 10%;
    }
}
/*------------------------------------------CSS del banner azul de la página------------------------*/
header{
    width: 100%;   
    height: 10%;
    background-image: url('Imagenes/FondoBanner.png');
    background-repeat: repeat-x; 
    background-size:100% 100%;
}
/*------------------------------------------CSS menu horizontal------------------------------------*/
.navbar-top-links {
    margin-right: 0;
}

.navbar-top-links li {
    display: inline-block;
}

.navbar-top-links li a {
    padding: 15px;
    min-height: 50px;
    color: #ffffff;
}

.navbar-top-links li a:hover,
.navbar-top-links li a:focus{
    background-color: #002F54;
    color: #ffffff;
    font-weight: bold;
    box-shadow: 
        inset 0px -11px 8px -10px #CCC; 
        border-bottom: 1px solid #a87a2e;
}
/*------------------------------personaliza el navbar de boostrap-------------------------*/
@media(min-width:768px) {
    .navbar-default{
        border-color: #a87a2e;
        background-image: url('Imagenes/FondoBanner.png');
        background-repeat: repeat-x; 
        background-size:100% 100%;
        box-shadow: 
            inset 0px -11px 8px -10px #CCC; 
    }

    .navbar-default .sidebar{
        background-color: #bb8939;
        border-color: #a87a2e;
        background-image:none;
        box-shadow: none;
    }
}

.navbar-default {
    background-color: #bb8939;
    border-color: #a87a2e;
}

.navbar-default .navbar-brand {
    color: #ffffff;
}

.navbar-default .navbar-brand:hover,
.navbar-default .navbar-brand:focus {
    color: #ffffff;
}

.navbar-default .navbar-text {
    color: #ffffff;
}

.navbar-default .navbar-nav > li > a {
    color: #ffffff;
}

.navbar-default .navbar-nav > li > a:hover,
.navbar-default .navbar-nav > li > a:focus {
    color: #ffffff;
}

.navbar-default .navbar-nav > .active > a,
.navbar-default .navbar-nav > .active > a:hover,
.navbar-default .navbar-nav > .active > a:focus {
    color: #ffffff;
    background-color: #a87a2e;
}

.navbar-default .navbar-nav > .open > a,
.navbar-default .navbar-nav > .open > a:hover,
.navbar-default .navbar-nav > .open > a:focus {
    color: #ffffff;
    background-color: #a87a2e;
}

.navbar-default .navbar-toggle {
    border-color: #a87a2e;
}

.navbar-default .navbar-toggle:hover,
.navbar-default .navbar-toggle:focus {
    background-color: #a87a2e;
}

.navbar-default .navbar-toggle .icon-bar {
    background-color: #ffffff;
}

.navbar-default .navbar-collapse,
.navbar-default .navbar-form {
    border-color: #ffffff;
}

.navbar-default .navbar-link {
    color: #ffffff;
}

.navbar-default .navbar-link:hover {
    color: #ffffff;
}

@media (max-width: 767px) {
    .navbar-default .navbar-nav .open .dropdown-menu > li > a {
        color: #ffffff;
    }

    .navbar-default .navbar-nav .open .dropdown-menu > li > a:hover,
    .navbar-default .navbar-nav .open .dropdown-menu > li > a:focus {
        color: #ffffff;
    }

    .navbar-default .navbar-nav .open .dropdown-menu > .active > a,
    .navbar-default .navbar-nav .open .dropdown-menu > .active > a:hover,
    .navbar-default .navbar-nav .open .dropdown-menu > .active > a:focus {
        color: #ffffff;
        background-color: #a87a2e;
    }
}
/*------------------------------------------CSS menu vertical------------------------------------*/
.sidebar .sidebar-nav.navbar-collapse {
    padding-right: 0;
    padding-left: 0;
}

.sidebar .sidebar-search {
    padding: 15px;
}

.sidebar ul li {
    border-bottom: 1px solid #a87a2e;
}

.sidebar ul li a.active {
    background-color: #d6a656;
}

.sidebar ul li a:hover,
.sidebar ul li a:focus{
    background-color: #d6a656;
    color: #ffffff;
}

.sidebar ul li a{
    color: #ffffff;
    font-size: 14px;
}

.sidebar .arrow {
    float: right;
}

.sidebar .fa.arrow:before {
    content: "\f104";
}

.sidebar .active>a>.fa.arrow:before {
    content: "\f107";
}

.sidebar .nav-second-level li,
.sidebar .nav-third-level li {
    border-bottom: 0!important;
}

.sidebar .nav-second-level li a {
    padding-left: 37px;
}

.sidebar .nav-third-level li a {
    padding-left: 52px;
}
/*-----------------------------------------CSS SCROLL TOP--------------------------------------------*/
.scroll-top {
    right: 30px;
    bottom: 30px;
    background: #bb8939;
    border-radius: 4px;
    position:fixed;
    width: 45px;
    height: 45px;
    cursor: pointer;
    text-align: center;
    z-index: 9999;
    -webkit-transition: all 0.2s linear;
    -moz-transition: all 0.2s linear;
    transition: all 0.2s linear;
    visibility: hidden;
}

.scroll-top i {
    padding: 0px 10px;
    font-size: 36px;
    color: #fff;
}

.scroll-top.show {
    visibility:visible;
    cursor:pointer;
	opacity: 1.0;
}

.scroll-top i:hover {
    color: #074975;
}

.smallCita{
    font-size: 14px;
    font-weight: 100;
}
/*--------------------------------------------CSS del pie de página------------------------------------------*/
footer {
    font-size:14px;
    width: 100%;
    color:#000;
    padding-top:20px;
    border: 1px #444;
    box-shadow: 
        inset 0px 11px 8px -10px #CCC,
        inset 0px -11px 8px -10px #CCC; 
}

footer a {
    font-weight: bold;
    color:#000;
}

footer a:hover {
    background-color:transparent;
    color:#000;
}

.footer-text{
    margin-left: -3%;
}

.footer-lista{
    margin-top: -15px;
}
