﻿/*------------------------------------------CSS del tabs de las paginas------------------------*/
.centrar{
    display:block;
    margin:auto;
    margin-top:5px;
    margin-bottom:5px;
}

.panel.with-nav-tabs .panel-heading {
    padding: 5px 5px 0 5px;
}

.panel.with-nav-tabs .nav-tabs {
    border-bottom: none;
}

.panel.with-nav-tabs .nav-justified {
    margin-bottom: -1px;
}

.panel-primary {
  border-color: rgb(0,63,115);
}
.panel-primary > .panel-heading{
  color: #fff;
  background-image: url('Imagenes/FondoBanner.png');
  border-color: rgb(0,63,115);
}
.panel-primary > .panel-heading + .panel-collapse > .panel-body {
  border-top-color: rgb(0,63,115);
}
.panel-primary > .panel-heading .badge {
  color: rgb(0,63,115);
  background-color: #fff;
}
.panel-primary > .panel-footer + .panel-collapse > .panel-body {
  border-bottom-color: rgb(0,63,115);
}

.panel-footer{
    color: #000000;
}

.item {
    margin-left: 10px;
    font-size: 12px;
}

@media (min-width: 760px) {
    .pull-right-lg {
        float: right !important;
    }
}
/**********titulo de cada tab********/
.title-tab {
    margin-bottom: 3%;
    font-weight: 600;
}

/*** PANEL PRIMARY ***/
.with-nav-tabs.panel-primary .nav-tabs > li > a,
.with-nav-tabs.panel-primary .nav-tabs > li > a:hover,
.with-nav-tabs.panel-primary .nav-tabs > li > a:focus {
    color: #fff;
}

.btn-link,
.btn-link:hover,
.btn-link:focus,
.btn-link:active,
.btn-link.active{
    margin-top:3px;
    color: #fff;
    background-image: url('Imagenes/FondoBanner.png');
    border:none;
    text-decoration: none;
}

.with-nav-tabs.panel-primary .nav-tabs > .open > a,
.with-nav-tabs.panel-primary .nav-tabs > .open > a:hover,
.with-nav-tabs.panel-primary .nav-tabs > .open > a:focus,
.with-nav-tabs.panel-primary .nav-tabs > li > a:hover,
.with-nav-tabs.panel-primary .nav-tabs > li > a:focus {
    color: #fff;
    background-color: #286090;
    border-color: transparent;
}

.with-nav-tabs.panel-primary .nav-tabs > li.active > a,
.with-nav-tabs.panel-primary .nav-tabs > li.active > a:hover,
.with-nav-tabs.panel-primary .nav-tabs > li.active > a:focus {
    color: rgb(0,63,115);
    background-color: #fff;
    border-color: rgb(0,63,115);
    border-bottom-color: transparent;
}

.with-nav-tabs.panel-primary .nav-tabs > li.dropdown .dropdown-menu {
    background-color: rgb(0,63,115);
    border-color: rgb(0,63,115);
}

.with-nav-tabs.panel-primary .nav-tabs > li.dropdown .dropdown-menu > li > a {
    color: #fff;
}

.with-nav-tabs.panel-primary .nav-tabs > li.dropdown .dropdown-menu > li > a:hover,
.with-nav-tabs.panel-primary .nav-tabs > li.dropdown .dropdown-menu > li > a:focus {
    background-color: #3071a9;
}

.with-nav-tabs.panel-primary .nav-tabs > li.dropdown .dropdown-menu > .active > a,
.with-nav-tabs.panel-primary .nav-tabs > li.dropdown .dropdown-menu > .active > a:hover,
.with-nav-tabs.panel-primary .nav-tabs > li.dropdown .dropdown-menu > .active > a:focus {
    background-color: #4a9fe9;
}
/*-------------------------------------CSS de los gráficos----------------------------*/
    .grafico_general, .grafico {
        min-height: 600px;
        margin-top: 3%;
        margin-bottom: 5%;
    }

/*-----------------------------------------------------------------------*/
@media (min-width: 1200px) {
    .btnDownload {
        margin-left: -48px;
    }
}

@media (min-width: 992px) {
    .topBoton {
        margin-top: 25px;
    }

    .space{
        margin-left: 20px;
        margin-right: 20px;
    }

    .btnDescargar {
        margin-top: 2%;
    }
    .btnDownload {
        margin-top: 25px;
    }
}

@media (max-width: 992px) {
    .btnDownload {
        margin-top: 5px;
    }
}

.btnDescargar {
    margin-bottom: 5px;
}

.well {
    background-color: #c7d2d2;
    /*background-color: rgb(137,166,189);*/
}

.modal-header {
    color: #fff;
    padding: 9px 15px;
    border-bottom: 1px solid #eee;
    background-color: rgb(0,63,115);
    -webkit-border-top-left-radius: 5px;
    -webkit-border-top-right-radius: 5px;
    -moz-border-radius-topleft: 5px;
    -moz-border-radius-topright: 5px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}

.modal-footer {
    -webkit-border-bottom-left-radius: 5px;
    -webkit-border-bottom-right-radius: 5px;
}

#searchGraphs,#searchData{
    width:100%;
}

ol{
    font-weight: bold;
}

.text-info{
    color: rgb(0,63,115);
}

ol p {
    font-weight: 100;
}


/*----------------------CSS de las graficas de pivotTable-------------------*/
.c3-line, .c3-focused {
    stroke-width: 3px !important;
}

.c3-bar {
    stroke: white !important;
    stroke-width: 1;
    min-height: 700px;
}

.c3 text {
    font-size: 12px;
    color: grey;
}

.tick line {
    stroke: white;
}

.c3-axis path {
    stroke: grey;
}

.c3-circle {
    opacity: 1 !important;
}

.table-striped > tbody > tr:nth-child(2n+1) > td, .table-striped > tbody > tr:nth-child(2n+1) > th {
   background-color: #D4E6F1;
}

.table {
  border: 0.5px solid #7FB3D5;
}
.table-bordered > thead > tr > th,
.table-bordered > tbody > tr > th,
.table-bordered > tfoot > tr > th,
.table-bordered > thead > tr > td,
.table-bordered > tbody > tr > td,
.table-bordered > tfoot > tr > td {
   border: 0.5px solid #7FB3D5;
}

thead>tr>th{
    background-color: rgb(68,114,196);
    color: #fff;
}