﻿@{
    Layout = "~/Views/Shared/_IndicadoresLayout.cshtml";
    ViewBag.Indicador = "Programas de educación superior ofertados:";
    ViewBag.Descripcion = "Da cuenta de la oferta de programas de educación superior de la universidad. Se calcula por conteo y se mide en “programas de educación superior”. Se puede discriminar por: nivel de formación, tipo de acreditación, campo de conocimiento según la clasificación OCDE, la ACTI predominante que realizan los programas.";
    ViewBag.Nombre = "programas de educación superior";
    ViewBag.Fuente = "Vicerrectoría académica";
}

@section ConsultaGeneral{
    <!--Selecciona el rango de años y la tabla a consultar-->
    <div class="row">
        <form class="form">
            <!--Selecciona el año desde-->
            <div class="col-lg-offset-1 col-md-offset-1 col-lg-2 col-md-2">
                <label>Desde</label>
                <select class="form-control" id="fromYear" name="fromYear">
                    <option value="-100">Todos</option>
                </select>
            </div>
            <!--./Fin selecciona el año desde-->
            <!--Selecciona hasta que año consultar-->
            <div class="col-lg-2 col-md-2">
                <div class="form-group">
                    <label>Hasta</label>
                    <select class="form-control" id="toYear" name="toYear">
                        <option value="-100">Todos</option>
                    </select>
                </div>
            </div>
            <!--./Fin selecciona hasta año -->
            <!--Selecciona el tipo de dimensión-->
            <div class="col-lg-4 col-md-4">
                <div class="form-group">
                    <label>Tabla del indicador</label>
                    <select class="form-control" id="tabla">
                        <option value="1">Área OCDE</option>
                        <option value="2">Subárea OCDE</option>
                        <option value="3">Disciplina OCDE</option>
                        <option value="4">Nivel formación</option>
                        <option value="5">Tipo acreditación</option>
                        <option value="6">ACTI predominante</option>
                    </select>
                </div>
            </div>
            <!--./Fin selecciona el tipo de dimensión-->
            <!--Boton consultar-->
            <div class="col-lg-2 col-md-2 topBoton">
                <button type="button" class="btn btn-primary" id="searchData">Consultar</button>
            </div>
            <!--./Fin boton consultar-->
        </form>
    </div>
    <!--./Fin selecciona el rango de años y tabla a consultar-->
    <!--Tabla del indicador-->
    <div class="row container-fluid">
        <div class="col-lg-offset-2 col-lg-8 col-md-offset-2 col-md-8">
            <h4 class="text-center title-tabla" id="nombreTabla"></h4>
        </div>

        <div class="table-responsive col-lg-12 col-lg-12 col-md-12 col-sm-12">
            <div id="prog_tabla" style="align-items:center;"></div>
        </div>

        <div class="col-lg-offset-1 col-lg-10 col-md-12 col-sm-12 col-xs-12">
            <div id="grafico1" class="grafico_general"></div>
        </div>
    </div>
    <!--./Fin Tabla del indicador-->
}

@section PanelGraficos{
    <!--Panel de los gráficos-->
    <div class="row">
        <div class="container-fluid">
            <form class="form">
                <!--Selecciona el año-->
                <div class="col-lg-offset-3 col-lg-2 col-md-offset-3 col-md-2">
                    <div class="form-group">
                        <label>Año</label>
                        <select class="form-control" id="year"></select>
                    </div>
                </div>
                <!--./Fin selecciona el año-->
                <!--Selecciona el nivel OCDE-->
                <div class="col-lg-2 col-md-2">
                    <div class="form-group">
                        <label>OCDE</label>
                        <select class="form-control" id="ocde">
                            <option value="1">Área</option>
                            <option value="2">Subárea</option>
                            <option value="3">Disciplina</option>
                        </select>
                    </div>
                </div>
                <!--./Fin selecciona el nivel OCDE-->
                <!--Boton consultar gráficos-->
                <div class="col-lg-2 col-md-2 topBoton">
                    <button type="button" class="btn btn-primary" id="searchGraphs">Consultar</button>
                </div>
                <!--./Fin boton consultar gráficos-->
            </form>
        </div>
    </div>

    <div class="row container-fluid">
        <div class="col-lg-offset-1 col-lg-10 col-md-12 col-sm-12 col-xs-12">
            <div id="grafico2" class="grafico"></div>
            <div id="grafico3" class="grafico"></div>
            <div id="grafico4" class="grafico"></div>
        </div>
    </div>
    <!--./Fin panel de los gráficos-->
}

@section scripts{
    <script>
        var desdeAño = "-100", hastaAño = "-100";
        var opcion = "1"; //opcion de la tabla a mostrar

        $(document).ready(function () {
            cargaInicial();       //carga inicial de los datos y gráficos del indicador
            load_years();         //carga los años del indicador
            change_hasta();       //cambio del año hasta
            datosTablaResumen();  //llena la tabla de consulta general
            drawGraphs();         //dibuja los gráficos del panel consulta de gráficos
        });
        /*-----------------------Carga inicialmente los datos y gráficos del indicador----------------*/
        function cargaInicial() {
            $(function () {
                //cuando cargue el gráfico, llena la tabla de consulta general
                DrawGrafico();
                $.when(DrawGrafico()).done(function (a1) {
                    loadDataTables();
                });
            });

            /*----Lista el indicador programas de educación superior en la tabla dinamica----*/
            $(function () {
                $("#tablaDinamica").html('<img src="Content/Imagenes/cargando.gif" class="img-responsive centrar"/>');
                var sum = $.pivotUtilities.aggregatorTemplates.sum;
                var numberFormat = $.pivotUtilities.numberFormat;
                var intFormat = numberFormat({ digitsAfterDecimal: 0 });

                var renderers = $.extend(
                    $.pivotUtilities.renderers,
                    $.pivotUtilities.c3_renderers,
                    $.pivotUtilities.d3_renderers
                    );

                var actionUrl = '@Url.Action("Listar", "ProgramasEducacionSuperior")';

                $.get(actionUrl, function (mps) {
                    $("#tablaDinamica").pivotUI(mps, {
                        aggregators: {
                            "Programas de educación superior":
                                function () { return sum(intFormat)(["Cantidad"]) }

                        },
                        hiddenAttributes: ["Cantidad","Periodo"],
                        renderers: renderers,
                        rendererName: "Tabla"
                    });
                });
            });
        }
        /*------------------Carga los años en los select------------------*/
        function load_years() {
            $.get(
                    '@Url.Action("getYears", "ProgramasEducacionSuperior")'
                )
                .done(function (data) {
                    var lastYear = (new Date).getFullYear() - 1;
                    $.each(data, function (i, row) {
                        var $option = $('<option>');
                        $option.val(row.año);
                        $option.html(row.año);
                        $('#fromYear').append($option);

                        var $option = $('<option>');
                        $option.val(row.año);
                        $option.html(row.año);
                        $('#year').append($option);
                        if (parseInt(row.año) == lastYear) {
                            $('#year').val(row.año);
                        }
                    })
                    //gráficos de la pestaña consulta gráficos
                    var ocde = $("#ocde").find(':selected').text();
                    var año = $('#year').val();

                    DrawProgsAcreditacionCatOCDE(ocde, año);
                    DrawProgsFormacionCatOCDE(ocde, año);
                    DrawProgsACTICatOCDE(ocde, año);
                })
                .fail(function (data) {
                    console.log('Error al cargar años!!!');
                }
            );
        }
        /*------------------Cambia el año hasta al seleccionar un año desde--------------*/
        function change_hasta() {
            $('#fromYear').change(function () {
                $.get(
                        '@Url.Action("getYears", "ProgramasEducacionSuperior")'
                    )
                    .done(function (data) {
                        var fromValue = $("#fromYear").find(':selected').val();
                        $('#toYear').empty();

                        if (fromValue == "-100") {
                            var $option = $('<option>');
                            $option.val("-100");
                            $option.html("Todos");
                            $('#toYear').append($option);
                        } else {
                            var from = $("#fromYear").find(':selected').text();
                            $.each(data, function (i, row) {
                                if (parseInt(row.año) >= parseInt(from)) {
                                    var $option = $('<option>');
                                    $option.val(row.año);
                                    $option.html(row.año);
                                    $('#toYear').append($option);
                                }
                            })
                        }
                    })
                    .fail(function (data) {
                        console.log('Error al cargar años hasta!!!');
                    }
                );
            });
        }
        /*-------------------Carga los datos y gráficos en consulta general--------------*/
        function datosTablaResumen() {
            $("#searchData").click(function () {
                //asigna a las variables globales el nuevo valor
                desdeAño = $('#fromYear').val();
                hastaAño = $('#toYear').val();
                opcion = $('#tabla').val();
                //cuando cargue el gráfico, llena la tabla de consulta general
                DrawGrafico();
                $.when(DrawGrafico()).done(function (a1) {
                    loadDataTables();
                });
            });
        }
        /*-------------------------------Exporta el indicador completo-------------------------*/
        function exportar(id) {
            var dt = new Date();
            var month = dt.getMonth() + 1;
            var day = dt.getDate();
            var year = dt.getFullYear();
            var tipoReporte = "0";

            var fecha = day + "" + month + "" + year;
            var fileName = "ProgramasEducaciónSuperior" + fecha;
            window.location = "/ProgramasEducacionSuperior/Reporte/" + id + "/" + desdeAño + "/" + hastaAño + "/" + tipoReporte + "/" + fileName;
        }
        /*-------------------------------Exporta el indicador por el tipo de tabla-------------------------*/
        function exportarTabla(id) {
            var dt = new Date();
            var month = dt.getMonth() + 1;
            var day = dt.getDate();
            var year = dt.getFullYear();
            var tipoReporte = opcion;
            var fecha = day + "" + month + "" + year;
            var fileName;
            switch (opcion) {
                case "2"://subárea ocde
                    fileName = "ProgramasPorSubárea" + fecha;
                    break;
                case "3"://disciplina
                    fileName = "ProgramasPorDisciplina" + fecha
                    break;
                case "4"://nivel de formación
                    fileName = "ProgramasPorFormación" + fecha;
                    break;
                case "5"://acreditación
                    fileName = "ProgramasPorAcreditación" + fecha;
                    break;
                case "6"://acti predominante
                    fileName = "ProgramasPorACTI" + fecha;
                    break;
                default://área ocde
                    fileName = "ProgramasPorÁrea" + fecha
                    break;
            }
            window.location = "/ProgramasEducacionSuperior/Reporte/" + id + "/" + desdeAño + "/" + hastaAño + "/" + tipoReporte + "/" + fileName;
        }
        /*-----------------Carga los gráficos en la pestaña consulta gráficos ----------------*/
        function drawGraphs() {
            $("#searchGraphs").click(function () {
                var ocde = $("#ocde").find(':selected').text();
                var año = $('#year').val();

                DrawProgsAcreditacionCatOCDE(ocde, año);
                DrawProgsFormacionCatOCDE(ocde, año);
                DrawProgsACTICatOCDE(ocde, año);
            });
        }
        /*----Lista la tabla de programas----*/
        function loadDataTables() {
            $("#prog_tabla").html('<img src="Content/Imagenes/cargando.gif" class="img-responsive centrar"/>');
            $.ajax({
                url: "@Url.Action("ListarxYear", "ProgramasEducacionSuperior")",
                data: {
                    tabla: opcion,
                    desde: desdeAño,
                    hasta: hastaAño
                },
                type: "GET",
                dataType: "json",
                success: function (data) {
                    var sum = $.pivotUtilities.aggregatorTemplates.sum;
                    var numberFormat = $.pivotUtilities.numberFormat;
                    var intFormat = numberFormat({ digitsAfterDecimal: 0 });

                    switch (opcion) {
                        case "2"://subárea ocde
                            $('#nombreTabla').text("Número de programas de educación superior ofertados por subárea OCDE");
                            $("#prog_tabla").pivot(data, {
                                rows: ["Subárea_OCDE"],
                                cols: ["Año"],
                                aggregator: sum(intFormat)(["Cantidad"])
                            });
                            break;
                        case "3"://disciplina
                            $('#nombreTabla').text("Número de programas de educación superior ofertados por disciplina OCDE");
                            $("#prog_tabla").pivot(data, {
                                rows: ["Disciplina_OCDE"],
                                cols: ["Año"],
                                aggregator: sum(intFormat)(["Cantidad"])
                            });
                            break;
                        case "4"://nivel de formación
                            $('#nombreTabla').text("Número de programas de educación superior ofertados por nivel de formación académica");
                            $("#prog_tabla").pivot(data, {
                                rows: ["Nivel_Formación"],
                                cols: ["Año"],
                                aggregator: sum(intFormat)(["Cantidad"])
                            });
                            break;
                        case "5"://acreditación
                            $('#nombreTabla').text("Número de programas de educación superior ofertados por el tipo de acreditación");
                            $("#prog_tabla").pivot(data, {
                                rows: ["Tipo_Acreditación"],
                                cols: ["Año"],
                                aggregator: sum(intFormat)(["Cantidad"])
                            });
                            break;
                        case "6"://acti predominante
                            $('#nombreTabla').text("Número de programas de educación superior ofertados por la ACTI predominante");
                            $("#prog_tabla").pivot(data, {
                                rows: ["ACTI"],
                                cols: ["Año"],
                                aggregator: sum(intFormat)(["Cantidad"])
                            });
                            break;
                        default://área ocde
                            $('#nombreTabla').text("Número de programas de educación superior ofertados por área OCDE");
                            $("#prog_tabla").pivot(data, {
                                rows: ["Área_OCDE"],
                                cols: ["Año"],
                                aggregator: sum(intFormat)(["Cantidad"])
                            });
                            break;
                    }
                },
                error: function () {
                    alert("¡Falla cargando los datos de la tabla! Intente de nuevo.");
                }
            });
        }
        /*----Dibuja el gráfico de la tabla escogida por el usuario----*/
        function DrawGrafico() {
            $("#prog_tabla").html('<img src="Content/Imagenes/cargando.gif" class="img-responsive centrar"/>');
            $('#nombreTabla').text("");
            $("#grafico1").html('<img src="Content/Imagenes/cargando.gif" class="img-responsive centrar"/>');
            $.ajax({
                url: "@Url.Action("GraficoxYear", "ProgramasEducacionSuperior")",
                data: {
                    tabla: opcion,
                    desde: desdeAño,
                    hasta: hastaAño
                },
                type: "GET",
                dataType: "json",
                success: function (data) {
                    var seriesData = [];
                    var xCategories = [];
                    var seriesName = [];
                    var valores = [];
                    var i, cat, nombre, k, titulo, sw = true;

                    switch (opcion) {
                        case "2"://subárea ocde
                            titulo = "Número de programas de educación superior ofertados por subárea OCDE";
                            break;
                        case "3"://disciplina
                            titulo = "Número de programas de educación superior ofertados por disciplina OCDE";
                            break;
                        case "4"://nivel de formación
                            titulo = "Número de programas de educación superior ofertados por nivel de formación académica";
                            break;
                        case "5"://acreditación
                            titulo = "Número de programas de educación superior ofertados por el tipo de acreditación";
                            break;
                        case "6"://acti predominante
                            titulo = "Número de programas de educación superior ofertados por la ACTI predominante";
                            break;
                        default://área ocde
                            titulo = "Número de programas de educación superior ofertados por área OCDE"
                            break;
                    }
                    for (i = 0; i < data.length; i++) {
                        cat = data[i].año;
                        nombre = data[i].nombre;
                        if (xCategories.indexOf(cat) === -1) {
                            xCategories[xCategories.length] = cat;
                        }
                        if (seriesName.indexOf(nombre) === -1) {
                            seriesName[seriesName.length] = nombre;
                        }
                    }
                    for (i = 0; i < seriesName.length; i++) {
                        valores = [];
                        for (j = 0; j < xCategories.length; j++) {
                            var k = 0;
                            var sw = false;
                            while (k < data.length && !sw) {
                                if (data[k].nombre == seriesName[i] && data[k].año == xCategories[j]) {
                                    valores[j] = data[k].total;
                                    sw = true;
                                } else {
                                    k++;
                                }
                            }
                            if (!sw) {
                                valores[j] = null;
                            }
                        }
                        seriesData[i] = { name: seriesName[i], data: valores };
                    }
                    var chart;
                    $(document).ready(function () {

                        chart = new Highcharts.Chart({
                            chart: {
                                renderTo: 'grafico1',
                                type: 'column'
                            },
                            title: {
                                text: titulo
                            },
                            subtitle: {
                                text: 'Fuente: Vicerrectoría académica'
                            },
                            xAxis: {
                                title: {
                                    text: 'Años'
                                },
                                categories: xCategories
                            },
                            yAxis: {
                                min: 0,
                                title: {
                                    text: 'Programas de educación superior (conteo)',
                                    align: 'high'
                                },
                                labels: {
                                    overflow: 'justify'
                                },
                                stackLabels: {
                                    enabled: true
                                }
                            },
                            tooltip: {
                                headerFormat: '<b>{point.x}</b><br/>',
                                pointFormat: '{series.name}: {point.y} programas<br/>' +
                                    'Total: {point.stackTotal} programas'
                            },
                            plotOptions: {
                                column: {
                                    stacking: 'normal'
                                }
                            },
                            credits: {
                                enabled: false
                            },
                            series: seriesData
                        });
                    });
                },
                error: function () {
                    $("#grafico1").html("Error al cargar los datos del gráfico");
                }
            });
        }
        /*----Dibuja el gráfico de programas de educación superior en el año por categoria OCDE y nivel de formación----*/
        function DrawProgsFormacionCatOCDE(ocde, año) {
            $("#grafico2").html('<img src="Content/Imagenes/cargando.gif" class="img-responsive centrar"/>');

            $.ajax({
                url: "@Url.Action("ProgramaYearFormacionOCDE", "ProgramasEducacionSuperior")",
                data: {
                    yearSearch: año,
                    catOCDE: $('#ocde').val()
                },
                type: "GET",
                dataType: "json",
                success: function (data) {
                    var seriesData = [];
                    var xCategories = [];
                    var seriesName = [];
                    var valores = [];

                    var i, cat, nombre, k;
                    for (i = 0; i < data.length; i++) {
                        cat = data[i].formacion;
                        nombre = data[i].nombre;
                        if (xCategories.indexOf(cat) === -1) {
                            xCategories[xCategories.length] = cat;
                        }
                        if (seriesName.indexOf(nombre) === -1) {
                            seriesName[seriesName.length] = nombre;
                        }

                    }

                    for (i = 0; i < seriesName.length; i++) {
                        valores = [];
                        for (j = 0; j < xCategories.length; j++) {
                            var k = 0;
                            var sw = false;
                            while (k < data.length && !sw) {
                                if (data[k].nombre == seriesName[i] && data[k].formacion == xCategories[j]) {
                                    valores[j] = data[k].total;
                                    sw = true;
                                } else {
                                    k++;
                                }
                            }
                            if (!sw) {
                                valores[j] = null;
                            }
                        }
                        seriesData[i] = { name: seriesName[i], data: valores };
                    }

                    var chart;
                    $(document).ready(function () {
                        chart = new Highcharts.Chart({
                            chart: {
                                renderTo: 'grafico2',
                                type: 'column'
                            },
                            title: {
                                text: 'Número de programas de educación superior en el año ' + año + ' por nivel de formación académica y ' + ocde.toLowerCase() + ' OCDE'
                            },
                            subtitle: {
                                text: 'Fuente: Vicerrectoría académica'
                            },
                            xAxis: {
                                title: {
                                    text: 'Nivel de formación'
                                },
                                categories: xCategories
                            },
                            yAxis: {
                                min: 0,
                                title: {
                                    text: 'Programas de educación superior (conteo)',
                                    align: 'high'
                                },
                                stackLabels: {
                                    enabled: true
                                }
                            },
                            tooltip: {
                                headerFormat: '<b>{point.x}</b><br/>',
                                pointFormat: '{series.name}: {point.y} programas de educación superior<br/>Total: {point.stackTotal} programas de educación superior'
                            },
                            plotOptions: {
                                series: {
                                    stacking: 'normal'
                                }
                            },
                            credits: {
                                enabled: false
                            },
                            series: seriesData
                        });
                    });
                },
                error: function () {
                    $("#grafico2").html("Error al cargar los datos del gráfico");
                }
            });
        }
        //Programas de educación superior en el año por ACTI y clasificación OCDE
        function DrawProgsACTICatOCDE(ocde, año) {
            $("#grafico2").html('<img src="Content/Imagenes/cargando.gif" class="img-responsive centrar"/>');
            $("#grafico3").html('<img src="Content/Imagenes/cargando.gif" class="img-responsive centrar"/>');

            $.ajax({
                url: "@Url.Action("ProgramaYearACTIOCDE", "ProgramasEducacionSuperior")",
                data: {
                    yearSearch: año,
                    catOCDE: $('#ocde').val()
                },
                type: "GET",
                dataType: "json",
                success: function (data) {
                    var seriesData = [];
                    var xCategories = [];
                    var seriesName = [];
                    var valores = [];

                    var i, cat, nombre, k;
                    for (i = 0; i < data.length; i++) {
                        cat = data[i].acti;
                        nombre = data[i].nombre;
                        if (xCategories.indexOf(cat) === -1) {
                            xCategories[xCategories.length] = cat;
                        }
                        if (seriesName.indexOf(nombre) === -1) {
                            seriesName[seriesName.length] = nombre;
                        }

                    }

                    for (i = 0; i < seriesName.length; i++) {
                        valores = [];
                        for (j = 0; j < xCategories.length; j++) {
                            var k = 0;
                            var sw = false;
                            while (k < data.length && !sw) {
                                if (data[k].nombre == seriesName[i] && data[k].acti == xCategories[j]) {
                                    valores[j] = data[k].total;
                                    sw = true;
                                } else {
                                    k++;
                                }
                            }
                            if (!sw) {
                                valores[j] = null;
                            }
                        }
                        seriesData[i] = { name: seriesName[i], data: valores };
                    }

                    var chart;
                    $(document).ready(function () {
                        chart = new Highcharts.Chart({
                            chart: {
                                renderTo: 'grafico3',
                                type: 'bar'
                            },
                            title: {
                                text: 'Número de programas de educación superior en el año ' + año + ' por ACTI predominante y ' + ocde.toLowerCase() + ' OCDE'
                            },
                            subtitle: {
                                text: 'Fuente: Vicerrectoría académica'
                            },
                            xAxis: {
                                title: {
                                    text: 'ACTI predominante'
                                },
                                categories: xCategories
                            },
                            yAxis: {
                                min: 0,
                                title: {
                                    text: 'Programas de educación superior (conteo)',
                                    align: 'high'
                                },
                                labels: {
                                    overflow: 'justify'
                                }
                            },
                            legend: {
                                reversed: true
                            },
                            tooltip: {
                                headerFormat: '<b>{point.x}</b><br/>',
                                pointFormat: '{series.name}: {point.y} programas de educación superior<br/>'
                            },
                            plotOptions: {
                                series: {
                                    stacking: 'normal'
                                }
                            },
                            credits: {
                                enabled: false
                            },
                            series: seriesData
                        });
                    });
                },
                error: function () {
                    $("#grafico3").html("Error al cargar los datos del gráfico");
                }
            });
        }
        //Gráfico de programas de educación superior en el año por área y tipo de acreditación
        function DrawProgsAcreditacionCatOCDE(ocde, año) {
            $("#grafico2").html('<img src="Content/Imagenes/cargando.gif" class="img-responsive centrar"/>');
            $("#grafico4").html('<img src="Content/Imagenes/cargando.gif" class="img-responsive centrar"/>');

            $.ajax({
                url: "@Url.Action("ProgramaYearAcreditacionOCDE", "ProgramasEducacionSuperior")",
                data: {
                    yearSearch: año,
                    catOCDE: $('#ocde').val()
                },
                type: "GET",
                dataType: "json",
                success: function (data) {
                    var seriesData = [];
                    var xCategories = [];
                    var seriesName = [];
                    var valores = [];

                    var i, cat, nombre, k;
                    for (i = 0; i < data.length; i++) {
                        cat = data[i].acreditacion;
                        nombre = data[i].nombre;
                        if (xCategories.indexOf(cat) === -1) {
                            xCategories[xCategories.length] = cat;
                        }
                        if (seriesName.indexOf(nombre) === -1) {
                            seriesName[seriesName.length] = nombre;
                        }

                    }

                    for (i = 0; i < seriesName.length; i++) {
                        valores = [];
                        for (j = 0; j < xCategories.length; j++) {
                            var k = 0;
                            var sw = false;
                            while (k < data.length && !sw) {
                                if (data[k].nombre == seriesName[i] && data[k].acreditacion == xCategories[j]) {
                                    valores[j] = data[k].total;
                                    sw = true;
                                } else {
                                    k++;
                                }
                            }
                            if (!sw) {
                                valores[j] = null;
                            }
                        }
                        seriesData[i] = { name: seriesName[i], data: valores };
                    }
                    var chart;
                    $(document).ready(function () {
                        chart = new Highcharts.Chart({
                            chart: {
                                renderTo: 'grafico4',
                                type: 'column'
                            },
                            title: {
                                text: 'Número de programas de educación superior en el año ' + año + ' por tipo de acreditación y ' + ocde.toLowerCase() + ' OCDE'
                            },
                            subtitle: {
                                text: 'Fuente: Vicerrectoría académica'
                            },
                            xAxis: {
                                title: {
                                    text: 'Tipo de acreditación'
                                },
                                categories: xCategories
                            },
                            yAxis: {
                                min: 0,
                                title: {
                                    text: 'Programas de educación superior (conteo)',
                                    align: 'high'
                                },
                                stackLabels: {
                                    enabled: true
                                }
                            },
                            tooltip: {
                                headerFormat: '<b>{point.x}</b><br/>',
                                pointFormat: '{series.name}: {point.y} programas de educación superior<br/>'
                            },
                            plotOptions: {
                                column: {
                                    stacking: 'normal'
                                }
                            },
                            credits: {
                                enabled: false
                            },
                            series: seriesData
                        });
                    });
                },
                error: function () {
                    $("#grafico4").html("Error al cargar los datos del gráfico");
                }
            });
        }
    </script>
}

