﻿@{
    Layout = "~/Views/Shared/_IndicadoresLayout.cshtml";
    ViewBag.Indicador = "Graduados de programas de educación superior:";
    ViewBag.Descripcion = "Indica el número de personas que comenzaron y finalizaron exitosamente un programa de educación superior (técnico o universitario) y se consideran como potenciales desarrolladores de ACTI. Se calcula por conteo y se mide en “graduados”. Se puede discriminar por: nivel de formación, fuente de financiación (ej. beca y recursos personales) y campo de conocimiento según la clasificación OCDE.";
    ViewBag.Nombre = "número de graduados de programas de educación superior";
    ViewBag.Fuente = "Admisiones, Registro y Centro Académico (AyRE)";
}

@section ConsultaGeneral{
    <!--Selecciona el rango de años y la tabla a consultar-->
    <div class="row">
        <form class="form">
            <!--Selecciona el año desde-->
            <div class="col-lg-offset-1 col-md-offset-1 col-lg-2 col-md-2">
                <label>Desde</label>
                <select class="form-control" id="fromYear" name="fromYear">
                    <option value="-100">Todos</option>
                </select>
            </div>
            <!--./Fin selecciona el año desde-->
            <!--Selecciona hasta que año consultar-->
            <div class="col-lg-2 col-md-2">
                <div class="form-group">
                    <label>Hasta</label>
                    <select class="form-control" id="toYear" name="toYear">
                        <option value="-100">Todos</option>
                    </select>
                </div>
            </div>
            <!--./Fin selecciona hasta año -->
            <!--Selecciona el tipo de dimensión-->
            <div class="col-lg-4 col-md-4">
                <div class="form-group">
                    <label>Tabla del indicador</label>
                    <select class="form-control" id="tabla">
                        <option value="1">Área OCDE</option>
                        <option value="2">Subárea OCDE</option>
                        <option value="3">Disciplina OCDE</option>
                        <option value="4">Nivel formación</option>
                        <option value="5">Fuente financiación</option>
                    </select>
                </div>
            </div>
            <!--./Fin selecciona el tipo de dimensión-->
            <!--Boton consultar-->
            <div class="col-lg-2 col-md-2 topBoton">
                <button type="button" class="btn btn-primary" id="searchData">Consultar</button>
            </div>
            <!--./Fin boton consultar-->
        </form>
    </div>
    <!--./Fin selecciona el rango de años y tabla a consultar-->
    <!--Tabla del indicador-->
    <div class="row container-fluid">
        <div class="col-lg-offset-2 col-lg-8 col-md-offset-2 col-md-8">
            <h4 class="text-center title-tabla" id="nombreTabla"></h4>
        </div>

        <div class="table-responsive col-lg-12 col-lg-12 col-md-12 col-sm-12">
            <div id="grad_tabla" style="align-items:center;"></div>
        </div>

        <div class="col-lg-offset-1 col-lg-10 col-md-12 col-sm-12 col-xs-12">
            <div id="grafico1" class="grafico_general"></div>
        </div>
    </div>
    <!--./Fin Tabla del indicador-->
}

@section PanelGraficos{
    <!--Panel de los gráficos-->
    <div class="row">
        <div class="container-fluid">
            <form class="form">
                <!--Selecciona el año-->
                <div class="col-lg-offset-3 col-lg-2 col-md-offset-3 col-md-2">
                    <div class="form-group">
                        <label>Año</label>
                        <select class="form-control" id="year"></select>
                    </div>
                </div>
                <!--./Fin selecciona el año-->
                <!--Selecciona el nivel OCDE-->
                <div class="col-lg-2 col-md-2">
                    <div class="form-group">
                        <label>OCDE</label>
                        <select class="form-control" id="ocde">
                            <option value="1">Área</option>
                            <option value="2">Subárea</option>
                            <option value="3">Disciplina</option>
                        </select>
                    </div>
                </div>
                <!--./Fin selecciona el nivel OCDE-->
                <!--Boton consultar gráficos-->
                <div class="col-lg-2 col-md-2 topBoton">
                    <button type="button" class="btn btn-primary" id="searchGraphs">Consultar</button>
                </div>
                <!--./Fin boton consultar gráficos-->
            </form>
        </div>
    </div>
    <div class="row container-fluid">
        <div class="col-lg-offset-1 col-lg-10 col-md-12 col-sm-12 col-xs-12">
            <div id="grafico2" class="grafico"></div>
            <div id="grafico3" class="grafico"></div>
            <div id="grafico4" class="grafico"></div>
        </div>
    </div>
    <!--./Fin panel de los gráficos-->
}

@section scripts{
    <script>
        var desdeAño = "-100", hastaAño = "-100";
        var opcion = "1"; //opcion de la tabla a mostrar

        $(document).ready(function () {
            cargaInicial();       //carga inicial de los datos y gráficos del indicador
            load_years();         //carga los años del indicador
            change_hasta();       //cambio del año hasta
            datosTablaResumen();  //llena la tabla de consulta general
            drawGraphs();         //dibuja los gráficos del panel consulta de gráficos
        });
        /*-----------------------Carga inicialmente los datos y gráficos del indicador----------------*/
        function cargaInicial() {
            $(function () {
                //cuando cargue el gráfico, llena la tabla de consulta general
                DrawGrafico();
                $.when(DrawGrafico()).done(function (a1) {
                    loadDataTables();
                });
            });
            /*----Lista el indicador graduados en la tabla dinámica----*/
            $(function () {
                $("#tablaDinamica").html('<img src="Content/Imagenes/cargando.gif" class="img-responsive centrar"/>');
                var sum = $.pivotUtilities.aggregatorTemplates.sum;
                var numberFormat = $.pivotUtilities.numberFormat;
                var intFormat = numberFormat({ digitsAfterDecimal: 0 });

                var renderers = $.extend(
                    $.pivotUtilities.renderers,
                    $.pivotUtilities.c3_renderers,
                    $.pivotUtilities.d3_renderers
                    );

                var actionUrl = '@Url.Action("Listar", "Graduados")';

                $.get(actionUrl, function (mps) {
                    $("#tablaDinamica").pivotUI(mps, {
                        aggregators: {
                            "Graduados":
                                function () { return sum(intFormat)(["Cantidad"]) }
                        },
                        hiddenAttributes: ["Cantidad"],
                        renderers: renderers,
                        rendererName: "Tabla"
                    });
                });
            });
        }
        /*------------------Carga los años en los select------------------*/
        function load_years() {
            $.get(
                    '@Url.Action("getYears", "Graduados")'
                )
                .done(function (data) {
                    var lastYear = (new Date).getFullYear() - 1; //el año anterior al actual
                    $.each(data, function (i, row) {
                        var $option = $('<option>');
                        $option.val(row.año);
                        $option.html(row.año);
                        $('#fromYear').append($option);

                        var $option = $('<option>');
                        $option.val(row.año);
                        $option.html(row.año);
                        $('#year').append($option);
                        if (parseInt(row.año) == lastYear) {
                            $('#year').val(row.año);
                        }
                    })
                    //gráficos de la pestaña consulta de gráficos
                    var ocde = $("#ocde").find(':selected').text();
                    var año = $('#year').val();

                    DrawGradsFinanciacionCatOCDE(ocde, año);
                    DrawGradsFormacionCatOCDE(ocde, año);
                    DrawGradsCatOCDE(año, ocde);
                })
                .fail(function (data) {
                    console.log('Error al cargar años!!!');
                }
            );
        }
        /*------------------Cambia el año hasta al seleccionar un año desde--------------*/
        function change_hasta() {
            $('#fromYear').change(function () {
                $.get(
                        '@Url.Action("getYears", "Graduados")'
                    )
                    .done(function (data) {
                        var fromValue = $("#fromYear").find(':selected').val();
                        $('#toYear').empty();

                        if (fromValue == "-100") {
                            var $option = $('<option>');
                            $option.val("-100");
                            $option.html("Todos");
                            $('#toYear').append($option);
                        } else {
                            var from = $("#fromYear").find(':selected').text();
                            $.each(data, function (i, row) {
                                if (parseInt(row.año) >= parseInt(from)) {
                                    var $option = $('<option>');
                                    $option.val(row.año);
                                    $option.html(row.año);
                                    $('#toYear').append($option);
                                }
                            })
                        }
                    })
                    .fail(function (data) {
                        console.log('Error al cargar años hasta!!!');
                    }
                );
            });
        }
        /*-------------------Carga los datos y gráficos en consulta general--------------*/
        function datosTablaResumen() {
            $("#searchData").click(function () {
                //asigna a las variables globales el nuevo valor
                desdeAño = $('#fromYear').val();
                hastaAño = $('#toYear').val();
                opcion = $('#tabla').val();
                //cuando cargue el gráfico, llena la tabla de consulta general
                DrawGrafico();
                $.when(DrawGrafico()).done(function (a1) {
                    loadDataTables();
                });
            });
        }
        /*-------------------------------Exporta el indicador completo-------------------------*/
        function exportar(id) {
            var dt = new Date();
            var month = dt.getMonth() + 1;
            var day = dt.getDate();
            var year = dt.getFullYear();
            var tipoReporte = "0";

            var fecha = day + "" + month + "" + year;
            var fileName = "Graduados" + fecha;
            window.location = "/Graduados/Reporte/" + id + "/" + desdeAño + "/" + hastaAño + "/" + tipoReporte + "/" + fileName;
        }
        /*-------------------------------Exporta el indicador por el tipo de tabla-------------------------*/
        function exportarTabla(id) {
            var dt = new Date();
            var month = dt.getMonth() + 1;
            var day = dt.getDate();
            var year = dt.getFullYear();
            var tipoReporte = opcion;
            var fecha = day + "" + month + "" + year;
            var fileName;
            switch (opcion) {
                case "2"://subárea ocde
                    fileName = "GraduadosPorSubárea" + fecha;
                    break;
                case "3"://disciplina
                    fileName = "GraduadosPorDisciplina" + fecha
                    break;
                case "4"://nivel de formación
                    fileName = "GraduadosPorFormación" + fecha;
                    break;
                case "5"://fuente de financiación
                    fileName = "GraduadosPorFinanciación" + fecha;
                    break;
                default://área ocde
                    fileName = "GraduadosPorÁrea" + fecha
                    break;
            }
            window.location = "/Graduados/Reporte/" + id + "/" + desdeAño + "/" + hastaAño + "/" + tipoReporte + "/" + fileName;
        }
        /*-----------------Carga los gráficos en la pestaña consulta gráficos----------------*/
        function drawGraphs() {
            $("#searchGraphs").click(function () {
                var ocde = $("#ocde").find(':selected').text();
                var año = $('#year').val();

                DrawGradsFinanciacionCatOCDE(ocde, año);
                DrawGradsFormacionCatOCDE(ocde, año);
                DrawGradsCatOCDE(año, ocde);
            });
        }
        /*----Lista la tabla de graduados----*/
        function loadDataTables() {
            $("#grad_tabla").html('<img src="Content/Imagenes/cargando.gif" class="img-responsive centrar"/>');
            $.ajax({
                url: "@Url.Action("ListarxYear", "Graduados")",
                data: {
                    tabla: opcion,
                    desde: desdeAño,
                    hasta: hastaAño
                },
                type: "GET",
                dataType: "json",
                success: function (data) {
                    var sum = $.pivotUtilities.aggregatorTemplates.sum;
                    var numberFormat = $.pivotUtilities.numberFormat;
                    var intFormat = numberFormat({ digitsAfterDecimal: 0 });

                    switch (opcion) {
                        case "2"://subárea ocde
                            $('#nombreTabla').text("Número de graduados por subárea OCDE");
                            $("#grad_tabla").pivot(data, {
                                rows: ["Subárea_OCDE"],
                                cols: ["Año", "Periodo"],
                                aggregator: sum(intFormat)(["Cantidad"])
                            });
                            break;
                        case "3"://disciplina
                            $('#nombreTabla').text("Número de graduados por disciplina OCDE");
                            $("#grad_tabla").pivot(data, {
                                rows: ["Disciplina_OCDE"],
                                cols: ["Año", "Periodo"],
                                aggregator: sum(intFormat)(["Cantidad"])
                            });
                            break;
                        case "4"://nivel de formación
                            $('#nombreTabla').text("Número de graduados por nivel de formación académica");
                            $("#grad_tabla").pivot(data, {
                                rows: ["Nivel_Formación"],
                                cols: ["Año", "Periodo"],
                                aggregator: sum(intFormat)(["Cantidad"])
                            });
                            break;
                        case "5"://fuente de financiación
                            $('#nombreTabla').text("Número de graduados por fuente de financiación");
                            $("#grad_tabla").pivot(data, {
                                rows: ["Fuente_Financiación"],
                                cols: ["Año", "Periodo"],
                                aggregator: sum(intFormat)(["Cantidad"])
                            });
                            break;
                        default://área ocde
                            $('#nombreTabla').text("Número de graduados por área OCDE");
                            $("#grad_tabla").pivot(data, {
                                rows: ["Área_OCDE"],
                                cols: ["Año", "Periodo"],
                                aggregator: sum(intFormat)(["Cantidad"])
                            });
                            break;
                    }
                },
                error: function () {
                    alert("¡Falla cargando los datos de la tabla! Intente de nuevo.");
                }
            });
        }
        /*----Dibuja el gráfico de la tabla escogida por el usuario----*/
        function DrawGrafico() {
            $("#grad_tabla").html('<img src="Content/Imagenes/cargando.gif" class="img-responsive centrar"/>');
            $('#nombreTabla').text("");
            $("#grafico1").html('<img src="Content/Imagenes/cargando.gif" class="img-responsive centrar"/>');
            $.ajax({
                url: "@Url.Action("GraficoxYear", "Graduados")",
                data: {
                    tabla: opcion,
                    desde: desdeAño,
                    hasta: hastaAño
                },
                type: "GET",
                dataType: "json",
                success: function (data) {
                    var seriesData = [];
                    var xCategories = [];
                    var seriesName = [];
                    var valores = [];
                    var i, cat, nombre, k, titulo, sw = true;

                    switch (opcion) {
                        case "2"://subárea ocde
                            titulo = "Número de graduados por subárea OCDE";
                            break;
                        case "3"://disciplina
                            titulo = "Número de graduados por disciplina OCDE";
                            break;
                        case "4"://nivel de formación
                            titulo = "Número de graduados por nivel de formación académica";
                            break;
                        case "5"://fuente de financiación
                            titulo = "Número de graduados por fuente de financiación";
                            break;
                        default://área ocde
                            titulo = "Número de graduados por área OCDE"
                            break;
                    }
                    for (i = 0; i < data.length; i++) {
                        cat = data[i].año;
                        nombre = data[i].nombre;
                        if (xCategories.indexOf(cat) === -1) {
                            xCategories[xCategories.length] = cat;
                        }
                        if (seriesName.indexOf(nombre) === -1) {
                            seriesName[seriesName.length] = nombre;
                        }
                    }
                    for (i = 0; i < seriesName.length; i++) {
                        valores = [];
                        for (j = 0; j < xCategories.length; j++) {
                            var k = 0;
                            var sw = false;
                            while (k < data.length && !sw) {
                                if (data[k].nombre == seriesName[i] && data[k].año == xCategories[j]) {
                                    valores[j] = data[k].total;
                                    sw = true;
                                } else {
                                    k++;
                                }
                            }
                            if (!sw) {
                                valores[j] = null;
                            }
                        }
                        seriesData[i] = { name: seriesName[i], data: valores };
                    }
                    var chart;
                    $(document).ready(function () {

                        chart = new Highcharts.Chart({
                            chart: {
                                renderTo: 'grafico1',
                                type: 'column'
                            },
                            title: {
                                text: titulo
                            },
                            subtitle: {
                                text: 'Fuente: Admisiones, Registro y Centro Académico (AyRE)'
                            },
                            xAxis: {
                                title: {
                                    text: 'Años'
                                },
                                categories: xCategories
                            },
                            yAxis: {
                                min: 0,
                                title: {
                                    text: 'Graduados (conteo)',
                                    align: 'high'
                                },
                                labels: {
                                    overflow: 'justify'
                                },
                                stackLabels: {
                                    enabled: true
                                }
                            },
                            tooltip: {
                                headerFormat: '<b>{point.x}</b><br/>',
                                pointFormat: '{series.name}: {point.y} graduados<br/>' +
                                    'Total: {point.stackTotal} graduados'
                            },
                            plotOptions: {
                                column: {
                                    stacking: 'normal',
                                    allowPointSelect: true
                                }
                            },
                            credits: {
                                enabled: false
                            },
                            series: seriesData
                        });
                    });
                },
                error: function () {
                    $("#grafico1").html("Error al cargar los datos del gráfico");
                }
            });
        }
        //Gráfico Graduados en el año por tipo ocde
        function DrawGradsCatOCDE(año, ocde) {
            $("#grafico2").html('<img src="Content/Imagenes/cargando.gif" class="img-responsive centrar"/>');

            $.ajax({
                url: "@Url.Action("GradsCatOCDE", "Graduados")",
                data: {
                    yearSearch: año,
                    catOCDE: $('#ocde').val()
                },
                type: "GET",
                dataType: "json",
                success: function (data) {
                    var seriesData = [];
                    var i;

                    for (i = 0; i < data.length; i++) {
                        seriesData.push([data[i]['nombre'], data[i]['total']]);
                    }

                    var chart;


                    $(document).ready(function () {
                        chart = new Highcharts.Chart({
                            chart: {
                                renderTo: 'grafico2',
                                plotBackgroundColor: null,
                                plotBorderWidth: null,
                                plotShadow: false,
                                type: 'pie'
                            },
                            title: {
                                text: 'Número de graduados en el año ' + año + ' por ' + ocde.toLowerCase() + ' OCDE'
                            },
                            subtitle: {
                                text: 'Fuente: Admisiones, Registro y Centro Académico (AyRE)'
                            },
                            tooltip: {
                                pointFormat: '{series.name}: <b>{point.y}</b>'
                            },
                            plotOptions: {
                                pie: {
                                    allowPointSelect: true,
                                    cursor: 'pointer',
                                    dataLabels: {
                                        enabled: true,
                                        format: '<b>{point.name}</b>: <br/>{point.y} graduados'
                                    },
                                    showInLegend: true
                                }
                            },
                            credits: {
                                enabled: false
                            },
                            series: [{
                                name: 'Graduados',
                                colorByPoint: true,
                                data: seriesData
                            }]
                        });
                    });
                },
                error: function () {
                    $("#grafico2").html("Error al cargar los datos del gráfico");
                }
            });
        }
        /*----Dibuja el gráfico graduados en el año por categoria OCDE y nivel de formación----*/
        function DrawGradsFormacionCatOCDE(ocde, año) {
            $("#grafico2").html('<img src="Content/Imagenes/cargando.gif" class="img-responsive centrar"/>');
            $("#grafico3").html('<img src="Content/Imagenes/cargando.gif" class="img-responsive centrar"/>');

            $.ajax({
                url: "@Url.Action("GradsYearFormacionOCDE", "Graduados")",
                data: {
                    yearSearch: año,
                    catOCDE: $('#ocde').val()
                },
                type: "GET",
                dataType: "json",
                success: function (data) {
                    var seriesData = [];
                    var xCategories = [];
                    var seriesName = [];
                    var valores = [];

                    var i, cat, nombre, k;
                    for (i = 0; i < data.length; i++) {
                        cat = data[i].formacion;
                        nombre = data[i].nombre;
                        if (xCategories.indexOf(cat) === -1) {
                            xCategories[xCategories.length] = cat;
                        }
                        if (seriesName.indexOf(nombre) === -1) {
                            seriesName[seriesName.length] = nombre;
                        }
                    }

                    for (i = 0; i < seriesName.length; i++) {
                        valores = [];
                        for (j = 0; j < xCategories.length; j++) {
                            var k = 0;
                            var sw = false;
                            while (k < data.length && !sw) {
                                if (data[k].nombre == seriesName[i] && data[k].formacion == xCategories[j]) {
                                    valores[j] = data[k].total;
                                    sw = true;
                                } else {
                                    k++;
                                }
                            }
                            if (!sw) {
                                valores[j] = null;
                            }
                        }
                        seriesData[i] = { name: seriesName[i], data: valores };
                    }

                    var chart;
                    $(document).ready(function () {
                        chart = new Highcharts.Chart({
                            chart: {
                                renderTo: 'grafico3',
                                type: 'column'
                            },
                            title: {
                                text: 'Número de graduados en el año ' + año + ' por nivel de formación académica y ' + ocde.toLowerCase() + ' OCDE'
                            },
                            subtitle: {
                                text: 'Fuente: Admisiones, Registro y Centro Académico (AyRE)'
                            },
                            xAxis: {
                                title: {
                                    text: 'Nivel de formación'
                                },
                                categories: xCategories
                            },
                            yAxis: {
                                min: 0,
                                title: {
                                    text: 'Graduados (conteo)',
                                    align: 'high'
                                },
                                stackLabels: {
                                    enabled: true
                                }
                            },
                            tooltip: {
                                headerFormat: '<b>{point.x}</b><br/>',
                                pointFormat: '{series.name}: {point.y} graduados<br/>' +
                                    'Total: {point.stackTotal} graduados'
                            },
                            plotOptions: {
                                column: {
                                    stacking: 'normal'
                                }
                            },
                            credits: {
                                enabled: false
                            },
                            series: seriesData
                        });
                    });
                },
                error: function () {
                    $("#grafico3").html("Error al cargar los datos del gráfico");
                }
            });
        }
        //Graduados en el año por fuente de financiación y clasificación OCDE
        function DrawGradsFinanciacionCatOCDE(ocde, año) {
            $("#grafico2").html('<img src="Content/Imagenes/cargando.gif" class="img-responsive centrar"/>');
            $("#grafico4").html('<img src="Content/Imagenes/cargando.gif" class="img-responsive centrar"/>');

            $.ajax({
                url: "@Url.Action("GradsYearFinanciacionOCDE", "Graduados")",
                data: {
                    yearSearch: año,
                    catOCDE: $('#ocde').val()
                },
                type: "GET",
                dataType: "json",
                success: function (data) {
                    var seriesData = [];
                    var xCategories = [];
                    var seriesName = [];
                    var valores = [];

                    var i, cat, nombre, k;
                    for (i = 0; i < data.length; i++) {
                        cat = data[i].nombre;
                        nombre = data[i].financiacion;
                        if (xCategories.indexOf(cat) === -1) {
                            xCategories[xCategories.length] = cat;
                        }
                        if (seriesName.indexOf(nombre) === -1) {
                            seriesName[seriesName.length] = nombre;
                        }

                    }

                    for (i = 0; i < seriesName.length; i++) {
                        valores = [];
                        for (j = 0; j < xCategories.length; j++) {
                            var k = 0;
                            var sw = false;
                            while (k < data.length && !sw) {
                                if (data[k].financiacion == seriesName[i] && data[k].nombre == xCategories[j]) {
                                    valores[j] = data[k].total;
                                    sw = true;
                                } else {
                                    k++;
                                }
                            }
                            if (!sw) {
                                valores[j] = null;
                            }
                        }
                        seriesData[i] = { name: seriesName[i], data: valores };
                    }

                    var chart;
                    $(document).ready(function () {
                        chart = new Highcharts.Chart({
                            chart: {
                                renderTo: 'grafico4',
                                type: 'bar'
                            },
                            title: {
                                text: 'Número de graduados en el año ' + año + ' por fuente de financiación y ' + ocde.toLowerCase() + ' OCDE'
                            },
                            subtitle: {
                                text: 'Fuente: Admisiones, Registro y Centro Académico (AyRE)'
                            },
                            xAxis: {
                                title: {
                                    text: ocde + ' OCDE'
                                },
                                categories: xCategories
                            },
                            yAxis: {
                                min: 0,
                                title: {
                                    text: 'Graduados (conteo)',
                                    align: 'high'
                                },
                                labels: {
                                    overflow: 'justify'
                                },
                                stackLabels: {
                                    enabled: true
                                }
                            },
                            tooltip: {
                                headerFormat: '<b>{point.x}</b><br/>',
                                pointFormat: '{series.name}: {point.y} graduados<br/>' +
                                    'Total: {point.stackTotal} graduados'
                            },
                            legend: {
                                reversed: true
                            },
                            plotOptions: {
                                bar: {
                                    stacking: 'normal'
                                }
                            },
                            credits: {
                                enabled: false
                            },
                            series: seriesData
                        });
                    });
                },
                error: function () {
                    $("#grafico4").html("Error al cargar los datos del gráfico");
                }
            });
        }
    </script>
}
