﻿@{
    Layout = "~/Views/Shared/_IndicadoresLayout.cshtml";
    ViewBag.Indicador = "Porcentaje de personas dedicadas a actividades de ciencia, tecnología e innovación (ACTI) en relación con el total de personal:";
    ViewBag.Descripcion = "Tasa la cuota del personal vinculado a la universidad que se dedica a actividades de ciencia, tecnología e innovación (ACTI). Se calcula dividiendo el número de personas dedicadas a ACTI entre el número de personas vinculadas a la universidad y multiplicando este cociente por 100, y se mide en “porcentaje”. Se puede discriminar por: sexo, rango de edad, nacionalidad, nivel de formación y tipo de vinculación con la universidad.";
    ViewBag.Nombre = "porcentaje de personas dedicadas a actividades de ciencia, tecnología e innovación (ACTI) en relación con el total de personal";
    ViewBag.Fuente = "Datos de prueba";
}

@section ConsultaGeneral{
    <!--Selecciona el rango de años y la tabla a consultar-->
    <div class="row">
        <form class="form">
            <!--Selecciona el año desde-->
            <div class="col-lg-offset-1 col-md-offset-1 col-lg-2 col-md-2">
                <label>Desde</label>
                <select class="form-control" id="fromYear" name="fromYear">
                    <option value="-100">Todos</option>
                </select>
            </div>
            <!--./Fin selecciona el año desde-->
            <!--Selecciona hasta que año consultar-->
            <div class="col-lg-2 col-md-2">
                <div class="form-group">
                    <label>Hasta</label>
                    <select class="form-control" id="toYear" name="toYear">
                        <option value="-100">Todos</option>
                    </select>
                </div>
            </div>
            <!--./Fin selecciona hasta año -->
            <!--Selecciona el tipo de dimensión-->
            <div class="col-lg-4 col-md-4">
                <div class="form-group">
                    <label>Tabla del indicador</label>
                    <select class="form-control" id="tabla">
                        <option value="1">Sexo</option>
                        <option value="2">Rango de edad</option>
                        <option value="3">Nivel de formación</option>
                        <option value="4">Nacionalidad</option>
                        <option value="5">Tipo de vinculación con la universidad</option>
                    </select>
                </div>
            </div>
            <!--./Fin selecciona el tipo de dimensión-->
            <!--Botón consultar-->
            <div class="col-lg-2 col-md-2 topBoton">
                <button type="button" class="btn btn-primary" id="searchData">Consultar</button>
            </div>
            <!--./Fin botón consultar-->
        </form>
    </div>
    <!--./Fin selecciona el rango de años y tabla a consultar-->
    <!--Tablas del indicador-->
    <div class="row container-fluid">
        <div class="col-lg-offset-2 col-lg-8 col-md-offset-2 col-md-8">
            <h4 class="text-center title-tabla" id="nombreTabla1"></h4>
        </div>

        <div class="table-responsive col-lg-12 col-lg-12 col-md-12 col-sm-12">
            <div id="personas_tabla1" style="align-items:center;"></div>
        </div>

        <div class="col-lg-offset-1 col-lg-10 col-md-12 col-sm-12 col-xs-12">
            <div id="grafico1" class="grafico_general"></div>
        </div>

        <div class="col-lg-offset-2 col-lg-8 col-md-offset-2 col-md-8">
            <h4 class="text-center title-tabla" id="nombreTabla2"></h4>
        </div>

        <div class="table-responsive col-lg-12 col-lg-12 col-md-12 col-sm-12">
            <div id="personas_tabla2" style="align-items:center;"></div>
        </div>

        <div class="col-lg-offset-1 col-lg-10 col-md-12 col-sm-12 col-xs-12">
            <div id="grafico2" class="grafico_general"></div>
        </div>
    </div>
    <!--./Fin Tablas del indicador-->
}

@section PanelGraficos{
    <!--Panel de los gráficos-->
    <div class="row">
        <!--Selecciona el año, nivel acti y ocde-->
        <div class="container-fluid">
            <form class="form">
                <!--Selecciona el año-->
                <div class="col-lg-offset-3 col-lg-2 col-md-offset-3 col-md-2">
                    <div class="form-group">
                        <label>Año</label>
                        <select class="form-control" id="year"></select>
                    </div>
                </div>
                <!--./Fin selecciona el año-->
                <!--Selecciona medida-->
                <div class="col-lg-2 col-md-2">
                    <div class="form-group">
                        <label>Medida</label>
                        <select class="form-control" id="medida">
                            <option value="1">Conteo</option>
                            <option value="2">Tiempo equivalente</option>
                        </select>
                    </div>
                </div>
                <!--./Fin selecciona medida-->
                <!--Botón consultar gráficos-->
                <div class="col-lg-2 col-md-2 topBoton">
                    <button type="button" class="btn btn-primary" id="searchGraphs">Consultar</button>
                </div>
                <!--./Fin botón consultar gráficos-->
            </form>
        </div>
        <!--./Fin selecciona el año, nivel acti y ocde-->
    </div>
    <div class="row container-fluid">
        <div class="col-lg-offset-1 col-lg-10 col-md-12 col-sm-12 col-xs-12">
            <div id="grafico3" class="grafico"></div>
            <div id="grafico4" class="grafico"></div>
            <div id="grafico5" class="grafico"></div>
            <div id="grafico6" class="grafico"></div>
            <div id="grafico7" class="grafico"></div>
        </div>
    </div>
    <!--./Fin panel de los gráficos-->
}

@section scripts{
    <script>
        var desdeAño = "-100", hastaAño = "-100";
        var opcion = "1"; //opcion de la tabla a mostrar

        $(document).ready(function () {
            cargaInicial();       //carga inicial de los datos y gráficos del indicador
            load_years();         //carga los años del indicador
            change_hasta();       //cambio del año hasta
            datosTablaResumen();  //llena la tabla de consulta general
            drawGraphs();         //dibuja los gráficos del panel consulta de gráficos
        });
        /*-----------------------Carga inicialmente los datos y gráficos del indicador----------------*/
        function cargaInicial() {
            $(function () {
                //cuando cargue el gráfico, llena la tabla de consulta general
                DrawGrafico1();
                $.when(DrawGrafico1()).done(function (a1) {
                    loadDataTables();
                });
            });

            /*----Lista el indicador porcentaje de personas por personas en la tabla dinámica----*/
            $(function () {
                $("#tablaDinamica").html('<img src="Content/Imagenes/cargando.gif" class="img-responsive centrar"/>');
                var sum = $.pivotUtilities.aggregatorTemplates.sum;
                var numberFormat = $.pivotUtilities.numberFormat;
                var intFormat = numberFormat({ digitsAfterDecimal: 4 });

                var renderers = $.extend(
                    $.pivotUtilities.renderers,
                    $.pivotUtilities.c3_renderers,
                    $.pivotUtilities.d3_renderers
                    );

                var actionUrl = '@Url.Action("Listar", "PersonasPersonas")';

                $.get(actionUrl, function (mps) {
                    $("#tablaDinamica").pivotUI(mps, {
                        aggregators: {
                            "% Personas":
                                function () { return sum(intFormat)(["Cantidad"]) },
                            "% Personas de tiempo completo equivalente":
                                function () { return sum(intFormat)(["CantidadTE"]) }
                        },
                        hiddenAttributes: ["Cantidad", "CantidadTE","Periodo"],
                        renderers: renderers,
                        rendererName: "Tabla"
                    });
                });
            });
        }
        /*------------------Carga los años en los select------------------*/
        function load_years() {
            $.get(
                    '@Url.Action("getYears", "PersonasPersonas")'
                )
                .done(function (data) {
                    var lastYear = (new Date).getFullYear() - 1;
                    $.each(data, function (i, row) {
                        var $option = $('<option>');
                        $option.val(row.año);
                        $option.html(row.año);
                        $('#fromYear').append($option);

                        var $option = $('<option>');
                        $option.val(row.año);
                        $option.html(row.año);
                        $('#year').append($option);
                        if (parseInt(row.año) == lastYear) {
                            $('#year').val(row.año);
                        }
                    })
                    //gráficos de la pestaña consulta gráficos
                    var año = $('#year').val();
                    var medida = $('#medida').val();

                    DrawPersonasVinculacion(año, medida);
                    DrawPersonasNacionalidad(año, medida);
                    DrawPersonasFormacion(año, medida);
                    DrawPersonasEdad(año, medida);
                    DrawPersonasSexo(año, medida);
                })
                .fail(function (data) {
                    console.log('Error al cargar años!!!');
                }
            );
        }
        /*------------------Cambia el año hasta al seleccionar un año desde--------------*/
        function change_hasta() {
            $('#fromYear').change(function () {
                $.get(
                        '@Url.Action("getYears", "PersonasPersonas")'
                    )
                    .done(function (data) {
                        var from = $("#fromYear").find(':selected').text();
                        var fromValue = $("#fromYear").find(':selected').val();
                        $('#toYear').empty();

                        if (fromValue == "-100") {
                            var $option = $('<option>');
                            $option.val("-100");
                            $option.html("Todos");
                            $('#toYear').append($option);
                        } else {
                            $.each(data, function (i, row) {
                                if (parseInt(row.año) >= parseInt(from)) {
                                    var $option = $('<option>');
                                    $option.val(row.año);
                                    $option.html(row.año);
                                    $('#toYear').append($option);
                                }
                            })
                        }
                    })
                    .fail(function (data) {
                        console.log('Error al cargar años hasta!!!');
                    }
                );
            });
        }
        /*-------------------Carga los datos y gráficos en consulta general--------------*/
        function datosTablaResumen() {
            $("#searchData").click(function () {
                //asigna a las variables globales el nuevo valor
                desdeAño = $('#fromYear').val();
                hastaAño = $('#toYear').val();
                opcion = $('#tabla').val();
                //cuando cargue el gráfico, llena la tabla de consulta general
                DrawGrafico1();
                $.when(DrawGrafico1()).done(function (a1) {
                    loadDataTables();
                });
            });
        }
        /*-------------------------------Exporta el indicador completo-------------------------*/
        function exportar(id) {
            var dt = new Date();
            var month = dt.getMonth() + 1;
            var day = dt.getDate();
            var year = dt.getFullYear();
            var tipoReporte = "0";

            var fecha = day + "" + month + "" + year;
            var fileName = "PersonasPersonas" + fecha;
            window.location = "/PersonasPersonas/Reporte/" + id + "/" + desdeAño + "/" + hastaAño + "/" + tipoReporte + "/" + fileName;
        }
        /*-------------------------------Exporta el indicador por el tipo de tabla-------------------------*/
        function exportarTabla(id) {
            var dt = new Date();
            var month = dt.getMonth() + 1;
            var day = dt.getDate();
            var year = dt.getFullYear();
            var tipoReporte = opcion;
            var fecha = day + "" + month + "" + year;
            var fileName;
            switch (opcion) {
                case "2"://rango de edad
                    fileName = "PersonasPersonasPorRangoEdad" + fecha;
                    break;
                case "3"://nivel de formación
                    fileName = "PersonasPersonasPorNivelFormación" + fecha
                    break;
                case "4"://nacionalidad
                    fileName = "PersonasPersonasPorNacionalidad" + fecha;
                    break;
                case "5"://tipo de vinculación
                    fileName = "PersonasPersonasPorVinculación" + fecha;
                    break;
                default://sexo
                    fileName = "PersonasPersonasPorSexo" + fecha
                    break;
            }
            window.location = "/PersonasPersonas/Reporte/" + id + "/" + desdeAño + "/" + hastaAño + "/" + tipoReporte + "/" + fileName;
        }
        /*-----------------Carga los gráficos en la pestaña consulta gráficos ----------------*/
        function drawGraphs() {
            $("#searchGraphs").click(function () {
                var año = $('#year').val();
                var medida = $('#medida').val();

                DrawPersonasVinculacion(año, medida);
                DrawPersonasNacionalidad(año, medida);
                DrawPersonasFormacion(año, medida);
                DrawPersonasEdad(año, medida);
                DrawPersonasSexo(año, medida);
            });
        }
        /*----Lista la tabla de personas----*/
        function loadDataTables() {
            $("#personas_tabla").html('<img src="Content/Imagenes/cargando.gif" class="img-responsive centrar"/>');
            $.ajax({
                url: "@Url.Action("ListarxYear", "PersonasPersonas")",
                data: {
                    tabla: opcion,
                    desde: desdeAño,
                    hasta: hastaAño
                },
                type: "GET",
                dataType: "json",
                success: function (data) {
                    var sum = $.pivotUtilities.aggregatorTemplates.sum;
                    var numberFormat = $.pivotUtilities.numberFormat;
                    var intFormat = numberFormat({ digitsAfterDecimal: 4 });

                    switch (opcion) {
                        case "2"://rango de edad
                            $('#nombreTabla1').text("Porcentaje de personas dedicadas a ACTI en relación con el total de personal por rango de edad");
                            $("#personas_tabla1").pivot(data, {
                                rows: ["Rango_Edad"],
                                cols: ["Año"],
                                aggregator: sum(intFormat)(["Cantidad"])
                            });

                            $('#nombreTabla2').text("Porcentaje de personas de tiempo completo equivalente dedicadas a ACTI en relación con el total de personal por rango de edad");
                            $("#personas_tabla2").pivot(data, {
                                rows: ["Rango_Edad"],
                                cols: ["Año"],
                                aggregator: sum(intFormat)(["CantidadTE"])
                            });
                            break;
                        case "3"://nivel de formación
                            $('#nombreTabla1').text("Porcentaje de personas dedicadas a ACTI en relación con el total de personal por nivel de formación");
                            $("#personas_tabla1").pivot(data, {
                                rows: ["Nivel_Formación"],
                                cols: ["Año"],
                                aggregator: sum(intFormat)(["Cantidad"])
                            });

                            $('#nombreTabla2').text("Porcentaje de personas de tiempo completo equivalente dedicadas a ACTI en relación con el total de personal por nivel de formación");
                            $("#personas_tabla2").pivot(data, {
                                rows: ["Nivel_Formación"],
                                cols: ["Año"],
                                aggregator: sum(intFormat)(["CantidadTE"])
                            });
                            break;
                        case "4"://nacionalidad
                            $('#nombreTabla1').text("Porcentaje de personas dedicadas a ACTI en relación con el total de personal por nacionalidad");
                            $("#personas_tabla1").pivot(data, {
                                rows: ["Nacionalidad"],
                                cols: ["Año"],
                                aggregator: sum(intFormat)(["Cantidad"])
                            });

                            $('#nombreTabla2').text("Porcentaje de personas de tiempo completo equivalente dedicadas a ACTI en relación con el total de personal por nacionalidad");
                            $("#personas_tabla2").pivot(data, {
                                rows: ["Nacionalidad"],
                                cols: ["Año"],
                                aggregator: sum(intFormat)(["CantidadTE"])
                            });
                            break;
                        case "5"://vinculación
                            $('#nombreTabla1').text("porcentaje de personas dedicadas a ACTI en relación con el total de personal por tipo de vinculación con la universidad");
                            $("#personas_tabla1").pivot(data, {
                                rows: ["Tipo_Vinculación"],
                                cols: ["Año"],
                                aggregator: sum(intFormat)(["Cantidad"])
                            });

                            $('#nombreTabla2').text("porcentaje de personas de tiempo completo equivalente dedicadas a ACTI en relación con el total de personal por tipo de vinculación con la universidad");
                            $("#personas_tabla2").pivot(data, {
                                rows: ["Tipo_Vinculación"],
                                cols: ["Año"],
                                aggregator: sum(intFormat)(["CantidadTE"])
                            });
                            break;
                        default://sexo
                            $('#nombreTabla1').text("porcentaje de personas dedicadas a ACTI en relación con el total de personal por sexo");
                            $("#personas_tabla1").pivot(data, {
                                rows: ["Sexo"],
                                cols: ["Año"],
                                aggregator: sum(intFormat)(["Cantidad"])
                            });

                            $('#nombreTabla2').text("porcentaje de personas de tiempo completo equivalente dedicadas a ACTI en relación con el total de personal por sexo");
                            $("#personas_tabla2").pivot(data, {
                                rows: ["Sexo"],
                                cols: ["Año"],
                                aggregator: sum(intFormat)(["CantidadTE"])
                            });
                            break;
                    }
                },
                error: function () {
                    alert("¡Falla cargando los datos de la tabla! Intente de nuevo.");
                }
            });
        }
        /*----Dibuja los gráficos de la tabla escogida por el usuario----*/
        function DrawGrafico1() {
            $("#personas_tabla1").html('<img src="Content/Imagenes/cargando.gif" class="img-responsive centrar"/>');
            $('#nombreTabla1').text("");
            $("#personas_tabla2").html('<img src="Content/Imagenes/cargando.gif" class="img-responsive centrar"/>');
            $('#nombreTabla2').text("");
            $("#grafico1").html('<img src="Content/Imagenes/cargando.gif" class="img-responsive centrar"/>');
            $.ajax({
                url: "@Url.Action("GraficoxYear", "PersonasPersonas")",
                data: {
                    tabla: opcion,
                    desde: desdeAño,
                    hasta: hastaAño
                },
                type: "GET",
                dataType: "json",
                success: function (data) {
                    DrawGrafico2(data);
                    var seriesData = [];
                    var xCategories = [];
                    var seriesName = [];
                    var valores = [];
                    var i, cat, nombre, k, titulo, sw = true;

                    switch (opcion) {
                        case "2"://rango de edad
                            titulo = "Porcentaje de personas dedicadas a ACTI en relación con el total de personal por rango de edad";
                            break;
                        case "3"://nivel de formación
                            titulo = "Porcentaje de personas dedicadas a ACTI en relación con el total de personal por nivel de formación";
                            break;
                        case "4"://nacionalidad
                            titulo = "Porcentaje de personas dedicadas a ACTI en relación con el total de personal por nacionalidad";
                            break;
                        case "5"://vinculación
                            titulo = "Porcentaje de personas dedicadas a ACTI en relación con el total de personal por tipo de vinculación con la universidad";
                            break;
                        default://sexo
                            titulo = "Porcentaje de personas dedicadas a ACTI en relación con el total de personal por sexo"
                            break;
                    }
                    for (i = 0; i < data.length; i++) {
                        cat = data[i].año;
                        nombre = data[i].nombre;
                        if (xCategories.indexOf(cat) === -1) {
                            xCategories[xCategories.length] = cat;
                        }
                        if (seriesName.indexOf(nombre) === -1) {
                            seriesName[seriesName.length] = nombre;
                        }
                    }
                    for (i = 0; i < seriesName.length; i++) {
                        valores = [];
                        for (j = 0; j < xCategories.length; j++) {
                            var k = 0;
                            var sw = false;
                            while (k < data.length && !sw) {
                                if (data[k].nombre == seriesName[i] && data[k].año == xCategories[j]) {
                                    valores[j] = Math.round(data[k].total * 10000) / 10000;
                                    sw = true;
                                } else {
                                    k++;
                                }
                            }
                            if (!sw) {
                                valores[j] = null;
                            }
                        }
                        seriesData[i] = { name: seriesName[i], data: valores };
                    }
                    var chart;
                    $(document).ready(function () {

                        chart = new Highcharts.Chart({
                            chart: {
                                renderTo: 'grafico1',
                                type: 'column'
                            },
                            title: {
                                text: titulo
                            },
                            subtitle: {
                                text: 'Fuente: Datos de prueba'
                            },
                            xAxis: {
                                title: {
                                    text: 'Años'
                                },
                                categories: xCategories
                            },
                            yAxis: {
                                min: 0,
                                title: {
                                    text: 'Porcentaje',
                                    align: 'high'
                                },
                                labels: {
                                    overflow: 'justify'
                                },
                                stackLabels: {
                                    enabled: true
                                }
                            },
                            tooltip: {
                                headerFormat: '<b>{point.x}</b><br/>',
                                pointFormat: '{series.name}: {point.y} %<br/>' +
                                    'Total: {point.stackTotal} %'
                            },
                            plotOptions: {
                                column: {
                                    stacking: 'normal'
                                }
                            },
                            credits: {
                                enabled: false
                            },
                            series: seriesData
                        });
                    });
                },
                error: function () {
                    $("#grafico1").html("Error al cargar los datos del gráfico");
                    $("#grafico2").html("Error al cargar los datos del gráfico");
                }
            });
        }

        function DrawGrafico2(data) {
            $("#grafico2").html('<img src="Content/Imagenes/cargando.gif" class="img-responsive centrar"/>');
            var seriesData = [];
            var xCategories = [];
            var seriesName = [];
            var valores = [];
            var i, cat, nombre, k, titulo, sw = true;

            switch (opcion) {
                case "2"://rango de edad
                    titulo = "Porcentaje de personas de tiempo completo equivalente dedicadas a ACTI en relación con el total de personal por rango de edad";
                    break;
                case "3"://nivel de formación
                    titulo = "Porcentaje de personas de tiempo completo equivalente dedicadas a ACTI en relación con el total de personal por nivel de formación";
                    break;
                case "4"://nacionalidad
                    titulo = "Porcentaje de personas de tiempo completo equivalente dedicadas a ACTI en relación con el total de personal por nacionalidad";
                    break;
                case "5"://vinculación
                    titulo = "Porcentaje de personas de tiempo completo equivalente dedicadas a ACTI en relación con el total de personal por tipo de vinculación con la universidad";
                    break;
                default://sexo
                    titulo = "Porcentaje de personas de tiempo completo equivalente dedicadas a ACTI en relación con el total de personal por sexo"
                    break;
            }
            for (i = 0; i < data.length; i++) {
                cat = data[i].año;
                nombre = data[i].nombre;
                if (xCategories.indexOf(cat) === -1) {
                    xCategories[xCategories.length] = cat;
                }
                if (seriesName.indexOf(nombre) === -1) {
                    seriesName[seriesName.length] = nombre;
                }
            }
            for (i = 0; i < seriesName.length; i++) {
                valores = [];
                for (j = 0; j < xCategories.length; j++) {
                    var k = 0;
                    var sw = false;
                    while (k < data.length && !sw) {
                        if (data[k].nombre == seriesName[i] && data[k].año == xCategories[j]) {
                            valores[j] = Math.round(data[k].totalTE * 10000) / 10000;
                            sw = true;
                        } else {
                            k++;
                        }
                    }
                    if (!sw) {
                        valores[j] = null;
                    }
                }
                seriesData[i] = { name: seriesName[i], data: valores };
            }
            var chart;
            $(document).ready(function () {

                chart = new Highcharts.Chart({
                    chart: {
                        renderTo: 'grafico2',
                        type: 'column'
                    },
                    title: {
                        text: titulo
                    },
                    subtitle: {
                        text: 'Fuente: Datos de prueba'
                    },
                    xAxis: {
                        title: {
                            text: 'Años'
                        },
                        categories: xCategories
                    },
                    yAxis: {
                        min: 0,
                        title: {
                            text: 'Porcentaje',
                            align: 'high'
                        },
                        labels: {
                            overflow: 'justify'
                        },
                        stackLabels: {
                            enabled: true
                        }
                    },
                    tooltip: {
                        headerFormat: '<b>{point.x}</b><br/>',
                        pointFormat: '{series.name}: {point.y} %<br/>' +
                            'Total: {point.stackTotal} %'
                    },
                    plotOptions: {
                        column: {
                            stacking: 'normal'
                        }
                    },
                    credits: {
                        enabled: false
                    },
                    series: seriesData
                });
            });
        }
        /*----Dibuja el gráfico personas en el año por sexo----*/
        function DrawPersonasSexo(año, medida) {
            $("#grafico3").html('<img src="Content/Imagenes/cargando.gif" class="img-responsive centrar"/>');

            $.ajax({
                url: "@Url.Action("PersonasPersonasYearSexo", "PersonasPersonas")",
                data: {
                    yearSearch: año
                },
                type: "GET",
                dataType: "json",
                success: function (data) {
                    var seriesData = [];
                    var i;
                    var titulo;

                    if (medida == 1) {
                        for (i = 0; i < data.length; i++) {
                            seriesData.push([data[i]['nombre'], (Math.round(data[i]['total'] * 10000) / 10000)]);
                        }
                        titulo = 'Porcentaje de personas dedicadas a ACTI en relación con el total de personal en el año ' + año + ' por sexo';

                    } else {
                        for (i = 0; i < data.length; i++) {
                            seriesData.push([data[i]['nombre'], (Math.round(data[i]['totalTE'] * 10000) / 10000)]);
                        }
                        titulo = 'Porcentaje de personas de tiempo completo equivalente dedicadas a ACTI en relación con el total de personal en el año ' + año + ' por sexo';
                    }

                    var chart;

                    $(document).ready(function () {
                        chart = new Highcharts.Chart({
                            chart: {
                                renderTo: 'grafico3',
                                plotBackgroundColor: null,
                                plotBorderWidth: null,
                                plotShadow: false,
                                type: 'pie'
                            },
                            title: {
                                text: titulo
                            },
                            subtitle: {
                                text: 'Fuente: Datos de prueba'
                            },
                            tooltip: {
                                pointFormat: '{series.name}: <b>{point.y}%</b>'
                            },
                            plotOptions: {
                                pie: {
                                    allowPointSelect: true,
                                    cursor: 'pointer',
                                    dataLabels: {
                                        enabled: true,
                                        format: '<b>{point.name}</b>: <br/>{point.y}%'
                                    },
                                    showInLegend: true
                                }
                            },
                            credits: {
                                enabled: false
                            },
                            series: [{
                                name: '%',
                                colorByPoint: true,
                                data: seriesData
                            }]
                        });
                    });
                },
                error: function () {
                    $("#grafico3").html("Error al cargar los datos del gráfico");
                }
            });
        }
        /*----Dibuja el gráfico personas en el año por edad----*/
        function DrawPersonasEdad(año, medida) {
            $("#grafico3").html('<img src="Content/Imagenes/cargando.gif" class="img-responsive centrar"/>');
            $("#grafico4").html('<img src="Content/Imagenes/cargando.gif" class="img-responsive centrar"/>');

            $.ajax({
                url: "@Url.Action("PersonasPersonasYearEdad", "PersonasPersonas")",
                data: {
                    yearSearch: año
                },
                type: "GET",
                dataType: "json",
                success: function (data) {
                    var seriesData = [];
                    var i;
                    var titulo;

                    if (medida == 1) {
                        for (i = 0; i < data.length; i++) {
                            seriesData.push([data[i]['nombre'], (Math.round(data[i]['total'] * 10000) / 10000)]);
                        }
                        titulo = 'Porcentaje de personas dedicadas a ACTI en relación con el total de personal en el año ' + año + ' por rango de edad';

                    } else {
                        for (i = 0; i < data.length; i++) {
                            seriesData.push([data[i]['nombre'], (Math.round(data[i]['totalTE'] * 10000) / 10000)]);
                        }
                        titulo = 'Porcentaje de personas de tiempo completo equivalente dedicadas a ACTI en relación con el total de personal en el año ' + año + ' por rango de edad';
                    }

                    var chart;

                    $(document).ready(function () {
                        chart = new Highcharts.Chart({
                            chart: {
                                renderTo: 'grafico4',
                                plotBackgroundColor: null,
                                plotBorderWidth: null,
                                plotShadow: false,
                                type: 'pie'
                            },
                            title: {
                                text: titulo
                            },
                            subtitle: {
                                text: 'Fuente: Datos de prueba'
                            },
                            tooltip: {
                                pointFormat: '{series.name}: <b>{point.y}%</b>'
                            },
                            plotOptions: {
                                pie: {
                                    allowPointSelect: true,
                                    cursor: 'pointer',
                                    dataLabels: {
                                        enabled: true,
                                        format: '<b>{point.name}</b>: <br/>{point.y}%'
                                    },
                                    showInLegend: true
                                }
                            },
                            credits: {
                                enabled: false
                            },
                            series: [{
                                name: '%',
                                colorByPoint: true,
                                data: seriesData
                            }]
                        });
                    });
                },
                error: function () {
                    $("#grafico4").html("Error al cargar los datos del gráfico");
                }
            });
        }
        /*----Dibuja el gráfico personas en el año por nivel de formación----*/
        function DrawPersonasFormacion(año, medida) {
            $("#grafico3").html('<img src="Content/Imagenes/cargando.gif" class="img-responsive centrar"/>');
            $("#grafico5").html('<img src="Content/Imagenes/cargando.gif" class="img-responsive centrar"/>');

            $.ajax({
                url: "@Url.Action("PersonasPersonasYearFormacion", "PersonasPersonas")",
                data: {
                    yearSearch: año
                },
                type: "GET",
                dataType: "json",
                success: function (data) {
                    var seriesData = [];
                    var i;
                    var titulo;

                    if (medida == 1) {
                        for (i = 0; i < data.length; i++) {
                            seriesData.push([data[i]['nombre'], (Math.round(data[i]['total'] * 10000) / 10000)]);
                        }
                        titulo = 'Porcentaje de personas dedicadas a ACTI en relación con el total de personal en el año ' + año + ' por nivel de formación';

                    } else {
                        for (i = 0; i < data.length; i++) {
                            seriesData.push([data[i]['nombre'], (Math.round(data[i]['totalTE'] * 10000) / 10000)]);
                        }
                        titulo = 'Porcentaje de personas de tiempo completo equivalente dedicadas a ACTI en relación con el total de personal en el año ' + año + ' por nivel de formación';
                    }

                    var chart;

                    $(document).ready(function () {
                        chart = new Highcharts.Chart({
                            chart: {
                                renderTo: 'grafico5',
                                plotBackgroundColor: null,
                                plotBorderWidth: null,
                                plotShadow: false,
                                type: 'pie'
                            },
                            title: {
                                text: titulo
                            },
                            subtitle: {
                                text: 'Fuente: Datos de prueba'
                            },
                            tooltip: {
                                pointFormat: '{series.name}: <b>{point.y}%</b>'
                            },
                            plotOptions: {
                                pie: {
                                    allowPointSelect: true,
                                    cursor: 'pointer',
                                    dataLabels: {
                                        enabled: true,
                                        format: '<b>{point.name}</b>: <br/>{point.y}%'
                                    },
                                    showInLegend: true
                                }
                            },
                            credits: {
                                enabled: false
                            },
                            series: [{
                                name: '%',
                                colorByPoint: true,
                                data: seriesData
                            }]
                        });
                    });
                },
                error: function () {
                    $("#grafico5").html("Error al cargar los datos del gráfico");
                }
            });
        }
        /*----Dibuja el gráfico personas en el año por nacionalidad----*/
        function DrawPersonasNacionalidad(año, medida) {
            $("#grafico3").html('<img src="Content/Imagenes/cargando.gif" class="img-responsive centrar"/>');
            $("#grafico6").html('<img src="Content/Imagenes/cargando.gif" class="img-responsive centrar"/>');

            $.ajax({
                url: "@Url.Action("PersonasPersonasYearNacionalidad", "PersonasPersonas")",
                data: {
                    yearSearch: año
                },
                type: "GET",
                dataType: "json",
                success: function (data) {
                    var seriesData = [];
                    var i;
                    var titulo;

                    if (medida == 1) {
                        for (i = 0; i < data.length; i++) {
                            seriesData.push([data[i]['nombre'], (Math.round(data[i]['total'] * 10000) / 10000)]);
                        }
                        titulo = 'Porcentaje de personas dedicadas a ACTI en relación con el total de personal en el año ' + año + ' por nacionalidad';

                    } else {
                        for (i = 0; i < data.length; i++) {
                            seriesData.push([data[i]['nombre'], (Math.round(data[i]['totalTE'] * 10000) / 10000)]);
                        }
                        titulo = 'Porcentaje de personas de tiempo completo equivalente dedicadas a ACTI en relación con el total de personal en el año ' + año + ' por nacionalidad';
                    }

                    var chart;

                    $(document).ready(function () {
                        chart = new Highcharts.Chart({
                            chart: {
                                renderTo: 'grafico6',
                                plotBackgroundColor: null,
                                plotBorderWidth: null,
                                plotShadow: false,
                                type: 'pie'
                            },
                            title: {
                                text: titulo
                            },
                            subtitle: {
                                text: 'Fuente: Datos de prueba'
                            },
                            tooltip: {
                                pointFormat: '{series.name}: <b>{point.y}%</b>'
                            },
                            plotOptions: {
                                pie: {
                                    allowPointSelect: true,
                                    cursor: 'pointer',
                                    dataLabels: {
                                        enabled: true,
                                        format: '<b>{point.name}</b>: <br/>{point.y}%'
                                    },
                                    showInLegend: true
                                }
                            },
                            credits: {
                                enabled: false
                            },
                            series: [{
                                name: '%',
                                colorByPoint: true,
                                data: seriesData
                            }]
                        });
                    });
                },
                error: function () {
                    $("#grafico6").html("Error al cargar los datos del gráfico");
                }
            });
        }
        /*----Dibuja el gráfico personas en el año por vinculacion----*/
        function DrawPersonasVinculacion(año, medida) {
            $("#grafico3").html('<img src="Content/Imagenes/cargando.gif" class="img-responsive centrar"/>');
            $("#grafico7").html('<img src="Content/Imagenes/cargando.gif" class="img-responsive centrar"/>');

            $.ajax({
                url: "@Url.Action("PersonasPersonasYearVinculacion", "PersonasPersonas")",
                data: {
                yearSearch: año
                },
            type: "GET",
            dataType: "json",
            success: function (data) {
                var seriesData = [];
                var i;
                var titulo;

                if (medida == 1) {
                    for (i = 0; i < data.length; i++) {
                        seriesData.push([data[i]['nombre'], (Math.round(data[i]['total'] * 10000) / 10000)]);
                    }
                    titulo = 'Porcentaje de personas dedicadas a ACTI en relación con el total de personal en el año ' + año + ' por nacionalidad';

                } else {
                    for (i = 0; i < data.length; i++) {
                        seriesData.push([data[i]['nombre'], (Math.round(data[i]['totalTE'] * 10000) / 10000)]);
                    }
                    titulo = 'Porcentaje de personas de tiempo completo equivalente dedicadas a ACTI en relación con el total de personal en el año ' + año + ' por nacionalidad';
                }

                var chart;

                $(document).ready(function () {
                    chart = new Highcharts.Chart({
                        chart: {
                            renderTo: 'grafico7',
                            plotBackgroundColor: null,
                            plotBorderWidth: null,
                            plotShadow: false,
                            type: 'pie'
                        },
                        title: {
                            text: titulo
                        },
                        subtitle: {
                            text: 'Fuente: Datos de prueba'
                        },
                        tooltip: {
                            pointFormat: '{series.name}: <b>{point.y}%</b>'
                        },
                        plotOptions: {
                            pie: {
                                allowPointSelect: true,
                                cursor: 'pointer',
                                dataLabels: {
                                    enabled: true,
                                    format: '<b>{point.name}</b>: <br/>{point.y}%'
                                },
                                showInLegend: true
                            }
                        },
                        credits: {
                            enabled: false
                        },
                        series: [{
                            name: '%',
                            colorByPoint: true,
                            data: seriesData
                        }]
                    });
                });
            },
            error: function () {
                $("#grafico7").html("Error al cargar los datos del gráfico");
            }
        });
        }

    </script>
}



