﻿@{
    Layout = "~/Views/Shared/_IndicadoresLayout.cshtml";
    ViewBag.Indicador = "Organizaciones con las que se realiza colaboración para actividades de ciencia, tecnología e innovación:";
    ViewBag.Descripcion = "Contabiliza las organizaciones con las que se realiza colaboración para la realización de actividades de ciencia, tecnología e innovación (ACTI). Se calcula por conteo y la unidad de medida es “organizaciones”. Se puede desagregar por: formalidad del vínculo, actividades desarrolladas (desagregación de las ACTI), campo de conocimiento según la clasificación OCDE, naturaleza de la organización, ámbito sectorial según la Clasificación Industrial Internacional Uniforme CIIU de la ONU y ámbito geográfico.";
    ViewBag.Nombre = "número de organizaciones con las que se realiza colaboración para actividades de ciencia, tecnología e innovación";
    ViewBag.Fuente = "Vicerrectoría de extensión, investigación y Oficina de Relaciones Internacionales (ORI)";
}

@section ConsultaGeneral{
    <!--Selecciona el rango de años y la tabla a consultar-->
    <div class="row">
        <form class="form">
            <!--Selecciona el año desde-->
            <div class="col-lg-offset-1 col-md-offset-1 col-lg-2 col-md-2">
                <label>Desde</label>
                <select class="form-control" id="fromYear" name="fromYear">
                    <option value="-100">Todos</option>
                </select>
            </div>
            <!--./Fin selecciona el año desde-->
            <!--Selecciona hasta que año consultar-->
            <div class="col-lg-2 col-md-2">
                <div class="form-group">
                    <label>Hasta</label>
                    <select class="form-control" id="toYear" name="toYear">
                        <option value="-100">Todos</option>
                    </select>
                </div>
            </div>
            <!--./Fin selecciona hasta año -->
            <!--Selecciona el tipo de dimensión-->
            <div class="col-lg-4 col-md-4">
                <div class="form-group">
                    <label>Tabla del indicador</label>
                    <select class="form-control" id="tabla">
                        <option value="1">Área OCDE</option>
                        <option value="2">Subárea OCDE</option>
                        <option value="3">Disciplina OCDE</option>
                        <option value="4">Primer nivel ACTI</option>
                        <option value="5">Segundo nivel ACTI</option>
                        <option value="6">Tercer nivel ACTI</option>
                        <option value="7">Naturaleza de la organización</option>
                        <option value="8">Ámbito geográfico</option>
                        <option value="9">Formalidad vínculo</option>
                        <option value="10">Clase CIIU</option>
                        <option value="11">Grupo CIIU</option>
                        <option value="12">División CIIU</option>
                        <option value="13">Sección CIIU</option>

                    </select>
                </div>
            </div>
            <!--./Fin selecciona el tipo de dimensión-->
            <!--Botón consultar-->
            <div class="col-lg-2 col-md-2 topBoton">
                <button type="button" class="btn btn-primary" id="searchData">Consultar</button>
            </div>
            <!--./Fin botón consultar-->
        </form>
    </div>
    <!--./Fin selecciona el rango de años y tabla a consultar-->
    <!--Tabla del indicador-->
    <div class="row container-fluid">
        <div class="col-lg-offset-2 col-lg-8 col-md-offset-2 col-md-8">
            <h4 class="text-center title-tabla" id="nombreTabla"></h4>
        </div>

        <div class="table-responsive col-lg-12 col-lg-12 col-md-12 col-sm-12">
            <div id="org_tabla" style="align-items:center;"></div>
        </div>

        <div class="col-lg-offset-1 col-lg-10 col-md-12 col-sm-12 col-xs-12">
            <div id="grafico1" class="grafico_general"></div>
        </div>
    </div>
    <!--./Fin Tabla del indicador-->
}

@section PanelGraficos{
    <!--Panel de los gráficos-->
    <div class="row">
        <!--Selecciona el año, nivel ciiu, acti y ocde-->
        <div class="container-fluid">
            <form class="form">
                <!--Selecciona el año-->
                <div class="col-lg-offset-1 col-lg-2 col-md-offset-1 col-md-2">
                    <div class="form-group">
                        <label>Año</label>
                        <select class="form-control" id="year"></select>
                    </div>
                </div>
                <!--./Fin selecciona el año-->
                <!--Selecciona el nivel ciiu-->
                <div class="col-lg-2 col-md-2">
                    <div class="form-group">
                        <label>Nivel CIIU</label>
                        <select class="form-control" id="ciiu">
                            <option value="1">Sección</option>
                            <option value="2">División</option>
                            <option value="3">Grupo</option>
                            <option value="4">Clase</option>
                        </select>
                    </div>
                </div>
                <!--./Fin selecciona el nivel ciiu-->
                <!--Selecciona acti-->
                <div class="col-lg-2 col-md-2">
                    <div class="form-group">
                        <label>Nivel ACTI</label>
                        <select class="form-control" id="acti">
                            <option value="1">Primer</option>
                            <option value="2">Segundo</option>
                            <option value="3">Tercer</option>
                        </select>
                    </div>
                </div>
                <!--./Fin selecciona acti-->
                <!--Selecciona ocde-->
                <div class="col-lg-2 col-md-2">
                    <div class="form-group">
                        <label>OCDE</label>
                        <select class="form-control" id="ocde">
                            <option value="1">Área</option>
                            <option value="2">Subárea</option>
                            <option value="3">Disciplina</option>
                        </select>
                    </div>
                </div>
                <!--./Fin selecciona ocde-->
                <!--Botón consultar gráficos-->
                <div class="col-lg-2 col-md-2 topBoton">
                    <button type="button" class="btn btn-primary" id="searchGraphs">Consultar</button>
                </div>
                <!--./Fin botón consultar gráficos-->
            </form>
        </div>
        <!--./Fin selecciona el año, nivel ciiu, acti y ocde-->
    </div>
    <div class="row container-fluid">
        <div class="col-lg-offset-1 col-lg-10 col-md-12 col-sm-12 col-xs-12">
            <div id="grafico2" class="grafico"></div>
            <div id="grafico3" class="grafico"></div>
            <div id="grafico4" class="grafico"></div>
            <div id="grafico5" class="grafico"></div>
            <div id="grafico6" class="grafico"></div>
            <div id="grafico7" class="grafico"></div>
        </div>
    </div>
    <!--./Fin panel de los gráficos-->
}

@section scripts{
    <script>
        var desdeAño = "-100", hastaAño = "-100";
        var opcion = "1"; //opcion de la tabla a mostrar

        $(document).ready(function () {
            cargaInicial();       //carga inicial de los datos y gráficos del indicador
            load_years();         //carga los años del indicador
            change_hasta();       //cambio del año hasta
            datosTablaResumen();  //llena la tabla de consulta general
            drawGraphs();         //dibuja los gráficos del panel consulta de gráficos
        });
        /*-----------------------Carga inicialmente los datos y gráficos del indicador----------------*/
        function cargaInicial() {
            $(function () {
                //cuando cargue el gráfico, llena la tabla de consulta general
                DrawGrafico();
                $.when(DrawGrafico()).done(function (a1) {
                    loadDataTables();
                });

            });

            /*----Lista el indicador número de organizaciones con las que se realiza colaboración para ACTI en la tabla dinámica----*/
            $(function () {
                $("#tablaDinamica").html('<img src="Content/Imagenes/cargando.gif" class="img-responsive centrar"/>');
                var sum = $.pivotUtilities.aggregatorTemplates.sum;
                var numberFormat = $.pivotUtilities.numberFormat;
                var intFormat = numberFormat({ digitsAfterDecimal: 0 });

                var renderers = $.extend(
                    $.pivotUtilities.renderers,
                    $.pivotUtilities.c3_renderers,
                    $.pivotUtilities.d3_renderers
                    );

                var actionUrl = '@Url.Action("Listar", "OrganizacionesColaboracion")';

                $.get(actionUrl, function (mps) {
                    $("#tablaDinamica").pivotUI(mps, {
                        aggregators: {
                            "Organizaciones":
                                function () { return sum(intFormat)(["Cantidad"]) }
                        },
                        hiddenAttributes: ["Cantidad"],
                        renderers: renderers,
                        rendererName: "Tabla"
                    });
                });
            });
        }
        /*------------------Carga los años en los select------------------*/
        function load_years() {
            $.get(
                    '@Url.Action("getYears", "OrganizacionesColaboracion")'
                )
                .done(function (data) {
                    var lastYear = (new Date).getFullYear() - 1;
                    $.each(data, function (i, row) {
                        var $option = $('<option>');
                        $option.val(row.año);
                        $option.html(row.año);
                        $('#fromYear').append($option);

                        var $option = $('<option>');
                        $option.val(row.año);
                        $option.html(row.año);
                        $('#year').append($option);
                        if (parseInt(row.año) == lastYear) {
                            $('#year').val(row.año);
                        }
                    })
                    //gráficos de la pestaña consulta gráficos
                    var año = $('#year').val();
                    var ciiu = $("#ciiu").find(':selected').text();
                    var acti = $("#acti").find(':selected').text();
                    var ocde = $("#ocde").find(':selected').text();

                    DrawOrganizacionesNatOrgACTI(año, acti);
                    DrawOrganizacionesVinculoACTI(año, acti);
                    DrawOrganizacionesAmbGeoACTI(año, acti);
                    DrawOrganizacionesACTICatCIIU(año, ciiu, acti);
                    DrawOrganizacionesOCDENivelACTI(año, acti, ocde);
                    DrawOrganizacionesOCDECatCIIU(año, ciiu, ocde);
                })
                .fail(function (data) {
                    console.log('Error al cargar años!!!');
                }
            );
        }
        /*------------------Cambia el año hasta al seleccionar un año desde--------------*/
        function change_hasta() {
            $('#fromYear').change(function () {
                $.get(
                        '@Url.Action("getYears", "OrganizacionesColaboracion")'
                    )
                    .done(function (data) {
                        var from = $("#fromYear").find(':selected').text();
                        var fromValue = $("#fromYear").find(':selected').val();
                        $('#toYear').empty();

                        if (fromValue == "-100") {
                            var $option = $('<option>');
                            $option.val("-100");
                            $option.html("Todos");
                            $('#toYear').append($option);
                        } else {
                            $.each(data, function (i, row) {
                                if (parseInt(row.año) >= parseInt(from)) {
                                    var $option = $('<option>');
                                    $option.val(row.año);
                                    $option.html(row.año);
                                    $('#toYear').append($option);
                                }
                            })
                        }
                    })
                    .fail(function (data) {
                        console.log('Error al cargar años hasta!!!');
                    }
                );
            });
        }
        /*-------------------Carga los datos y gráficos en consulta general--------------*/
        function datosTablaResumen() {
            $("#searchData").click(function () {
                //asigna a las variables globales el nuevo valor
                desdeAño = $('#fromYear').val();
                hastaAño = $('#toYear').val();
                opcion = $('#tabla').val();
                //cuando cargue el gráfico, llena la tabla de consulta general
                DrawGrafico();
                $.when(DrawGrafico()).done(function (a1) {
                    loadDataTables();
                });
            });
        }
        /*-------------------------------Exporta el indicador completo-------------------------*/
        function exportar(id) {
            var dt = new Date();
            var month = dt.getMonth() + 1;
            var day = dt.getDate();
            var year = dt.getFullYear();
            var tipoReporte = "0";

            var fecha = day + "" + month + "" + year;
            var fileName = "OrganizacionesColaboración" + fecha;
            window.location = "/OrganizacionesColaboracion/Reporte/" + id + "/" + desdeAño + "/" + hastaAño + "/" + tipoReporte + "/" + fileName;
        }
        /*-------------------------------Exporta el indicador por el tipo de tabla-------------------------*/
        function exportarTabla(id) {
            var dt = new Date();
            var month = dt.getMonth() + 1;
            var day = dt.getDate();
            var year = dt.getFullYear();
            var tipoReporte = opcion;
            var fecha = day + "" + month + "" + year;
            var fileName;
            switch (opcion) {
                case "2"://subárea ocde
                    fileName = "OrganizacionesColaboraciónPorSubáreaOCDE" + fecha;
                    break;
                case "3"://disciplina ocde
                    fileName = "OrganizacionesColaboraciónPorDisciplinaOCDE" + fecha
                    break;
                case "4"://primer nivel acti
                    fileName = "OrganizacionesColaboraciónPorN1ACTI" + fecha;
                    break;
                case "5"://segundo nivel acti
                    fileName = "OrganizacionesColaboraciónPorN2ACTI" + fecha;
                    break;
                case "6"://tercer nivel acti
                    fileName = "OrganizacionesColaboraciónPorN3ACTI" + fecha;
                    break;
                case "7"://naturaleza de la organización
                    fileName = "OrganizacionesColaboraciónPorNaturalezaOrganización" + fecha;
                    break;
                case "8"://ámbito geográfico
                    fileName = "OrganizacionesColaboraciónPorÁmbitoGeográfico" + fecha;
                    break;
                case "9"://formalidad del vínculo
                    fileName = "OrganizacionesColaboraciónPorFormalidadVínculo" + fecha;
                    break;
                case "10"://clase ciiu
                    fileName = "OrganizacionesColaboraciónPorClaseCIIU" + fecha;
                    break;
                case "11"://grupo ciiu
                    fileName = "OrganizacionesColaboraciónPorGrupoCIIU" + fecha
                    break;
                case "12"://división ciiu
                    fileName = "OrganizacionesColaboraciónPorDivisiónCIIU" + fecha;
                    break;
                case "13"://sección ciiu
                    fileName = "OrganizacionesColaboraciónPorSecciónCIIU" + fecha;
                    break;
                default://área ocde
                    fileName = "OrganizacionesColaboraciónPorÁreaOCDE" + fecha
                    break;
            }
            window.location = "/OrganizacionesColaboracion/Reporte/" + id + "/" + desdeAño + "/" + hastaAño + "/" + tipoReporte + "/" + fileName;
        }
        /*-----------------Carga los gráficos en la pestaña consulta gráficos ----------------*/
        function drawGraphs() {
            $("#searchGraphs").click(function () {
                var año = $('#year').val();
                var ciiu = $("#ciiu").find(':selected').text();
                var acti = $("#acti").find(':selected').text();
                var ocde = $("#ocde").find(':selected').text();

                DrawOrganizacionesNatOrgACTI(año, acti);
                DrawOrganizacionesVinculoACTI(año, acti);
                DrawOrganizacionesAmbGeoACTI(año, acti);
                DrawOrganizacionesACTICatCIIU(año, ciiu, acti);
                DrawOrganizacionesOCDENivelACTI(año, acti, ocde);
                DrawOrganizacionesOCDECatCIIU(año, ciiu, ocde);
            });
        }
        /*----Lista la tabla de ingresos por producto----*/
        function loadDataTables() {
            $("#org_tabla").html('<img src="Content/Imagenes/cargando.gif" class="img-responsive centrar"/>');
            $.ajax({
                url: "@Url.Action("ListarxYear", "OrganizacionesColaboracion")",
                data: {
                    tabla: opcion,
                    desde: desdeAño,
                    hasta: hastaAño
                },
                type: "GET",
                dataType: "json",
                success: function (data) {
                    var sum = $.pivotUtilities.aggregatorTemplates.sum;
                    var numberFormat = $.pivotUtilities.numberFormat;
                    var intFormat = numberFormat({ digitsAfterDecimal: 0 });

                    switch (opcion) {
                        case "2"://subárea ocde
                            $('#nombreTabla').text("Número de organizaciones con las que se realiza colaboración para ACTI por subárea OCDE");
                            $("#org_tabla").pivot(data, {
                                rows: ["Subárea_OCDE"],
                                cols: ["Año"],
                                aggregator: sum(intFormat)(["Cantidad"])
                            });
                            break;
                        case "3"://disciplina ocde
                            $('#nombreTabla').text("Número de organizaciones con las que se realiza colaboración para ACTI por disciplina OCDE");
                            $("#org_tabla").pivot(data, {
                                rows: ["Disciplina_OCDE"],
                                cols: ["Año"],
                                aggregator: sum(intFormat)(["Cantidad"])
                            });
                            break;
                        case "4"://acti primer nivel
                            $('#nombreTabla').text("Número de organizaciones con las que se realiza colaboración para ACTI por el primer nivel ACTI");
                            $("#org_tabla").pivot(data, {
                                rows: ["ACTI_N1"],
                                cols: ["Año"],
                                aggregator: sum(intFormat)(["Cantidad"])
                            });
                            break;
                        case "5"://acti segundo nivel
                            $('#nombreTabla').text("Número de organizaciones con las que se realiza colaboración para ACTI por el segundo nivel ACTI");
                            $("#org_tabla").pivot(data, {
                                rows: ["ACTI_N2"],
                                cols: ["Año"],
                                aggregator: sum(intFormat)(["Cantidad"])
                            });
                            break;
                        case "6"://acti tercer nivel
                            $('#nombreTabla').text("Número de organizaciones con las que se realiza colaboración para ACTI por el tercer nivel ACTI");
                            $("#org_tabla").pivot(data, {
                                rows: ["ACTI_N3"],
                                cols: ["Año"],
                                aggregator: sum(intFormat)(["Cantidad"])
                            });
                            break;
                        case "7"://naturaleza organización
                            $('#nombreTabla').text("Número de organizaciones con las que se realiza colaboración para ACTI por naturaleza de la organización");
                            $("#org_tabla").pivot(data, {
                                rows: ["Naturaleza_Organización"],
                                cols: ["Año"],
                                aggregator: sum(intFormat)(["Cantidad"])
                            });
                            break;
                        case "8"://ámbito geográfico
                            $('#nombreTabla').text("Número de organizaciones con las que se realiza colaboración para ACTI por ámbito geográfico");
                            $("#org_tabla").pivot(data, {
                                rows: ["Ámbito_Geográfico"],
                                cols: ["Año"],
                                aggregator: sum(intFormat)(["Cantidad"])
                            });
                            break;
                        case "9"://formalidad del vínculo
                            $('#nombreTabla').text("Número de organizaciones con las que se realiza colaboración para ACTI por formalidad del vínculo");
                            $("#org_tabla").pivot(data, {
                                rows: ["Formalidad_Vínculo"],
                                cols: ["Año"],
                                aggregator: sum(intFormat)(["Cantidad"])
                            });
                            break;
                        case "10"://clase ciiu
                            $('#nombreTabla').text("Número de organizaciones con las que se realiza colaboración para ACTI por clase CIIU");
                            $("#org_tabla").pivot(data, {
                                rows: ["Clase_CIIU"],
                                cols: ["Año"],
                                aggregator: sum(intFormat)(["Cantidad"])
                            });
                            break;
                        case "11"://grupo ciiu
                            $('#nombreTabla').text("Número de organizaciones con las que se realiza colaboración para ACTI por grupo CIIU");
                            $("#org_tabla").pivot(data, {
                                rows: ["Grupo_CIIU"],
                                cols: ["Año"],
                                aggregator: sum(intFormat)(["Cantidad"])
                            });
                            break;
                        case "12"://división ciiu
                            $('#nombreTabla').text("Número de organizaciones con las que se realiza colaboración para ACTI por división CIIU");
                            $("#org_tabla").pivot(data, {
                                rows: ["División_CIIU"],
                                cols: ["Año"],
                                aggregator: sum(intFormat)(["Cantidad"])
                            });
                            break;
                        case "13"://sección ciiu
                            $('#nombreTabla').text("Número de organizaciones con las que se realiza colaboración para ACTI por sección CIIU");
                            $("#org_tabla").pivot(data, {
                                rows: ["Sección_CIIU"],
                                cols: ["Año"],
                                aggregator: sum(intFormat)(["Cantidad"])
                            });
                            break;
                        default://área ocde
                            $('#nombreTabla').text("Número de organizaciones con las que se realiza colaboración para ACTI por área OCDE");
                            $("#org_tabla").pivot(data, {
                                rows: ["Área_OCDE"],
                                cols: ["Año"],
                                aggregator: sum(intFormat)(["Cantidad"])
                            });
                            break;
                    }
                },
                error: function () {
                    alert("¡Falla cargando los datos de la tabla! Intente de nuevo.");
                }
            });
        }
        /*----Dibuja el gráfico de la tabla escogida por el usuario----*/
        function DrawGrafico() {
            $("#org_tabla").html('<img src="Content/Imagenes/cargando.gif" class="img-responsive centrar"/>');
            $('#nombreTabla').text("");
            $("#grafico1").html('<img src="Content/Imagenes/cargando.gif" class="img-responsive centrar"/>');
            $.ajax({
                url: "@Url.Action("GraficoxYear", "OrganizacionesColaboracion")",
                data: {
                    tabla: opcion,
                    desde: desdeAño,
                    hasta: hastaAño
                },
                type: "GET",
                dataType: "json",
                success: function (data) {
                    var seriesData = [];
                    var xCategories = [];
                    var seriesName = [];
                    var valores = [];
                    var i, cat, nombre, k, titulo, sw = true;

                    switch (opcion) {
                        case "2"://subárea ocde
                            titulo = "Número de organizaciones con las que se realiza colaboración para ACTI por subárea OCDE";
                            break;
                        case "3"://disciplina ocde
                            titulo = "Número de organizaciones con las que se realiza colaboración para ACTI por disciplina OCDE";
                            break;
                        case "4"://acti primer nivel
                            titulo = "Número de organizaciones con las que se realiza colaboración para ACTI por el primer nivel ACTI";
                            break;
                        case "5"://acti segundo nivel
                            titulo = "Número de organizaciones con las que se realiza colaboración para ACTI por el segundo nivel ACTI";
                            break;
                        case "6"://acti tercer nivel
                            titulo = "Número de organizaciones con las que se realiza colaboración para ACTI por el tercer nivel ACTI";
                            break;
                        case "7"://naturaleza de la organización
                            titulo = "Número de organizaciones con las que se realiza colaboración para ACTI por naturaleza de la organización";
                            break;
                        case "8"://ámbito geográfico
                            titulo = "Número de organizaciones con las que se realiza colaboración para ACTI por ámbito geográfico";
                            break;
                        case "9"://formalidad del vínculo
                            titulo = "Número de organizaciones con las que se realiza colaboración para ACTI por formalidad del vínculo";
                            break;
                        case "10"://clase ciiu
                            titulo = "Número de organizaciones con las que se realiza colaboración para ACTI por clase CIIU";
                            break;
                        case "11"://grupo ciiu
                            titulo = "Número de organizaciones con las que se realiza colaboración para ACTI por grupo CIIU";
                            break;
                        case "12"://división ciiu
                            titulo = "Número de organizaciones con las que se realiza colaboración para ACTI por división CIIU";
                            break;
                        case "13"://sección ciiu
                            titulo = "Número de organizaciones con las que se realiza colaboración para ACTI por sección CIIU";
                            break;
                        default://área ocde
                            titulo = "Número de organizaciones con las que se realiza colaboración para ACTI por área OCDE"
                            break;
                    }
                    for (i = 0; i < data.length; i++) {
                        cat = data[i].año;
                        nombre = data[i].nombre;
                        if (xCategories.indexOf(cat) === -1) {
                            xCategories[xCategories.length] = cat;
                        }
                        if (seriesName.indexOf(nombre) === -1) {
                            seriesName[seriesName.length] = nombre;
                        }
                    }
                    for (i = 0; i < seriesName.length; i++) {
                        valores = [];
                        for (j = 0; j < xCategories.length; j++) {
                            var k = 0;
                            var sw = false;
                            while (k < data.length && !sw) {
                                if (data[k].nombre == seriesName[i] && data[k].año == xCategories[j]) {
                                    valores[j] = data[k].total;
                                    sw = true;
                                } else {
                                    k++;
                                }
                            }
                            if (!sw) {
                                valores[j] = null;
                            }
                        }
                        seriesData[i] = { name: seriesName[i], data: valores };
                    }
                    var chart;
                    $(document).ready(function () {

                        chart = new Highcharts.Chart({
                            chart: {
                                renderTo: 'grafico1',
                                type: 'column'
                            },
                            title: {
                                text: titulo
                            },
                            subtitle: {
                                text: 'Fuente: Vicerrectoría de extensión, investigación y Oficina de Relaciones Internacionales (ORI)'
                            },
                            xAxis: {
                                title: {
                                    text: 'Años'
                                },
                                categories: xCategories
                            },
                            yAxis: {
                                min: 0,
                                title: {
                                    text: 'Organizaciones',
                                    align: 'high'
                                },
                                labels: {
                                    overflow: 'justify'
                                },
                                stackLabels: {
                                    enabled: true
                                }
                            },
                            tooltip: {
                                headerFormat: '<b>{point.x}</b><br/>',
                                pointFormat: '{series.name}: {point.y} organizaciones<br/>' +
                                    'Total: {point.stackTotal} organizaciones'
                            },
                            plotOptions: {
                                column: {
                                    stacking: 'normal'
                                }
                            },
                            credits: {
                                enabled: false
                            },
                            series: seriesData
                        });
                    });
                },
                error: function () {
                    $("#grafico1").html("Error al cargar los datos del gráfico");
                }
            });
        }
        //Gráfico de OrganizacionesColaboracion en el año por ciiu y ocde
        function DrawOrganizacionesOCDECatCIIU(año, ciiu, ocde) {
            $("#grafico2").html('<img src="Content/Imagenes/cargando.gif" class="img-responsive centrar"/>');

            $.ajax({
                url: "@Url.Action("OrganizacionesColaboracionCIIUOCDE", "OrganizacionesColaboracion")",
                data: {
                    yearSearch: año,
                    catCIIU: $('#ciiu').val(),
                    catOCDE: $('#ocde').val()
                },
                type: "GET",
                dataType: "json",
                success: function (data) {
                    var seriesData = [];
                    var xCategories = [];
                    var seriesName = [];
                    var valores = [];

                    var i, cat, nombre;
                    for (i = 0; i < data.length; i++) {
                        cat = data[i].ocde;
                        nombre = data[i].nombre;
                        if (xCategories.indexOf(cat) === -1) {
                            xCategories[xCategories.length] = cat;
                        }
                        if (seriesName.indexOf(nombre) === -1) {
                            seriesName[seriesName.length] = nombre;
                        }
                    }

                    for (i = 0; i < seriesName.length; i++) {
                        valores = [];
                        for (j = 0; j < xCategories.length; j++) {
                            var k = 0;
                            var sw = false;
                            while (k < data.length && !sw) {
                                if (data[k].nombre == seriesName[i] && data[k].ocde == xCategories[j]) {
                                    valores[j] = data[k].total;
                                    sw = true;
                                } else {
                                    k++;
                                }
                            }
                            if (!sw) {
                                valores[j] = null;
                            }
                        }
                        seriesData[i] = { name: seriesName[i], data: valores };
                    }

                    var chart;
                    $(document).ready(function () {
                        chart = new Highcharts.Chart({
                            chart: {
                                renderTo: 'grafico2',
                                type: 'bar'
                            },
                            title: {
                                text: 'Número de organizaciones con las que se realiza colaboración para ACTI en el año ' + año + ' por ' + ciiu.toLowerCase() + ' CIIU y ' + ocde.toLowerCase() + ' OCDE'
                            },
                            subtitle: {
                                text: 'Fuente: Vicerrectoría de extensión, investigación y Oficina de Relaciones Internacionales (ORI)'
                            },
                            xAxis: {
                                title: {
                                    text: ocde + ' OCDE'
                                },
                                categories: xCategories
                            },
                            yAxis: {
                                min: 0,
                                title: {
                                    text: 'Organizaciones',
                                    align: 'high'
                                },
                                stackLabels: {
                                    enabled: true
                                }
                            },
                            tooltip: {
                                headerFormat: '<b>{point.x}</b><br/>',
                                pointFormat: '{series.name}: {point.y} organizaciones<br/>'
                            },
                            legend: {
                                reversed: true
                            },
                            plotOptions: {
                                bar: {
                                    stacking: 'normal'
                                }
                            },
                            credits: {
                                enabled: false
                            },
                            series: seriesData
                        });
                    });
                },
                error: function () {
                    $("#grafico2").html("Error al cargar los datos del gráfico");
                }
            });
        }
        //Gráfico de OrganizacionesColaboracion en el año por ocde y acti
        function DrawOrganizacionesOCDENivelACTI(año, acti, ocde) {
            $("#grafico2").html('<img src="Content/Imagenes/cargando.gif" class="img-responsive centrar"/>');
            $("#grafico3").html('<img src="Content/Imagenes/cargando.gif" class="img-responsive centrar"/>');

            $.ajax({
                url: "@Url.Action("OrganizacionesColaboracionOCDEACTI", "OrganizacionesColaboracion")",
                data: {
                    yearSearch: año,
                    catOCDE: $('#ocde').val(),
                    catACTI: $('#acti').val()
                },
                type: "GET",
                dataType: "json",
                success: function (data) {
                    var seriesData = [];
                    var xCategories = [];
                    var seriesName = [];
                    var valores = [];

                    var i, cat, nombre;
                    for (i = 0; i < data.length; i++) {
                        cat = data[i].acti;
                        nombre = data[i].nombre;
                        if (xCategories.indexOf(cat) === -1) {
                            xCategories[xCategories.length] = cat;
                        }
                        if (seriesName.indexOf(nombre) === -1) {
                            seriesName[seriesName.length] = nombre;
                        }
                    }

                    for (i = 0; i < seriesName.length; i++) {
                        valores = [];
                        for (j = 0; j < xCategories.length; j++) {
                            var k = 0;
                            var sw = false;
                            while (k < data.length && !sw) {
                                if (data[k].nombre == seriesName[i] && data[k].acti == xCategories[j]) {
                                    valores[j] = data[k].total;
                                    sw = true;
                                } else {
                                    k++;
                                }
                            }
                            if (!sw) {
                                valores[j] = null;
                            }
                        }
                        seriesData[i] = { name: seriesName[i], data: valores };
                    }

                    var chart;
                    $(document).ready(function () {
                        chart = new Highcharts.Chart({
                            chart: {
                                renderTo: 'grafico3',
                                type: 'bar'
                            },
                            title: {
                                text: 'Número de organizaciones con las que se realiza colaboración para ACTI en el año ' + año + ' por ' + ocde.toLowerCase() + ' OCDE y ' + acti.toLowerCase() + ' nivel ACTI'
                            },
                            subtitle: {
                                text: 'Fuente: Vicerrectoría de extensión, investigación y Oficina de Relaciones Internacionales (ORI)'
                            },
                            xAxis: {
                                title: {
                                    text: acti + ' nivel ACTI'
                                },
                                categories: xCategories
                            },
                            yAxis: {
                                min: 0,
                                title: {
                                    text: 'Organizaciones',
                                    align: 'high'
                                }
                            },
                            legend: {
                                reversed: true
                            },
                            tooltip: {
                                headerFormat: '<b>{point.x}</b><br/>',
                                pointFormat: '{series.name}: {point.y} organizaciones<br/>'
                            },
                            plotOptions: {
                                series: {
                                    stacking: 'normal'
                                }
                            },
                            credits: {
                                enabled: false
                            },
                            series: seriesData
                        });
                    });
                },
                error: function () {
                    $("#grafico3").html("Error al cargar los datos del gráfico");
                }
            });
        }
        //Gráfico de OrganizacionesColaboracion en el año por ciiu y acti
        function DrawOrganizacionesACTICatCIIU(año, ciiu, acti) {
            $("#grafico2").html('<img src="Content/Imagenes/cargando.gif" class="img-responsive centrar"/>');
            $("#grafico4").html('<img src="Content/Imagenes/cargando.gif" class="img-responsive centrar"/>');

            $.ajax({
                url: "@Url.Action("OrganizacionesColaboracionCIIUACTI", "OrganizacionesColaboracion")",
                data: {
                    yearSearch: año,
                    catCIIU: $('#ciiu').val(),
                    catACTI: $('#acti').val()
                },
                type: "GET",
                dataType: "json",
                success: function (data) {
                    var seriesData = [];
                    var xCategories = [];
                    var seriesName = [];
                    var valores = [];

                    var i, cat, nombre;
                    for (i = 0; i < data.length; i++) {
                        cat = data[i].acti;
                        nombre = data[i].nombre;
                        if (xCategories.indexOf(cat) === -1) {
                            xCategories[xCategories.length] = cat;
                        }
                        if (seriesName.indexOf(nombre) === -1) {
                            seriesName[seriesName.length] = nombre;
                        }
                    }

                    for (i = 0; i < seriesName.length; i++) {
                        valores = [];
                        for (j = 0; j < xCategories.length; j++) {
                            var k = 0;
                            var sw = false;
                            while (k < data.length && !sw) {
                                if (data[k].nombre == seriesName[i] && data[k].acti == xCategories[j]) {
                                    valores[j] = data[k].total;
                                    sw = true;
                                } else {
                                    k++;
                                }
                            }
                            if (!sw) {
                                valores[j] = null;
                            }
                        }
                        seriesData[i] = { name: seriesName[i], data: valores };
                    }

                    var chart;
                    $(document).ready(function () {
                        chart = new Highcharts.Chart({
                            chart: {
                                renderTo: 'grafico4',
                                type: 'bar'
                            },
                            title: {
                                text: 'Número de organizaciones con las que se realiza colaboración para ACTI en el año ' + año + ' por ' + ciiu.toLowerCase() + ' CIIU y ' + acti.toLowerCase() + ' nivel ACTI'
                            },
                            subtitle: {
                                text: 'Fuente: Vicerrectoría de extensión, investigación y Oficina de Relaciones Internacionales (ORI)'
                            },
                            xAxis: {
                                title: {
                                    text: acti + ' nivel ACTI'
                                },
                                categories: xCategories
                            },
                            yAxis: {
                                min: 0,
                                title: {
                                    text: 'Organizaciones',
                                    align: 'high'
                                }
                            },
                            legend: {
                                reversed: true
                            },
                            tooltip: {
                                headerFormat: '<b>{point.x}</b><br/>',
                                pointFormat: '{series.name}: {point.y} organizaciones<br/>'
                            },
                            plotOptions: {
                                series: {
                                    stacking: 'normal'
                                }
                            },
                            credits: {
                                enabled: false
                            },
                            series: seriesData
                        });
                    });
                },
                error: function () {
                    $("#grafico4").html("Error al cargar los datos del gráfico");
                }
            });
        }
        /*----Dibuja los OrganizacionesColaboracion en el año por nivel acti y ámbito geográfico----*/
        function DrawOrganizacionesAmbGeoACTI(año, acti) {
            $("#grafico2").html('<img src="Content/Imagenes/cargando.gif" class="img-responsive centrar"/>');
            $("#grafico5").html('<img src="Content/Imagenes/cargando.gif" class="img-responsive centrar"/>');

            $.ajax({
                url: "@Url.Action("OrganizacionesColaboracionAmbitoACTI", "OrganizacionesColaboracion")",
                data: {
                    yearSearch: año,
                    catACTI: $('#acti').val()
                },
                type: "GET",
                dataType: "json",
                success: function (data) {
                    var seriesData = [];
                    var xCategories = [];
                    var seriesName = [];
                    var valores = [];

                    var i, cat, nombre, k;
                    for (i = 0; i < data.length; i++) {
                        cat = data[i].ambito;
                        nombre = data[i].nombre;
                        if (xCategories.indexOf(cat) === -1) {
                            xCategories[xCategories.length] = cat;
                        }
                        if (seriesName.indexOf(nombre) === -1) {
                            seriesName[seriesName.length] = nombre;
                        }

                    }

                    for (i = 0; i < seriesName.length; i++) {
                        valores = [];
                        for (j = 0; j < xCategories.length; j++) {
                            var k = 0;
                            var sw = false;
                            while (k < data.length && !sw) {
                                if (data[k].nombre == seriesName[i] && data[k].ambito == xCategories[j]) {
                                    valores[j] = data[k].total;
                                    sw = true;
                                } else {
                                    k++;
                                }
                            }
                            if (!sw) {
                                valores[j] = null;
                            }
                        }
                        seriesData[i] = { name: seriesName[i], data: valores };
                    }

                    var chart;
                    $(document).ready(function () {
                        chart = new Highcharts.Chart({
                            chart: {
                                renderTo: 'grafico5',
                                type: 'column'
                            },
                            title: {
                                text: 'Número de organizaciones con las que se realiza colaboración para ACTI en el año ' + año + ' por ámbito geográfico y ' + acti.toLowerCase() + ' nivel ACTI'
                            },
                            subtitle: {
                                text: 'Fuente: Vicerrectoría de extensión, investigación y Oficina de Relaciones Internacionales (ORI)'
                            },
                            xAxis: {
                                title: {
                                    text: 'Ámbito geográfico'
                                },
                                categories: xCategories
                            },
                            yAxis: {
                                min: 0,
                                title: {
                                    text: 'Organizaciones',
                                    align: 'high'
                                }
                            },
                            tooltip: {
                                headerFormat: '<b>{point.x}</b><br/>',
                                pointFormat: '{series.name}: {point.y} organizaciones'
                            },
                            plotOptions: {
                                column: {
                                    stacking: 'normal'
                                }
                            },
                            credits: {
                                enabled: false
                            },
                            series: seriesData
                        });
                    });
                },
                error: function () {
                    $("#grafico5").html("Error al cargar los datos del gráfico");
                }
            });
        }
        //Gráfico OrganizacionesColaboracion por acti y formalidad del vínculo
        function DrawOrganizacionesVinculoACTI(año, acti) {
            $("#grafico2").html('<img src="Content/Imagenes/cargando.gif" class="img-responsive centrar"/>');
            $("#grafico6").html('<img src="Content/Imagenes/cargando.gif" class="img-responsive centrar"/>');

            $.ajax({
                url: "@Url.Action("OrganizacionesColaboracionFormalidadACTI", "OrganizacionesColaboracion")",
                data: {
                    yearSearch: año,
                    catACTI: $('#acti').val()
                },
                type: "GET",
                dataType: "json",
                success: function (data) {
                    var seriesData = [];
                    var xCategories = [];
                    var seriesName = [];
                    var valores = [];

                    var i, cat, nombre;
                    for (i = 0; i < data.length; i++) {
                        cat = data[i].vinculo;
                        nombre = data[i].nombre;
                        if (xCategories.indexOf(cat) === -1) {
                            xCategories[xCategories.length] = cat;
                        }
                        if (seriesName.indexOf(nombre) === -1) {
                            seriesName[seriesName.length] = nombre;
                        }
                    }

                    for (i = 0; i < seriesName.length; i++) {
                        valores = [];
                        for (j = 0; j < xCategories.length; j++) {
                            var k = 0;
                            var sw = false;
                            while (k < data.length && !sw) {
                                if (data[k].nombre == seriesName[i] && data[k].vinculo == xCategories[j]) {
                                    valores[j] = data[k].total;
                                    sw = true;
                                } else {
                                    k++;
                                }
                            }
                            if (!sw) {
                                valores[j] = null;
                            }
                        }
                        seriesData[i] = { name: seriesName[i], data: valores };
                    }

                    var chart;
                    $(document).ready(function () {
                        chart = new Highcharts.Chart({
                            chart: {
                                renderTo: 'grafico6',
                                type: 'bar'
                            },
                            title: {
                                text: 'Número de organizaciones con las que se realiza colaboración para ACTI en el año ' + año + ' por ' + acti.toLowerCase() + ' nivel ACTI y formalidad del vínculo'
                            },
                            subtitle: {
                                text: 'Fuente: Vicerrectoría de extensión, investigación y Oficina de Relaciones Internacionales (ORI)'
                            },
                            xAxis: {
                                title: {
                                    text: 'Formalidad del vínculo'
                                },
                                categories: xCategories
                            },
                            yAxis: {
                                min: 0,
                                title: {
                                    text: 'Organizaciones',
                                    align: 'high'
                                }
                            },
                            legend: {
                                reversed: true
                            },
                            tooltip: {
                                headerFormat: '<b>{point.x}</b><br/>',
                                pointFormat: '{series.name}: {point.y} organizaciones<br/>'
                            },
                            plotOptions: {
                                series: {
                                    stacking: 'normal'
                                }
                            },
                            credits: {
                                enabled: false
                            },
                            series: seriesData
                        });
                    });
                },
                error: function () {
                    $("#grafico6").html("¡Error al cargar los datos del gráfico!");
                }
            });
        }
        //Gráfico OrganizacionesColaboracion por acti y naturaleza de la organización
        function DrawOrganizacionesNatOrgACTI(año, acti) {
            $("#grafico2").html('<img src="Content/Imagenes/cargando.gif" class="img-responsive centrar"/>');
            $("#grafico7").html('<img src="Content/Imagenes/cargando.gif" class="img-responsive centrar"/>');

            $.ajax({
                url: "@Url.Action("OrganizacionesColaboracionNatOrgACTI", "OrganizacionesColaboracion")",
                data: {
                    yearSearch: año,
                    catACTI: $('#acti').val()
                },
                type: "GET",
                dataType: "json",
                success: function (data) {
                    var seriesData = [];
                    var xCategories = [];
                    var seriesName = [];
                    var valores = [];

                    var i, cat, nombre;
                    for (i = 0; i < data.length; i++) {
                        cat = data[i].organizacion;
                        nombre = data[i].nombre;
                        if (xCategories.indexOf(cat) === -1) {
                            xCategories[xCategories.length] = cat;
                        }
                        if (seriesName.indexOf(nombre) === -1) {
                            seriesName[seriesName.length] = nombre;
                        }
                    }

                    for (i = 0; i < seriesName.length; i++) {
                        valores = [];
                        for (j = 0; j < xCategories.length; j++) {
                            var k = 0;
                            var sw = false;
                            while (k < data.length && !sw) {
                                if (data[k].nombre == seriesName[i] && data[k].organizacion == xCategories[j]) {
                                    valores[j] = data[k].total;
                                    sw = true;
                                } else {
                                    k++;
                                }
                            }
                            if (!sw) {
                                valores[j] = null;
                            }
                        }
                        seriesData[i] = { name: seriesName[i], data: valores };
                    }

                    var chart;
                    $(document).ready(function () {
                        chart = new Highcharts.Chart({
                            chart: {
                                renderTo: 'grafico7',
                                type: 'bar'
                            },
                            title: {
                                text: 'Número de organizaciones con las que se realiza colaboración para ACTI en el año ' + año + ' por ' + acti.toLowerCase() + ' nivel ACTI y naturaleza de la organización'
                            },
                            subtitle: {
                                text: 'Fuente: Vicerrectoría de extensión, investigación y Oficina de Relaciones Internacionales (ORI)'
                            },
                            xAxis: {
                                title: {
                                    text: 'Naturaleza de la organización'
                                },
                                categories: xCategories
                            },
                            yAxis: {
                                min: 0,
                                title: {
                                    text: 'Organizaciones',
                                    align: 'high'
                                },
                                stackLabels: {
                                    enabled: true
                                }
                            },
                            legend: {
                                reversed: true
                            },
                            tooltip: {
                                headerFormat: '<b>{point.x}</b><br/>',
                                pointFormat: '{series.name}: {point.y} organizaciones<br/>'
                            },
                            plotOptions: {
                                bar: {
                                    stacking: 'normal'
                                }
                            },
                            credits: {
                                enabled: false
                            },
                            series: seriesData
                        });
                    });
                },
                error: function () {
                    $("#grafico7").html("¡Error al cargar los datos del gráfico!");
                }
            });
        }
    </script>
}
