﻿@{
    Layout = "~/Views/Shared/_MasterPage.cshtml";
    ViewBag.Title = "Portal de indicadores de ACTI";
}

@section head{
    <style>
        .pvtTotal, .pvtTotalLabel, .pvtGrandTotal {
            display: none;
        }
    </style>
    <link href="~/Scripts/pivotTable/dist/pivot.css" rel="stylesheet">
}

<div>
    <!-- contenido -->
    <div class="row">
        <div class="col-lg-12 col-md-12">
            <!--Información del indicador-->
            <div class="well">
                <div class="container-fluid"> 
                    <div class="row">
                        <div class="col-lg-12 col-md-12">
                            <h4><strong>Posición de la universidad en rankings de ciencia, tecnología y ciencia (CTI):</strong></h4>
                            <p class="text-justify">
                                Valora la reputación académica derivada de la capacidad de la universidad para integrar sinérgicamente recursos y capacidades en actividades de ciencia, tecnología e innovación (ACTI) para obtener resultados e impactos de CTI con los que obtiene reconocimiento estable y duradero por parte de la sociedad en general y por grupos específicos interesados. Se calcula observando la posición obtenida en el ranking y se mide en “posición”. Se puede discriminar por: posición relativa en ámbito geográfico y posición relativa en campo de conocimiento según la clasificación OCDE.
                            </p>
                        </div>
                    </div>
                </div>
            </div>
            <!--./Información del indicador-->
            <!--Tabs-->
            <div class="panel with-nav-tabs panel-primary" id="tabs">
                <!--Encabezado tabs-->
                <div class="panel-heading">
                    <ul class="nav nav-tabs">
                        <li class="active"><a href="#resumenIndicador" data-toggle="tab">Consulta general</a></li>
                        <li class="pull-right-lg">
                            <a href="#ayudaIndicador" data-toggle="tab">
                                <img src="~/Content/Iconos/help.png" />
                            </a>
                        </li>
                        <li class="dropdown pull-right-lg">
                            <button data-toggle="dropdown" class="dropdown-toggle btn btn-link"><span class="fa fa-download"></span> Descargar <span class="caret"></span></button>
                            <ul class="dropdown-menu" role="menu">
                                <li><a onclick="exportar('Excel')"> <span class="fa fa-file-excel-o"></span> Excel (.xls)</a></li>
                                <li><a onclick="exportar('Word')"> <span class="fa fa-file-word-o"></span> Word</a></li>
                            </ul>
                        </li>
                    </ul>
                </div>
                <!--./Fin encabezado tabs-->
                <!--Contenido tabs-->
                <div class="panel-body">
                    <div class="tab-content">
                        <!--Tab1: consulta general del indicador-->
                        <div class="tab-pane fade in active" id="resumenIndicador">
                            <!--Titulo del tab-->
                            <div>
                                <h3 class="title-tab">Consulta general de posición de la universidad en rankings de CTI <a href="#myModal1" data-toggle="modal"><i class="fa fa-info-circle"></i></a></h3>
                            </div>
                            <!--./Fin titulo del tab-->
                            <!--Selecciona el rango de años-->
                            <div class="row">
                                <form class="form">
                                    <!--Selecciona el año desde-->
                                    <div class="col-lg-offset-3 col-md-offset-3 col-lg-2 col-md-2">
                                        <label>Desde</label>
                                        <select class="form-control" id="fromYear" name="fromYear">
                                            <option value="-100">Todos</option>
                                        </select>
                                    </div>
                                    <!--./Fin selecciona el año desde-->
                                    <!--Selecciona hasta que año consultar-->
                                    <div class="col-lg-2 col-md-2">
                                        <div class="form-group">
                                            <label>Hasta</label>
                                            <select class="form-control" id="toYear" name="toYear">
                                                <option value="-100">Todos</option>
                                            </select>
                                        </div>
                                    </div>
                                    <!--./Fin selecciona hasta año -->
                                    <!--Botón consultar-->
                                    <div class="col-lg-2 col-md-2 topBoton">
                                        <button type="button" class="btn btn-primary" id="searchData">Consultar</button>
                                    </div>
                                    <!--./Fin botón consultar-->
                                </form>
                            </div>
                            <!--./Fin selecciona el rango de años-->
                            <!--Tabla del indicador-->
                            <div class="row container-fluid">
                                <div class="col-lg-offset-2 col-lg-8 col-md-offset-2 col-md-8">
                                    <h4 class="text-center title-tabla" id="nombreTabla"></h4>
                                </div>

                                <div class="table-responsive col-lg-12 col-lg-12 col-md-12 col-sm-12">
                                    <div id="posicion_tabla" style="align-items:center;"></div>
                                </div>
                            </div>
                            <!--./Fin Tabla del indicador-->
                        </div>
                        <!--./Fin tab1: consulta general del indicador-->
                        <!--Tab2: ayuda del indicador-->
                        <div class="tab-pane fade" id="ayudaIndicador">
                            <!--Titulo del tab ayuda del indicador-->
                            <div>
                                <h3 class="title-tab">Ayuda del indicador posición de la universidad en rankings de CTI</h3>
                            </div>
                            <!--./Fin titulo del tab ayuda del indicador-->
                            <div class="space">
                                <p class="text-justify">En consulta general podrá ver la tabla de datos y gráfica por años del indicador asociado a una desagregación seleccionada. En los indicadores de personas y productos contará además de estos filtros, con la posibilidad de mostrar el indicador de acuerdo a las opciones presentadas en el primer nivel ACTI.</p>
                                <p class="text-justify">Esta pestaña funciona de la siguiente manera:</p>
                                <ol>
                                    <li>
                                        <p class="text-justify">Seleccione el rango de los años por el que desea visualizar el indicador, para ello se encuentra el filtro <strong class="text-info">Desde</strong> y <strong class="text-info">Hasta</strong> donde usted escoge el año de inicio y fin por el que desea listar la información del indicador.</p>
                                        <img class="img-responsive center-block" src="@Url.Content("~/Content/Imagenes/rangoYear.jpg")" alt="Filtros de rango de años" />
                                        <p class="text-justify"><strong class="text-info">Nota:</strong> Para ver el indicador listado por todos los años seleccione la opción <strong class="text-info"><em>"Todos"</em></strong> en el filtro <strong class="text-info">Desde</strong>, esta es la opción por defecto con la que inicia el indicador.</p>
                                        <img class="img-responsive center-block" src="@Url.Content("~/Content/Imagenes/todos.png")" alt="Filtro desde con opción de todos los años" />
                                    </li>
                                    <li>
                                        <p class="text-justify">De clic en el botón <img border="0" src="@Url.Content("~/Content/Imagenes/btnConsultar.png")" /> para efectuar la carga del indicador.</p>
                                    </li>
                                </ol>
                                <p class="text-justify"><strong class="text-info">Nota: </strong>Si desea descargar la tabla del indicador que está visualizando diríjase al botón <strong class="text-info">Descargar</strong> ubicado en la parte superior del panel de este indicador y seleccione el formato deseado.</p>
                                <img class="img-responsive center-block" src="@Url.Content("~/Content/Imagenes/descargar_posiciones.png")" alt="Decargar posiciones" />
                            </div>
                        </div>
                        <!--./Fin tab2: ayuda del indicador-->
                    </div>
                </div>
                <!--./Fin contenido tabs-->

                <div class="panel-footer">
                    <p class="text-center">Fuente de información: Base rankings</p>
                </div>
            </div>
            <!--./Fin tabs-->
        </div>
    </div>
    <!-- /.contenido -->
    <!-- Ventanas información -->
    <div class="row">
        <div class="col-lg-12">
            <!-- Modal de información de consulta general -->
            <div class="modal fade" id="myModal1" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                            <h4 class="modal-title" id="myModalLabel">Información consulta general</h4>
                        </div>
                        <div class="modal-body">
                            <p class="text-justify">En esta pestaña puede visualizar la tabla de datos del indicador limitando su búsqueda por rango de años.</p>
                            <p class="text-justify">Si desea descargar la tabla de datos del indicador diríjase a la pestaña <strong class="text-info"><em>Descargar</em></strong> ubicada en la parte superior de este panel y seleccione el formato a descargar.</p>
                            <p class="text-info text-center"><strong>Para mayor información consulte la pestaña de ayuda ubicada en la parte superior de este panel.</strong></p>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-primary" data-dismiss="modal">Cerrar</button>
                        </div>
                    </div>
                    <!-- /.modal-content -->
                </div>
                <!-- /.modal-dialog -->
            </div>
            <!-- /.Modal de información de consulta general -->
        </div>
    </div>
    <!-- /.Ventanas información -->
</div>

@section SeccionScripts{
    @Scripts.Render("~/bundles/scriptsIndicadores")

    <script>
        var desdeAño = "-100", hastaAño = "-100";

        $('a[data-toggle="tab"]').on('shown.bs.tab', function (evt) {
            $(window).resize();
        });

        $(document).ready(function () {
            loadDataTables();       //carga inicial de los datos y gráficos del indicador
            load_years();         //carga los años del indicador
            change_hasta();       //cambio del año hasta
            datosTablaResumen();  //llena la tabla de consulta general
        });
        /*------------------Carga los años en los select------------------*/
        function load_years() {
            $.get(
                    '@Url.Action("getYears", "Posiciones")'
                )
                .done(function (data) {
                    var lastYear = (new Date).getFullYear() - 1;
                    $.each(data, function (i, row) {
                        var $option = $('<option>');
                        $option.val(row.año);
                        $option.html(row.año);
                        $('#fromYear').append($option);

                        var $option = $('<option>');
                        $option.val(row.año);
                        $option.html(row.año);
                        $('#year').append($option);
                        if (parseInt(row.año) == lastYear) {
                            $('#year').val(row.año);
                        }
                    })
                })
                .fail(function (data) {
                    console.log('Error al cargar años!!!');
                }
            );
        }
        /*------------------Cambia el año hasta al seleccionar un año desde--------------*/
        function change_hasta() {
            $('#fromYear').change(function () {
                $.get(
                        '@Url.Action("getYears", "Posiciones")'
                    )
                    .done(function (data) {
                        var from = $("#fromYear").find(':selected').text();
                        var fromValue = $("#fromYear").find(':selected').val();
                        $('#toYear').empty();

                        if (fromValue == "-100") {
                            var $option = $('<option>');
                            $option.val("-100");
                            $option.html("Todos");
                            $('#toYear').append($option);
                        } else {
                            $.each(data, function (i, row) {
                                if (parseInt(row.año) >= parseInt(from)) {
                                    var $option = $('<option>');
                                    $option.val(row.año);
                                    $option.html(row.año);
                                    $('#toYear').append($option);
                                }
                            })
                        }
                    })
                    .fail(function (data) {
                        console.log('Error al cargar años hasta!!!');
                    }
                );
            });
        }
        /*-------------------Carga los datos y gráficos en consulta general--------------*/
        function datosTablaResumen() {
            $("#searchData").click(function () {
                //asigna a las variables globales el nuevo valor
                desdeAño = $('#fromYear').val();
                hastaAño = $('#toYear').val();
                loadDataTables();
            });
        }
        /*-------------------------------Exporta el indicador Posicionesleto-------------------------*/
        function exportar(id) {
            var dt = new Date();
            var month = dt.getMonth() + 1;
            var day = dt.getDate();
            var year = dt.getFullYear();
            var tipoReporte = "0";

            var fecha = day + "" + month + "" + year;
            var fileName = "Posiciones" + fecha;
            window.location = "/Posiciones/Reporte/" + id + "/" + desdeAño + "/" + hastaAño + "/" + tipoReporte + "/" + fileName;
        }
        /*----Lista la tabla de Posiciones----*/
        function loadDataTables() {
            $("#posicion_tabla").html('<img src="Content/Imagenes/cargando.gif" class="img-responsive centrar"/>');
            $.ajax({
                url: "@Url.Action("Listar", "Posiciones")",
                type: "GET",
                data:{
                    desde:desdeAño,
                    hasta:hastaAño,
                },
                dataType: "json",
                success: function (data) {
                    var listUnique = $.pivotUtilities.aggregatorTemplates.listUnique;

                    $('#nombreTabla').text("Posición de la universidad en rankings de CTI");
                    $("#posicion_tabla").pivot(data, {
                        rows: ["Ámbito_Geográfico","Ranking","Área_OCDE","Subárea_OCDE","Disciplina_OCDE"],
                        cols: ["Año"],
                        aggregator: listUnique()(["Posición"])
                    });
                },
                error: function () {
                    alert("¡Falla cargando los datos de la tabla! Intente de nuevo.");
                }
            });
        }
    </script>
}
