﻿@{
    Layout = "~/Views/Shared/_IndicadoresLayout.cshtml";
    ViewBag.Indicador = "Productos de actividades de ciencia, tecnología e innovación (ACTI):";
    ViewBag.Descripcion = "Contabiliza los productos resultantes de las actividades de ciencia, tecnología e innovación (ACTI) de la Universidad del Magdalena. Se calcula por conteo y se mide en “productos”. Se puede discriminar por: naturaleza del producto, actividades desarrolladas (desagregación de las ACTI), campo de conocimiento según la clasificación OCDE, ámbito sectorial según la Clasificación Industrial Internacional Uniforme CIIU de la ONU, tipología utilizada por COLCIENCIAS, idioma, ámbito geográfico (regional, nacional o internacional), elaboración colaborativa, citaciones.";
    ViewBag.Nombre = "número de productos de actividades de ciencia, tecnología e innovación";
    ViewBag.Fuente = "D.T.C.P.I y dirección de gestión";
}

@section ConsultaGeneral{
    <!--Selecciona el rango de años, la tabla a consultar y acti-->
    <div class="row">
        <form class="form">
            <!--Selecciona el año desde-->
            <div class="col-lg-offset-1 col-md-offset-1 col-lg-2 col-md-2">
                <label>Desde</label>
                <select class="form-control" id="fromYear" name="fromYear">
                    <option value="-100">Todos</option>
                </select>
            </div>
            <!--./Fin selecciona el año desde-->
            <!--Selecciona hasta que año consultar-->
            <div class="col-lg-2 col-md-2">
                <div class="form-group">
                    <label>Hasta</label>
                    <select class="form-control" id="toYear" name="toYear">
                        <option value="-100">Todos</option>
                    </select>
                </div>
            </div>
            <!--./Fin selecciona hasta año -->
            <!--Selecciona el tipo de dimensión-->
            <div class="col-lg-2 col-md-2">
                <div class="form-group">
                    <label>Tabla</label>
                    <select class="form-control" id="tabla">
                        <option value="1">Área OCDE</option>
                        <option value="2">Subárea OCDE</option>
                        <option value="3">Disciplina OCDE</option>
                        <option value="4">Segundo nivel ACTI</option>
                        <option value="5">Tercer nivel ACTI</option>
                        <option value="6">Clase CIIU</option>
                        <option value="7">Grupo CIIU</option>
                        <option value="8">División CIIU</option>
                        <option value="9">Sección CIIU</option>
                        <option value="10">Ámbito geográfico</option>
                        <option value="11">Naturaleza del producto</option>
                        <option value="12">Categoría del producto</option>
                        <option value="13">Tipología colciencias</option>
                        <option value="14">Idioma</option>
                        <option value="15">Elaboración colaborativa</option>
                        <option value="16">Citaciones</option>
                    </select>
                </div>
            </div>
            <!--./Fin selecciona el tipo de dimensión-->
            <!--Selecciona acti-->
            <div class="col-lg-2 col-md-2">
                <div class="form-group">
                    <label>ACTI</label>
                    <select class="form-control" id="acti">
                        <option value="Investigación y desarrollo">I+D</option>
                        <option value="Servicios científicos y tecnológicos">SCT</option>
                        <option value="Enseñanza y formación científica y tecnológica">EFCT</option>
                        <option value="Innovación">Innovación</option>
                    </select>
                </div>
            </div>
            <!--./Fin selecciona acti-->
            <!--Botón consultar-->
            <div class="col-lg-2 col-md-2 topBoton">
                <button type="button" class="btn btn-primary" id="searchData">Consultar</button>
            </div>
            <!--./Fin botón consultar-->
        </form>
    </div>
    <!--./Fin selecciona el rango de años, tabla a consultar y acti-->
    <!--Tabla del indicador-->
    <div class="row container-fluid">
        <div class="col-lg-offset-2 col-lg-8 col-md-offset-2 col-md-8">
            <h4 class="text-center title-tabla" id="nombreTabla"></h4>
        </div>

        <div class="table-responsive col-lg-12 col-lg-12 col-md-12 col-sm-12">
            <div id="productos_tabla" style="align-items:center;"></div>
        </div>

        <div class="col-lg-offset-1 col-lg-10 col-md-12 col-sm-12 col-xs-12">
            <div id="grafico1" class="grafico_general"></div>
        </div>
    </div>
    <!--./Fin Tabla del indicador-->
}

@section PanelGraficos{
    <!--Panel de los gráficos-->
    <div class="row">
        <!--Selecciona el año, nivel ciiu y acti-->
        <div class="container-fluid">
            <form class="form">
                <!--Selecciona acti-->
                <div class="col-lg-offset-2 col-lg-3 col-md-offset-2 col-md-3">
                    <div class="form-group">
                        <label>ACTI</label>
                        <select class="form-control" id="acti1">
                            <option value="Investigación y desarrollo">I+D</option>
                            <option value="Servicios científicos y tecnológicos">SCT</option>
                            <option value="Enseñanza y formación científica y tecnológica">EFCT</option>
                            <option value="Innovación">Innovación</option>
                        </select>
                    </div>
                </div>
                <!--./Fin selecciona acti-->
                <!--Selecciona el nivel ciiu-->
                <div class="col-lg-3 col-md-3">
                    <div class="form-group">
                        <label>Nivel CIIU</label>
                        <select class="form-control" id="ciiu">
                            <option value="1">Sección</option>
                            <option value="2">División</option>
                            <option value="3">Grupo</option>
                            <option value="4">Clase</option>
                        </select>
                    </div>
                </div>
                <!--./Fin selecciona el nivel ciiu-->
                <!--Selecciona año-->
                <div class="col-lg-2 col-md-2">
                    <div class="form-group">
                        <label>Año</label>
                        <select class="form-control" id="year"></select>
                    </div>
                </div>
                <!--./Fin selecciona año-->
            </form>
        </div>
        <!--./Fin selecciona el año, nivel ciiu y acti-->
    </div>
    <div class="row">
        <!--Selecciona el producto y ocde-->
        <div class="container-fluid">
            <form class="form">
                <!--Selecciona la categoría del producto-->
                <div class="col-lg-offset-2 col-lg-3 col-md-offset-2 col-md-3">
                    <div class="form-group">
                        <label>Producto</label>
                        <select class="form-control" id="producto">
                            <option value="1">Naturaleza</option>
                            <option value="2">Categoría</option>
                        </select>
                    </div>
                </div>
                <!--./Fin selecciona la categoría del producto-->
                <!--Selecciona ocde-->
                <div class="col-lg-3 col-md-3">
                    <div class="form-group">
                        <label>OCDE</label>
                        <select class="form-control" id="ocde">
                            <option value="1">Área</option>
                            <option value="2">Subárea</option>
                            <option value="3">Disciplina</option>
                        </select>
                    </div>
                </div>
                <!--./Fin selecciona ocde-->
                <!--Botón consultar gráficos-->
                <div class="col-lg-2 col-md-2 topBoton">
                    <button type="button" class="btn btn-primary" id="searchGraphs">Consultar</button>
                </div>
                <!--./Fin botón consultar gráficos-->
            </form>
        </div>
        <!--./Fin selecciona el producto y ocde-->
    </div>
    <div class="row container-fluid">
        <div class="col-lg-offset-1 col-lg-10 col-md-12 col-sm-12 col-xs-12">
            <div id="grafico2" class="grafico"></div>
            <div id="grafico3" class="grafico"></div>
            <div id="grafico4" class="grafico"></div>
        </div>
    </div>
    <!--./Fin panel de los gráficos-->
}

@section scripts{
    <script>
        var desdeAño = "-100", hastaAño = "-100";
        var opcion = "1"; //opcion de la tabla a mostrar

        $(document).ready(function () {
            cargaInicial();       //carga inicial de los datos y gráficos del indicador
            load_years();         //carga los años del indicador
            change_hasta();       //cambio del año hasta
            datosTablaResumen();  //llena la tabla de consulta general
            drawGraphs();         //dibuja los gráficos del panel consulta de gráficos
        });
        /*-----------------------Carga inicialmente los datos y gráficos del indicador----------------*/
        function cargaInicial() {
            $(function () {
                //cuando cargue el gráfico, llena la tabla de consulta general
                DrawGrafico();
                $.when(DrawGrafico()).done(function (a1) {
                    loadDataTables();
                });
            });

            /*----Lista el indicador productos en la tabla dinámica----*/
            $(function () {
                $("#tablaDinamica").html('<img src="Content/Imagenes/cargando.gif" class="img-responsive centrar"/>');
                var sum = $.pivotUtilities.aggregatorTemplates.sum;
                var numberFormat = $.pivotUtilities.numberFormat;
                var intFormat = numberFormat({ digitsAfterDecimal: 0 });

                var renderers = $.extend(
                    $.pivotUtilities.renderers,
                    $.pivotUtilities.c3_renderers,
                    $.pivotUtilities.d3_renderers
                    );

                var actionUrl = '@Url.Action("Listar", "Productos")';

                $.get(actionUrl, function (mps) {
                    $("#tablaDinamica").pivotUI(mps, {
                        aggregators: {
                            "Productos":
                                function () { return sum(intFormat)(["Cantidad"]) }
                        },
                        hiddenAttributes: ["Cantidad"],
                        renderers: renderers,
                        rendererName: "Tabla"
                    });
                });
            });
        }
        /*------------------Carga los años en los select------------------*/
        function load_years() {
            $.get(
                    '@Url.Action("getYears", "Productos")'
                )
                .done(function (data) {
                    var lastYear = (new Date).getFullYear() - 1;
                    $.each(data, function (i, row) {
                        var $option = $('<option>');
                        $option.val(row.año);
                        $option.html(row.año);
                        $('#fromYear').append($option);

                        var $option = $('<option>');
                        $option.val(row.año);
                        $option.html(row.año);
                        $('#year').append($option);
                        if (parseInt(row.año) == lastYear) {
                            $('#year').val(row.año);
                        }
                    })
                    //gráficos de la pestaña consulta gráficos
                    var año = $('#year').val();
                    var ciiu = $("#ciiu").find(':selected').text();
                    var acti = $("#acti1").val();
                    var ocde = $("#ocde").find(':selected').text();
                    var producto = $("#producto").find(':selected').text();

                    DrawProductosCIIUProducto(año, ciiu, producto, acti);
                    DrawProductosOCDEProducto(año, ocde, producto, acti);
                    DrawProductosOCDECatCIIU(año, ciiu, ocde, acti);
                })
                .fail(function (data) {
                    console.log('Error al cargar años!!!');
                }
            );
        }
        /*------------------Cambia el año hasta al seleccionar un año desde--------------*/
        function change_hasta() {
            $('#fromYear').change(function () {
                $.get(
                        '@Url.Action("getYears", "Productos")'
                    )
                    .done(function (data) {
                        var from = $("#fromYear").find(':selected').text();
                        var fromValue = $("#fromYear").find(':selected').val();
                        $('#toYear').empty();

                        if (fromValue == "-100") {
                            var $option = $('<option>');
                            $option.val("-100");
                            $option.html("Todos");
                            $('#toYear').append($option);
                        } else {
                            $.each(data, function (i, row) {
                                if (parseInt(row.año) >= parseInt(from)) {
                                    var $option = $('<option>');
                                    $option.val(row.año);
                                    $option.html(row.año);
                                    $('#toYear').append($option);
                                }
                            })
                        }
                    })
                    .fail(function (data) {
                        console.log('Error al cargar años hasta!!!');
                    }
                );
            });
        }
        /*-------------------Carga los datos y gráficos en consulta general--------------*/
        function datosTablaResumen() {
            $("#searchData").click(function () {
                //asigna a las variables globales el nuevo valor
                desdeAño = $('#fromYear').val();
                hastaAño = $('#toYear').val();
                opcion = $('#tabla').val();
                //cuando cargue el gráfico, llena la tabla de consulta general
                DrawGrafico();
                $.when(DrawGrafico()).done(function (a1) {
                    loadDataTables();
                });
            });
        }
        /*-------------------------------Exporta el indicador completo-------------------------*/
        function exportar(id) {
            var dt = new Date();
            var month = dt.getMonth() + 1;
            var day = dt.getDate();
            var year = dt.getFullYear();
            var tipoReporte = "0";
            var acti = $('#acti').val();

            var fecha = day + "" + month + "" + year;
            var fileName = "Productos" + fecha;
            window.location = "/Productos/Reporte/" + id + "/" + desdeAño + "/" + hastaAño + "/" + tipoReporte + "/" + acti + "/" + fileName;
        }
        /*-------------------------------Exporta el indicador por el tipo de tabla-------------------------*/
        function exportarTabla(id) {
            var dt = new Date();
            var month = dt.getMonth() + 1;
            var day = dt.getDate();
            var year = dt.getFullYear();
            var acti = $('#acti').val();

            var fecha = day + "" + month + "" + year;
            var fileName;
            switch (opcion) {
                case "2"://subárea ocde
                    fileName = "ProductosPorSubáreaOCDE" + fecha;
                    break;
                case "3"://disciplina ocde
                    fileName = "ProductosPorDisciplinaOCDE" + fecha
                    break;
                case "4"://segundo nivel acti
                    fileName = "ProductosPorN2ACTI" + fecha;
                    break;
                case "5"://tercer nivel acti
                    fileName = "ProductosPorN3ACTI" + fecha;
                    break;
                case "6"://clase ciiu
                    fileName = "ProductosPorClaseCIIU" + fecha;
                    break;
                case "7"://grupo ciiu
                    fileName = "ProductosPorGrupoCIIU" + fecha
                    break;
                case "8"://división ciiu
                    fileName = "ProductosPorDivisiónCIIU" + fecha;
                    break;
                case "9"://sección ciiu
                    fileName = "ProductosPorSecciónCIIU" + fecha;
                    break;
                case "10"://ámbito geográfico
                    fileName = "ProductosPorÁmbitoGeográfico" + fecha;
                    break;
                case "11"://naturaleza producto
                    fileName = "ProductosPorNaturalezaProducto" + fecha;
                    break;
                case "12"://categoría producto
                    fileName = "ProductosPorCategoríaProducto" + fecha;
                    break;
                case "13"://tipología colciencias
                    fileName = "ProductosPorTipologíaCOLCIENCIAS" + fecha
                    break;
                case "14"://idioma
                    fileName = "ProductosPorIdioma" + fecha;
                    break;
                case "15"://elaboración colaborativa
                    fileName = "ProductosPorElaboraciónColaborativa" + fecha;
                    break;
                case "16"://citaciones
                    fileName = "ProductosPorCitaciones" + fecha;
                    break;
                default://área ocde
                    fileName = "ProductosPorÁreaOCDE" + fecha
                    break;
            }
            window.location = "/Productos/Reporte/" + id + "/" + desdeAño + "/" + hastaAño + "/" + opcion + "/" + acti + "/" + fileName;
        }
        /*-----------------Carga los gráficos en la pestaña consulta gráficos ----------------*/
        function drawGraphs() {
            $("#searchGraphs").click(function () {
                var año = $('#year').val();
                var ciiu = $("#ciiu").find(':selected').text();
                var acti = $("#acti1").val();
                var ocde = $("#ocde").find(':selected').text();
                var producto = $("#producto").find(':selected').text();

                DrawProductosCIIUProducto(año, ciiu, producto, acti);
                DrawProductosOCDEProducto(año, ocde, producto, acti);
                DrawProductosOCDECatCIIU(año, ciiu, ocde, acti);
            });
        }
        /*----Lista la tabla de Productos----*/
        function loadDataTables() {
            $("#productos_tabla").html('<img src="Content/Imagenes/cargando.gif" class="img-responsive centrar"/>');
            $.ajax({
                url: "@Url.Action("ListarxYear", "Productos")",
                data: {
                    tabla: opcion,
                    desde: desdeAño,
                    hasta: hastaAño,
                    acti: $('#acti').val()
                },
                type: "GET",
                dataType: "json",
                success: function (data) {
                    var acti = $('#acti').val();
                    var opcion = $('#tabla').val();
                    var sum = $.pivotUtilities.aggregatorTemplates.sum;
                    var numberFormat = $.pivotUtilities.numberFormat;
                    var intFormat = numberFormat({ digitsAfterDecimal: 0 });

                    switch (opcion) {
                        case "2"://subárea ocde
                            $('#nombreTabla').text("Número de productos de "+acti+"  por subárea OCDE");
                            $("#productos_tabla").pivot(data, {
                                rows: ["Subárea_OCDE"],
                                cols: ["Año"],
                                aggregator: sum(intFormat)(["Cantidad"])
                            });
                            break;
                        case "3"://disciplina ocde
                            $('#nombreTabla').text("Número de productos de "+acti+"  por disciplina OCDE");
                            $("#productos_tabla").pivot(data, {
                                rows: ["Disciplina_OCDE"],
                                cols: ["Año"],
                                aggregator: sum(intFormat)(["Cantidad"])
                            });
                            break;
                        case "4"://acti segundo nivel
                            $('#nombreTabla').text("Número de productos de "+acti+"  por el segundo nivel ACTI");
                            $("#productos_tabla").pivot(data, {
                                rows: ["ACTI_N2"],
                                cols: ["Año"],
                                aggregator: sum(intFormat)(["Cantidad"])
                            });
                            break;
                        case "5"://acti tercer nivel
                            $('#nombreTabla').text("Número de productos de "+acti+"  por el tercer nivel ACTI");
                            $("#productos_tabla").pivot(data, {
                                rows: ["ACTI_N3"],
                                cols: ["Año"],
                                aggregator: sum(intFormat)(["Cantidad"])
                            });
                            break;
                        case "6"://clase ciiu
                            $('#nombreTabla').text("Número de productos de "+acti+"  por clase CIIU");
                            $("#productos_tabla").pivot(data, {
                                rows: ["Clase_CIIU"],
                                cols: ["Año"],
                                aggregator: sum(intFormat)(["Cantidad"])
                            });
                            break;
                        case "7"://grupo ciiu
                            $('#nombreTabla').text("Número de productos de "+acti+"  por grupo CIIU");
                            $("#productos_tabla").pivot(data, {
                                rows: ["Grupo_CIIU"],
                                cols: ["Año"],
                                aggregator: sum(intFormat)(["Cantidad"])
                            });
                            break;
                        case "8"://división ciiu
                            $('#nombreTabla').text("Número de productos de "+acti+"  por división CIIU");
                            $("#productos_tabla").pivot(data, {
                                rows: ["División_CIIU"],
                                cols: ["Año"],
                                aggregator: sum(intFormat)(["Cantidad"])
                            });
                            break;
                        case "9"://sección ciiu
                            $('#nombreTabla').text("Número de productos de "+acti+"  por sección CIIU");
                            $("#productos_tabla").pivot(data, {
                                rows: ["Sección_CIIU"],
                                cols: ["Año"],
                                aggregator: sum(intFormat)(["Cantidad"])
                            });
                            break;
                        case "10"://ámbito geográfico
                            $('#nombreTabla').text("Número de productos de "+acti+"  por el ámbito geográfico");
                            $("#productos_tabla").pivot(data, {
                                rows: ["Ámbito_Geográfico"],
                                cols: ["Año"],
                                aggregator: sum(intFormat)(["Cantidad"])
                            });
                            break;
                        case "11"://naturaleza del producto
                            $('#nombreTabla').text("Número de productos de " + acti + "  por naturaleza del producto");
                            $("#productos_tabla").pivot(data, {
                                rows: ["Naturaleza_Producto"],
                                cols: ["Año"],
                                aggregator: sum(intFormat)(["Cantidad"])
                            });
                            break;
                        case "12"://categoría del producto
                            $('#nombreTabla').text("Número de productos de " + acti + "  por categoría del producto");
                            $("#productos_tabla").pivot(data, {
                                rows: ["Categoría_Producto"],
                                cols: ["Año"],
                                aggregator: sum(intFormat)(["Cantidad"])
                            });
                            break;
                        case "13"://tipología colciencias
                            $('#nombreTabla').text("Número de productos de " + acti + "  por tipología utilizada por COLCIENCIAS");
                            $("#productos_tabla").pivot(data, {
                                rows: ["Tipología_COLCIENCIAS"],
                                cols: ["Año"],
                                aggregator: sum(intFormat)(["Cantidad"])
                            });
                            break;
                        case "14"://idioma
                            $('#nombreTabla').text("Número de productos de " + acti + "  por idioma");
                            $("#productos_tabla").pivot(data, {
                                rows: ["Idioma"],
                                cols: ["Año"],
                                aggregator: sum(intFormat)(["Cantidad"])
                            });
                            break;
                        case "15"://elaboración colaborativa
                            $('#nombreTabla').text("Número de productos de " + acti + "  por elaboración colaborativa");
                            $("#productos_tabla").pivot(data, {
                                rows: ["Elaboración_Colaborativa"],
                                cols: ["Año"],
                                aggregator: sum(intFormat)(["Cantidad"])
                            });
                            break;
                        case "16"://citaciones
                            $('#nombreTabla').text("Número de productos de " + acti + "  por citaciones");
                            $("#productos_tabla").pivot(data, {
                                rows: ["Citaciones"],
                                cols: ["Año"],
                                aggregator: sum(intFormat)(["Cantidad"])
                            });
                            break;
                        default://área ocde
                            $('#nombreTabla').text("Número de productos de "+acti+"  por área OCDE");
                            $("#productos_tabla").pivot(data, {
                                rows: ["Área_OCDE"],
                                cols: ["Año"],
                                aggregator: sum(intFormat)(["Cantidad"])
                            });
                            break;
                    }
                },
                error: function () {
                    alert("¡Falla cargando los datos de la tabla! Intente de nuevo.");
                }
            });
        }
        /*----Dibuja el gráfico de la tabla escogida por el usuario----*/
        function DrawGrafico() {
            $("#productos_tabla").html('<img src="Content/Imagenes/cargando.gif" class="img-responsive centrar"/>');
            $('#nombreTabla').text("");
            $("#grafico1").html('<img src="Content/Imagenes/cargando.gif" class="img-responsive centrar"/>');
            $.ajax({
                url: "@Url.Action("GraficoxYear", "Productos")",
                data: {
                    tabla: opcion,
                    desde: desdeAño,
                    hasta: hastaAño,
                    acti: $('#acti').val()
                },
                type: "GET",
                dataType: "json",
                success: function (data) {
                    var seriesData = [];
                    var xCategories = [];
                    var seriesName = [];
                    var valores = [];
                    var i, cat, nombre, k, titulo, sw = true;
                    var acti = $('#acti').val();
                    var opcion = $('#tabla').val();

                    switch (opcion) {
                        case "2"://subárea ocde
                            titulo = "Número de productos de "+acti+"  por subárea OCDE";
                            break;
                        case "3"://disciplina ocde
                            titulo = "Número de productos de "+acti+"  por disciplina OCDE";
                            break;
                        case "4"://acti segundo nivel
                            titulo = "Número de productos de "+acti+"  por el segundo nivel ACTI";
                            break;
                        case "5"://acti tercer nivel
                            titulo = "Número de productos de "+acti+"  por el tercer nivel ACTI";
                            break;
                        case "6"://clase ciiu
                            titulo = "Número de productos de "+acti+"  por clase CIIU";
                            break;
                        case "7"://grupo ciiu
                            titulo = "Número de productos de "+acti+"  por grupo CIIU";
                            break;
                        case "8"://división ciiu
                            titulo = "Número de productos de "+acti+"  por división CIIU";
                            break;
                        case "9"://sección ciiu
                            titulo = "Número de productos de "+acti+"  por sección CIIU";
                            break;
                        case "10"://ámbito geográfico
                            titulo = "Número de productos de " + acti + "  por el ámbito geográfico";
                            break;
                        case "11"://naturaleza del producto
                            titulo = "Número de productos de " + acti + "  por naturaleza del producto";
                            break;
                        case "12"://categoría del producto
                            titulo = "Número de productos de " + acti + "  por categoría del producto";
                            break;
                        case "13"://tipología utilizada por COLCIENCIAS
                            titulo = "Número de productos de " + acti + "  por tipología utilizada por COLCIENCIAS";
                            break;
                        case "14"://idioma
                            titulo = "Número de productos de " + acti + "  por idioma";
                            break;
                        case "15"://elaboración colaborativa
                            titulo = "Número de productos de " + acti + "  por elaboración colaborativa";
                            break;
                        case "16"://citaciones
                            titulo = "Número de productos de " + acti + "  por citaciones";
                            break;
                        default://área ocde
                            titulo = "Número de productos de "+acti+"  por área OCDE"
                            break;
                    }
                    for (i = 0; i < data.length; i++) {
                        cat = data[i].año;
                        nombre = data[i].nombre;
                        if (xCategories.indexOf(cat) === -1) {
                            xCategories[xCategories.length] = cat;
                        }
                        if (seriesName.indexOf(nombre) === -1) {
                            seriesName[seriesName.length] = nombre;
                        }
                    }
                    for (i = 0; i < seriesName.length; i++) {
                        valores = [];
                        for (j = 0; j < xCategories.length; j++) {
                            var k = 0;
                            var sw = false;
                            while (k < data.length && !sw) {
                                if (data[k].nombre == seriesName[i] && data[k].año == xCategories[j]) {
                                    valores[j] = data[k].total;
                                    sw = true;
                                } else {
                                    k++;
                                }
                            }
                            if (!sw) {
                                valores[j] = null;
                            }
                        }
                        seriesData[i] = { name: seriesName[i], data: valores };
                    }
                    var chart;
                    $(document).ready(function () {

                        chart = new Highcharts.Chart({
                            chart: {
                                renderTo: 'grafico1',
                                type: 'column'
                            },
                            title: {
                                text: titulo
                            },
                            subtitle: {
                                text: 'Fuente: D.T.C.P.I y dirección de gestión'
                            },
                            xAxis: {
                                title: {
                                    text: 'Años'
                                },
                                categories: xCategories
                            },
                            yAxis: {
                                min: 0,
                                title: {
                                    text: 'Productos',
                                    align: 'high'
                                },
                                labels: {
                                    overflow: 'justify'
                                },
                                stackLabels: {
                                    enabled: true
                                }
                            },
                            tooltip: {
                                headerFormat: '<b>{point.x}</b><br/>',
                                pointFormat: '{series.name}: {point.y} Productos<br/>' +
                                    'Total: {point.stackTotal} Productos'
                            },
                            plotOptions: {
                                column: {
                                    stacking: 'normal'
                                }
                            },
                            credits: {
                                enabled: false
                            },
                            series: seriesData
                        });
                    });
                },
                error: function () {
                    $("#grafico1").html("Error al cargar los datos del gráfico");
                }
            });
        }
        //Gráfico de Productos en el año por ciiu y ocde
        function DrawProductosOCDECatCIIU(año, ciiu, ocde, acti) {
            $("#grafico2").html('<img src="Content/Imagenes/cargando.gif" class="img-responsive centrar"/>');

            $.ajax({
                url: "@Url.Action("ProductosCIIUOCDE", "Productos")",
                data: {
                    yearSearch: año,
                    catCIIU: $('#ciiu').val(),
                    catOCDE: $('#ocde').val(),
                    acti1: acti
                },
                type: "GET",
                dataType: "json",
                success: function (data) {
                    var seriesData = [];
                    var xCategories = [];
                    var seriesName = [];
                    var valores = [];

                    var i, cat, nombre;
                    for (i = 0; i < data.length; i++) {
                        cat = data[i].ocde;
                        nombre = data[i].nombre;
                        if (xCategories.indexOf(cat) === -1) {
                            xCategories[xCategories.length] = cat;
                        }
                        if (seriesName.indexOf(nombre) === -1) {
                            seriesName[seriesName.length] = nombre;
                        }
                    }

                    for (i = 0; i < seriesName.length; i++) {
                        valores = [];
                        for (j = 0; j < xCategories.length; j++) {
                            var k = 0;
                            var sw = false;
                            while (k < data.length && !sw) {
                                if (data[k].nombre == seriesName[i] && data[k].ocde == xCategories[j]) {
                                    valores[j] = data[k].total;
                                    sw = true;
                                } else {
                                    k++;
                                }
                            }
                            if (!sw) {
                                valores[j] = null;
                            }
                        }
                        seriesData[i] = { name: seriesName[i], data: valores };
                    }

                    var chart;
                    $(document).ready(function () {
                        chart = new Highcharts.Chart({
                            chart: {
                                renderTo: 'grafico2',
                                type: 'bar'
                            },
                            title: {
                                text: 'Número de productos de '+acti+'  en el año ' + año + ' por ' + ciiu.toLowerCase() + ' CIIU y ' + ocde.toLowerCase() + ' OCDE'
                            },
                            subtitle: {
                                text: 'Fuente: D.T.C.P.I y dirección de gestión'
                            },
                            xAxis: {
                                title: {
                                    text: ocde + ' OCDE'
                                },
                                categories: xCategories
                            },
                            yAxis: {
                                min: 0,
                                title: {
                                    text: 'Productos',
                                    align: 'high'
                                }
                            },
                            tooltip: {
                                headerFormat: '<b>{point.x}</b><br/>',
                                pointFormat: '{series.name}: {point.y} Productos<br/>'
                            },
                            legend: {
                                reversed: true
                            },
                            plotOptions: {
                                bar: {
                                    stacking: 'normal'
                                }
                            },
                            credits: {
                                enabled: false
                            },
                            series: seriesData
                        });
                    });
                },
                error: function () {
                    $("#grafico2").html("Error al cargar los datos del gráfico");
                }
            });
        }
        //Gráfico de Productos en el año por ocde y tipo de producto
        function DrawProductosOCDEProducto(año, ocde, producto, acti) {
            $("#grafico2").html('<img src="Content/Imagenes/cargando.gif" class="img-responsive centrar"/>');
            $("#grafico3").html('<img src="Content/Imagenes/cargando.gif" class="img-responsive centrar"/>');

            $.ajax({
                url: "@Url.Action("ProductosOCDEProducto", "Productos")",
                data: {
                    yearSearch: año,
                    catOCDE: $('#ocde').val(),
                    catProducto: $('#producto').val(),
                    acti1: acti
                },
                type: "GET",
                dataType: "json",
                success: function (data) {
                    var seriesData = [];
                    var xCategories = [];
                    var seriesName = [];
                    var valores = [];

                    var i, cat, nombre;
                    for (i = 0; i < data.length; i++) {
                        cat = data[i].producto;
                        nombre = data[i].nombre;
                        if (xCategories.indexOf(cat) === -1) {
                            xCategories[xCategories.length] = cat;
                        }
                        if (seriesName.indexOf(nombre) === -1) {
                            seriesName[seriesName.length] = nombre;
                        }
                    }

                    for (i = 0; i < seriesName.length; i++) {
                        valores = [];
                        for (j = 0; j < xCategories.length; j++) {
                            var k = 0;
                            var sw = false;
                            while (k < data.length && !sw) {
                                if (data[k].nombre == seriesName[i] && data[k].producto == xCategories[j]) {
                                    valores[j] = data[k].total;
                                    sw = true;
                                } else {
                                    k++;
                                }
                            }
                            if (!sw) {
                                valores[j] = null;
                            }
                        }
                        seriesData[i] = { name: seriesName[i], data: valores };
                    }

                    var chart;
                    $(document).ready(function () {
                        chart = new Highcharts.Chart({
                            chart: {
                                renderTo: 'grafico3',
                                type: 'bar'
                            },
                            title: {
                                text: 'Número de productos de '+acti+'  en el año ' + año + ' por ' + ocde.toLowerCase() + ' OCDE y ' + producto.toLowerCase() + ' del producto'
                            },
                            subtitle: {
                                text: 'Fuente: D.T.C.P.I y dirección de gestión'
                            },
                            xAxis: {
                                title: {
                                    text: producto + ' del producto'
                                },
                                categories: xCategories
                            },
                            yAxis: {
                                min: 0,
                                title: {
                                    text: 'Productos',
                                    align: 'high'
                                }
                            },
                            tooltip: {
                                headerFormat: '<b>{point.x}</b><br/>',
                                pointFormat: '{series.name}: {point.y} Productos<br/>'
                            },
                            legend: {
                                reversed: true
                            },
                            plotOptions: {
                                series: {
                                    stacking: 'normal'
                                }
                            },
                            credits: {
                                enabled: false
                            },
                            series: seriesData
                        });
                    });
                },
                error: function () {
                    $("#grafico3").html("Error al cargar los datos del gráfico");
                }
            });
        }
        //Gráfico de Productos en el año por ciiu y producto
        function DrawProductosCIIUProducto(año, ciiu, producto, acti) {
            $("#grafico2").html('<img src="Content/Imagenes/cargando.gif" class="img-responsive centrar"/>');
            $("#grafico4").html('<img src="Content/Imagenes/cargando.gif" class="img-responsive centrar"/>');

            $.ajax({
                url: "@Url.Action("ProductosCIIUProducto", "Productos")",
                data: {
                    yearSearch: año,
                    catCIIU: $('#ciiu').val(),
                    catProducto: $('#producto').val(),
                    acti1: acti
                },
                type: "GET",
                dataType: "json",
                success: function (data) {
                    var seriesData = [];
                    var xCategories = [];
                    var seriesName = [];
                    var valores = [];

                    var i, cat, nombre;
                    for (i = 0; i < data.length; i++) {
                        cat = data[i].producto;
                        nombre = data[i].nombre;
                        if (xCategories.indexOf(cat) === -1) {
                            xCategories[xCategories.length] = cat;
                        }
                        if (seriesName.indexOf(nombre) === -1) {
                            seriesName[seriesName.length] = nombre;
                        }
                    }

                    for (i = 0; i < seriesName.length; i++) {
                        valores = [];
                        for (j = 0; j < xCategories.length; j++) {
                            var k = 0;
                            var sw = false;
                            while (k < data.length && !sw) {
                                if (data[k].nombre == seriesName[i] && data[k].producto == xCategories[j]) {
                                    valores[j] = data[k].total;
                                    sw = true;
                                } else {
                                    k++;
                                }
                            }
                            if (!sw) {
                                valores[j] = null;
                            }
                        }
                        seriesData[i] = { name: seriesName[i], data: valores };
                    }

                    var chart;
                    $(document).ready(function () {
                        chart = new Highcharts.Chart({
                            chart: {
                                renderTo: 'grafico4',
                                type: 'bar'
                            },
                            title: {
                                text: 'Número de productos de '+acti+'  en el año ' + año + ' por ' + ciiu.toLowerCase() + ' CIIU y ' + producto.toLowerCase() + ' del producto'
                            },
                            subtitle: {
                                text: 'Fuente: D.T.C.P.I y dirección de gestión'
                            },
                            xAxis: {
                                title: {
                                    text: producto + ' del producto'
                                },
                                categories: xCategories
                            },
                            yAxis: {
                                min: 0,
                                title: {
                                    text: 'Productos',
                                    align: 'high'
                                }
                            },
                            legend: {
                                reversed: true
                            },
                            tooltip: {
                                headerFormat: '<b>{point.x}</b><br/>',
                                pointFormat: '{series.name}: {point.y} Productos<br/>'
                            },
                            plotOptions: {
                                series: {
                                    stacking: 'normal'
                                }
                            },
                            credits: {
                                enabled: false
                            },
                            series: seriesData
                        });
                    });
                },
                error: function () {
                    $("#grafico4").html("Error al cargar los datos del gráfico");
                }
            });
        }
    </script>
}

