﻿@{
    Layout = "~/Views/Shared/_IndicadoresLayout.cshtml";
    ViewBag.Indicador = "Porcentaje de gastos en actividades de ciencia, tecnología e innovación (ACTI) en relación con el presupuesto total:";
    ViewBag.Descripcion = "Tasa la cuota del presupuesto de la universidad que se utiliza para actividades de ciencia, tecnología e innovación (ACTI). Se calcula dividiendo el monto de los Porcentaje de gastos en ACTI en relación con el presupuesto total sobre el monto total del presupuesto de la universidad y multiplicando este cociente por 100, y se mide en “porcentaje”. Se puede discriminar por: fuente de financiación (ej. interna y externa) y actividades desarrolladas (desagregación de las ACTI).";
    ViewBag.Nombre = "porcentaje de gastos en ACTI en relación con el presupuesto total";
    ViewBag.Fuente = "Datos de prueba";
}

@section ConsultaGeneral{
    <!--Selecciona el rango de años y la tabla a consultar-->
    <div class="row">
        <form class="form">
            <!--Selecciona el año desde-->
            <div class="col-lg-offset-1 col-md-offset-1 col-lg-2 col-md-2">
                <label>Desde</label>
                <select class="form-control" id="fromYear" name="fromYear">
                    <option value="-100">Todos</option>
                </select>
            </div>
            <!--./Fin selecciona el año desde-->
            <!--Selecciona hasta que año consultar-->
            <div class="col-lg-2 col-md-2">
                <div class="form-group">
                    <label>Hasta</label>
                    <select class="form-control" id="toYear" name="toYear">
                        <option value="-100">Todos</option>
                    </select>
                </div>
            </div>
            <!--./Fin selecciona hasta año -->
            <!--Selecciona el tipo de dimensión-->
            <div class="col-lg-4 col-md-4">
                <div class="form-group">
                    <label>Tabla del indicador</label>
                    <select class="form-control" id="tabla">
                        <option value="1">Primer nivel ACTI</option>
                        <option value="2">Segundo nivel ACTI</option>
                        <option value="3">Tercer nivel ACTI</option>
                        <option value="4">Fuente de financiación</option>
                        <option value="5">Categoría fuente de financiación</option>
                    </select>
                </div>
            </div>
            <!--./Fin selecciona el tipo de dimensión-->
            <!--Botón consultar-->
            <div class="col-lg-2 col-md-2 topBoton">
                <button type="button" class="btn btn-primary" id="searchData">Consultar</button>
            </div>
            <!--./Fin botón consultar-->
        </form>
    </div>
    <!--./Fin selecciona el rango de años y tabla a consultar-->
    <!--Tabla del indicador-->
    <div class="row container-fluid">
        <div class="col-lg-offset-2 col-lg-8 col-md-offset-2 col-md-8">
            <h4 class="text-center title-tabla" id="nombreTabla"></h4>
        </div>

        <div class="table-responsive col-lg-12 col-lg-12 col-md-12 col-sm-12">
            <div id="gastos_tabla" style="align-items:center;"></div>
        </div>

        <div class="col-lg-offset-1 col-lg-10 col-md-12 col-sm-12 col-xs-12">
            <div id="grafico1" class="grafico_general"></div>
        </div>
    </div>
    <!--./Fin Tabla del indicador-->
}

@section PanelGraficos{
    <!--Panel de los gráficos-->
    <div class="row">
        <!--Selecciona el año, fuente de financiación y nivel acti-->
        <div class="container-fluid">
            <form class="form">
                <!--Selecciona el año-->
                <div class="col-lg-offset-2 col-lg-2 col-md-offset-2 col-md-2">
                    <div class="form-group">
                        <label>Año</label>
                        <select class="form-control" id="year"></select>
                    </div>
                </div>
                <!--./Fin selecciona el año-->
                <!--Selecciona financiación-->
                <div class="col-lg-2 col-md-2">
                    <div class="form-group">
                        <label>Financiación</label>
                        <select class="form-control" id="fuente">
                            <option value="1">Fuente</option>
                            <option value="2">Categoría</option>
                        </select>
                    </div>
                </div>
                <!--./Fin selecciona financiación-->
                <!--Selecciona acti-->
                <div class="col-lg-2 col-md-2">
                    <div class="form-group">
                        <label>Nivel ACTI</label>
                        <select class="form-control" id="acti">
                            <option value="1">Primer</option>
                            <option value="2">Segundo</option>
                            <option value="3">Tercer</option>
                        </select>
                    </div>
                </div>
                <!--./Fin selecciona acti-->
                <!--Botón consultar gráficos-->
                <div class="col-lg-2 col-md-2 topBoton">
                    <button type="button" class="btn btn-primary" id="searchGraphs">Consultar</button>
                </div>
                <!--./Fin botón consultar gráficos-->
            </form>
        </div>
        <!--./Fin selecciona el año, fuente de financiación y nivel acti-->
    </div>
    <div class="row container-fluid">
        <div class="col-lg-offset-1 col-lg-10 col-md-12 col-sm-12 col-xs-12">
            <div id="grafico2" class="grafico"></div>
            <div id="grafico3" class="grafico"></div>
            <div id="grafico4" class="grafico"></div>
        </div>
    </div>
    <!--./Fin panel de los gráficos-->
}

@section scripts{
    <script>
        var desdeAño = "-100", hastaAño = "-100";
        var opcion = "1"; //opcion de la tabla a mostrar

        $(document).ready(function () {
            cargaInicial();       //carga inicial de los datos y gráficos del indicador
            load_years();         //carga los años del indicador
            change_hasta();       //cambio del año hasta
            datosTablaResumen();  //llena la tabla de consulta general
            drawGraphs();         //dibuja los gráficos del panel consulta de gráficos
        });
        /*-----------------------Carga inicialmente los datos y gráficos del indicador----------------*/
        function cargaInicial() {
            $(function () {
                //cuando cargue el gráfico, llena la tabla de consulta general
                DrawGrafico();
                $.when(DrawGrafico()).done(function (a1) {
                    loadDataTables();
                });
            });

            /*----Lista el indicador Porcentaje de gastos en ACTI en relación con el presupuesto total en la tabla dinámica----*/
            $(function () {
                $("#tablaDinamica").html('<img src="Content/Imagenes/cargando.gif" class="img-responsive centrar"/>');
                var sum = $.pivotUtilities.aggregatorTemplates.sum;
                var numberFormat = $.pivotUtilities.numberFormat;
                var floatFormat = numberFormat({ digitsAfterDecimal: 4 });

                var renderers = $.extend(
                    $.pivotUtilities.renderers,
                    $.pivotUtilities.c3_renderers,
                    $.pivotUtilities.d3_renderers
                    );

                var actionUrl = '@Url.Action("Listar", "GastosPresupuesto")';

                $.get(actionUrl, function (mps) {
                    $("#tablaDinamica").pivotUI(mps, {
                        aggregators: {
                            "Porcentaje":
                                function () { return sum(floatFormat)(["Cantidad"]) }
                        },
                        hiddenAttributes: ["Cantidad"],
                        renderers: renderers,
                        rendererName: "Tabla"
                    });
                });
            });
        }
        /*------------------Carga los años en los select------------------*/
        function load_years() {
            $.get(
                    '@Url.Action("getYears", "GastosPresupuesto")'
                )
                .done(function (data) {
                    var lastYear = (new Date).getFullYear() - 1;
                    $.each(data, function (i, row) {
                        var $option = $('<option>');
                        $option.val(row.año);
                        $option.html(row.año);
                        $('#fromYear').append($option);

                        var $option = $('<option>');
                        $option.val(row.año);
                        $option.html(row.año);
                        $('#year').append($option);
                        if (parseInt(row.año) == lastYear) {
                            $('#year').val(row.año);
                        }
                    })
                    //gráficos de la pestaña consulta gráficos
                    var año = $('#year').val();
                    var acti = $("#acti").find(':selected').text();
                    var fuente = $("#fuente").find(':selected').text();

                    DrawGastosFinaciacionACTI(año, acti, fuente);
                    DrawGastosFinanciacion(año, fuente);
                    DrawGastosNivelACTI(año, acti);
                })
                .fail(function (data) {
                    console.log('Error al cargar años!!!');
                }
            );
        }
        /*------------------Cambia el año hasta al seleccionar un año desde--------------*/
        function change_hasta() {
            $('#fromYear').change(function () {
                $.get(
                        '@Url.Action("getYears", "GastosPresupuesto")'
                    )
                    .done(function (data) {
                        var from = $("#fromYear").find(':selected').text();
                        var fromValue = $("#fromYear").find(':selected').val();
                        $('#toYear').empty();

                        if (fromValue == "-100") {
                            var $option = $('<option>');
                            $option.val("-100");
                            $option.html("Todos");
                            $('#toYear').append($option);
                        } else {
                            $.each(data, function (i, row) {
                                if (parseInt(row.año) >= parseInt(from)) {
                                    var $option = $('<option>');
                                    $option.val(row.año);
                                    $option.html(row.año);
                                    $('#toYear').append($option);
                                }
                            })
                        }
                    })
                    .fail(function (data) {
                        console.log('Error al cargar años hasta!!!');
                    }
                );
            });
        }
        /*-------------------Carga los datos y gráficos en consulta general--------------*/
        function datosTablaResumen() {
            $("#searchData").click(function () {
                //asigna a las variables globales el nuevo valor
                desdeAño = $('#fromYear').val();
                hastaAño = $('#toYear').val();
                opcion = $('#tabla').val();
                //cuando cargue el gráfico, llena la tabla de consulta general
                DrawGrafico();
                $.when(DrawGrafico()).done(function (a1) {
                    loadDataTables();
                });
            });
        }
        /*-------------------------------Exporta el indicador completo-------------------------*/
        function exportar(id) {
            var dt = new Date();
            var month = dt.getMonth() + 1;
            var day = dt.getDate();
            var year = dt.getFullYear();
            var tipoReporte = "0";

            var fecha = day + "" + month + "" + year;
            var fileName = "GastosPresupuesto" + fecha;
            window.location = "/GastosPresupuesto/Reporte/" + id + "/" + desdeAño + "/" + hastaAño + "/" + tipoReporte + "/" + fileName;
        }
        /*-------------------------------Exporta el indicador por el tipo de tabla-------------------------*/
        function exportarTabla(id) {
            var dt = new Date();
            var month = dt.getMonth() + 1;
            var day = dt.getDate();
            var year = dt.getFullYear();
            var tipoReporte = opcion;
            var fecha = day + "" + month + "" + year;
            var fileName;
            switch (opcion) {
                case "2"://segundo nivel acti
                    fileName = "GastosPresupuestoPorN2ACTI" + fecha;
                    break;
                case "3"://tercer nivel acti
                    fileName = "GastosPresupuestoPorN3ACTI" + fecha;
                    break;
                case "4"://fuente de finaciación
                    fileName = "GastosPresupuestoPorFuenteFinanciación" + fecha;
                    break;
                case "5"://categoría fuente de finaciación
                    fileName = "GastosPresupuestoPorCategoríaFuenteFinanciación" + fecha;
                    break;
                default://primer nivel acti
                    fileName = "GastosPresupuestoPorN1ACTI" + fecha;
                    break;
            }
            window.location = "/GastosPresupuesto/Reporte/" + id + "/" + desdeAño + "/" + hastaAño + "/" + tipoReporte + "/" + fileName;
        }
        /*-----------------Carga los gráficos en la pestaña consulta gráficos ----------------*/
        function drawGraphs() {
            $("#searchGraphs").click(function () {
                var año = $('#year').val();
                var acti = $("#acti").find(':selected').text();
                var fuente = $("#fuente").find(':selected').text();

                DrawGastosFinaciacionACTI(año, acti, fuente);
                DrawGastosFinanciacion(año, fuente);
                DrawGastosNivelACTI(año, acti);
            });
        }
        /*----Lista la tabla de ingresos por producto----*/
        function loadDataTables() {
            $("#gastos_tabla").html('<img src="Content/Imagenes/cargando.gif" class="img-responsive centrar"/>');
            $.ajax({
                url: "@Url.Action("ListarxYear", "GastosPresupuesto")",
                data: {
                    tabla: opcion,
                    desde: desdeAño,
                    hasta: hastaAño
                },
                type: "GET",
                dataType: "json",
                success: function (data) {
                    var sum = $.pivotUtilities.aggregatorTemplates.sum;
                    var numberFormat = $.pivotUtilities.numberFormat;
                    var floatFormat = numberFormat({ digitsAfterDecimal: 4 });

                    switch (opcion) {
                        case "2"://acti segundo nivel
                            $('#nombreTabla').text("Porcentaje de gastos en ACTI en relación con el presupuesto total por el segundo nivel ACTI");
                            $("#gastos_tabla").pivot(data, {
                                rows: ["ACTI_N2"],
                                cols: ["Año"],
                                aggregator: sum(floatFormat)(["Cantidad"])
                            });
                            break;
                        case "3"://acti tercer nivel
                            $('#nombreTabla').text("Porcentaje de gastos en ACTI en relación con el presupuesto total por el tercer nivel ACTI");
                            $("#gastos_tabla").pivot(data, {
                                rows: ["ACTI_N3"],
                                cols: ["Año"],
                                aggregator: sum(floatFormat)(["Cantidad"])
                            });
                            break;
                        case "4"://fuente de financiación
                            $('#nombreTabla').text("Porcentaje de gastos en ACTI en relación con el presupuesto total por fuente de financiación");
                            $("#gastos_tabla").pivot(data, {
                                rows: ["Fuente_Financiación"],
                                cols: ["Año"],
                                aggregator: sum(floatFormat)(["Cantidad"])
                            });
                            break;
                        case "5"://categoría fuente de financiación
                            $('#nombreTabla').text("Porcentaje de gastos en ACTI en relación con el presupuesto total por categoría de la fuente de financiación");
                            $("#gastos_tabla").pivot(data, {
                                rows: ["Categoría_Fuente_Financiación"],
                                cols: ["Año"],
                                aggregator: sum(floatFormat)(["Cantidad"])
                            });
                            break;
                        default://primer nivel acti
                            $('#nombreTabla').text("Porcentaje de gastos en ACTI en relación con el presupuesto total por el primer nivel ACTI");
                            $("#gastos_tabla").pivot(data, {
                                rows: ["ACTI_N1"],
                                cols: ["Año"],
                                aggregator: sum(floatFormat)(["Cantidad"])
                            });
                            break;
                    }
                },
                error: function () {
                    alert("¡Falla cargando los datos de la tabla! Intente de nuevo.");
                }
            });
        }
        /*----Dibuja el gráfico de la tabla escogida por el usuario----*/
        function DrawGrafico() {
            $("#gastos_tabla").html('<img src="Content/Imagenes/cargando.gif" class="img-responsive centrar"/>');
            $('#nombreTabla').text("");
            $("#grafico1").html('<img src="Content/Imagenes/cargando.gif" class="img-responsive centrar"/>');
            $.ajax({
                url: "@Url.Action("GraficoxYear", "GastosPresupuesto")",
                data: {
                    tabla: opcion,
                    desde: desdeAño,
                    hasta: hastaAño
                },
                type: "GET",
                dataType: "json",
                success: function (data) {
                    var seriesData = [];
                    var xCategories = [];
                    var seriesName = [];
                    var valores = [];
                    var i, cat, nombre, k, titulo, sw = true;

                    switch (opcion) {
                        case "2"://acti segundo nivel
                            titulo = "Porcentaje de gastos en ACTI en relación con el presupuesto total por el segundo nivel ACTI";
                            break;
                        case "3"://acti tercer nivel
                            titulo = "Porcentaje de gastos en ACTI en relación con el presupuesto total por el tercer nivel ACTI";
                            break;
                        case "4"://fuente de financiación
                            titulo = "Porcentaje de gastos en ACTI en relación con el presupuesto total por fuente de financiación";
                            break;
                        case "5"://categoría fuente de financiación
                            titulo = "Porcentaje de gastos en ACTI en relación con el presupuesto total por categoría de la fuente de financiación";
                            break;
                        default://acti primer nivel
                            titulo = "Porcentaje de gastos en ACTI en relación con el presupuesto total por el primer nivel ACTI";
                            break;
                    }
                    for (i = 0; i < data.length; i++) {
                        cat = data[i].año;
                        nombre = data[i].nombre;
                        if (xCategories.indexOf(cat) === -1) {
                            xCategories[xCategories.length] = cat;
                        }
                        if (seriesName.indexOf(nombre) === -1) {
                            seriesName[seriesName.length] = nombre;
                        }
                    }
                    for (i = 0; i < seriesName.length; i++) {
                        valores = [];
                        for (j = 0; j < xCategories.length; j++) {
                            var k = 0;
                            var sw = false;
                            while (k < data.length && !sw) {
                                if (data[k].nombre == seriesName[i] && data[k].año == xCategories[j]) {
                                    valores[j] = Math.round(data[k].total * 10000) / 10000;
                                    sw = true;
                                } else {
                                    k++;
                                }
                            }
                            if (!sw) {
                                valores[j] = null;
                            }
                        }
                        seriesData[i] = { name: seriesName[i], data: valores };
                    }
                    var chart;
                    $(document).ready(function () {

                        chart = new Highcharts.Chart({
                            chart: {
                                renderTo: 'grafico1',
                                type: 'column'
                            },
                            title: {
                                text: titulo
                            },
                            subtitle: {
                                text: 'Fuente: Datos de prueba'
                            },
                            xAxis: {
                                title: {
                                    text: 'Años'
                                },
                                categories: xCategories
                            },
                            yAxis: {
                                min: 0,
                                title: {
                                    text: 'Porcentaje',
                                    align: 'high'
                                },
                                labels: {
                                    overflow: 'justify'
                                },
                                stackLabels: {
                                    enabled: true
                                }
                            },
                            tooltip: {
                                headerFormat: '<b>{point.x}</b><br/>',
                                po: '{series.name}: {point.y} %<br/>' +
                                    'Total: {point.stackTotal} %'
                            },
                            plotOptions: {
                                column: {
                                    stacking: 'normal'
                                }
                            },
                            credits: {
                                enabled: false
                            },
                            series: seriesData
                        });
                    });
                },
                error: function () {
                    $("#grafico1").html("Error al cargar los datos del gráfico");
                }
            });
        }
        //Gráfico de Gastos en el año por acti
        function DrawGastosNivelACTI(año, acti) {
            $("#grafico2").html('<img src="Content/Imagenes/cargando.gif" class="img-responsive centrar"/>');

            $.ajax({
                url: "@Url.Action("GastosPresupuestoACTI", "GastosPresupuesto")",
                data: {
                    yearSearch: año,
                    catACTI: $('#acti').val()
                },
                type: "GET",
                dataType: "json",
                success: function (data) {
                    var seriesData = [];
                    var i;

                    for (i = 0; i < data.length; i++) {
                        seriesData.push([data[i]['nombre'], (Math.round(data[i]['total'] * 10000) / 10000)]);
                    }

                    var chart;

                    $(document).ready(function () {
                        chart = new Highcharts.Chart({
                            chart: {
                                renderTo: 'grafico2',
                                plotBackgroundColor: null,
                                plotBorderWidth: null,
                                plotShadow: false,
                                type: 'pie'
                            },
                            title: {
                                text: 'Porcentaje de gastos en ACTI en relación con el presupuesto total en el año ' + año + ' por ' + acti.toLowerCase() + ' nivel ACTI'
                            },
                            subtitle: {
                                text: 'Fuente: Datos de prueba'
                            },
                            tooltip: {
                                po: '{series.name}: <b>{point.y}%</b>'
                            },
                            plotOptions: {
                                pie: {
                                    allowPointSelect: true,
                                    cursor: 'pointer',
                                    dataLabels: {
                                        enabled: true,
                                        format: '<b>{point.name}</b>: <br/>{point.y}%'
                                    },
                                    showInLegend: true
                                }
                            },
                            credits: {
                                enabled: false
                            },
                            series: [{
                                name: '%',
                                colorByPoint: true,
                                data: seriesData
                            }]
                        });
                    });
                },
                error: function () {
                    $("#grafico2").html("Error al cargar los datos del gráfico");
                }
            });
        }
        /*----Dibuja el gráfico Gastos en el año por fuente de financiación----*/
        function DrawGastosFinanciacion(año, fuente) {
            $("#grafico2").html('<img src="Content/Imagenes/cargando.gif" class="img-responsive centrar"/>');
            $("#grafico3").html('<img src="Content/Imagenes/cargando.gif" class="img-responsive centrar"/>');

            $.ajax({
                url: "@Url.Action("GastosPresupuestoFinanciacion", "GastosPresupuesto")",
                data: {
                    yearSearch: año,
                    fuente: $('#fuente').val()
                },
                type: "GET",
                dataType: "json",
                success: function (data) {
                    var seriesData = [];
                    var i;

                    for (i = 0; i < data.length; i++) {
                        seriesData.push([data[i]['nombre'], (Math.round(data[i]['total'] * 10000) / 10000)]);
                    }

                    var chart;

                    $(document).ready(function () {
                        chart = new Highcharts.Chart({
                            chart: {
                                renderTo: 'grafico3',
                                plotBackgroundColor: null,
                                plotBorderWidth: null,
                                plotShadow: false,
                                type: 'pie'
                            },
                            title: {
                                text: 'Porcentaje de gastos en ACTI en relación con el presupuesto total en el año ' + año + ' por ' + fuente.toLowerCase() + ' de financiación'
                            },
                            subtitle: {
                                text: 'Fuente: Datos de prueba'
                            },
                            tooltip: {
                                po: '{series.name}: <b>{point.y}%</b>'
                            },
                            plotOptions: {
                                pie: {
                                    allowPointSelect: true,
                                    cursor: 'pointer',
                                    dataLabels: {
                                        enabled: true,
                                        format: '<b>{point.name}</b>: <br/>{point.y}%'
                                    },
                                    showInLegend: true
                                }
                            },
                            credits: {
                                enabled: false
                            },
                            series: [{
                                name: '%',
                                colorByPoint: true,
                                data: seriesData
                            }]
                        });
                    });
                },
                error: function () {
                    $("#grafico3").html("Error al cargar los datos del gráfico");
                }
            });
        }
        /*----Dibuja el gráfico Gastos en el año por nivel ACTI y financiación----*/
        function DrawGastosFinaciacionACTI(año, acti, fuente) {
            $("#grafico2").html('<img src="Content/Imagenes/cargando.gif" class="img-responsive centrar"/>');
            $("#grafico4").html('<img src="Content/Imagenes/cargando.gif" class="img-responsive centrar"/>');

            $.ajax({
                url: "@Url.Action("GastosPresupuestoFinanciacionACTI", "GastosPresupuesto")",
                data: {
                    yearSearch: año,
                    catACTI: $('#acti').val(),
                    fuente: $('#fuente').val()
                },
                type: "GET",
                dataType: "json",
                success: function (data) {
                    var seriesData = [];
                    var xCategories = [];
                    var seriesName = [];
                    var valores = [];

                    var i, cat, nombre, k;
                    for (i = 0; i < data.length; i++) {
                        cat = data[i].nombre;
                        nombre = data[i].financiacion;
                        if (xCategories.indexOf(cat) === -1) {
                            xCategories[xCategories.length] = cat;
                        }
                        if (seriesName.indexOf(nombre) === -1) {
                            seriesName[seriesName.length] = nombre;
                        }
                    }

                    for (i = 0; i < seriesName.length; i++) {
                        valores = [];
                        for (j = 0; j < xCategories.length; j++) {
                            var k = 0;
                            var sw = false;
                            while (k < data.length && !sw) {
                                if (data[k].financiacion == seriesName[i] && data[k].nombre == xCategories[j]) {
                                    valores[j] = Math.round(data[k].total * 10000) / 10000;
                                    sw = true;
                                } else {
                                    k++;
                                }
                            }
                            if (!sw) {
                                valores[j] = null;
                            }
                        }
                        seriesData[i] = { name: seriesName[i], data: valores };
                    }

                    var chart;
                    $(document).ready(function () {
                        chart = new Highcharts.Chart({
                            chart: {
                                renderTo: 'grafico4',
                                type: 'bar'
                            },
                            title: {
                                text: 'Gastos en el año ' + año + ' por ' + fuente.toLowerCase() + ' de financiación y ' + acti.toLowerCase() + ' nivel ACTI'
                            },
                            subtitle: {
                                text: 'Fuente: Datos de prueba'
                            },
                            xAxis: {
                                title: {
                                    text: acti + ' nivel ACTI'
                                },
                                categories: xCategories
                            },
                            yAxis: {
                                min: 0,
                                title: {
                                    text: '%',
                                    align: 'high'
                                },
                                labels: {
                                    overflow: 'justify'
                                },
                                stackLabels: {
                                    enabled: true
                                }
                            },
                            tooltip: {
                                headerFormat: '<b>{point.x}</b><br/>',
                                po: '{series.name}: {point.y}%<br/>' +
                                    'Total: {point.stackTotal}%'
                            },
                            legend: {
                                reversed: true
                            },
                            plotOptions: {
                                bar: {
                                    stacking: 'normal'
                                }
                            },
                            credits: {
                                enabled: false
                            },
                            series: seriesData
                        });
                    });
                },
                error: function () {
                    $("#grafico4").html("Error al cargar los datos del gráfico");
                }
            });
        }
    </script>
}



