﻿@{
    Layout = "~/Views/Shared/_MasterPage.cshtml";
    ViewBag.Title = "Portal de indicadores de ACTI";
}

@section head{
    <link href="~/Scripts/pivotTable/dist/pivot.css" rel="stylesheet">
    <link href="~/Scripts/pivotTable/dist/c3.min.css" rel="stylesheet">
}

<div>
    <!-- contenido -->
    <div class="row">
        <div class="col-lg-12 col-md-12">
            <!--Información del indicador-->
            <div class="well">
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-lg-12 col-md-12">
                            <h4><strong>@ViewBag.Indicador</strong></h4>
                            <p class="text-justify">
                                @ViewBag.Descripcion
                            </p>
                        </div>
                    </div>
                </div>
            </div>
            <!--./Información del indicador-->
            <!--Tabs-->
            <div class="panel with-nav-tabs panel-primary" id="tabs">
                <!--Encabezado tabs-->
                <div class="panel-heading">
                    <ul class="nav nav-tabs">
                        <li class="active"><a href="#resumenIndicador" data-toggle="tab">Consulta general</a></li>
                        <li><a href="#queryPersonalizada" data-toggle="tab">Consulta personalizada</a></li>
                        <li><a href="#queryGraficos" data-toggle="tab">Consulta gráficos</a></li>
                        <li class="pull-right-lg">
                            <a href="#ayudaIndicador" data-toggle="tab">
                                <img src="~/Content/Iconos/help.png" />
                            </a>
                        </li>
                        <li class="dropdown pull-right-lg">
                            <button data-toggle="dropdown" class="dropdown-toggle btn btn-link"><span class="fa fa-download"></span> Descargar <span class="caret"></span></button>
                            <ul class="dropdown-menu" role="menu">
                                <li><a onclick="exportar('Excel')"> <span class="fa fa-file-excel-o"></span> Completo en excel (.xls)</a></li>
                                <li><a onclick="exportar('Word')"> <span class="fa fa-file-word-o"></span> Completo en word</a></li>
                                <li class="divider"></li>
                                <li><a onclick="exportarTabla('Excel')"> <span class="fa fa-file-excel-o"></span> Tabla en excel (.xls)</a></li>
                                <li><a onclick="exportarTabla('Word')"> <span class="fa fa-file-word-o"></span> Tabla en word</a></li>
                            </ul>
                        </li>
                    </ul>
                </div>
                <!--./Fin encabezado tabs-->
                <!--Contenido tabs-->
                <div class="panel-body">
                    <div class="tab-content">
                        <!--Tab1: consulta general del indicador-->
                        <div class="tab-pane fade in active" id="resumenIndicador">
                            <!--Titulo del tab-->
                            <div>
                                <h3 class="title-tab">Consulta general de @ViewBag.Nombre <a href="#myModal1" data-toggle="modal"><i class="fa fa-info-circle"></i></a></h3>
                            </div>
                            <!--./Fin titulo del tab-->
                            @RenderSection("ConsultaGeneral", required: true)
                        </div>
                        <!--./Fin tab1: consulta general del indicador-->
                        <!--Tab2: consulta personaliza del indicador-->
                        <div class="tab-pane fade" id="queryPersonalizada">
                            <!--Título y botón descargar del tab consulta personalizada-->
                            <div class="container-fluid row">
                                <div class="col-lg-12 col-md-12">
                                    <h3 class="title-tab">Consulta personalizada de @ViewBag.Nombre <a href="#myModal2" data-toggle="modal"><i class="fa fa-info-circle"></i></a></h3>
                                </div>
                            </div>
                            <!--./Fin del título y botón descargar del tab consulta personalizada-->
                            <!--Tabla dinámica del indicador-->
                            <div class="container-fluid row">
                                <div class="col-lg-12 col-md-12">
                                    <p>Arrastre y suelte los datos que desea visualizar.</p>
                                </div>
                                <div class="table-responsive col-lg-12 col-md-12 col-sm-12">
                                    <div id="tablaDinamica" style="min-height:430px;"></div>
                                </div>
                            </div>
                            <!--/.Tabla dinámica del indicador-->
                        </div>
                        <!--./Fin tab2 consulta personalizada del indicador-->
                        <!--Tab3: consulta los gráficos del indicador-->
                        <div class="tab-pane fade" id="queryGraficos">
                            <!--Titulo del tab consulta gráficos-->
                            <div>
                                <h3 class="title-tab">Consulta gráficos de @ViewBag.Nombre <a href="#myModal3" data-toggle="modal"><i class="fa fa-info-circle"></i></a></h3>
                            </div>
                            <!--./Fin titulo del tab consulta gráficos-->
                            @RenderSection("PanelGraficos", required: true)
                        </div>
                        <!--./Fin tab3: consulta los gráficos del indicador-->
                        <!--Tab4: ayuda del indicador-->
                        <div class="tab-pane fade" id="ayudaIndicador">
                            <!--Titulo del tab ayuda del indicador-->
                            <div>
                                <h3 class="title-tab">Ayuda del panel de indicadores</h3>
                            </div>
                            <!--./Fin titulo del tab ayuda del indicador-->
                            <!--Acordion items ayuda-->
                            <div class="panel-group" id="accordion">
                                <div class="panel panel-primary">
                                    <div class="panel-heading">
                                        <h4 class="panel-title">
                                            <a data-toggle="collapse" data-parent="#accordion" href="#collapse1">
                                                Consulta general
                                            </a>
                                        </h4>
                                    </div>
                                    <div id="collapse1" class="panel-collapse collapse in">
                                        <div class="panel-body" id="ayudaGeneral">
                                            <div class="space">
                                                <p class="text-justify">En consulta general podrá ver la tabla de datos y gráfica por años del indicador asociado a una desagregación seleccionada. En los indicadores de personas y productos contará además de estos filtros, con la posibilidad de mostrar el indicador de acuerdo a las opciones presentadas en el primer nivel ACTI.</p>
                                                <p class="text-justify">Esta pestaña funciona de la siguiente manera:</p>
                                                <ol>
                                                    <li>
                                                        <p class="text-justify">Seleccione el rango de los años por el que desea visualizar el indicador, para ello se encuentra el filtro <strong class="text-info">Desde</strong> y <strong class="text-info">Hasta</strong> donde usted escoge el año de inicio y fin por el que desea listar la información del indicador.</p>
                                                        <img class="img-responsive center-block" src="@Url.Content("~/Content/Imagenes/rangoYear.jpg")" alt="Filtros de rango de años" />
                                                        <p class="text-justify"><strong class="text-info">Nota:</strong> Para ver el indicador listado por todos los años seleccione la opción <strong class="text-info"><em>"Todos"</em></strong> en el filtro <strong class="text-info">Desde</strong>, esta es la opción por defecto con la que inicia el indicador.</p>
                                                        <img class="img-responsive center-block" src="@Url.Content("~/Content/Imagenes/todos.png")" alt="Filtro desde con opción de todos los años" />
                                                    </li>
                                                    <li>
                                                        <p class="text-justify">Seleccione la desagregación por la que desea ver el indicador escogiendo una de las opciones brindadas en el filtro <strong class="text-info">Tabla del indicador</strong> o <strong class="text-info">Tabla</strong> en el caso del indicador personas y productos.</p>
                                                        <img class="img-responsive center-block" src="@Url.Content("~/Content/Imagenes/tabla.png")" alt="Filtro tabla del indicador" />
                                                    </li>
                                                    <li>
                                                        <p class="text-justify">Escoja la actividad de ciencia, tecnología e innovación en el filtro <strong class="text-info">ACTI</strong> (Solo aplica para el indicador de personas dedicadas a ACTI y de productos de CTI)</p>
                                                        <img class="img-responsive center-block" src="@Url.Content("~/Content/Imagenes/acti.png")" alt="Filtro acti" />
                                                    </li>
                                                    <li>
                                                        <p class="text-justify">De clic en el botón <img border="0" src="@Url.Content("~/Content/Imagenes/btnConsultar.png")"/> para efectuar la carga del indicador.</p>
                                                    </li>
                                                </ol>
                                                <p class="text-justify"><strong class="text-info">Sugerencia: </strong>En los gráficos puede seleccionar que series del indicador desea ver, haga clic en el nombre de la serie para quitarla o mostrarla en la visualización de la gráfica.</p>
                                                <p class="text-justify">Para descargar un gráfico, de clic en el botón <img border="0" src="@Url.Content("~/Content/Imagenes/descargar_img.png")" /> ubicado en la esquina derecha superior del gráfico y seleccione el formato por el cual desea exportar la imagen. La imagen que se descarga guarda los cambios de selección en la serie realizados por usted.</p>
                                                <p class="text-justify"><strong class="text-info">Nota: </strong>Si desea descargar la tabla y gráfico del indicador que está visualizando diríjase al botón <strong class="text-info">Descargar</strong> ubicado en la parte superior del panel de este indicador y seleccione la opción descargar tabla en el formato deseado.</p>
                                                <img class="img-responsive center-block" src="@Url.Content("~/Content/Imagenes/descargar_tabla.png")" alt="Decargar tabla" />
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="panel panel-primary">
                                    <div class="panel-heading">
                                        <h4 class="panel-title">
                                            <a data-toggle="collapse" data-parent="#accordion" href="#collapse2">
                                                Consulta personalizada
                                            </a>
                                        </h4>
                                    </div>
                                    <div id="collapse2" class="panel-collapse collapse">
                                        <div class="panel-body">
                                            <div class="space">
                                                <p class="text-justify">En consulta personalizada podrá decidir las desagregaciones, forma de visualización y medida del indicador. Además, podrá filtrar los datos de una dimensión como si fuera una tabla dinámica de Excel. A continuación, se muestra el funcionamiento de esta sección:</p>
                                                <img class="img-responsive center-block" src="@Url.Content("~/Content/Imagenes/pivot.gif")" alt="Tabla dinámica" />
                                                <blockquote>
                                                    <p>Funcionamiento de la tabla dinámica de consulta personalizada</p>
                                                    <small>Tomado de <a href="https://github.com/nicolaskruchten/pivottable" target="_blank">PivotTable.js</a></small>
                                                </blockquote>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="panel panel-primary">
                                    <div class="panel-heading">
                                        <h4 class="panel-title">
                                            <a data-toggle="collapse" data-parent="#accordion" href="#collapse3">
                                                Consulta de gráficos
                                            </a>
                                        </h4>
                                    </div>
                                    <div id="collapse3" class="panel-collapse collapse">
                                        <div class="panel-body" id="ayudaGrafico">
                                            <div class="space">
                                                <p class="text-justify">Esta pestaña ofrece una variedad de gráficos que cuentan con filtros propios de aquellas del año y desagregaciones del indicador.</p>
                                                <p class="text-justify">Consulta gráficos funciona de la siguiente manera:</p>
                                                <ol>
                                                    <li>
                                                        <p class="text-justify">Escoja el año por el que desea visualizar el indicador.</p>
                                                        <img class="img-responsive center-block" src="@Url.Content("~/Content/Imagenes/year.png")" alt="Filtros año" />
                                                    </li>
                                                    <li>
                                                        <p class="text-justify">Seleccione una de opciones de los filtros de las desagregaciones.</p>
                                                    </li>
                                                    <li>
                                                        <p class="text-justify">De clic en el botón <img border="0" src="@Url.Content("~/Content/Imagenes/btnConsultar.png")" /> para efectuar la carga de los gráficos del indicador.</p>
                                                    </li>
                                                </ol>
                                                <p class="text-justify">Para descargar un gráfico, de clic en el botón <img border="0" src="@Url.Content("~/Content/Imagenes/descargar_img.png")" /> ubicado en la esquina derecha superior del gráfico y seleccione el formato por el cual desea exportar la imagen. La imagen que se descarga guarda los cambios de selección en la serie realizados por usted.</p>
                                                <p class="text-justify"><strong class="text-info">Nota: </strong>En los gráficos puede seleccionar que series del indicador desea ver, haga clic en el nombre de la serie para quitarla o mostrarla en la visualización de la gráfica.</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="panel panel-primary">
                                    <div class="panel-heading">
                                        <h4 class="panel-title">
                                            <a data-toggle="collapse" data-parent="#accordion" href="#collapse4">
                                                Generar reportes del indicador
                                            </a>
                                        </h4>
                                    </div>
                                    <div id="collapse4" class="panel-collapse collapse">
                                        <div class="panel-body">
                                            <div class="space">
                                                <p class="text-justify">Para generar un reporte diríjase al botón <strong class="text-info">Descargar</strong> ubicado en la parte superior del <strong class="text-info">Panel de indicadores</strong> y elija entre descargar el indicador completo con las tablas de datos relacionadas a todas las desagregaciones o descargar solamente la tabla de datos y gráfico que está visualizando en la pestaña de <strong class="text-info">Consulta general</strong>. Los reportes pueden ser generado en los formatos Excel y Word.</p>
                                                <p class="text-justify"><strong class="text-info">Nota: </strong>El filtro de años realizado en la pestaña <strong class="text-info">Consulta general</strong> será presenciado en los datos del reporte generado.</p>
                                                <img class="img-responsive center-block" src="@Url.Content("~/Content/Imagenes/descargar.png")" alt="Descargar reporte" />
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!--./Fin acordion items ayuda-->
                        </div>
                        <!--./Fin tab4: ayuda del indicador-->
                    </div>
                </div>
                <!--./Fin contenido tabs-->

                <div class="panel-footer">
                    <p class="text-center">Fuente de información: @ViewBag.Fuente</p>
                </div>
            </div>
            <!--./Fin tabs-->
        </div>
    </div>
    <!-- /.contenido -->
    <!-- Ventanas información -->
    <div class="row">
        <div class="col-lg-12">
            <!-- Modal de información de consulta general -->
            <div class="modal fade" id="myModal1" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                            <h4 class="modal-title" id="myModalLabel">Información consulta general</h4>
                        </div>
                        <div class="modal-body" id="infoGeneral">
                            <p class="text-justify">En consulta general puede ver la tabla de datos y gráfica del indicador relacionado con las desagregaciones ofrecidas en el filtro <strong class="text-info"><em>Tabla del indicador</em></strong> y limitar su búsqueda seleccionando el rango de años.</p>
                            <p class="text-justify">Si desea descargar la tabla y gráfico del indicador que está visualizando diríjase a la pestaña <strong class="text-info"><em>Descargar</em></strong> ubicada en la parte superior del panel de este indicador y seleccione la opción descargar tabla en el formato que usted desee.</p>
                            <p class="text-info text-center"><strong><em>"Para mayor información consulte la pestaña de ayuda ubicada en la parte superior de este panel"</em></strong></p>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-primary" data-dismiss="modal">Cerrar</button>
                        </div>
                    </div>
                    <!-- /.modal-content -->
                </div>
                <!-- /.modal-dialog -->
            </div>
            <!-- /.Modal de información de consulta general -->
            <!-- Modal de información consulta personalizada-->
            <div class="modal fade" id="myModal2" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                            <h4 class="modal-title" id="myModalLabel2">Información consulta personalizada</h4>
                        </div>
                        <div class="modal-body">
                            <p class="text-justify">En consulta personalizada puede seleccionar la forma en que desea visualizar los datos del indicador, definir las desagregaciones que desea como columnas o filas arrastrando y soltandolas en el cuadro de resumen, escoger el tipo de medida, filtrar datos e incluso ocultar una desagregación en la información del indicador.</p>
                            <p class="text-info text-center"><strong><em>"Para mayor información consulte la pestaña de ayuda ubicada en la parte superior de este panel"</em></strong></p>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-primary" data-dismiss="modal">Cerrar</button>
                        </div>
                    </div>
                    <!-- /.modal-content -->
                </div>
                <!-- /.modal-dialog -->
            </div>
            <!-- /.modal de información consulta personalizada-->
            <!-- Modal de información consulta gráficos-->
            <div class="modal fade" id="myModal3" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                            <h4 class="modal-title" id="myModalLabel3">Información consulta gráficos</h4>
                        </div>
                        <div class="modal-body" id="infoGrafico">
                            <p class="text-justify">En esta pestaña puede ver representaciones gráficas como tortas y diagramas de barras filtradas por el año y las desagregaciones del indicador.</p>
                            <p class="text-info text-center"><strong><em>"Para mayor información consulte la pestaña de ayuda ubicada en la parte superior de este panel"</em></strong></p>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-primary" data-dismiss="modal">Cerrar</button>
                        </div>
                    </div>
                    <!-- /.modal-content -->
                </div>
                <!-- /.modal-dialog -->
            </div>
            <!-- /.modal de información consulta gráficos-->
        </div>
    </div>
    <!-- /.Ventanas información -->


</div>

@RenderBody()

@section SeccionScripts{
    @Scripts.Render("~/bundles/scriptsIndicadores")

    <script type="text/javascript" src="~/Scripts/pivotTable/dist/d3.min.js"></script>
    <script type="text/javascript" src="~/Scripts/pivotTable/dist/c3.min.js"></script>
    <script type="text/javascript" src="~/Scripts/pivotTable/dist/c3_renderers.js"></script>

    <script>
        $('a[data-toggle="tab"]').on('shown.bs.tab', function (evt) {
            $(window).resize();
        });
    </script>

    @RenderSection("scripts", required: false)
}
