﻿<!DOCTYPE html>

<html lang="es">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="Pagina de indicadores de ACTI de la Universidad del Magdalena">
    <meta name="author" content="Jennifer Esther Brequeman Torres">
    <title>Portal de indicadores de ACTI</title>

    @Styles.Render("~/bundles/css")
    @RenderSection("head", required: false)

    <!-- Favicon de la página -->
    <link rel="shortcut icon" href="@Url.Content("~/Content/Iconos/favicon.ico")" />

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

</head>

<body>
    <!--Banner-->
    <header id="header">
        <img class="img-responsive center-block" src="@Url.Content("~/Content/Imagenes/Logo.png")" id="logoBanner" alt="Logo del portal de indicadores de ACTI" />
    </header>
    <!--/.Banner -->
    <!-- Wrapper -->
    <div id="wrapper">
        <!-- Navigation -->
        <nav class="navbar navbar-default navbar-static-top" role="navigation" style="margin-bottom: 0">
            <!-- Navbar-header -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="@Url.Action("Index", "Inicio")">INDICADORES DE ACTI</a>
            </div>
            <!-- /.Navbar-header -->
            <!-- Navbar-top-links-->
            <ul class="nav navbar-top-links navbar-right visible-lg visible-md">
                <li>
                    <a href="@Url.Action("Index", "Inicio")"><i class="fa fa-home"></i> Inicio</a>
                </li>
                <li>
                    <a href="@Url.Action("Acerca", "Inicio")"><i class="fa fa-users"></i> Acerca de...</a>
                </li>
                <li>
                    <a href="@Url.Action("Ayuda", "Inicio")"><i class="fa fa-question-circle"></i> Ayuda</a>
                </li>
            </ul>
            <!-- /.Navbar-top-links -->
            <!-- Navbar-static-side -->
            <div class="navbar-default sidebar" role="navigation">
                <!-- Sidebar-collapse -->
                <div class="sidebar-nav navbar-collapse">
                    <ul class="nav" id="side-menu">
                        <!--Busqueda-->
                        <li class="sidebar-search">
                            <!-- Input-group search-->
                            <form class="form" action="@Url.Action("ResultadoBusqueda", "Inicio")">
                                <div class="custom-search-form">
                                    <input type="text" class="form-control" placeholder="Buscar..." name="q" id="tipue_search_input" autocomplete="on" required>
                                    @*<span class="input-group-btn">
                                            <button class="btn btn-default" type="button" id="tipue_search_input">
                                                <i class="fa fa-search"></i>
                                            </button>
                                        </span>*@
                                </div>
                                <!-- /.Input-group search-->
                            </form>
                        </li>
                        <!--/.Busqueda-->
                        <!--Menu principal solo visible en móviles-->
                        <li class="visible-xs">
                            <a href="@Url.Action("Index", "Inicio")"><i class="fa fa-home"></i> Inicio</a>
                        </li>
                        <li class="visible-xs">
                            <a href="@Url.Action("Acerca", "Inicio")"><i class="fa fa-users"></i> Acerca de...</a>
                        </li>
                        <li class="visible-xs">
                            <a href="@Url.Action("Ayuda", "Inicio")"><i class="fa fa-question-circle"></i> Ayuda</a>
                        </li>
                        <!--/.Menu principal solo visible en móviles-->
                        <!--Menu Insumos-->
                        <li>
                            <a href="#"><i class="fa fa-briefcase"></i> Insumos<span class="fa arrow"></span></a>
                            <!-- Nav-second-level -->
                            <ul class="nav nav-second-level">
                                <li>
                                    <a href="#">Recursos Económicos<span class="fa arrow"></span></a>
                                    <!-- Nav-third-level -->
                                    <ul class="nav nav-third-level">
                                        <li>
                                            <a href="@Url.Action("Index", "Gastos")">Gastos en ACTI</a>
                                        </li>
                                    </ul>
                                    <!-- /.Nav-third-level -->
                                </li>
                                <li>
                                    <a href="#">Recursos Estructurales y Relacionales<span class="fa arrow"></span></a>
                                    <!-- Nav-third-level -->
                                    <ul class="nav nav-third-level">
                                        <li>
                                            <a href="@Url.Action("Index", "Redes")">Redes de ACTI</a>
                                        </li>
                                        <li>
                                            <a href="@Url.Action("Index", "OrganizacionesACTI")">Unidades organizativas para ACTI</a>
                                        </li>
                                        <li>
                                            <a href="@Url.Action("Index", "ProgramasEducacionSuperior")">Programas de educación superior ofertados</a>
                                        </li>
                                        <li>
                                            <a href="@Url.Action("Index", "Convenios")">Convenios de colaboración para ACTI</a>
                                        </li>
                                        <li>
                                            <a href="@Url.Action("Index", "OrganizacionesColaboracion")">Organizaciones que realizan colaboración para ACTI</a>
                                        </li>
                                    </ul>
                                    <!-- /.Nav-third-level -->
                                </li>
                                <li>
                                    <a href="#">Recursos Físicos y Tecnológicos<span class="fa arrow"></span></a>
                                    <!-- Nav-third-level -->
                                    <ul class="nav nav-third-level">
                                        <li>
                                            <a href="@Url.Action("Index", "Laboratorios")">Laboratorios para ACTI</a>
                                        </li>
                                        <li>
                                            <a href="@Url.Action("Index", "PuestosTrabajo")">Puestos de trabajo en laboratorios para ACTI</a>
                                        </li>
                                        <li>
                                            <a href="@Url.Action("Index", "EquiposLaboratorio")">Equipos de laboratorio ACTI</a>
                                        </li>
                                        <li>
                                            <a href="@Url.Action("Index", "AreaEspacios")">Espacios utilizados para ACTI</a>
                                        </li>
                                        <li>
                                            <a href="@Url.Action("Index", "RecursosBibliograficos")">Recursos bibliográficos para ACTI</a>
                                        </li>
                                        <li>
                                            <a href="@Url.Action("Index", "Computadores")">Computadores para ACTI</a>
                                        </li>
                                        <li>
                                            <a href="@Url.Action("Index", "LicenciasSoftware")">Licencias de software para ACTI</a>
                                        </li>
                                    </ul>
                                    <!-- /.Nav-third-level -->
                                </li>
                                <li>
                                    <a href="#">Recursos Humanos<span class="fa arrow"></span></a>
                                    <!-- Nav-third-level -->
                                    <ul class="nav nav-third-level">
                                        <li>
                                            <a href="@Url.Action("Index", "Personas")">Personas dedicadas a ACTI</a>
                                        </li>
                                    </ul>
                                    <!-- /.Nav-third-level -->
                                </li>
                            </ul>
                            <!-- /.Nav-second-level -->
                        </li>
                        <!--/.Menu Insumos-->
                        <!--Menu Proceso-->
                        <li>
                            <a href="#"><i class="fa fa-circle-o-notch"></i> Proceso<span class="fa arrow"></span></a>
                            <!-- Nav-second-level -->
                            <ul class="nav nav-second-level">
                                <li>
                                    <a href="#">Proyectos<span class="fa arrow"></span></a>
                                    <!-- Nav-third-level -->
                                    <ul class="nav nav-third-level">
                                        <li>
                                            <a href="@Url.Action("Index", "Proyectos")">Proyectos de CTI</a>
                                        </li>
                                    </ul>
                                    <!-- /.Nav-third-level -->
                                </li>
                                <li>
                                    <a href="#">Personal para ACTI en Formación <span class="fa arrow"></span></a>
                                    <!-- Nav-third-level -->
                                    <ul class="nav nav-third-level">
                                        <li>
                                            <a href="@Url.Action("Index", "Estudiantes")">Estudiantes</a>
                                        </li>
                                    </ul>
                                    <!-- /.Nav-third-level -->
                                </li>
                                <li>
                                    <a href="#">Relaciones con el entorno<span class="fa arrow"></span></a>
                                    <!-- Nav-third-level -->
                                    <ul class="nav nav-third-level">
                                        <li>
                                            <a href="@Url.Action("Index", "EventosMovilizaciones")">Eventos de movilidad para ACTI</a>
                                        </li>
                                    </ul>
                                    <!-- /.Nav-third-level -->
                                </li>
                            </ul>
                            <!-- /.Nav-second-level -->
                        </li>
                        <!--/.Menu Proceso-->
                        <!--Menu Resultado-->
                        <li>
                            <a href="#"><i class="fa fa-bar-chart"></i> Resultado<span class="fa arrow"></span></a>
                            <!-- Nav-second-level -->
                            <ul class="nav nav-second-level">
                                <li>
                                    <a href="#">Productos<span class="fa arrow"></span></a>
                                    <!-- Nav-third-level -->
                                    <ul class="nav nav-third-level">
                                        <li>
                                            <a href="@Url.Action("Index", "Productos")">Productos de ACTI</a>
                                        </li>
                                    </ul>
                                    <!-- /.Nav-third-level -->
                                </li>
                                <li>
                                    <a href="#">Personal Formado para ACTI<span class="fa arrow"></span></a>
                                    <!-- Nav-third-level -->
                                    <ul class="nav nav-third-level">
                                        <li>
                                            <a href="@Url.Action("Index", "Graduados")">Graduados</a>
                                        </li>
                                    </ul>
                                    <!-- /.Nav-third-level -->
                                </li>
                                <li>
                                    <a href="#">Transferencia de Conocimiento<span class="fa arrow"></span></a>
                                    <!-- Nav-third-level -->
                                    <ul class="nav nav-third-level">
                                        <li>
                                            <a href="@Url.Action("Index", "ServiciosCT")">Servicios científicos y tecnológicos ofertados</a>
                                        </li>
                                        <li>
                                            <a href="@Url.Action("Index", "EventosCTI")">Eventos de CTI</a>
                                        </li>
                                        <li>
                                            <a href="@Url.Action("Index", "Asistentes")">Asistentes a eventos de CTI</a>
                                        </li>
                                    </ul>
                                    <!-- /.Nav-third-level -->
                                </li>
                                <li>
                                    <a href="#">Recursos Económicos<span class="fa arrow"></span></a>
                                    <!-- Nav-third-level -->
                                    <ul class="nav nav-third-level">
                                        <li>
                                            <a href="@Url.Action("Index", "IngresosProductos")">Ingresos por transferencia de productos de CTI</a>
                                        </li>
                                        <li>
                                            <a href="@Url.Action("Index", "IngresosServicios")">Ingresos por prestación de SCT</a>
                                        </li>
                                    </ul>
                                    <!-- /.Nav-third-level -->
                                </li>
                            </ul>
                            <!-- /.Nav-second-level -->
                        </li>
                        <!--/.Menu Resultado-->
                        <!--Menu Disponibilidad de insumos-->
                        <li>
                            <a href="#"><i class="fa fa-check-square-o"></i> Disponibilidad de insumos<span class="fa arrow"></span></a>
                            <!-- Nav-second-level -->
                            <ul class="nav nav-second-level">
                                <li>
                                    <a href="#">Recursos económicos<span class="fa arrow"></span></a>
                                    <!-- Nav-third-level -->
                                    <ul class="nav nav-third-level">
                                        <li>
                                            <a href="@Url.Action("Index", "GastosPresupuesto")">% Gasto en ACTI en relación con el presupuesto total</a>
                                        </li>
                                        <li>
                                            <a href="@Url.Action("Index", "GastosPersonas")">Proporción gasto en ACTI por personas</a>
                                        </li>
                                    </ul>
                                    <!-- /.Nav-third-level -->
                                </li>
                                <li>
                                    <a href="#">Recursos Físicos y Tecnológicos<span class="fa arrow"></span></a>
                                    <!-- Nav-third-level -->
                                    <ul class="nav nav-third-level">
                                        <li>
                                            <a href="@Url.Action("Index", "PersonasLaboratorios")">Proporción personas por laboratorio</a>
                                        </li>
                                        <li>
                                            <a href="@Url.Action("Index", "PersonasPuestosTrabajo")">Proporción personas por puestos en laboratorios</a>
                                        </li>
                                        <li>
                                            <a href="@Url.Action("Index", "EquiposLaboratorioPersonas")">Proporción equipos de laboratorio por personas</a>
                                        </li>
                                        <li>
                                            <a href="@Url.Action("Index", "PersonasEspacios")">Proporción personas por área de los espacios</a>
                                        </li>
                                        <li>
                                            <a href="@Url.Action("Index", "ComputadoresPersonas")">Proporción computadores por personas</a>
                                        </li>
                                    </ul>
                                    <!-- /.Nav-third-level -->
                                </li>
                                <li>
                                    <a href="#">Recursos Humanos<span class="fa arrow"></span></a>
                                    <!-- Nav-third-level -->
                                    <ul class="nav nav-third-level">
                                        <li>
                                            <a href="@Url.Action("Index", "PersonasPersonas")">Personas dedicadas a ACTI en relación con el total del personal</a>
                                        </li>
                                    </ul>
                                    <!-- /.Nav-third-level -->
                                </li>
                            </ul>
                            <!-- /.Nav-second-level -->
                        </li>
                        <!--/.Menu Disponibilidad de insumos-->
                        <!--Menu Productividad-->
                        <li>
                            <a href="#"><i class="fa fa-clock-o"></i> Productividad<span class="fa arrow"></span></a>
                            <!-- Nav-second-level -->
                            <ul class="nav nav-second-level">
                                <li>
                                    <a href="#">Productividad de Recursos Humanos<span class="fa arrow"></span></a>
                                    <ul class="nav nav-third-level">
                                        <li>
                                            <a href="@Url.Action("Index", "ProductosPersonas")">Proporción productos por persona</a>
                                        </li>
                                        <li>
                                            <a href="@Url.Action("Index", "ProductosOrganizaciones")">Proporción productos por unidad organizativa</a>
                                        </li>
                                        <li>
                                            <a href="@Url.Action("Index", "ProductosProyectos")">Proporción productos por proyecto</a>
                                        </li>
                                    </ul>
                                    <!-- /.nav-third-level -->
                                </li>
                                <li>
                                    <a href="#">Relaciones con el entorno<span class="fa arrow"></span></a>
                                    <!-- Nav-third-level -->
                                    <ul class="nav nav-third-level">
                                        <li>
                                            <a href="@Url.Action("Index", "EventosMovilizacionesPersonas")">Eventos de movilidad por personas</a>
                                        </li>
                                    </ul>
                                    <!-- /.Nav-third-level -->
                                </li>
                            </ul>
                            <!-- /.Nav-second-level -->
                        </li>
                        <!--/.Menu Productividad-->
                        <!--Menu Impacto-->
                        <li>
                            <a href="#"><i class="fa fa-line-chart"></i> Impacto<span class="fa arrow"></span></a>
                            <!-- Nav-second-level -->
                            <ul class="nav nav-second-level">
                                <li>
                                    <a href="#">Impacto académico<span class="fa arrow"></span></a>
                                    <!-- Nav-third-level -->
                                    <ul class="nav nav-third-level">
                                        <li>
                                            <a href="@Url.Action("Index", "Citaciones")">Citaciones a productos CTI</a>
                                        </li>
                                        <li>
                                            <a href="@Url.Action("Index", "CitacionesProductos")">Proporción citaciones por producto de CTI</a>
                                        </li>
                                    </ul>
                                    <!-- /.Nav-third-level -->
                                </li>
                                <li>
                                    <a href="#">Reconocimiento externo<span class="fa arrow"></span></a>
                                    <!-- Nav-third-level -->
                                    <ul class="nav nav-third-level">
                                        <li>
                                            <a href="@Url.Action("Index", "Premios")">Premios por CTI</a>
                                        </li>
                                        <li>
                                            <a href="@Url.Action("Index", "Posiciones")">Posición rankings CTI</a>
                                        </li>
                                    </ul>
                                    <!-- /.Nav-third-level -->
                                </li>
                            </ul>
                            <!-- /.Nav-second-level -->
                        </li>
                        <!--/.Menu Impacto-->
                    </ul>
                </div>
                <!-- /.Sidebar-collapse -->
            </div>
            <!-- /.Navbar-static-side -->
        </nav>
        <!--/.Navigation -->
        <!-- Page-wrapper -->
        <div id="page-wrapper">
            <!-- Page-content -->
            <div class="container-fluid" id="content">
                <!-- título de la página-->
                <div class="row">
                    <!-- col-lg-12 -->
                    <div class="col-lg-12">
                        <h2 class="page-header">@ViewBag.Title</h2>
                    </div>
                    <!-- /.col-lg-12 -->
                </div>
                <!-- /.título de la página-->
                @RenderBody()

            </div>
            <!--/.Page-content -->
            <!-- Footer -->
            <footer class="container-fluid">
                <div class="row">
                    <div class="row">
                        <div class="col-md-12 col-lg-12 text-center">
                            <p>© Copyright @DateTime.Now.Year <a href="http://www.unimagdalena.edu.co" target="_blank">Universidad del Magdalena</a> ® Todos los Derechos Reservados</p>
                        </div>
                    </div>
                </div>
            </footer>
            <!--/.Footer -->

        </div>
        <!-- /#Page-wrapper -->

    </div>
    <!-- /.Wrapper -->
    <!-- Scroll Top -->
    <div class="scroll-top" data-spy="affix" data-offset-top="300">
        <a href="#wrapper"><i class="fa fa-angle-up"></i></a>
    </div>
    <!--/.Scroll Top -->
    @Scripts.Render("~/bundles/scripts")
    @RenderSection("SeccionScripts", required: false)

    <script>
        $(function () {
            $(document).on('scroll', function () {
                if ($(window).scrollTop() > 100) {
                    $('.scroll-top').addClass('show');
                } else {
                    $('.scroll-top').removeClass('show');
                }
            });
        });
    </script>
</body>
</html>
