﻿@{
    Layout = "~/Views/Shared/_IndicadoresLayout.cshtml";
    ViewBag.Indicador = "Proporción de eventos de movilidad para actividades de ciencia, tecnología e innovación (ACTI) por personas dedicadas a ACTI:";
    ViewBag.Descripcion = "Referencia el promedio de eventos de movilidad para actividades de ciencia, tecnología e innovación (ACTI) que realizan las personas dedicadas a ACTI. Se calcula dividiendo el número de eventos de movilidad para ACTI entre el número de personas dedicadas a ACTI y se mide en “eventos de movilidad por persona”. Se puede discriminar por: actividades desarrolladas (desagregación de las ACTI) y campo de conocimiento según la clasificación OCDE.";
    ViewBag.Nombre = "proporción de eventos de movilidad para actividades de ciencia, tecnología e innovación (ACTI) por personas dedicadas a ACTI";
    ViewBag.Fuente = "Datos de prueba";
}

@section ConsultaGeneral{
    <!--Selecciona el rango de años y la tabla a consultar-->
    <div class="row">
        <form class="form">
            <!--Selecciona el año desde-->
            <div class="col-lg-offset-1 col-md-offset-1 col-lg-2 col-md-2">
                <label>Desde</label>
                <select class="form-control" id="fromYear" name="fromYear">
                    <option value="-100">Todos</option>
                </select>
            </div>
            <!--./Fin selecciona el año desde-->
            <!--Selecciona hasta que año consultar-->
            <div class="col-lg-2 col-md-2">
                <div class="form-group">
                    <label>Hasta</label>
                    <select class="form-control" id="toYear" name="toYear">
                        <option value="-100">Todos</option>
                    </select>
                </div>
            </div>
            <!--./Fin selecciona hasta año -->
            <!--Selecciona el tipo de dimensión-->
            <div class="col-lg-4 col-md-4">
                <div class="form-group">
                    <label>Tabla del indicador</label>
                    <select class="form-control" id="tabla">
                        <option value="1">Área OCDE</option>
                        <option value="2">Subárea OCDE</option>
                        <option value="3">Disciplina OCDE</option>
                        <option value="4">Primer nivel ACTI</option>
                        <option value="5">Segundo nivel ACTI</option>
                        <option value="6">Tercer nivel ACTI</option>
                    </select>
                </div>
            </div>
            <!--./Fin selecciona el tipo de dimensión-->
            <!--Botón consultar-->
            <div class="col-lg-2 col-md-2 topBoton">
                <button type="button" class="btn btn-primary" id="searchData">Consultar</button>
            </div>
            <!--./Fin botón consultar-->
        </form>
    </div>
    <!--./Fin selecciona el rango de años y tabla a consultar-->
    <!--Tablas del indicador-->
    <div class="row container-fluid">
        <div class="col-lg-offset-2 col-lg-8 col-md-offset-2 col-md-8">
            <h4 class="text-center title-tabla" id="nombreTabla1"></h4>
        </div>

        <div class="table-responsive col-lg-12 col-lg-12 col-md-12 col-sm-12">
            <div id="eventos_tabla1" style="align-items:center;"></div>
        </div>

        <div class="col-lg-offset-1 col-lg-10 col-md-12 col-sm-12 col-xs-12">
            <div id="grafico1" class="grafico_general"></div>
        </div>

        <div class="col-lg-offset-2 col-lg-8 col-md-offset-2 col-md-8">
            <h4 class="text-center title-tabla" id="nombreTabla2"></h4>
        </div>

        <div class="table-responsive col-lg-12 col-lg-12 col-md-12 col-sm-12">
            <div id="eventos_tabla2" style="align-items:center;"></div>
        </div>

        <div class="col-lg-offset-1 col-lg-10 col-md-12 col-sm-12 col-xs-12">
            <div id="grafico2" class="grafico_general"></div>
        </div>
    </div>
    <!--./Fin Tablas del indicador-->
}

@section PanelGraficos{
    <!--Panel de los gráficos-->
    <div class="row">
        <!--Selecciona el año, nivel acti y ocde-->
        <div class="container-fluid">
            <form class="form">
                <!--Selecciona el año-->
                <div class="col-lg-offset-1 col-lg-2 col-md-offset-1 col-md-2">
                    <div class="form-group">
                        <label>Año</label>
                        <select class="form-control" id="year"></select>
                    </div>
                </div>
                <!--./Fin selecciona el año-->
                <!--Selecciona acti-->
                <div class="col-lg-2 col-md-2">
                    <div class="form-group">
                        <label>Nivel ACTI</label>
                        <select class="form-control" id="acti">
                            <option value="1">Primer</option>
                            <option value="2">Segundo</option>
                            <option value="3">Tercer</option>
                        </select>
                    </div>
                </div>
                <!--./Fin selecciona acti-->
                <!--Selecciona ocde-->
                <div class="col-lg-2 col-md-2">
                    <div class="form-group">
                        <label>OCDE</label>
                        <select class="form-control" id="ocde">
                            <option value="1">Área</option>
                            <option value="2">Subárea</option>
                            <option value="3">Disciplina</option>
                        </select>
                    </div>
                </div>
                <!--./Fin selecciona ocde-->
                <!--Selecciona medida-->
                <div class="col-lg-2 col-md-2">
                    <div class="form-group">
                        <label>Medida</label>
                        <select class="form-control" id="medida">
                            <option value="1">Conteo</option>
                            <option value="2">Tiempo equivalente</option>
                        </select>
                    </div>
                </div>
                <!--./Fin selecciona medida-->
                <!--Botón consultar gráficos-->
                <div class="col-lg-2 col-md-2 topBoton">
                    <button type="button" class="btn btn-primary" id="searchGraphs">Consultar</button>
                </div>
                <!--./Fin botón consultar gráficos-->
            </form>
        </div>
        <!--./Fin selecciona el año, nivel acti y ocde-->
    </div>
    <div class="row container-fluid">
        <div class="col-lg-offset-1 col-lg-10 col-md-12 col-sm-12 col-xs-12">
            <div id="grafico3" class="grafico"></div>
            <div id="grafico4" class="grafico"></div>
            <div id="grafico5" class="grafico"></div>
        </div>
    </div>
    <!--./Fin panel de los gráficos-->
}

@section scripts{
    <script>
        var desdeAño = "-100", hastaAño = "-100";
        var opcion = "1"; //opcion de la tabla a mostrar

        $(document).ready(function () {
            cargaInicial();       //carga inicial de los datos y gráficos del indicador
            load_years();         //carga los años del indicador
            change_hasta();       //cambio del año hasta
            datosTablaResumen();  //llena la tabla de consulta general
            drawGraphs();         //dibuja los gráficos del panel consulta de gráficos
        });
        /*-----------------------Carga inicialmente los datos y gráficos del indicador----------------*/
        function cargaInicial() {
            $(function () {
                //cuando cargue el gráfico, llena la tabla de consulta general
                DrawGrafico1();
                $.when(DrawGrafico1()).done(function (a1) {
                    loadDataTables();
                });
            });

            /*----Lista el indicador proporción de eventos de movilidad por personas en la tabla dinámica----*/
            $(function () {
                $("#tablaDinamica").html('<img src="Content/Imagenes/cargando.gif" class="img-responsive centrar"/>');
                var sum = $.pivotUtilities.aggregatorTemplates.sum;
                var numberFormat = $.pivotUtilities.numberFormat;
                var floatFormat = numberFormat({ digitsAfterDecimal: 4 });

                var renderers = $.extend(
                    $.pivotUtilities.renderers,
                    $.pivotUtilities.c3_renderers,
                    $.pivotUtilities.d3_renderers
                    );

                var actionUrl = '@Url.Action("Listar", "EventosMovilizacionesPersonas")';

                $.get(actionUrl, function (mps) {
                    $("#tablaDinamica").pivotUI(mps, {
                        aggregators: {
                            "Eventos de movilidad por persona":
                                function () { return sum(floatFormat)(["Cantidad"]) },
                            "Eventos de movilidad por persona de tiempo completo equivalente":
                                function () { return sum(floatFormat)(["CantidadTE"]) }
                        },
                        hiddenAttributes: ["Cantidad", "CantidadTE","Periodo"],
                        renderers: renderers,
                        rendererName: "Tabla"
                    });
                });
            });
        }
        /*------------------Carga los años en los select------------------*/
        function load_years() {
            $.get(
                    '@Url.Action("getYears", "EventosMovilizacionesPersonas")'
                )
                .done(function (data) {
                    var lastYear = (new Date).getFullYear() - 1;
                    $.each(data, function (i, row) {
                        var $option = $('<option>');
                        $option.val(row.año);
                        $option.html(row.año);
                        $('#fromYear').append($option);

                        var $option = $('<option>');
                        $option.val(row.año);
                        $option.html(row.año);
                        $('#year').append($option);
                        if (parseInt(row.año) == lastYear) {
                            $('#year').val(row.año);
                        }
                    })
                    //gráficos de la pestaña consulta gráficos
                    var año = $('#year').val();
                    var acti = $("#acti").find(':selected').text();
                    var ocde = $("#ocde").find(':selected').text();
                    var medida = $('#medida').val();

                    DrawEventosACTI(año, acti, medida);
                    DrawEventosOCDE(año, ocde, medida);
                    DrawEventosOCDENivelACTI(año, acti, ocde, medida);
                })
                .fail(function (data) {
                    console.log('Error al cargar años!!!');
                }
            );
        }
        /*------------------Cambia el año hasta al seleccionar un año desde--------------*/
        function change_hasta() {
            $('#fromYear').change(function () {
                $.get(
                        '@Url.Action("getYears", "EventosMovilizacionesPersonas")'
                    )
                    .done(function (data) {
                        var from = $("#fromYear").find(':selected').text();
                        var fromValue = $("#fromYear").find(':selected').val();
                        $('#toYear').empty();

                        if (fromValue == "-100") {
                            var $option = $('<option>');
                            $option.val("-100");
                            $option.html("Todos");
                            $('#toYear').append($option);
                        } else {
                            $.each(data, function (i, row) {
                                if (parseInt(row.año) >= parseInt(from)) {
                                    var $option = $('<option>');
                                    $option.val(row.año);
                                    $option.html(row.año);
                                    $('#toYear').append($option);
                                }
                            })
                        }
                    })
                    .fail(function (data) {
                        console.log('Error al cargar años hasta!!!');
                    }
                );
            });
        }
        /*-------------------Carga los datos y gráficos en consulta general--------------*/
        function datosTablaResumen() {
            $("#searchData").click(function () {
                //asigna a las variables globales el nuevo valor
                desdeAño = $('#fromYear').val();
                hastaAño = $('#toYear').val();
                opcion = $('#tabla').val();
                //cuando cargue el gráfico, llena la tabla de consulta general
                DrawGrafico1();
                $.when(DrawGrafico1()).done(function (a1) {
                    loadDataTables();
                });
            });
        }
        /*-------------------------------Exporta el indicador completo-------------------------*/
        function exportar(id) {
            var dt = new Date();
            var month = dt.getMonth() + 1;
            var day = dt.getDate();
            var year = dt.getFullYear();
            var tipoReporte = "0";

            var fecha = day + "" + month + "" + year;
            var fileName = "EventosMovilizacionesPersonas" + fecha;
            window.location = "/EventosMovilizacionesPersonas/Reporte/" + id + "/" + desdeAño + "/" + hastaAño + "/" + tipoReporte + "/" + fileName;
        }
        /*-------------------------------Exporta el indicador por el tipo de tabla-------------------------*/
        function exportarTabla(id) {
            var dt = new Date();
            var month = dt.getMonth() + 1;
            var day = dt.getDate();
            var year = dt.getFullYear();
            var tipoReporte = opcion;
            var fecha = day + "" + month + "" + year;
            var fileName;
            switch (opcion) {
                case "2"://subárea ocde
                    fileName = "EventosMovilizacionesPersonasPorSubáreaOCDE" + fecha;
                    break;
                case "3"://disciplina ocde
                    fileName = "EventosMovilizacionesPersonasPorDisciplinaOCDE" + fecha
                    break;
                case "4"://primer nivel acti
                    fileName = "EventosMovilizacionesPersonasPorN1ACTI" + fecha;
                    break;
                case "5"://segundo nivel acti
                    fileName = "EventosMovilizacionesPersonasPorN2ACTI" + fecha;
                    break;
                case "6"://tercer nivel acti
                    fileName = "EventosMovilizacionesPersonasPorN3ACTI" + fecha;
                    break;
                default://área ocde
                    fileName = "EventosMovilizacionesPersonasPorÁreaOCDE" + fecha
                    break;
            }
            window.location = "/EventosMovilizacionesPersonas/Reporte/" + id + "/" + desdeAño + "/" + hastaAño + "/" + tipoReporte + "/" + fileName;
        }
        /*-----------------Carga los gráficos en la pestaña consulta gráficos ----------------*/
        function drawGraphs() {
            $("#searchGraphs").click(function () {
                var año = $('#year').val();
                var acti = $("#acti").find(':selected').text();
                var ocde = $("#ocde").find(':selected').text();
                var medida = $('#medida').val();

                DrawEventosACTI(año, acti, medida);
                DrawEventosOCDE(año, ocde, medida);
                DrawEventosOCDENivelACTI(año, acti, ocde, medida);
            });
        }
        /*----Lista la tabla de eventos de movilidad por persona----*/
        function loadDataTables() {
            $("#eventos_tabla").html('<img src="Content/Imagenes/cargando.gif" class="img-responsive centrar"/>');
            $.ajax({
                url: "@Url.Action("ListarxYear", "EventosMovilizacionesPersonas")",
                data: {
                    tabla: opcion,
                    desde: desdeAño,
                    hasta: hastaAño
                },
                type: "GET",
                dataType: "json",
                success: function (data) {
                    var sum = $.pivotUtilities.aggregatorTemplates.sum;
                    var numberFormat = $.pivotUtilities.numberFormat;
                    var floatFormat = numberFormat({ digitsAfterDecimal: 4 });

                    switch (opcion) {
                        case "2"://subárea ocde
                            $('#nombreTabla1').text("Proporción de eventos de movilidad para ACTI por personas dedicadas a ACTI por subárea OCDE");
                            $("#eventos_tabla1").pivot(data, {
                                rows: ["Subárea_OCDE"],
                                cols: ["Año"],
                                aggregator: sum(floatFormat)(["Cantidad"])
                            });

                            $('#nombreTabla2').text("Proporción de eventos de movilidad para ACTI por personas de tiempo completo equivalente dedicadas a ACTI por subárea OCDE");
                            $("#eventos_tabla2").pivot(data, {
                                rows: ["Subárea_OCDE"],
                                cols: ["Año"],
                                aggregator: sum(floatFormat)(["CantidadTE"])
                            });
                            break;
                        case "3"://disciplina ocde
                            $('#nombreTabla1').text("Proporción de eventos de movilidad para ACTI por personas dedicadas a ACTI por disciplina OCDE");
                            $("#eventos_tabla1").pivot(data, {
                                rows: ["Disciplina_OCDE"],
                                cols: ["Año"],
                                aggregator: sum(floatFormat)(["Cantidad"])
                            });

                            $('#nombreTabla2').text("Proporción de eventos de movilidad para ACTI por personas de tiempo completo equivalente dedicadas a ACTI por disciplina OCDE");
                            $("#eventos_tabla2").pivot(data, {
                                rows: ["Disciplina_OCDE"],
                                cols: ["Año"],
                                aggregator: sum(floatFormat)(["CantidadTE"])
                            });
                            break;
                        case "4"://acti primer nivel
                            $('#nombreTabla1').text("Proporción de eventos de movilidad para ACTI por personas dedicadas a ACTI por el primer nivel ACTI");
                            $("#eventos_tabla1").pivot(data, {
                                rows: ["ACTI_N1"],
                                cols: ["Año"],
                                aggregator: sum(floatFormat)(["Cantidad"])
                            });

                            $('#nombreTabla2').text("Proporción de eventos de movilidad para ACTI por personas de tiempo completo equivalente dedicadas a ACTI por el primer nivel ACTI");
                            $("#eventos_tabla2").pivot(data, {
                                rows: ["ACTI_N1"],
                                cols: ["Año"],
                                aggregator: sum(floatFormat)(["CantidadTE"])
                            });
                            break;
                        case "5"://acti segundo nivel
                            $('#nombreTabla1').text("Proporción de eventos de movilidad para ACTI por personas dedicadas a ACTI por el segundo nivel ACTI");
                            $("#eventos_tabla1").pivot(data, {
                                rows: ["ACTI_N2"],
                                cols: ["Año"],
                                aggregator: sum(floatFormat)(["Cantidad"])
                            });

                            $('#nombreTabla2').text("Proporción de eventos de movilidad para ACTI por personas de tiempo completo equivalente dedicadas a ACTI por el segundo nivel ACTI");
                            $("#eventos_tabla2").pivot(data, {
                                rows: ["ACTI_N2"],
                                cols: ["Año"],
                                aggregator: sum(floatFormat)(["CantidadTE"])
                            });
                            break;
                        case "6"://acti tercer nivel
                            $('#nombreTabla1').text("Proporción de eventos de movilidad para ACTI por personas dedicadas a ACTI por el tercer nivel ACTI");
                            $("#eventos_tabla1").pivot(data, {
                                rows: ["ACTI_N3"],
                                cols: ["Año"],
                                aggregator: sum(floatFormat)(["Cantidad"])
                            });

                            $('#nombreTabla2').text("Proporción de eventos de movilidad para ACTI por personas de tiempo completo equivalente dedicadas a ACTI por el tercer nivel ACTI");
                            $("#eventos_tabla2").pivot(data, {
                                rows: ["ACTI_N3"],
                                cols: ["Año"],
                                aggregator: sum(floatFormat)(["CantidadTE"])
                            });
                            break;
                        default://área ocde
                            $('#nombreTabla1').text("Proporción de eventos de movilidad para ACTI por personas dedicadas a ACTI por área OCDE");
                            $("#eventos_tabla1").pivot(data, {
                                rows: ["Área_OCDE"],
                                cols: ["Año"],
                                aggregator: sum(floatFormat)(["Cantidad"])
                            });

                            $('#nombreTabla2').text("Proporción de eventos de movilidad para ACTI por personas de tiempo completo equivalente dedicadas a ACTI por área OCDE");
                            $("#eventos_tabla2").pivot(data, {
                                rows: ["Área_OCDE"],
                                cols: ["Año"],
                                aggregator: sum(floatFormat)(["CantidadTE"])
                            });
                            break;
                    }
                },
                error: function () {
                    alert("¡Falla cargando los datos de la tabla! Intente de nuevo.");
                }
            });
        }
        /*----Dibuja los gráficos de la tabla escogida por el usuario----*/
        function DrawGrafico1() {
            $("#eventos_tabla1").html('<img src="Content/Imagenes/cargando.gif" class="img-responsive centrar"/>');
            $('#nombreTabla1').text("");
            $("#eventos_tabla2").html('<img src="Content/Imagenes/cargando.gif" class="img-responsive centrar"/>');
            $('#nombreTabla2').text("");
            $("#grafico1").html('<img src="Content/Imagenes/cargando.gif" class="img-responsive centrar"/>');
            $.ajax({
                url: "@Url.Action("GraficoxYear", "EventosMovilizacionesPersonas")",
                data: {
                    tabla: opcion,
                    desde: desdeAño,
                    hasta: hastaAño
                },
                type: "GET",
                dataType: "json",
                success: function (data) {
                    DrawGrafico2(data);
                    var seriesData = [];
                    var xCategories = [];
                    var seriesName = [];
                    var valores = [];
                    var i, cat, nombre, k, titulo, sw = true;

                    switch (opcion) {
                        case "2"://subárea ocde
                            titulo = "Proporción de eventos de movilidad para ACTI por personas dedicadas a ACTI por subárea OCDE";
                            break;
                        case "3"://disciplina ocde
                            titulo = "Proporción de eventos de movilidad para ACTI por personas dedicadas a ACTI por disciplina OCDE";
                            break;
                        case "4"://acti primer nivel
                            titulo = "Proporción de eventos de movilidad para ACTI por personas dedicadas a ACTI por el primer nivel ACTI";
                            break;
                        case "5"://acti segundo nivel
                            titulo = "Proporción de eventos de movilidad para ACTI por personas dedicadas a ACTI por el segundo nivel ACTI";
                            break;
                        case "6"://acti tercer nivel
                            titulo = "Proporción de eventos de movilidad para ACTI por personas dedicadas a ACTI por el tercer nivel ACTI";
                            break;
                        default://área ocde
                            titulo = "Proporción de eventos de movilidad para ACTI por personas dedicadas a ACTI por área OCDE"
                            break;
                    }
                    for (i = 0; i < data.length; i++) {
                        cat = data[i].año;
                        nombre = data[i].nombre;
                        if (xCategories.indexOf(cat) === -1) {
                            xCategories[xCategories.length] = cat;
                        }
                        if (seriesName.indexOf(nombre) === -1) {
                            seriesName[seriesName.length] = nombre;
                        }
                    }
                    for (i = 0; i < seriesName.length; i++) {
                        valores = [];
                        for (j = 0; j < xCategories.length; j++) {
                            var k = 0;
                            var sw = false;
                            while (k < data.length && !sw) {
                                if (data[k].nombre == seriesName[i] && data[k].año == xCategories[j]) {
                                    valores[j] = Math.round(data[k].total * 10000) / 10000;
                                    sw = true;
                                } else {
                                    k++;
                                }
                            }
                            if (!sw) {
                                valores[j] = null;
                            }
                        }
                        seriesData[i] = { name: seriesName[i], data: valores };
                    }
                    var chart;
                    $(document).ready(function () {

                        chart = new Highcharts.Chart({
                            chart: {
                                renderTo: 'grafico1',
                                type: 'column'
                            },
                            title: {
                                text: titulo
                            },
                            subtitle: {
                                text: 'Fuente: Datos de prueba'
                            },
                            xAxis: {
                                title: {
                                    text: 'Años'
                                },
                                categories: xCategories
                            },
                            yAxis: {
                                min: 0,
                                title: {
                                    text: 'Eventos de movilidad por persona',
                                    align: 'high'
                                },
                                labels: {
                                    overflow: 'justify'
                                },
                                stackLabels: {
                                    enabled: true
                                }
                            },
                            tooltip: {
                                headerFormat: '<b>{point.x}</b><br/>',
                                po: '{series.name}: {point.y} Eventos de movilidad por persona<br/>' +
                                    'Total: {point.stackTotal} Eventos de movilidad por persona'
                            },
                            plotOptions: {
                                column: {
                                    stacking: 'normal'
                                }
                            },
                            credits: {
                                enabled: false
                            },
                            series: seriesData
                        });
                    });
                },
                error: function () {
                    $("#grafico1").html("Error al cargar los datos del gráfico");
                    $("#grafico2").html("Error al cargar los datos del gráfico");
                }
            });
        }

        function DrawGrafico2(data) {
            $("#grafico2").html('<img src="Content/Imagenes/cargando.gif" class="img-responsive centrar"/>');
            var seriesData = [];
            var xCategories = [];
            var seriesName = [];
            var valores = [];
            var i, cat, nombre, k, titulo, sw = true;

            switch (opcion) {
                case "2"://subárea ocde
                    titulo = "Proporción de eventos de movilidad para ACTI por personas de tiempo completo equivalente dedicadas a ACTI por subárea OCDE";
                    break;
                case "3"://disciplina ocde
                    titulo = "Proporción de eventos de movilidad para ACTI por personas de tiempo completo equivalente dedicadas a ACTI por disciplina OCDE";
                    break;
                case "4"://acti primer nivel
                    titulo = "Proporción de eventos de movilidad para ACTI por personas de tiempo completo equivalente dedicadas a ACTI por el primer nivel ACTI";
                    break;
                case "5"://acti segundo nivel
                    titulo = "Proporción de eventos de movilidad para ACTI por personas de tiempo completo equivalente dedicadas a ACTI por el segundo nivel ACTI";
                    break;
                case "6"://acti tercer nivel
                    titulo = "Proporción de eventos de movilidad para ACTI por personas de tiempo completo equivalente dedicadas a ACTI por el tercer nivel ACTI";
                    break;
                default://área ocde
                    titulo = "Proporción de eventos de movilidad para ACTI por personas de tiempo completo equivalente dedicadas a ACTI por área OCDE"
                    break;
            }
            for (i = 0; i < data.length; i++) {
                cat = data[i].año;
                nombre = data[i].nombre;
                if (xCategories.indexOf(cat) === -1) {
                    xCategories[xCategories.length] = cat;
                }
                if (seriesName.indexOf(nombre) === -1) {
                    seriesName[seriesName.length] = nombre;
                }
            }
            for (i = 0; i < seriesName.length; i++) {
                valores = [];
                for (j = 0; j < xCategories.length; j++) {
                    var k = 0;
                    var sw = false;
                    while (k < data.length && !sw) {
                        if (data[k].nombre == seriesName[i] && data[k].año == xCategories[j]) {
                            valores[j] = Math.round(data[k].totalTE * 10000) / 10000;
                            sw = true;
                        } else {
                            k++;
                        }
                    }
                    if (!sw) {
                        valores[j] = null;
                    }
                }
                seriesData[i] = { name: seriesName[i], data: valores };
            }
            var chart;
            $(document).ready(function () {

                chart = new Highcharts.Chart({
                    chart: {
                        renderTo: 'grafico2',
                        type: 'column'
                    },
                    title: {
                        text: titulo
                    },
                    subtitle: {
                        text: 'Fuente: Datos de prueba'
                    },
                    xAxis: {
                        title: {
                            text: 'Años'
                        },
                        categories: xCategories
                    },
                    yAxis: {
                        min: 0,
                        title: {
                            text: 'Eventos de movilidad por persona de tiempo completo equivalente',
                            align: 'high'
                        },
                        labels: {
                            overflow: 'justify'
                        },
                        stackLabels: {
                            enabled: true
                        }
                    },
                    tooltip: {
                        headerFormat: '<b>{point.x}</b><br/>',
                        po: '{series.name}: {point.y} Eventos de movilidad por persona de tiempo completo equivalente<br/>' +
                            'Total: {point.stackTotal} Eventos de movilidad por persona de tiempo completo equivalente'
                    },
                    plotOptions: {
                        column: {
                            stacking: 'normal'
                        }
                    },
                    credits: {
                        enabled: false
                    },
                    series: seriesData
                });
            });
        }

        //Gráfico de personas en el año por ocde y acti
        function DrawEventosOCDENivelACTI(año, acti, ocde, medida) {
            $("#grafico3").html('<img src="Content/Imagenes/cargando.gif" class="img-responsive centrar"/>');

            $.ajax({
                url: "@Url.Action("EventosMovilizacionesPersonasOCDEACTI", "EventosMovilizacionesPersonas")",
                data: {
                    yearSearch: año,
                    catOCDE: $('#ocde').val(),
                    catACTI: $('#acti').val()
                },
                type: "GET",
                dataType: "json",
                success: function (data) {
                    var seriesData = [];
                    var xCategories = [];
                    var seriesName = [];
                    var valores = [];
                    var titulo, medidaTitulo;

                    var i, cat, nombre;
                    for (i = 0; i < data.length; i++) {
                        cat = data[i].acti;
                        nombre = data[i].nombre;
                        if (xCategories.indexOf(cat) === -1) {
                            xCategories[xCategories.length] = cat;
                        }
                        if (seriesName.indexOf(nombre) === -1) {
                            seriesName[seriesName.length] = nombre;
                        }
                    }

                    for (i = 0; i < seriesName.length; i++) {
                        valores = [];
                        for (j = 0; j < xCategories.length; j++) {
                            var k = 0;
                            var sw = false;
                            while (k < data.length && !sw) {
                                if (data[k].nombre == seriesName[i] && data[k].acti == xCategories[j]) {
                                    if (medida == 1) {
                                        valores[j] = Math.round(data[k].total * 10000) / 10000;
                                    } else {
                                        valores[j] = Math.round(data[k].totalTE * 10000) / 10000;
                                    }
                                    sw = true;
                                } else {
                                    k++;
                                }
                            }
                            if (!sw) {
                                valores[j] = null;
                            }
                        }
                        seriesData[i] = { name: seriesName[i], data: valores };
                    }

                    if (medida == 1) {
                        titulo = 'Proporción de eventos de movilidad para ACTI por personas dedicadas a ACTI en el año ' + año + ' por ' + ocde.toLowerCase() + ' OCDE y ' + acti.toLowerCase() + ' nivel ACTI';
                        medidaTitulo = 'Eventos de movilidad por persona';
                    } else {
                        titulo = 'Proporción de eventos de movilidad para ACTI por personas de tiempo completo equivalente dedicadas a ACTI en el año ' + año + ' por ' + ocde.toLowerCase() + ' OCDE y ' + acti.toLowerCase() + ' nivel ACTI';
                        medidaTitulo = 'Eventos de movilidad por persona de tiempo completo equivalente';
                    }

                    var chart;
                    $(document).ready(function () {
                        chart = new Highcharts.Chart({
                            chart: {
                                renderTo: 'grafico3',
                                type: 'bar'
                            },
                            title: {
                                text: titulo
                            },
                            subtitle: {
                                text: 'Fuente: Datos de prueba'
                            },
                            xAxis: {
                                title: {
                                    text: acti + ' nivel ACTI'
                                },
                                categories: xCategories
                            },
                            yAxis: {
                                min: 0,
                                title: {
                                    text: medidaTitulo,
                                    align: 'high'
                                }
                            },
                            legend: {
                                reversed: true
                            },
                            tooltip: {
                                headerFormat: '<b>{point.x}</b><br/>',
                                po: '{series.name}: {point.y} ' + medidaTitulo.toLowerCase() + '<br/>'
                            },
                            plotOptions: {
                                series: {
                                    stacking: 'normal'
                                }
                            },
                            credits: {
                                enabled: false
                            },
                            series: seriesData
                        });
                    });
                },
                error: function () {
                    $("#grafico3").html("Error al cargar los datos del gráfico");
                }
            });
        }
        /*----Dibuja el gráfico personas en el año por categoria OCDE----*/
        function DrawEventosOCDE(año, ocde, medida) {
            $("#grafico3").html('<img src="Content/Imagenes/cargando.gif" class="img-responsive centrar"/>');
            $("#grafico4").html('<img src="Content/Imagenes/cargando.gif" class="img-responsive centrar"/>');

            $.ajax({
                url: "@Url.Action("EventosMovilizacionesPersonasYearOCDE", "EventosMovilizacionesPersonas")",
                data: {
                    yearSearch: año,
                    catOCDE: $('#ocde').val()
                },
                type: "GET",
                dataType: "json",
                success: function (data) {
                    var seriesData = [];
                    var i;
                    var titulo, medidaTitulo;

                    if (medida == 1) {
                        for (i = 0; i < data.length; i++) {
                            seriesData.push([data[i]['nombre'], (Math.round(data[i]['total'] * 10000) / 10000)]);
                        }
                        titulo = 'Proporción de eventos de movilidad para ACTI por personas dedicadas a ACTI en el año ' + año + ' por ' + ocde.toLowerCase() + ' OCDE';
                        medidaTitulo = 'Eventos de movilidad por persona';
                    } else {
                        for (i = 0; i < data.length; i++) {
                            seriesData.push([data[i]['nombre'], (Math.round(data[i]['totalTE'] * 10000) / 10000)]);
                        }
                        titulo = 'Proporción de eventos de movilidad para ACTI por personas de tiempo completo equivalente dedicadas a ACTI en el año ' + año + ' por ' + ocde.toLowerCase() + ' OCDE';
                        medidaTitulo = 'Eventos de movilidad por persona de tiempo completo equivalente';
                    }

                    var chart;

                    $(document).ready(function () {
                        chart = new Highcharts.Chart({
                            chart: {
                                renderTo: 'grafico4',
                                plotBackgroundColor: null,
                                plotBorderWidth: null,
                                plotShadow: false,
                                type: 'pie'
                            },
                            title: {
                                text: titulo
                            },
                            subtitle: {
                                text: 'Fuente: Datos de prueba'
                            },
                            tooltip: {
                                po: '{series.name}: <b>{point.y}</b>'
                            },
                            plotOptions: {
                                pie: {
                                    allowPointSelect: true,
                                    cursor: 'pointer',
                                    dataLabels: {
                                        enabled: true,
                                        format: '<b>{point.name}</b>: <br/>{point.y} ' + medidaTitulo
                                    },
                                    showInLegend: true
                                }
                            },
                            credits: {
                                enabled: false
                            },
                            series: [{
                                name: medidaTitulo,
                                colorByPoint: true,
                                data: seriesData
                            }]
                        });
                    });
                },
                error: function () {
                    $("#grafico4").html("Error al cargar los datos del gráfico");
                }
            });
        }
        /*----Dibuja el gráfico personas en el año por nivel ACTI----*/
        function DrawEventosACTI(año, acti, medida) {
            $("#grafico3").html('<img src="Content/Imagenes/cargando.gif" class="img-responsive centrar"/>');
            $("#grafico5").html('<img src="Content/Imagenes/cargando.gif" class="img-responsive centrar"/>');

            $.ajax({
                url: "@Url.Action("EventosMovilizacionesPersonasYearACTI", "EventosMovilizacionesPersonas")",
                data: {
                    yearSearch: año,
                    catACTI: $('#acti').val()
                },
                type: "GET",
                dataType: "json",
                success: function (data) {
                    var seriesData = [];
                    var i;
                    var titulo, medidaTitulo;

                    if (medida == 1) {
                        for (i = 0; i < data.length; i++) {
                            seriesData.push([data[i]['nombre'], (Math.round(data[i]['total'] * 10000) / 10000)]);
                        }
                        titulo = 'Proporción de eventos de movilidad para ACTI por personas dedicadas a ACTI en el año ' + año + ' por ' + acti.toLowerCase() + ' nivel ACTI';
                        medidaTitulo = 'Eventos de movilidad por persona';
                    } else {
                        for (i = 0; i < data.length; i++) {
                            seriesData.push([data[i]['nombre'], (Math.round(data[i]['totalTE'] * 10000) / 10000)]);
                        }
                        titulo = 'Proporción de eventos de movilidad para ACTI por personas de tiempo completo equivalente dedicadas a ACTI en el año ' + año + ' por ' + acti.toLowerCase() + ' nivel ACTI';
                        medidaTitulo = 'Eventos de movilidad por persona de tiempo completo equivalente';
                    }

                    var chart;


                    $(document).ready(function () {
                        chart = new Highcharts.Chart({
                            chart: {
                                renderTo: 'grafico5',
                                plotBackgroundColor: null,
                                plotBorderWidth: null,
                                plotShadow: false,
                                type: 'pie'
                            },
                            title: {
                                text: titulo
                            },
                            subtitle: {
                                text: 'Fuente: Datos de prueba'
                            },
                            tooltip: {
                                po: '{series.name}: <b>{point.y}</b>'
                            },
                            plotOptions: {
                                pie: {
                                    allowPointSelect: true,
                                    cursor: 'pointer',
                                    dataLabels: {
                                        enabled: true,
                                        format: '<b>{point.name}</b>: <br/>{point.y} ' + medidaTitulo
                                    },
                                    showInLegend: true
                                }
                            },
                            credits: {
                                enabled: false
                            },
                            series: [{
                                name: medidaTitulo,
                                colorByPoint: true,
                                data: seriesData
                            }]
                        });
                    });
                },
                error: function () {
                    $("#grafico5").html("Error al cargar los datos del gráfico");
                }
            });
        }
    </script>
}

