﻿@{
    Layout = "~/Views/Shared/_IndicadoresLayout.cshtml";
    ViewBag.Indicador = "Citaciones a productos de CTI indexados en ISI, SCOPUS y Google Scholar:";
    ViewBag.Descripcion = "Aproxima el impacto académico de la producción resultado de las actividades de ciencia, tecnología e innovación (ACTI) ejecutadas en la universidad. Se calcula contando el total de citaciones recibidas por la universidad por intermedio de todos los productos de CTI indexados en ISI, SCOPUS y Google Scholar y se mide en “citas”. Se puede discriminar por: naturaleza del producto y campo de conocimiento según la clasificación OCDE.";
    ViewBag.Nombre = "número de citaciones a productos de CTI indexados en ISI, SCOPUS y Google Scholar";
    ViewBag.Fuente = "Scopus";
}

@section ConsultaGeneral{
    <!--Selecciona el rango de años y la tabla a consultar-->
    <div class="row">
        <form class="form">
            <!--Selecciona el año desde-->
            <div class="col-lg-offset-1 col-md-offset-1 col-lg-2 col-md-2">
                <label>Desde</label>
                <select class="form-control" id="fromYear" name="fromYear">
                    <option value="-100">Todos</option>
                </select>
            </div>
            <!--./Fin selecciona el año desde-->
            <!--Selecciona hasta que año consultar-->
            <div class="col-lg-2 col-md-2">
                <div class="form-group">
                    <label>Hasta</label>
                    <select class="form-control" id="toYear" name="toYear">
                        <option value="-100">Todos</option>
                    </select>
                </div>
            </div>
            <!--./Fin selecciona hasta año -->
            <!--Selecciona el tipo de dimensión-->
            <div class="col-lg-4 col-md-4">
                <div class="form-group">
                    <label>Tabla del indicador</label>
                    <select class="form-control" id="tabla">
                        <option value="1">Área OCDE</option>
                        <option value="2">Subárea OCDE</option>
                        <option value="3">Disciplina OCDE</option>
                        <option value="4">Categoría del producto</option>
                        <option value="5">Naturaleza del producto</option>
                        <option value="6">Base de datos bibliográfica</option>
                    </select>
                </div>
            </div>
            <!--./Fin selecciona el tipo de dimensión-->
            <!--Botón consultar-->
            <div class="col-lg-2 col-md-2 topBoton">
                <button type="button" class="btn btn-primary" id="searchData">Consultar</button>
            </div>
            <!--./Fin botón consultar-->
        </form>
    </div>
    <!--./Fin selecciona el rango de años y tabla a consultar-->
    <!--Tabla del indicador-->
    <div class="row container-fluid">
        <div class="col-lg-offset-2 col-lg-8 col-md-offset-2 col-md-8">
            <h4 class="text-center title-tabla" id="nombreTabla"></h4>
        </div>

        <div class="table-responsive col-lg-12 col-lg-12 col-md-12 col-sm-12">
            <div id="citaciones_tabla" style="align-items:center;"></div>
        </div>

        <div class="col-lg-offset-1 col-lg-10 col-md-12 col-sm-12 col-xs-12">
            <div id="grafico1" class="grafico_general"></div>
        </div>
    </div>
    <!--./Fin Tabla del indicador-->
}

@section PanelGraficos{
    <!--Panel de los gráficos-->
    <div class="row">
        <!--Selecciona el año, nivel producto y ocde-->
        <div class="container-fluid">
            <form class="form">
                <!--Selecciona el año-->
                <div class="col-lg-offset-2 col-lg-2 col-md-offset-2 col-md-2">
                    <div class="form-group">
                        <label>Año</label>
                        <select class="form-control" id="year"></select>
                    </div>
                </div>
                <!--./Fin selecciona el año-->
                <!--Selecciona producto-->
                <div class="col-lg-2 col-md-2">
                    <div class="form-group">
                        <label>Producto</label>
                        <select class="form-control" id="producto">
                            <option value="1">Naturaleza</option>
                            <option value="2">Categoría</option>
                        </select>
                    </div>
                </div>
                <!--./Fin selecciona producto-->
                <!--Selecciona ocde-->
                <div class="col-lg-2 col-md-2">
                    <div class="form-group">
                        <label>OCDE</label>
                        <select class="form-control" id="ocde">
                            <option value="1">Área</option>
                            <option value="2">Subárea</option>
                            <option value="3">Disciplina</option>
                        </select>
                    </div>
                </div>
                <!--./Fin selecciona ocde-->
                <!--Botón consultar gráficos-->
                <div class="col-lg-2 col-md-2 topBoton">
                    <button type="button" class="btn btn-primary" id="searchGraphs">Consultar</button>
                </div>
                <!--./Fin botón consultar gráficos-->
            </form>
        </div>
        <!--./Fin selecciona el año, nivel producto y ocde-->
    </div>
    <div class="row container-fluid">
        <div class="col-lg-offset-1 col-lg-10 col-md-12 col-sm-12 col-xs-12">
            <div id="grafico2" class="grafico"></div>
            <div id="grafico3" class="grafico"></div>
            <div id="grafico4" class="grafico"></div>
        </div>
    </div>
    <!--./Fin panel de los gráficos-->
}

@section scripts{
    <script>
        var desdeAño = "-100", hastaAño = "-100";
        var opcion = "1"; //opcion de la tabla a mostrar

        $(document).ready(function () {
            cargaInicial();       //carga inicial de los datos y gráficos del indicador
            load_years();         //carga los años del indicador
            change_hasta();       //cambio del año hasta
            datosTablaResumen();  //llena la tabla de consulta general
            drawGraphs();         //dibuja los gráficos del panel consulta de gráficos


        });
        /*-----------------------Carga inicialmente los datos y gráficos del indicador----------------*/
        function cargaInicial() {
            $(function () {
                //cuando cargue el gráfico, llena la tabla de consulta general
                DrawGrafico();
                $.when(DrawGrafico()).done(function (a1) {
                    loadDataTables();
                });
            });

            /*----Lista el indicador Número de citaciones a productos de CTI indexados en ISI, SCOPUS y Google Scholar en la tabla dinámica----*/
            $(function () {
                $("#tablaDinamica").html('<img src="Content/Imagenes/cargando.gif" class="img-responsive centrar"/>');
                var sum = $.pivotUtilities.aggregatorTemplates.sum;
                var numberFormat = $.pivotUtilities.numberFormat;
                var intFormat = numberFormat({ digitsAfterDecimal: 0 });

                var renderers = $.extend(
                    $.pivotUtilities.renderers,
                    $.pivotUtilities.c3_renderers,
                    $.pivotUtilities.d3_renderers
                    );

                var actionUrl = '@Url.Action("Listar", "Citaciones")';

                $.get(actionUrl, function (mps) {
                    $("#tablaDinamica").pivotUI(mps, {
                        aggregators: {
                            "Citas":
                                function () { return sum(intFormat)(["Cantidad"]) }
                        },
                        hiddenAttributes: ["Cantidad"],
                        renderers: renderers,
                        rendererName: "Tabla"
                    });
                });
            });
        }
        /*------------------Carga los años en los select------------------*/
        function load_years() {
            $.get(
                    '@Url.Action("getYears", "Citaciones")'
                )
                .done(function (data) {
                    var lastYear = (new Date).getFullYear() - 1;
                    $.each(data, function (i, row) {
                        var $option = $('<option>');
                        $option.val(row.año);
                        $option.html(row.año);
                        $('#fromYear').append($option);

                        var $option = $('<option>');
                        $option.val(row.año);
                        $option.html(row.año);
                        $('#year').append($option);
                        if (parseInt(row.año) == lastYear) {
                            $('#year').val(row.año);
                        }
                    })
                    //gráficos de la pestaña consulta gráficos
                    var año = $('#year').val();
                    var producto = $("#producto").find(':selected').text();
                    var ocde = $("#ocde").find(':selected').text();

                    DrawCitacionesBDOCDE(año, ocde);
                    DrawCitacionesBDProducto(año, producto);
                    DrawPuestosProductoOCDE(año, producto, ocde);
                })
                .fail(function (data) {
                    console.log('Error al cargar años!!!');
                }
            );
        }
        /*------------------Cambia el año hasta al seleccionar un año desde--------------*/
        function change_hasta() {
            $('#fromYear').change(function () {
                $.get(
                        '@Url.Action("getYears", "Citaciones")'
                    )
                    .done(function (data) {
                        var from = $("#fromYear").find(':selected').text();
                        var fromValue = $("#fromYear").find(':selected').val();
                        $('#toYear').empty();

                        if (fromValue == "-100") {
                            var $option = $('<option>');
                            $option.val("-100");
                            $option.html("Todos");
                            $('#toYear').append($option);
                        } else {
                            $.each(data, function (i, row) {
                                if (parseInt(row.año) >= parseInt(from)) {
                                    var $option = $('<option>');
                                    $option.val(row.año);
                                    $option.html(row.año);
                                    $('#toYear').append($option);
                                }
                            })
                        }
                    })
                    .fail(function (data) {
                        console.log('Error al cargar años hasta!!!');
                    }
                );
            });
        }
        /*-------------------Carga los datos y gráficos en consulta general--------------*/
        function datosTablaResumen() {
            $("#searchData").click(function () {
                //asigna a las variables globales el nuevo valor
                desdeAño = $('#fromYear').val();
                hastaAño = $('#toYear').val();
                opcion = $('#tabla').val();
                //cuando cargue el gráfico, llena la tabla de consulta general
                DrawGrafico();
                $.when(DrawGrafico()).done(function (a1) {
                    loadDataTables();
                });
            });
        }
        /*-------------------------------Exporta el indicador Puestosleto-------------------------*/
        function exportar(id) {
            var dt = new Date();
            var month = dt.getMonth() + 1;
            var day = dt.getDate();
            var year = dt.getFullYear();
            var tipoReporte = "0";

            var fecha = day + "" + month + "" + year;
            var fileName = "Citaciones" + fecha;
            window.location = "/Citaciones/Reporte/" + id + "/" + desdeAño + "/" + hastaAño + "/" + tipoReporte + "/" + fileName;
        }
        /*-------------------------------Exporta el indicador por el tipo de tabla-------------------------*/
        function exportarTabla(id) {
            var dt = new Date();
            var month = dt.getMonth() + 1;
            var day = dt.getDate();
            var year = dt.getFullYear();
            var tipoReporte = opcion;
            var fecha = day + "" + month + "" + year;
            var fileName;
            switch (opcion) {
                case "2"://subárea ocde
                    fileName = "CitacionesPorSubáreaOCDE" + fecha;
                    break;
                case "3"://disciplina ocde
                    fileName = "CitacionesPorDisciplinaOCDE" + fecha
                    break;
                case "4"://categoría producto
                    fileName = "CitacionesPorCategoríaProducto" + fecha;
                    break;
                case "5"://naturaleza producto
                    fileName = "CitacionesPorNaturalezaProducto" + fecha;
                    break;
                case "6"://base de datos bibliográfica
                    fileName = "CitacionesPorBDBibliográfica" + fecha;
                    break;
                default://área ocde
                    fileName = "CitacionesPorÁreaOCDE" + fecha
                    break;
            }
            window.location = "/Citaciones/Reporte/" + id + "/" + desdeAño + "/" + hastaAño + "/" + tipoReporte + "/" + fileName;
        }
        /*-----------------Carga los gráficos en la pestaña consulta gráficos ----------------*/
        function drawGraphs() {
            $("#searchGraphs").click(function () {
                var año = $('#year').val();
                var producto = $("#producto").find(':selected').text();
                var ocde = $("#ocde").find(':selected').text();

                DrawCitacionesBDOCDE(año, ocde);
                DrawCitacionesBDProducto(año, producto);
                DrawPuestosProductoOCDE(año, producto, ocde);
            });
        }
        /*----Lista la tabla de citaciones----*/
        function loadDataTables() {
            $("#citaciones_tabla").html('<img src="Content/Imagenes/cargando.gif" class="img-responsive centrar"/>');
            $.ajax({
                url: "@Url.Action("ListarxYear", "Citaciones")",
                data: {
                    tabla: opcion,
                    desde: desdeAño,
                    hasta: hastaAño
                },
                type: "GET",
                dataType: "json",
                success: function (data) {
                    var sum = $.pivotUtilities.aggregatorTemplates.sum;
                    var numberFormat = $.pivotUtilities.numberFormat;
                    var intFormat = numberFormat({ digitsAfterDecimal: 0 });

                    switch (opcion) {
                        case "2"://subárea ocde
                            $('#nombreTabla').text("Número de citaciones a productos de CTI indexados en ISI, SCOPUS y Google Scholar por subárea OCDE");
                            $("#citaciones_tabla").pivot(data, {
                                rows: ["Subárea_OCDE"],
                                cols: ["Año"],
                                aggregator: sum(intFormat)(["Cantidad"])
                            });
                            break;
                        case "3"://disciplina ocde
                            $('#nombreTabla').text("Número de citaciones a productos de CTI indexados en ISI, SCOPUS y Google Scholar por disciplina OCDE");
                            $("#citaciones_tabla").pivot(data, {
                                rows: ["Disciplina_OCDE"],
                                cols: ["Año"],
                                aggregator: sum(intFormat)(["Cantidad"])
                            });
                            break;
                        case "4"://categoría del producto
                            $('#nombreTabla').text("Número de citaciones a productos de CTI indexados en ISI, SCOPUS y Google Scholar por categoría del producto");
                            $("#citaciones_tabla").pivot(data, {
                                rows: ["Categoría_Producto"],
                                cols: ["Año"],
                                aggregator: sum(intFormat)(["Cantidad"])
                            });
                            break;
                        case "5"://naturaleza del producto
                            $('#nombreTabla').text("Número de citaciones a productos de CTI indexados en ISI, SCOPUS y Google Scholar por la naturaleza del producto");
                            $("#citaciones_tabla").pivot(data, {
                                rows: ["Naturaleza_Producto"],
                                cols: ["Año"],
                                aggregator: sum(intFormat)(["Cantidad"])
                            });
                            break;
                        case "6"://base de datos bibliográfica
                            $('#nombreTabla').text("Número de citaciones a productos de CTI indexados en ISI, SCOPUS y Google Scholar por base de datos bibliográfica");
                            $("#citaciones_tabla").pivot(data, {
                                rows: ["Base_Datos_Bibliográfica"],
                                cols: ["Año"],
                                aggregator: sum(intFormat)(["Cantidad"])
                            });
                            break;
                        default://área ocde
                            $('#nombreTabla').text("Número de citaciones a productos de CTI indexados en ISI, SCOPUS y Google Scholar por área OCDE");
                            $("#citaciones_tabla").pivot(data, {
                                rows: ["Área_OCDE"],
                                cols: ["Año"],
                                aggregator: sum(intFormat)(["Cantidad"])
                            });
                            break;
                    }
                },
                error: function () {
                    alert("¡Falla cargando los datos de la tabla! Intente de nuevo.");
                }
            });
        }
        /*----Dibuja el gráfico de la tabla escogida por el usuario----*/
        function DrawGrafico() {
            $("#citaciones_tabla").html('<img src="Content/Imagenes/cargando.gif" class="img-responsive centrar"/>');
            $('#nombreTabla').text("");
            $("#grafico1").html('<img src="Content/Imagenes/cargando.gif" class="img-responsive centrar"/>');
            $.ajax({
                url: "@Url.Action("GraficoxYear", "Citaciones")",
                data: {
                    tabla: opcion,
                    desde: desdeAño,
                    hasta: hastaAño
                },
                type: "GET",
                dataType: "json",
                success: function (data) {
                    var seriesData = [];
                    var xCategories = [];
                    var seriesName = [];
                    var valores = [];
                    var i, cat, nombre, k, titulo, sw = true;

                    switch (opcion) {
                        case "2"://subárea ocde
                            titulo = "Número de citaciones a productos de CTI indexados en ISI, SCOPUS y Google Scholar por subárea OCDE";
                            break;
                        case "3"://disciplina ocde
                            titulo = "Número de citaciones a productos de CTI indexados en ISI, SCOPUS y Google Scholar por disciplina OCDE";
                            break;
                        case "4"://categoría del producto
                            titulo = "Número de citaciones a productos de CTI indexados en ISI, SCOPUS y Google Scholar por categoría del producto";
                            break;
                        case "5"://naturaleza del producto
                            titulo = "Número de citaciones a productos de CTI indexados en ISI, SCOPUS y Google Scholar por la naturaleza del producto";
                            break;
                        case "6"://base de datos bibliográfica
                            titulo = "Número de citaciones a productos de CTI indexados en ISI, SCOPUS y Google Scholar por base de datos bibliográfica";
                            break;
                        default://área ocde
                            titulo = "Número de citaciones a productos de CTI indexados en ISI, SCOPUS y Google Scholar por área OCDE"
                            break;
                    }
                    for (i = 0; i < data.length; i++) {
                        cat = data[i].año;
                        nombre = data[i].nombre;
                        if (xCategories.indexOf(cat) === -1) {
                            xCategories[xCategories.length] = cat;
                        }
                        if (seriesName.indexOf(nombre) === -1) {
                            seriesName[seriesName.length] = nombre;
                        }
                    }
                    for (i = 0; i < seriesName.length; i++) {
                        valores = [];
                        for (j = 0; j < xCategories.length; j++) {
                            var k = 0;
                            var sw = false;
                            while (k < data.length && !sw) {
                                if (data[k].nombre == seriesName[i] && data[k].año == xCategories[j]) {
                                    valores[j] = data[k].total;
                                    sw = true;
                                } else {
                                    k++;
                                }
                            }
                            if (!sw) {
                                valores[j] = null;
                            }
                        }
                        seriesData[i] = { name: seriesName[i], data: valores };
                    }
                    var chart;
                    $(document).ready(function () {

                        chart = new Highcharts.Chart({
                            chart: {
                                renderTo: 'grafico1',
                                type: 'column'
                            },
                            title: {
                                text: titulo
                            },
                            subtitle: {
                                text: 'Fuente: Scopus'
                            },
                            xAxis: {
                                title: {
                                    text: 'Años'
                                },
                                categories: xCategories
                            },
                            yAxis: {
                                min: 0,
                                title: {
                                    text: 'Citas',
                                    align: 'high'
                                },
                                labels: {
                                    overflow: 'justify'
                                },
                                stackLabels: {
                                    enabled: true
                                }
                            },
                            tooltip: {
                                headerFormat: '<b>{point.x}</b><br/>',
                                pointFormat: '{series.name}: {point.y} Citas<br/>' +
                                    'Total: {point.stackTotal} Citas'
                            },
                            plotOptions: {
                                column: {
                                    stacking: 'normal'
                                }
                            },
                            credits: {
                                enabled: false
                            },
                            series: seriesData
                        });
                    });
                },
                error: function () {
                    $("#grafico1").html("Error al cargar los datos del gráfico");
                }
            });
        }
        //Gráfico de citaciones en el año por ocde y producto
        function DrawPuestosProductoOCDE(año, producto, ocde) {
            $("#grafico2").html('<img src="Content/Imagenes/cargando.gif" class="img-responsive centrar"/>');

            $.ajax({
                url: "@Url.Action("CitacionesProductoOCDE", "Citaciones")",
                data: {
                    yearSearch: año,
                    catOCDE: $('#ocde').val(),
                    catProducto: $('#producto').val()
                },
                type: "GET",
                dataType: "json",
                success: function (data) {
                    var seriesData = [];
                    var xCategories = [];
                    var seriesName = [];
                    var valores = [];

                    var i, cat, nombre;
                    for (i = 0; i < data.length; i++) {
                        cat = data[i].producto;
                        nombre = data[i].nombre;
                        if (xCategories.indexOf(cat) === -1) {
                            xCategories[xCategories.length] = cat;
                        }
                        if (seriesName.indexOf(nombre) === -1) {
                            seriesName[seriesName.length] = nombre;
                        }
                    }

                    for (i = 0; i < seriesName.length; i++) {
                        valores = [];
                        for (j = 0; j < xCategories.length; j++) {
                            var k = 0;
                            var sw = false;
                            while (k < data.length && !sw) {
                                if (data[k].nombre == seriesName[i] && data[k].producto == xCategories[j]) {
                                    valores[j] = data[k].total;
                                    sw = true;
                                } else {
                                    k++;
                                }
                            }
                            if (!sw) {
                                valores[j] = null;
                            }
                        }
                        seriesData[i] = { name: seriesName[i], data: valores };
                    }

                    var chart;
                    $(document).ready(function () {
                        chart = new Highcharts.Chart({
                            chart: {
                                renderTo: 'grafico2',
                                type: 'bar'
                            },
                            title: {
                                text: 'Número de citaciones a productos de CTI indexados en ISI, SCOPUS y Google Scholar en el año ' + año + ' por ' + ocde.toLowerCase() + ' OCDE y ' + producto.toLowerCase() + ' del producto'
                            },
                            subtitle: {
                                text: 'Fuente: Scopus'
                            },
                            xAxis: {
                                title: {
                                    text: producto + ' del producto'
                                },
                                categories: xCategories
                            },
                            yAxis: {
                                min: 0,
                                title: {
                                    text: 'Citas',
                                    align: 'high'
                                }
                            },
                            legend: {
                                reversed: true
                            },
                            tooltip: {
                                headerFormat: '<b>{point.x}</b><br/>',
                                pointFormat: '{series.name}: {point.y} Citas<br/>'
                            },
                            plotOptions: {
                                series: {
                                    stacking: 'normal'
                                }
                            },
                            credits: {
                                enabled: false
                            },
                            series: seriesData
                        });
                    });
                },
                error: function () {
                    $("#grafico2").html("Error al cargar los datos del gráfico");
                }
            });
        }
        /*----Dibuja el gráfico Citaciones en el año por base de datos bibliográfica y producto----*/
        function DrawCitacionesBDProducto(año, producto) {
            $("#grafico2").html('<img src="Content/Imagenes/cargando.gif" class="img-responsive centrar"/>');
            $("#grafico3").html('<img src="Content/Imagenes/cargando.gif" class="img-responsive centrar"/>');

            $.ajax({
                url: "@Url.Action("CitacionesBDProducto", "Citaciones")",
                data: {
                    yearSearch: año,
                    catProducto: $('#producto').val()
                },
                type: "GET",
                dataType: "json",
                success: function (data) {
                    var seriesData = [];
                    var xCategories = [];
                    var seriesName = [];
                    var valores = [];

                    var i, cat, nombre;
                    for (i = 0; i < data.length; i++) {
                        cat = data[i].bd;
                        nombre = data[i].nombre;
                        if (xCategories.indexOf(cat) === -1) {
                            xCategories[xCategories.length] = cat;
                        }
                        if (seriesName.indexOf(nombre) === -1) {
                            seriesName[seriesName.length] = nombre;
                        }
                    }

                    for (i = 0; i < seriesName.length; i++) {
                        valores = [];
                        for (j = 0; j < xCategories.length; j++) {
                            var k = 0;
                            var sw = false;
                            while (k < data.length && !sw) {
                                if (data[k].nombre == seriesName[i] && data[k].bd == xCategories[j]) {
                                    valores[j] = data[k].total;
                                    sw = true;
                                } else {
                                    k++;
                                }
                            }
                            if (!sw) {
                                valores[j] = null;
                            }
                        }
                        seriesData[i] = { name: seriesName[i], data: valores };
                    }

                    var chart;
                    $(document).ready(function () {
                        chart = new Highcharts.Chart({
                            chart: {
                                renderTo: 'grafico3',
                                type: 'bar'
                            },
                            title: {
                                text: 'Número de citaciones a productos de CTI indexados en ISI, SCOPUS y Google Scholar en el año ' + año + ' por base de datos bibliográfica y ' + producto.toLowerCase() + ' del producto'
                            },
                            subtitle: {
                                text: 'Fuente: Scopus'
                            },
                            xAxis: {
                                title: {
                                    text: 'Base de datos bibliográfica'
                                },
                                categories: xCategories
                            },
                            yAxis: {
                                min: 0,
                                title: {
                                    text: 'Citas',
                                    align: 'high'
                                }
                            },
                            legend: {
                                reversed: true
                            },
                            tooltip: {
                                headerFormat: '<b>{point.x}</b><br/>',
                                pointFormat: '{series.name}: {point.y} Citas<br/>'
                            },
                            plotOptions: {
                                series: {
                                    stacking: 'normal'
                                }
                            },
                            credits: {
                                enabled: false
                            },
                            series: seriesData
                        });
                    });
                },
                error: function () {
                    $("#grafico3").html("Error al cargar los datos del gráfico");
                }
            });
        }
        /*----Dibuja el gráfico Citaciones en el año por nivel OCDE y base de datos bibliográfica----*/
        function DrawCitacionesBDOCDE(año, ocde) {
            $("#grafico2").html('<img src="Content/Imagenes/cargando.gif" class="img-responsive centrar"/>');
            $("#grafico4").html('<img src="Content/Imagenes/cargando.gif" class="img-responsive centrar"/>');

            $.ajax({
                url: "@Url.Action("CitacionesBDOCDE", "Citaciones")",
                data: {
                    yearSearch: año,
                    catOCDE: $('#ocde').val()
                },
                type: "GET",
                dataType: "json",
                success: function (data) {
                    var seriesData = [];
                    var xCategories = [];
                    var seriesName = [];
                    var valores = [];

                    var i, cat, nombre;
                    for (i = 0; i < data.length; i++) {
                        cat = data[i].bd;
                        nombre = data[i].nombre;
                        if (xCategories.indexOf(cat) === -1) {
                            xCategories[xCategories.length] = cat;
                        }
                        if (seriesName.indexOf(nombre) === -1) {
                            seriesName[seriesName.length] = nombre;
                        }
                    }

                    for (i = 0; i < seriesName.length; i++) {
                        valores = [];
                        for (j = 0; j < xCategories.length; j++) {
                            var k = 0;
                            var sw = false;
                            while (k < data.length && !sw) {
                                if (data[k].nombre == seriesName[i] && data[k].bd == xCategories[j]) {
                                    valores[j] = data[k].total;
                                    sw = true;
                                } else {
                                    k++;
                                }
                            }
                            if (!sw) {
                                valores[j] = null;
                            }
                        }
                        seriesData[i] = { name: seriesName[i], data: valores };
                    }

                    var chart;
                    $(document).ready(function () {
                        chart = new Highcharts.Chart({
                            chart: {
                                renderTo: 'grafico4',
                                type: 'bar'
                            },
                            title: {
                                text: 'Número de citaciones a productos de CTI indexados en ISI, SCOPUS y Google Scholar en el año ' + año + ' por base de datos bibliográfica y ' + ocde.toLowerCase() + ' OCDE'
                            },
                            subtitle: {
                                text: 'Fuente: Scopus'
                            },
                            xAxis: {
                                title: {
                                    text: 'Base de datos bibliográfica'
                                },
                                categories: xCategories
                            },
                            yAxis: {
                                min: 0,
                                title: {
                                    text: 'Citas',
                                    align: 'high'
                                }
                            },
                            legend: {
                                reversed: true
                            },
                            tooltip: {
                                headerFormat: '<b>{point.x}</b><br/>',
                                pointFormat: '{series.name}: {point.y} Citas<br/>'
                            },
                            plotOptions: {
                                series: {
                                    stacking: 'normal'
                                }
                            },
                            credits: {
                                enabled: false
                            },
                            series: seriesData
                        });
                    });
                },
                error: function () {
                    $("#grafico4").html("Error al cargar los datos del gráfico");
                }
            });
        }
    </script>
}

