﻿@{
    Layout = "~/Views/Shared/_IndicadoresLayout.cshtml";
    ViewBag.Indicador = "Ingresos por transferencia de productos de ciencia, tecnología e innovación:";
    ViewBag.Descripcion = "Indica los ingresos percibidos por la universidad a cambio de la transferencia de sus productos de CTI. Se calcula sumando los montos de los contratos de transferencia de derechos patrimoniales de productos de CTI de la universidad y se mide en “millones de pesos colombianos”. Se puede discriminar por: naturaleza del producto transferido, objeto del contrato, naturaleza de la organización que recibe la transferencia, ámbito sectorial de la organización que recibe la transferencia según la Clasificación Industrial Internacional Uniforme CIIU de la ONU, ámbito geográfico (regional, nacional o internacional).";
    ViewBag.Nombre = "ingresos por transferencia de productos de ciencia, tecnología e innovación";
    ViewBag.Fuente = "D.T.C.P.I";
}

@section ConsultaGeneral{
    <!--Selecciona el rango de años y la tabla a consultar-->
    <div class="row">
        <form class="form">
            <!--Selecciona el año desde-->
            <div class="col-lg-offset-1 col-md-offset-1 col-lg-2 col-md-2">
                <label>Desde</label>
                <select class="form-control" id="fromYear" name="fromYear">
                    <option value="-100">Todos</option>
                </select>
            </div>
            <!--./Fin selecciona el año desde-->
            <!--Selecciona hasta que año consultar-->
            <div class="col-lg-2 col-md-2">
                <div class="form-group">
                    <label>Hasta</label>
                    <select class="form-control" id="toYear" name="toYear">
                        <option value="-100">Todos</option>
                    </select>
                </div>
            </div>
            <!--./Fin selecciona hasta año -->
            <!--Selecciona el tipo de dimensión-->
            <div class="col-lg-4 col-md-4">
                <div class="form-group">
                    <label>Tabla del indicador</label>
                    <select class="form-control" id="tabla">
                        <option value="1">Categoría del producto</option>
                        <option value="2">Naturaleza del producto</option>
                        <option value="3">Objeto del contrato</option>
                        <option value="4">Naturaleza de la organización</option>
                        <option value="5">Ámbito geográfico</option>
                        <option value="6">Clase CIIU</option>
                        <option value="7">Grupo CIIU</option>
                        <option value="8">División CIIU</option>
                        <option value="9">Sección CIIU</option>
                    </select>
                </div>
            </div>
            <!--./Fin selecciona el tipo de dimensión-->
            <!--Boton consultar-->
            <div class="col-lg-2 col-md-2 topBoton">
                <button type="button" class="btn btn-primary" id="searchData">Consultar</button>
            </div>
            <!--./Fin boton consultar-->
        </form>
    </div>
    <!--./Fin selecciona el rango de años y tabla a consultar-->
    <!--Tabla del indicador-->
    <div class="row container-fluid">
        <div class="col-lg-offset-2 col-lg-8 col-md-offset-2 col-md-8">
            <h4 class="text-center title-tabla" id="nombreTabla"></h4>
        </div>

        <div class="table-responsive col-lg-12 col-lg-12 col-md-12 col-sm-12">
            <div id="prod_tabla" style="align-items:center;"></div>
        </div>

        <div class="col-lg-offset-1 col-lg-10 col-md-12 col-sm-12 col-xs-12">
            <div id="grafico1" class="grafico_general"></div>
        </div>
    </div>
    <!--./Fin Tabla del indicador-->
}

@section PanelGraficos{
    <!--Panel de los gráficos-->
    <div class="row">
        <!--Selecciona el año, nivel ciiu y producto-->
        <div class="container-fluid">
            <form class="form">
                <!--Selecciona el año-->
                <div class="col-lg-offset-1 col-md-offset-1 col-lg-2 col-md-2">
                    <div class="form-group">
                        <label>Año</label>
                        <select class="form-control" id="year"></select>
                    </div>
                </div>
                <!--./Fin selecciona el año-->
                <!--Selecciona el nivel ciiu-->
                <div class="col-lg-3 col-md-3">
                    <div class="form-group">
                        <label>Nivel CIIU</label>
                        <select class="form-control" id="ciiu">
                            <option value="1">Sección</option>
                            <option value="2">División</option>
                            <option value="3">Grupo</option>
                            <option value="4">Clase</option>
                        </select>
                    </div>
                </div>
                <!--./Fin selecciona el nivel ciiu-->
                <!--Selecciona naturaleza del producto-->
                <div class="col-lg-3 col-md-3">
                    <div class="form-group">
                        <label>Producto</label>
                        <select class="form-control" id="natProd">
                            <option value="1">Naturaleza del producto</option>
                            <option value="2">Categoría del producto</option>
                        </select>
                    </div>
                </div>
                <!--./Fin selecciona naturaleza del producto-->
                <!--Boton consultar gráficos-->
                <div class="col-lg-2 col-md-2 topBoton">
                    <button type="button" class="btn btn-primary" id="searchGraphs">Consultar</button>
                </div>
                <!--./Fin boton consultar gráficos-->
            </form>
        </div>
        <!--./Fin selecciona el año, nivel ciiu y producto-->
    </div>
    <div class="row container-fluid">
        <div class="col-lg-offset-1 col-lg-10 col-md-12 col-sm-12 col-xs-12">
            <div id="grafico2" class="grafico"></div>
            <div id="grafico3" class="grafico"></div>
            <div id="grafico4" class="grafico"></div>
            <div id="grafico5" class="grafico"></div>
        </div>
    </div>
    <!--./Fin panel de los gráficos-->
}

@section scripts{
    <script>
        var desdeAño = "-100", hastaAño = "-100";
        var opcion = "1"; //opcion de la tabla a mostrar

        $(document).ready(function () {
            cargaInicial();       //carga inicial de los datos y gráficos del indicador
            load_years();         //carga los años del indicador
            change_hasta();       //cambio del año hasta
            datosTablaResumen();  //llena la tabla de consulta general
            drawGraphs();         //dibuja los gráficos del panel consulta de gráficos
        });
        /*-----------------------Carga inicialmente los datos y gráficos del indicador----------------*/
        function cargaInicial() {
            $(function () {
                //cuando cargue el gráfico, llena la tabla de consulta general
                DrawGrafico();
                $.when(DrawGrafico()).done(function (a1) {
                    loadDataTables();
                });
            });

            /*----Lista el indicador ingresos por productos de CTI en la tabla dinámica----*/
            $(function () {
                $("#tablaDinamica").html('<img src="Content/Imagenes/cargando.gif" class="img-responsive centrar"/>');
                var sum = $.pivotUtilities.aggregatorTemplates.sum;
                var numberFormat = $.pivotUtilities.numberFormat;
                var intFormat = numberFormat({ digitsAfterDecimal: 4 });

                var renderers = $.extend(
                    $.pivotUtilities.renderers,
                    $.pivotUtilities.c3_renderers,
                    $.pivotUtilities.d3_renderers
                    );

                var actionUrl = '@Url.Action("Listar", "IngresosProductos")';

                $.get(actionUrl, function (mps) {
                    $("#tablaDinamica").pivotUI(mps, {
                        aggregators: {
                            "Millones de pesos ($)":
                                function () { return sum(intFormat)(["Cantidad"]) }
                        },
                        hiddenAttributes: ["Cantidad"],
                        renderers: renderers,
                        rendererName: "Tabla"
                    });
                });
            });
        }
        /*------------------Carga los años en los select------------------*/
        function load_years() {
            $.get(
                    '@Url.Action("getYears", "IngresosProductos")'
                )
                .done(function (data) {
                    var lastYear = (new Date).getFullYear() - 1;
                    $.each(data, function (i, row) {
                        var $option = $('<option>');
                        $option.val(row.año);
                        $option.html(row.año);
                        $('#fromYear').append($option);

                        var $option = $('<option>');
                        $option.val(row.año);
                        $option.html(row.año);
                        $('#year').append($option);
                        if (parseInt(row.año) == lastYear) {
                            $('#year').val(row.año);
                        }
                    })
                    //gráficos de la pestaña consulta gráficos
                    var año = $('#year').val();
                    var ciiu = $("#ciiu").find(':selected').text();
                    var natProd = $("#natProd").find(':selected').text();

                    DrawProdsAmbGeoCatCIIU(año, ciiu);
                    DrawProdsNatProdCatCIIU(ciiu, natProd, año);
                    DrawProdsNatOrgCatCIIU(año, ciiu);
                    DrawProdsObjContrCatCIIU(año, ciiu);
                })
                .fail(function (data) {
                    console.log('Error al cargar años!!!');
                }
            );
        }
        /*------------------Cambia el año hasta al seleccionar un año desde--------------*/
        function change_hasta() {
            $('#fromYear').change(function () {
                $.get(
                        '@Url.Action("getYears", "IngresosProductos")'
                    )
                    .done(function (data) {
                        var from = $("#fromYear").find(':selected').text();
                        var fromValue = $("#fromYear").find(':selected').val();
                        $('#toYear').empty();

                        if (fromValue == "-100") {
                            var $option = $('<option>');
                            $option.val("-100");
                            $option.html("Todos");
                            $('#toYear').append($option);
                        } else {
                            $.each(data, function (i, row) {
                                if (parseInt(row.año) >= parseInt(from)) {
                                    var $option = $('<option>');
                                    $option.val(row.año);
                                    $option.html(row.año);
                                    $('#toYear').append($option);
                                }
                            })
                        }
                    })
                    .fail(function (data) {
                        console.log('Error al cargar años hasta!!!');
                    }
                );
            });
        }
        /*-------------------Carga los datos y gráficos en consulta general--------------*/
        function datosTablaResumen() {
            $("#searchData").click(function () {
                //asigna a las variables globales el nuevo valor
                desdeAño = $('#fromYear').val();
                hastaAño = $('#toYear').val();
                opcion = $('#tabla').val();
                //cuando cargue el gráfico, llena la tabla de consulta general
                DrawGrafico();
                $.when(DrawGrafico()).done(function (a1) {
                    loadDataTables();
                });
            });
        }
        /*-------------------------------Exporta el indicador completo-------------------------*/
        function exportar(id) {
            var dt = new Date();
            var month = dt.getMonth() + 1;
            var day = dt.getDate();
            var year = dt.getFullYear();
            var tipoReporte = "0";

            var fecha = day + "" + month + "" + year;
            var fileName = "IngresosProductosCTI" + fecha;
            window.location = "/IngresosProductos/Reporte/" + id + "/" + desdeAño + "/" + hastaAño + "/" + tipoReporte + "/" + fileName;
        }
        /*-------------------------------Exporta el indicador por el tipo de tabla-------------------------*/
        function exportarTabla(id) {
            var dt = new Date();
            var month = dt.getMonth() + 1;
            var day = dt.getDate();
            var year = dt.getFullYear();
            var tipoReporte = opcion;
            var fecha = day + "" + month + "" + year;
            var fileName;
            switch (opcion) {
                case "2"://naturaleza del producto
                    fileName = "IngresosProductosPorNaturalezaProducto" + fecha;
                    break;
                case "3"://objeto del contrato
                    fileName = "IngresosProductosPorObjetoContrato" + fecha
                    break;
                case "4"://naturaleza de la organización
                    fileName = "IngresosProductosPorNaturalezaOrganización" + fecha;
                    break;
                case "5"://ámbito geográfico
                    fileName = "IngresosProductosPorÁmbitoGeográfico" + fecha;
                    break;
                case "6"://clase ciiu
                    fileName = "IngresosProductosPorClaseCIIU" + fecha;
                    break;
                case "7"://grupo ciiu
                    fileName = "IngresosProductosPorGrupoCIIU" + fecha
                    break;
                case "8"://división ciiu
                    fileName = "IngresosProductosPorDivisiónCIIU" + fecha;
                    break;
                case "9"://sección ciiu
                    fileName = "IngresosProductosPorSecciónCIIU" + fecha;
                    break;
                default://categoría del producto
                    fileName = "IngresosProductosPorCategoríaProducto" + fecha
                    break;
            }
            window.location = "/IngresosProductos/Reporte/" + id + "/" + desdeAño + "/" + hastaAño + "/" + tipoReporte + "/" + fileName;
        }
        /*-----------------Carga los gráficos en la pestaña consulta gráficos ----------------*/
        function drawGraphs() {
            $("#searchGraphs").click(function () {
                var año = $('#year').val();
                var ciiu = $("#ciiu").find(':selected').text();
                var natProd = $("#natProd").find(':selected').text();

                DrawProdsAmbGeoCatCIIU(año, ciiu);
                DrawProdsNatProdCatCIIU(ciiu, natProd, año);
                DrawProdsNatOrgCatCIIU(año, ciiu);
                DrawProdsObjContrCatCIIU(año, ciiu);
            });
        }
        /*----Lista la tabla de ingresos por producto----*/
        function loadDataTables() {
            $("#prod_tabla").html('<img src="Content/Imagenes/cargando.gif" class="img-responsive centrar"/>');
            $.ajax({
                url: "@Url.Action("ListarxYear", "IngresosProductos")",
                data: {
                    tabla: opcion,
                    desde: desdeAño,
                    hasta: hastaAño
                },
                type: "GET",
                dataType: "json",
                success: function (data) {
                    var sum = $.pivotUtilities.aggregatorTemplates.sum;
                    var numberFormat = $.pivotUtilities.numberFormat;
                    var intFormat = numberFormat({ digitsAfterDecimal: 4 });

                    switch (opcion) {
                        case "2"://naturaleza del producto
                            $('#nombreTabla').text("Ingresos por transferencia de productos de CTI según la naturaleza del producto");
                            $("#prod_tabla").pivot(data, {
                                rows: ["Naturaleza_Producto"],
                                cols: ["Año"],
                                aggregator: sum(intFormat)(["Cantidad"])
                            });
                            break;
                        case "3"://objeto del contrato
                            $('#nombreTabla').text("Ingresos por transferencia de productos de CTI según el objeto del contrato");
                            $("#prod_tabla").pivot(data, {
                                rows: ["Objeto_Contrato"],
                                cols: ["Año"],
                                aggregator: sum(intFormat)(["Cantidad"])
                            });
                            break;
                        case "4"://naturaleza de la organización
                            $('#nombreTabla').text("Ingresos por transferencia de productos de CTI según la naturaleza de la organización que recibe la transferencia");
                            $("#prod_tabla").pivot(data, {
                                rows: ["Naturaleza_Organización"],
                                cols: ["Año"],
                                aggregator: sum(intFormat)(["Cantidad"])
                            });
                            break;
                        case "5"://ámbito geográfico
                            $('#nombreTabla').text("Ingresos por transferencia de productos de CTI según el ámbito geográfico");
                            $("#prod_tabla").pivot(data, {
                                rows: ["Ámbito_Geográfico"],
                                cols: ["Año"],
                                aggregator: sum(intFormat)(["Cantidad"])
                            });
                            break;
                        case "6"://clase ciiu
                            $('#nombreTabla').text("Ingresos por transferencia de productos de CTI según la clase CIIU");
                            $("#prod_tabla").pivot(data, {
                                rows: ["Clase_CIIU"],
                                cols: ["Año"],
                                aggregator: sum(intFormat)(["Cantidad"])
                            });
                            break;
                        case "7"://grupo ciiu
                            $('#nombreTabla').text("Ingresos por transferencia de productos de CTI según el grupo CIIU");
                            $("#prod_tabla").pivot(data, {
                                rows: ["Grupo_CIIU"],
                                cols: ["Año"],
                                aggregator: sum(intFormat)(["Cantidad"])
                            });
                            break;
                        case "8"://división ciiu
                            $('#nombreTabla').text("Ingresos por transferencia de productos de CTI según la división CIIU");
                            $("#prod_tabla").pivot(data, {
                                rows: ["División_CIIU"],
                                cols: ["Año"],
                                aggregator: sum(intFormat)(["Cantidad"])
                            });
                            break;
                        case "9"://sección ciiu
                            $('#nombreTabla').text("Ingresos por transferencia de productos de CTI según la sección CIIU");
                            $("#prod_tabla").pivot(data, {
                                rows: ["Sección_CIIU"],
                                cols: ["Año"],
                                aggregator: sum(intFormat)(["Cantidad"])
                            });
                            break;
                        default://categoría del producto
                            $('#nombreTabla').text("Ingresos por transferencia de productos de CTI según la categoría del producto");
                            $("#prod_tabla").pivot(data, {
                                rows: ["Categoría_Producto"],
                                cols: ["Año"],
                                aggregator: sum(intFormat)(["Cantidad"])
                            });
                            break;
                    }
                },
                error: function () {
                    alert("¡Falla cargando los datos de la tabla! Intente de nuevo.");
                }
            });
        }
        /*----Dibuja el gráfico de la tabla escogida por el usuario----*/
        function DrawGrafico() {
            $("#prod_tabla").html('<img src="Content/Imagenes/cargando.gif" class="img-responsive centrar"/>');
            $('#nombreTabla').text("");
            $("#grafico1").html('<img src="Content/Imagenes/cargando.gif" class="img-responsive centrar"/>');
            $.ajax({
                url: "@Url.Action("GraficoxYear", "IngresosProductos")",
                data: {
                    tabla: opcion,
                    desde: desdeAño,
                    hasta: hastaAño
                },
                type: "GET",
                dataType: "json",
                success: function (data) {
                    var seriesData = [];
                    var xCategories = [];
                    var seriesName = [];
                    var valores = [];
                    var i, cat, nombre, k, titulo, sw = true;

                    switch (opcion) {
                        case "2"://naturaleza del producto
                            titulo = "Ingresos por transferencia de productos de CTI según la naturaleza del producto";
                            break;
                        case "3"://Objeto contrato
                            titulo = "Ingresos por transferencia de productos de CTI según el objeto del contrato";
                            break;
                        case "4"://Naturaleza de la organización
                            titulo = "Ingresos por transferencia de productos de CTI según la naturaleza de la organización que recibe la transferencia";
                            break;
                        case "5"://ámbito geográfico
                            titulo = "Ingresos por transferencia de productos de CTI según el ámbito geográfico";
                            break;
                        case "6"://clase ciiu
                            titulo = "Ingresos por transferencia de productos de CTI según la clase CIIU";
                            break;
                        case "7"://grupo ciiu
                            titulo = "Ingresos por transferencia de productos de CTI según el grupo CIIU";
                            break;
                        case "8"://división ciiu
                            titulo = "Ingresos por transferencia de productos de CTI según la división CIIU";
                            break;
                        case "9"://sección ciiu
                            titulo = "Ingresos por transferencia de productos de CTI según la sección CIIU";
                            break;
                        default://categoría del producto
                            titulo = "Ingresos por transferencia de productos de CTI según la categoría del producto"
                            break;
                    }
                    for (i = 0; i < data.length; i++) {
                        cat = data[i].año;
                        nombre = data[i].nombre;
                        if (xCategories.indexOf(cat) === -1) {
                            xCategories[xCategories.length] = cat;
                        }
                        if (seriesName.indexOf(nombre) === -1) {
                            seriesName[seriesName.length] = nombre;
                        }
                    }
                    for (i = 0; i < seriesName.length; i++) {
                        valores = [];
                        for (j = 0; j < xCategories.length; j++) {
                            var k = 0;
                            var sw = false;
                            while (k < data.length && !sw) {
                                if (data[k].nombre == seriesName[i] && data[k].año == xCategories[j]) {
                                    valores[j] = Math.round(data[k].total * 10000) / 10000;
                                    sw = true;
                                } else {
                                    k++;
                                }
                            }
                            if (!sw) {
                                valores[j] = null;
                            }
                        }
                        seriesData[i] = { name: seriesName[i], data: valores };
                    }
                    var chart;
                    $(document).ready(function () {

                        chart = new Highcharts.Chart({
                            chart: {
                                renderTo: 'grafico1',
                                type: 'column'
                            },
                            title: {
                                text: titulo
                            },
                            subtitle: {
                                text: 'Fuente: D.T.C.P.I'
                            },
                            xAxis: {
                                title: {
                                    text: 'Años'
                                },
                                categories: xCategories
                            },
                            yAxis: {
                                min: 0,
                                title: {
                                    text: 'Millones de pesos colombianos',
                                    align: 'high'
                                },
                                labels: {
                                    overflow: 'justify'
                                },
                                stackLabels: {
                                    enabled: true
                                }
                            },
                            tooltip: {
                                headerFormat: '<b>{point.x}</b><br/>',
                                po: '{series.name}: {point.y} millones de pesos<br/>' +
                                    'Total: {point.stackTotal} millones de pesos'
                            },
                            plotOptions: {
                                column: {
                                    stacking: 'normal'
                                }
                            },
                            credits: {
                                enabled: false
                            },
                            series: seriesData
                        });
                    });
                },
                error: function () {
                    $("#grafico1").html("Error al cargar los datos del gráfico");
                }
            });
        }
        //Gráfico de ingresos por productos cti en el año por ciiu y naturaleza del producto
        function DrawProdsNatProdCatCIIU(ciiu, natProd, año) {
            $("#grafico2").html('<img src="Content/Imagenes/cargando.gif" class="img-responsive centrar"/>');

            $.ajax({
                url: "@Url.Action("IngresosProductosNatProdCIIU", "IngresosProductos")",
                data: {
                    yearSearch: año,
                    catCIIU: $('#ciiu').val(),
                    catProducto: $('#natProd').val()
                },
                type: "GET",
                dataType: "json",
                success: function (data) {
                    var seriesData = [];
                    var xCategories = [];
                    var seriesName = [];
                    var valores = [];

                    var i, cat, nombre;
                    for (i = 0; i < data.length; i++) {
                        cat = data[i].producto;
                        nombre = data[i].nombre;
                        if (xCategories.indexOf(cat) === -1) {
                            xCategories[xCategories.length] = cat;
                        }
                        if (seriesName.indexOf(nombre) === -1) {
                            seriesName[seriesName.length] = nombre;
                        }
                    }

                    for (i = 0; i < seriesName.length; i++) {
                        valores = [];
                        for (j = 0; j < xCategories.length; j++) {
                            var k = 0;
                            var sw = false;
                            while (k < data.length && !sw) {
                                if (data[k].nombre == seriesName[i] && data[k].producto == xCategories[j]) {
                                    valores[j] = Math.round(data[k].total * 10000) / 10000;
                                    sw = true;
                                } else {
                                    k++;
                                }
                            }
                            if (!sw) {
                                valores[j] = null;
                            }
                        }
                        seriesData[i] = { name: seriesName[i], data: valores };
                    }

                    var chart;
                    $(document).ready(function () {
                        chart = new Highcharts.Chart({
                            chart: {
                                renderTo: 'grafico2',
                                type: 'bar'
                            },
                            title: {
                                text: 'Ingresos por productos de CTI en el año ' + año + ' por ' + ciiu.toLowerCase() + ' CIIU y ' + natProd.toLowerCase() + ' del producto transferido'
                            },
                            subtitle: {
                                text: 'Fuente: D.T.C.P.I'
                            },
                            xAxis: {
                                title: {
                                    text: natProd + ' del producto'
                                },
                                categories: xCategories
                            },
                            yAxis: {
                                min: 0,
                                title: {
                                    text: 'Millones de pesos colombianos',
                                    align: 'high'
                                }
                            },
                            tooltip: {
                                headerFormat: '<b>{point.x}</b><br/>',
                                po: '{series.name}: {point.y} millones de pesos<br/>'
                            },
                            legend: {
                                reversed: true,
                            },
                            plotOptions: {
                                bar: {
                                    stacking: 'normal'
                                }
                            },
                            credits: {
                                enabled: false
                            },
                            series: seriesData
                        });
                    });
                },
                error: function () {
                    $("#grafico2").html("Error al cargar los datos del gráfico");
                }
            });
        }
        /*----Dibuja el gráfico ingresos por productos en el año por categoria ciuu y objeto del contrato----*/
        function DrawProdsObjContrCatCIIU(año, ciiu) {
            $("#grafico2").html('<img src="Content/Imagenes/cargando.gif" class="img-responsive centrar"/>');
            $("#grafico3").html('<img src="Content/Imagenes/cargando.gif" class="img-responsive centrar"/>');

            $.ajax({
                url: "@Url.Action("IngresosProductosObjContrCIIU", "IngresosProductos")",
                data: {
                    yearSearch: año,
                    catCIIU: $('#ciiu').val()
                },
                type: "GET",
                dataType: "json",
                success: function (data) {
                    var seriesData = [];
                    var xCategories = [];
                    var seriesName = [];
                    var valores = [];

                    var i, cat, nombre, k;
                    for (i = 0; i < data.length; i++) {
                        cat = data[i].nombre;
                        nombre = data[i].objeto;
                        if (xCategories.indexOf(cat) === -1) {
                            xCategories[xCategories.length] = cat;
                        }
                        if (seriesName.indexOf(nombre) === -1) {
                            seriesName[seriesName.length] = nombre;
                        }

                    }

                    for (i = 0; i < seriesName.length; i++) {
                        valores = [];
                        for (j = 0; j < xCategories.length; j++) {
                            var k = 0;
                            var sw = false;
                            while (k < data.length && !sw) {
                                if (data[k].objeto == seriesName[i] && data[k].nombre == xCategories[j]) {
                                    valores[j] = Math.round(data[k].total * 10000) / 10000;
                                    sw = true;
                                } else {
                                    k++;
                                }
                            }
                            if (!sw) {
                                valores[j] = null;
                            }
                        }
                        seriesData[i] = { name: seriesName[i], data: valores };
                    }

                    var chart;
                    $(document).ready(function () {
                        chart = new Highcharts.Chart({
                            chart: {
                                renderTo: 'grafico3',
                                type: 'bar'
                            },
                            title: {
                                text: 'Ingresos por productos de CTI en el año ' + año + ' por objeto de contrato y ' + ciiu.toLowerCase() + ' CIIU'
                            },
                            subtitle: {
                                text: 'Fuente: D.T.C.P.I'
                            },
                            xAxis: {
                                title: {
                                    text: ciiu + ' CIIU'
                                },
                                categories: xCategories
                            },
                            yAxis: {
                                min: 0,
                                title: {
                                    text: 'Millones de pesos colombianos',
                                    align: 'high'
                                }
                            },
                            tooltip: {
                                headerFormat: '<b>{point.x}</b><br/>',
                                po: '{series.name}: {point.y} millones de pesos'
                            },
                            legend: {
                                reversed: true
                            },
                            plotOptions: {
                                bar: {
                                    stacking: 'normal'
                                }
                            },
                            credits: {
                                enabled: false
                            },
                            series: seriesData
                        });
                    });
                },
                error: function () {
                    $("#grafico3").html("Error al cargar los datos del gráfico");
                }
            });
        }
        //Gráfico de ingresos por productos en el año por naturaleza de la organización y clasificación CIIU
        function DrawProdsNatOrgCatCIIU(año, ciiu) {
            $("#grafico2").html('<img src="Content/Imagenes/cargando.gif" class="img-responsive centrar"/>');
            $("#grafico4").html('<img src="Content/Imagenes/cargando.gif" class="img-responsive centrar"/>');

            $.ajax({
                url: "@Url.Action("IngresosProductosNatOrgCIIU", "IngresosProductos")",
                data: {
                    yearSearch: año,
                    catCIIU: $('#ciiu').val()
                },
                type: "GET",
                dataType: "json",
                success: function (data) {
                    var seriesData = [];
                    var xCategories = [];
                    var seriesName = [];
                    var valores = [];

                    var i, cat, nombre, k;
                    for (i = 0; i < data.length; i++) {
                        cat = data[i].nombre;
                        nombre = data[i].organizacion;
                        if (xCategories.indexOf(cat) === -1) {
                            xCategories[xCategories.length] = cat;
                        }
                        if (seriesName.indexOf(nombre) === -1) {
                            seriesName[seriesName.length] = nombre;
                        }
                    }

                    for (i = 0; i < seriesName.length; i++) {
                        valores = [];
                        for (j = 0; j < xCategories.length; j++) {
                            var k = 0;
                            var sw = false;
                            while (k < data.length && !sw) {
                                if (data[k].organizacion == seriesName[i] && data[k].nombre == xCategories[j]) {
                                    valores[j] = Math.round(data[k].total * 10000) / 10000;
                                    sw = true;
                                } else {
                                    k++;
                                }
                            }
                            if (!sw) {
                                valores[j] = null;
                            }
                        }
                        seriesData[i] = { name: seriesName[i], data: valores };
                    }

                    var chart;
                    $(document).ready(function () {
                        chart = new Highcharts.Chart({
                            chart: {
                                renderTo: 'grafico4',
                                type: 'bar'
                            },
                            title: {
                                text: 'Ingresos por productos de CTI en el año ' + año + ' por la naturaleza de la organización y ' + ciiu.toLowerCase() + ' CIIU'
                            },
                            subtitle: {
                                text: 'Fuente: D.T.C.P.I'
                            },
                            xAxis: {
                                title: {
                                    text: ciiu + ' CIIU'
                                },
                                categories: xCategories
                            },
                            yAxis: {
                                min: 0,
                                title: {
                                    text: 'Millones de pesos colombianos',
                                    align: 'high'
                                },
                                labels: {
                                    overflow: 'justify'
                                }
                            },
                            tooltip: {
                                valueSuffix: ' Millones de pesos colombianos'
                            },
                            legend: {
                                reversed: true
                            },
                            plotOptions: {
                                bar: {
                                    stacking: 'normal'
                                }
                            },
                            legend: {
                                headerFormat: '<span style="font-size:10px">{point.key}</span><table>',
                                po: '<tr><td style="color:{series.color};padding:0">{series.name}: </td>' +
                                    '<td style="padding:0"><b>{point.y:.1f} millones de pesos</b></td></tr>',
                                footerFormat: '</table>',
                                shared: true,
                                useHTML: true
                            },
                            credits: {
                                enabled: false
                            },
                            series: seriesData
                        });
                    });
                },
                error: function () {
                    $("#grafico4").html("Error al cargar los datos del gráfico");
                }
            });
        }
        //Gráfico de ingresos por productos en el año por clasificación ciiu y ámbito geográfico
        function DrawProdsAmbGeoCatCIIU(año, ciiu) {
            $("#grafico2").html('<img src="Content/Imagenes/cargando.gif" class="img-responsive centrar"/>');
            $("#grafico5").html('<img src="Content/Imagenes/cargando.gif" class="img-responsive centrar"/>');

            $.ajax({
                url: "@Url.Action("IngresosProductosAmbGeoCIIU", "IngresosProductos")",
                data: {
                    yearSearch: año,
                    catCIIU: $('#ciiu').val()
                },
                type: "GET",
                dataType: "json",
                success: function (data) {
                    var seriesData = [];
                    var xCategories = [];
                    var seriesName = [];
                    var valores = [];

                    var i, cat, nombre, k;
                    for (i = 0; i < data.length; i++) {
                        cat = data[i].ambito;
                        nombre = data[i].nombre;
                        if (xCategories.indexOf(cat) === -1) {
                            xCategories[xCategories.length] = cat;
                        }
                        if (seriesName.indexOf(nombre) === -1) {
                            seriesName[seriesName.length] = nombre;
                        }
                    }

                    for (i = 0; i < seriesName.length; i++) {
                        valores = [];
                        for (j = 0; j < xCategories.length; j++) {
                            var k = 0;
                            var sw = false;
                            while (k < data.length && !sw) {
                                if (data[k].nombre == seriesName[i] && data[k].ambito == xCategories[j]) {
                                    valores[j] = Math.round(data[k].total * 10000) / 10000;
                                    sw = true;
                                } else {
                                    k++;
                                }
                            }
                            if (!sw) {
                                valores[j] = null;
                            }
                        }
                        seriesData[i] = { name: seriesName[i], data: valores };
                    }

                    var chart;
                    $(document).ready(function () {
                        chart = new Highcharts.Chart({
                            chart: {
                                renderTo: 'grafico5',
                                type: 'column'
                            },
                            title: {
                                text: 'Ingresos por productos de CTI en el año ' + año + ' por el ámbito geográfico y ' + ciiu.toLowerCase() + ' CIIU'
                            },
                            subtitle: {
                                text: 'Fuente: D.T.C.P.I'
                            },
                            xAxis: {
                                title: {
                                    text: 'Ámbito geográfico'
                                },
                                categories: xCategories
                            },
                            yAxis: {
                                min: 0,
                                title: {
                                    text: 'Millones de pesos',
                                    align: 'high'
                                },
                                labels: {
                                    overflow: 'justify'
                                },
                                stackLabels: {
                                    enabled: true
                                }
                            },
                            tooltip: {
                                valueSuffix: ' Millones de pesos'
                            },
                            plotOptions: {
                                column: {
                                    dataLabels: {
                                        enabled: true
                                    }
                                }
                            },
                            legend: {
                                headerFormat: '<span style="font-size:10px">{point.key}</span><table>',
                                po: '<tr><td style="color:{series.color};padding:0">{series.name}: </td>' +
                                    '<td style="padding:0"><b>{point.y:.1f} millones de pesos</b></td></tr>',
                                footerFormat: '</table>',
                                shared: true,
                                useHTML: true
                            },
                            credits: {
                                enabled: false
                            },
                            series: seriesData
                        });
                    });
                },
                error: function () {
                    $("#grafico5").html("Error al cargar los datos del gráfico");
                }
            });
        }
    </script>
}



