﻿@{
    Layout = "~/Views/Shared/_IndicadoresLayout.cshtml";
    ViewBag.Indicador = "Área de los espacios utilizados para actividades de ciencia, tecnología e innovación (ACTI):";
    ViewBag.Descripcion = "Muestra el área asignada para la realización de actividades de ciencia, tecnología e innovación (ACTI). Se calcula por la suma de las áreas destinadas a ACTI y se mide en “metros cuadrados”. Se puede discriminar por: campo de conocimiento según la clasificación OCDE, actividades desarrolladas (desagregación de las ACTI) y ubicación geográfica.";
    ViewBag.Nombre = "área de espacios utilizados para actividades de ciencia, tecnología e innovación";
    ViewBag.Fuente = "Infraestructura de la Universidad del Magdalena";
}

@section ConsultaGeneral{
    <!--Selecciona el rango de años y la tabla a consultar-->
    <div class="row">
        <form class="form">
            <!--Selecciona el año desde-->
            <div class="col-lg-offset-1 col-md-offset-1 col-lg-2 col-md-2">
                <label>Desde</label>
                <select class="form-control" id="fromYear" name="fromYear">
                    <option value="-100">Todos</option>
                </select>
            </div>
            <!--./Fin selecciona el año desde-->
            <!--Selecciona hasta que año consultar-->
            <div class="col-lg-2 col-md-2">
                <div class="form-group">
                    <label>Hasta</label>
                    <select class="form-control" id="toYear" name="toYear">
                        <option value="-100">Todos</option>
                    </select>
                </div>
            </div>
            <!--./Fin selecciona hasta año -->
            <!--Selecciona el tipo de dimensión-->
            <div class="col-lg-4 col-md-4">
                <div class="form-group">
                    <label>Tabla del indicador</label>
                    <select class="form-control" id="tabla">
                        <option value="1">Área OCDE</option>
                        <option value="2">Subárea OCDE</option>
                        <option value="3">Disciplina OCDE</option>
                        <option value="4">Primer nivel ACTI</option>
                        <option value="5">Segundo nivel ACTI</option>
                        <option value="6">Tercer nivel ACTI</option>
                        <option value="7">Ubicación geográfica</option>
                    </select>
                </div>
            </div>
            <!--./Fin selecciona el tipo de dimensión-->
            <!--Botón consultar-->
            <div class="col-lg-2 col-md-2 topBoton">
                <button type="button" class="btn btn-primary" id="searchData">Consultar</button>
            </div>
            <!--./Fin botón consultar-->
        </form>
    </div>
    <!--./Fin selecciona el rango de años y tabla a consultar-->
    <!--Tabla de datos del indicador-->
    <div class="row container-fluid">
        <div class="col-lg-offset-2 col-lg-8 col-md-offset-2 col-md-8">
            <h4 class="text-center title-tabla" id="nombreTabla"></h4>
        </div>

        <div class="table-responsive col-lg-12 col-lg-12 col-md-12 col-sm-12">
            <div id="esp_tabla" style="align-items:center;"></div>
        </div>

        <div class="col-lg-offset-1 col-lg-10 col-md-12 col-sm-12 col-xs-12">
            <div id="grafico1" class="grafico_general"></div>
        </div>
    </div>
    <!--./Fin Tabla del indicador-->
}

@section PanelGraficos{
    <!--Panel de los gráficos-->
    <div class="row">
        <div class="container-fluid">
            <form class="form">
                <!--Selecciona el año-->
                <div class="col-md-offset-2 col-lg-2 col-md-offset-2 col-md-2">
                    <div class="form-group">
                        <label>Año</label>
                        <select class="form-control" id="year"></select>
                    </div>
                </div>
                <!--./Fin selecciona el año-->
                <!--Selecciona el nivel OCDE-->
                <div class="col-lg-2 col-md-2">
                    <div class="form-group">
                        <label>OCDE</label>
                        <select class="form-control" id="ocde">
                            <option value="1">Área</option>
                            <option value="2">Subárea</option>
                            <option value="3">Disciplina</option>
                        </select>
                    </div>
                </div>
                <!--./Fin selecciona el nivel OCDE-->
                <!--Selecciona el nivel acti-->
                <div class="col-lg-2 col-md-2">
                    <div class="form-group">
                        <label>Nivel ACTI</label>
                        <select class="form-control" id="acti">
                            <option value="1">Primer</option>
                            <option value="2">Segundo</option>
                            <option value="3">Tercer</option>
                        </select>
                    </div>
                </div>
                <!--./Fin selecciona el nivel acti-->
                <!--Boton consultar gráficos-->
                <div class="col-lg-2 col-md-2 topBoton">
                    <button type="button" class="btn btn-primary" id="searchGraphs">Consultar</button>
                </div>
                <!--./Fin boton consultar gráficos-->
            </form>
        </div>
    </div>
    <div class="row container-fluid">
        <div class="col-lg-offset-1 col-lg-10 col-md-12 col-sm-12 col-xs-12">
            <div id="grafico2" class="grafico"></div>
            <div id="grafico3" class="grafico"></div>
            <div id="grafico4" class="grafico"></div>
        </div>
    </div>
    <!--./Fin panel de los gráficos-->
}


@section scripts{
    <script>
        var desdeAño = "-100", hastaAño = "-100";
        var opcion = "1"; //opcion de la tabla a mostrar

        $(document).ready(function () {
            cargaInicial();       //carga inicial de los datos y gráficos del indicador
            load_years();         //carga los años del indicador
            change_hasta();       //cambio del año hasta
            datosTablaResumen();  //llena la tabla de consulta general
            drawGraphs();         //dibuja los gráficos del panel consulta de gráficos
        });
        /*-----------------------Carga inicialmente los datos y gráficos del indicador----------------*/
        function cargaInicial() {
            $(function () {
                //cuando cargue el gráfico, llena la tabla de consulta general
                DrawGrafico();
                $.when(DrawGrafico()).done(function (a1) {
                    loadDataTables();
                });
            });
            /*----Lista el indicador espacios en la tabla dinámica----*/
            $(function () {
                $("#tablaDinamica").html('<img src="Content/Imagenes/cargando.gif" class="img-responsive centrar"/>');
                var sum = $.pivotUtilities.aggregatorTemplates.sum;
                var numberFormat = $.pivotUtilities.numberFormat;
                var intFormat = numberFormat({ digitsAfterDecimal: 2 });

                var renderers = $.extend(
                    $.pivotUtilities.renderers,
                    $.pivotUtilities.c3_renderers,
                    $.pivotUtilities.d3_renderers
                    );

                var actionUrl = '@Url.Action("Listar", "AreaEspacios")';

                $.get(actionUrl, function (mps) {
                    $("#tablaDinamica").pivotUI(mps, {
                        aggregators: {
                            "Metros cuadrados":
                                function () { return sum(intFormat)(["Cantidad"]) }
                        },
                        hiddenAttributes: ["Cantidad","Periodo"],
                        renderers: renderers,
                        rendererName: "Tabla"
                    });
                });
            });
        }
        /*------------------Carga los años en los select------------------*/
        function load_years() {
            $.get(
                    '@Url.Action("getYears", "AreaEspacios")'
                )
                .done(function (data) {
                    var lastYear = (new Date).getFullYear() - 1; //el año anterior al actual
                    $.each(data, function (i, row) {
                        var $option = $('<option>');
                        $option.val(row.año);
                        $option.html(row.año);
                        $('#fromYear').append($option);

                        var $option = $('<option>');
                        $option.val(row.año);
                        $option.html(row.año);
                        $('#year').append($option);
                        if (parseInt(row.año) == lastYear) {
                            $('#year').val(row.año);
                        }
                    })

                    //gráficos de la pestaña consulta gráficos
                    var año = $('#year').val();
                    var ocde = $("#ocde").find(':selected').text();
                    var acti = $("#acti").find(':selected').text();

                    DrawEspNivelACTICatOCDE(ocde, acti, año);
                    DrawEspUbicacionNivelACTI(acti, año);
                    DrawEspUbicacionCatOCDE(ocde, año);
                })
                .fail(function (data) {
                    console.log('Error al cargar años!!!');
                }
            );
        }
        /*------------------Cambia el año hasta al seleccionar un año desde--------------*/
        function change_hasta() {
            $('#fromYear').change(function () {
                $.get(
                        '@Url.Action("getYears", "AreaEspacios")'
                    )
                    .done(function (data) {
                        var from = $("#fromYear").find(':selected').text();
                        var fromValue = $("#fromYear").find(':selected').val();
                        $('#toYear').empty();

                        if (fromValue == "-100") {
                            var $option = $('<option>');
                            $option.val("-100");
                            $option.html("Todos");
                            $('#toYear').append($option);
                        } else {
                            $.each(data, function (i, row) {
                                if (parseInt(row.año) >= parseInt(from)) {
                                    var $option = $('<option>');
                                    $option.val(row.año);
                                    $option.html(row.año);
                                    $('#toYear').append($option);
                                }
                            })
                        }
                    })
                    .fail(function (data) {
                        console.log('Error al cargar años hasta!!!');
                    }
                );
            });
        }
        /*-------------------Carga los datos y gráficos en consulta general--------------*/
        function datosTablaResumen() {
            $("#searchData").click(function () {
                //asigna a las variables globales el nuevo valor
                desdeAño = $('#fromYear').val();
                hastaAño = $('#toYear').val();
                opcion = $('#tabla').val();
                //cuando cargue el gráfico, llena la tabla de consulta general
                DrawGrafico();
                $.when(DrawGrafico()).done(function (a1) {
                    loadDataTables();
                });
            });
        }
        /*-------------------------------Exporta el indicador por completo-------------------------*/
        function exportar(id) {
            var dt = new Date();
            var month = dt.getMonth() + 1;
            var day = dt.getDate();
            var year = dt.getFullYear();
            var tipoReporte = "0";

            var fecha = day + "" + month + "" + year;
            var fileName = "ÁreaEspacios" + fecha;
            window.location = "/AreaEspacios/Reporte/" + id + "/" + desdeAño + "/" + hastaAño + "/" + tipoReporte + "/" + fileName;
        }
        /*-------------------------------Exporta el indicador por el tipo de tabla-------------------------*/
        function exportarTabla(id) {
            var dt = new Date();
            var month = dt.getMonth() + 1;
            var day = dt.getDate();
            var year = dt.getFullYear();
            var tipoReporte = opcion;
            var fecha = day + "" + month + "" + year;
            var fileName;
            switch (opcion) {
                case "2"://subárea ocde
                    fileName = "AreaEspaciosPorSubáreaOCDE" + fecha;
                    break;
                case "3"://disciplina
                    fileName = "AreaEspaciosPorDisciplinaOCDE" + fecha
                    break;
                case "4"://acti nivel 1
                    fileName = "ÁreaEspaciosPorNivel1ACTI" + fecha;
                    break;
                case "5"://acti nivel 2
                    fileName = "ÁreaEspaciosPorNivel2ACTI" + fecha;
                    break;
                case "6"://acti nivel 3
                    fileName = "ÁreaEspaciosPorNivel3ACTI" + fecha;
                    break;
                case "7"://ubicación geográfica
                    fileName = "ÁreaEspaciosPorUbicaciónGeográfica" + fecha;
                    break;
                default://área ocde
                    fileName = "AreaEspaciosPorÁreaOCDE" + fecha
                    break;
            }
            window.location = "/AreaEspacios/Reporte/" + id + "/" + desdeAño + "/" + hastaAño + "/" + tipoReporte + "/" + fileName;
        }
        /*-----------------Carga los gráficos en la pespaña consulta gráficos----------------*/
        function drawGraphs() {
            $("#searchGraphs").click(function () {
                var año = $('#year').val();
                var ocde = $("#ocde").find(':selected').text();
                var acti = $("#acti").find(':selected').text();

                DrawEspNivelACTICatOCDE(ocde, acti, año);
                DrawEspUbicacionNivelACTI(acti, año);
                DrawEspUbicacionCatOCDE(ocde, año);
            });
        }
        /*----Lista las tablas de espacios----*/
        function loadDataTables() {
            $("#esp_tabla").html('<img src="Content/Imagenes/cargando.gif" class="img-responsive centrar"/>');
            $.ajax({
                url: "@Url.Action("ListarxYear", "AreaEspacios")",
                data: {
                    tabla: opcion,
                    desde: desdeAño,
                    hasta: hastaAño
                },
                type: "GET",
                dataType: "json",
                success: function (data) {
                    var sum = $.pivotUtilities.aggregatorTemplates.sum;
                    var numberFormat = $.pivotUtilities.numberFormat;
                    var intFormat = numberFormat({ digitsAfterDecimal: 2 });

                    switch (opcion) {
                        case "2"://subárea ocde
                            $('#nombreTabla').text("Área de los espacios utilizados para ACTI por subárea OCDE");
                            $("#esp_tabla").pivot(data, {
                                rows: ["Subárea_OCDE"],
                                cols: ["Año"],
                                aggregator: sum(intFormat)(["Cantidad"])
                            });
                            break;
                        case "3"://disciplina
                            $('#nombreTabla').text("Área de los espacios utilizados para ACTI por disciplina OCDE");
                            $("#esp_tabla").pivot(data, {
                                rows: ["Disciplina_OCDE"],
                                cols: ["Año"],
                                aggregator: sum(intFormat)(["Cantidad"])
                            });
                            break;
                        case "4"://acti nivel 1
                            $('#nombreTabla').text("Área de los espacios utilizados para ACTI por el primer nivel ACTI");
                            $("#esp_tabla").pivot(data, {
                                rows: ["ACTI_N1"],
                                cols: ["Año"],
                                aggregator: sum(intFormat)(["Cantidad"])
                            });
                            break;
                        case "5"://acti nivel 2
                            $('#nombreTabla').text("Área de los espacios utilizados para ACTI por el segundo nivel ACTI");
                            $("#esp_tabla").pivot(data, {
                                rows: ["ACTI_N2"],
                                cols: ["Año"],
                                aggregator: sum(intFormat)(["Cantidad"])
                            });
                            break;
                        case "6"://acti nivel 3
                            $('#nombreTabla').text("Área de los espacios utilizados para ACTI por el tercer nivel ACTI");
                            $("#esp_tabla").pivot(data, {
                                rows: ["ACTI_N3"],
                                cols: ["Año"],
                                aggregator: sum(intFormat)(["Cantidad"])
                            });
                            break;
                        case "7"://ubicación geográfica
                            $('#nombreTabla').text("Área de los espacios utilizados para ACTI por la ubicación geográfica");
                            $("#esp_tabla").pivot(data, {
                                rows: ["Ubicación_Geográfica"],
                                cols: ["Año"],
                                aggregator: sum(intFormat)(["Cantidad"])
                            });
                            break;
                        default://área ocde
                            $('#nombreTabla').text("Área de los espacios utilizados para ACTI por área OCDE");
                            $("#esp_tabla").pivot(data, {
                                rows: ["Área_OCDE"],
                                cols: ["Año"],
                                aggregator: sum(intFormat)(["Cantidad"])
                            });
                            break;
                    }
                },
                error: function () {
                    alert("¡Falla cargando los datos de la tabla! Intente de nuevo.");
                }
            });
        }
        /*----Dibuja el gráfico de la tabla escogida por el usuario----*/
        function DrawGrafico() {
            $("#esp_tabla").html('<img src="Content/Imagenes/cargando.gif" class="img-responsive centrar"/>');
            $('#nombreTabla').text("");
            $("#grafico1").html('<img src="Content/Imagenes/cargando.gif" class="img-responsive centrar"/>');
            $.ajax({
                url: "@Url.Action("GraficoxYear", "AreaEspacios")",
                data: {
                    tabla: opcion,
                    desde: desdeAño,
                    hasta: hastaAño
                },
                type: "GET",
                dataType: "json",
                success: function (data) {
                    var seriesData = [];
                    var xCategories = [];
                    var seriesName = [];
                    var valores = [];
                    var i, cat, nombre, k, titulo, sw = true;

                    switch (opcion) {
                        case "2"://subárea ocde
                            titulo = "Área de los espacios utilizados para ACTI por subárea OCDE";
                            break;
                        case "3"://disciplina
                            titulo = "Área de los espacios utilizados para ACTI por disciplina OCDE";
                            break;
                        case "4"://acti nivel 1
                            titulo = "Área de los espacios utilizados para ACTI por el primer nivel ACTI";
                            break;
                        case "5"://acti nivel 2
                            titulo = "Área de los espacios utilizados para ACTI por el segundo nivel ACTI";
                            break;
                        case "6"://acti nivel 3
                            titulo = "Área de los espacios utilizados para ACTI por el tercer nivel ACTI";
                            break;
                        case "7"://ubicación geográfica
                            titulo = "Área de los espacios utilizados para ACTI por la ubicación geográfica";
                            break;
                        default://área ocde
                            titulo = "Área de los espacios utilizados para ACTI por área OCDE"
                            break;
                    }
                    for (i = 0; i < data.length; i++) {
                        cat = data[i].año;
                        nombre = data[i].nombre;
                        if (xCategories.indexOf(cat) === -1) {
                            xCategories[xCategories.length] = cat;
                        }
                        if (seriesName.indexOf(nombre) === -1) {
                            seriesName[seriesName.length] = nombre;
                        }
                    }
                    for (i = 0; i < seriesName.length; i++) {
                        valores = [];
                        for (j = 0; j < xCategories.length; j++) {
                            var k = 0;
                            var sw = false;
                            while (k < data.length && !sw) {
                                if (data[k].nombre == seriesName[i] && data[k].año == xCategories[j]) {
                                    valores[j] = Math.round(data[k].total * 100) / 100;
                                    sw = true;
                                } else {
                                    k++;
                                }
                            }
                            if (!sw) {
                                valores[j] = null;
                            }
                        }
                        seriesData[i] = { name: seriesName[i], data: valores };
                    }
                    var chart;
                    $(document).ready(function () {

                        chart = new Highcharts.Chart({
                            chart: {
                                renderTo: 'grafico1',
                                type: 'column'
                            },
                            title: {
                                text: titulo
                            },
                            subtitle: {
                                text: 'Fuente: Infraestructura de la Universidad del Magdalena'
                            },
                            xAxis: {
                                title: {
                                    text: 'Años'
                                },
                                categories: xCategories
                            },
                            yAxis: {
                                min: 0,
                                title: {
                                    text: 'metros cuadrados',
                                    align: 'high'
                                },
                                labels: {
                                    overflow: 'justify'
                                },
                                stackLabels: {
                                    enabled: true
                                }
                            },
                            tooltip: {
                                headerFormat: '<b>{point.x}</b><br/>',
                                pointFormat: '{series.name}: {point.y} metros cuadrados<br/>' +
                                    'Total: {point.stackTotal} metros cuadrados'
                            },
                            plotOptions: {
                                column: {
                                    stacking: 'normal'
                                }
                            },
                            credits: {
                                enabled: false
                            },
                            series: seriesData
                        });
                    });
                },
                error: function () {
                    $("#grafico1").html("Error al cargar los datos del gráfico");
                }
            });
        }

        /*----Dibuja el gráfico espacios en el año por categoria OCDE y ubicación geográfica----*/
        function DrawEspUbicacionCatOCDE(ocde, año) {
            $("#grafico2").html('<img src="Content/Imagenes/cargando.gif" class="img-responsive centrar"/>');

            $.ajax({
                url: "@Url.Action("EspaciosYearUbicacionOCDE", "AreaEspacios")",
                data: {
                    yearSearch: año,
                    catOCDE: $('#ocde').val()
                },
                type: "GET",
                dataType: "json",
                success: function (data) {
                    var seriesData = [];
                    var xCategories = [];
                    var seriesName = [];
                    var valores = [];

                    var i, cat, nombre, k;
                    for (i = 0; i < data.length; i++) {
                        cat = data[i].nombre;
                        nombre = data[i].ubicacion;
                        if (xCategories.indexOf(cat) === -1) {
                            xCategories[xCategories.length] = cat;
                        }
                        if (seriesName.indexOf(nombre) === -1) {
                            seriesName[seriesName.length] = nombre;
                        }
                    }

                    for (i = 0; i < seriesName.length; i++) {
                        valores = [];
                        for (j = 0; j < xCategories.length; j++) {
                            var k = 0;
                            var sw = false;
                            while (k < data.length && !sw) {
                                if (data[k].ubicacion == seriesName[i] && data[k].nombre == xCategories[j]) {
                                    valores[j] = Math.round(data[k].total * 100) / 100;
                                    sw = true;
                                } else {
                                    k++;
                                }
                            }
                            if (!sw) {
                                valores[j] = null;
                            }
                        }
                        seriesData[i] = { name: seriesName[i], data: valores };
                    }

                    var chart;
                    $(document).ready(function () {
                        chart = new Highcharts.Chart({
                            chart: {
                                renderTo: 'grafico2',
                                type: 'bar'
                            },
                            title: {
                                text: 'Área de los espacios utilizados para ACTI en el año ' + año + ' por ubicación geográfica y ' + ocde.toLowerCase() + ' OCDE'
                            },
                            subtitle: {
                                text: 'Fuente: Infraestructura de la Universidad del Magdalena'
                            },
                            xAxis: {
                                title: {
                                    text: ocde + ' OCDE'
                                },
                                categories: xCategories
                            },
                            yAxis: {
                                min: 0,
                                title: {
                                    text: 'metros cuadrados',
                                    align: 'high'
                                }
                            },
                            legend: {
                                reversed: true
                            },
                            tooltip: {
                                headerFormat: '<b>{point.x}</b><br/>',
                                pointFormat: '{series.name}: {point.y} metros cuadrados'
                            },
                            plotOptions: {
                                series: {
                                    stacking: 'normal'
                                }
                            },
                            credits: {
                                enabled: false
                            },
                            series: seriesData
                        });
                    });
                },
                error: function () {
                    $("#grafico2").html("Error al cargar los datos del gráfico");
                }
            });
        }
        /*----Dibuja el gráfico espacios en el año por nivel ACTI y ubicación geográfica----*/
        function DrawEspUbicacionNivelACTI(acti, año) {
            $("#grafico2").html('<img src="Content/Imagenes/cargando.gif" class="img-responsive centrar"/>');
            $("#grafico3").html('<img src="Content/Imagenes/cargando.gif" class="img-responsive centrar"/>');

            $.ajax({
                url: "@Url.Action("EspaciosYearUbicacionACTI", "AreaEspacios")",
                data: {
                    yearSearch: año,
                    catACTI: $('#acti').val()
                },
                type: "GET",
                dataType: "json",
                success: function (data) {
                    var seriesData = [];
                    var xCategories = [];
                    var seriesName = [];
                    var valores = [];

                    var i, cat, nombre, k;
                    for (i = 0; i < data.length; i++) {
                        cat = data[i].nombre;
                        nombre = data[i].ubicacion;
                        if (xCategories.indexOf(cat) === -1) {
                            xCategories[xCategories.length] = cat;
                        }
                        if (seriesName.indexOf(nombre) === -1) {
                            seriesName[seriesName.length] = nombre;
                        }

                    }

                    for (i = 0; i < seriesName.length; i++) {
                        valores = [];
                        for (j = 0; j < xCategories.length; j++) {
                            var k = 0;
                            var sw = false;
                            while (k < data.length && !sw) {
                                if (data[k].ubicacion == seriesName[i] && data[k].nombre == xCategories[j]) {
                                    valores[j] = Math.round(data[k].total * 100) / 100;
                                    sw = true;
                                } else {
                                    k++;
                                }
                            }
                            if (!sw) {
                                valores[j] = null;
                            }
                        }
                        seriesData[i] = { name: seriesName[i], data: valores };
                    }

                    var chart;
                    $(document).ready(function () {
                        chart = new Highcharts.Chart({
                            chart: {
                                renderTo: 'grafico3',
                                type: 'bar'
                            },
                            title: {
                                text: 'Área de los espacios utilizados para ACTI en el año ' + año + ' por ubicación geográfica y ' + acti.toLowerCase() + ' nivel ACTI'
                            },
                            subtitle: {
                                text: 'Fuente: Infraestructura de la Universidad del Magdalena'
                            },
                            xAxis: {
                                title: {
                                    text: acti + ' nivel ACTI'
                                },
                                categories: xCategories
                            },
                            yAxis: {
                                min: 0,
                                title: {
                                    text: 'metros cuadrados',
                                    align: 'high'
                                }
                            },
                            legend: {
                                reversed: true
                            },
                            tooltip: {
                                headerFormat: '<b>{point.x}</b><br/>',
                                pointFormat: '{series.name}: {point.y} metros cuadrados'
                            },
                            plotOptions: {
                                series: {
                                    stacking: 'normal'
                                }
                            },
                            credits: {
                                enabled: false
                            },
                            series: seriesData
                        });
                    });
                },
                error: function () {
                    $("#grafico3").html("Error al cargar los datos del gráfico");
                }
            });
        }
        //Gráfico espacios en el año por ocde y acti
        function DrawEspNivelACTICatOCDE(ocde, acti, año) {
            $("#grafico2").html('<img src="Content/Imagenes/cargando.gif" class="img-responsive centrar"/>');
            $("#grafico4").html('<img src="Content/Imagenes/cargando.gif" class="img-responsive centrar"/>');

            $.ajax({
                url: "@Url.Action("EspaciosYearACTIOCDE", "AreaEspacios")",
                data: {
                    yearSearch: año,
                    catOCDE: $('#ocde').val(),
                    catACTI: $('#acti').val()
                },
                type: "GET",
                dataType: "json",
                success: function (data) {
                    var seriesData = [];
                    var xCategories = [];
                    var seriesName = [];
                    var valores = [];

                    var i, cat, nombre;
                    for (i = 0; i < data.length; i++) {
                        cat = data[i].acti;
                        nombre = data[i].nombre;
                        if (xCategories.indexOf(cat) === -1) {
                            xCategories[xCategories.length] = cat;
                        }
                        if (seriesName.indexOf(nombre) === -1) {
                            seriesName[seriesName.length] = nombre;
                        }
                    }

                    for (i = 0; i < seriesName.length; i++) {
                        valores = [];
                        for (j = 0; j < xCategories.length; j++) {
                            var k = 0;
                            var sw = false;
                            while (k < data.length && !sw) {
                                if (data[k].nombre == seriesName[i] && data[k].acti == xCategories[j]) {
                                    valores[j] = Math.round(data[k].total * 100) / 100;
                                    sw = true;
                                } else {
                                    k++;
                                }
                            }
                            if (!sw) {
                                valores[j] = null;
                            }
                        }
                        seriesData[i] = { name: seriesName[i], data: valores };
                    }

                    var chart;
                    $(document).ready(function () {
                        chart = new Highcharts.Chart({
                            chart: {
                                renderTo: 'grafico4',
                                type: 'bar'
                            },
                            title: {
                                text: 'Área de los espacios utilizados para ACTI en el año ' + año + ' por ' + ocde.toLowerCase() + ' y ' + acti.toLowerCase() + ' nivel ACTI'
                            },
                            subtitle: {
                                text: 'Fuente: Infraestructura de la Universidad del Magdalena'
                            },
                            xAxis: {
                                title: {
                                    text: acti + ' nivel ACTI'
                                },
                                categories: xCategories
                            },
                            yAxis: {
                                min: 0,
                                title: {
                                    text: 'metros cuadrados',
                                    align: 'high'
                                }
                            },
                            legend: {
                                reversed: true
                            },
                            tooltip: {
                                headerFormat: '<b>{point.x}</b><br/>',
                                pointFormat: '{series.name}: {point.y} metros cuadrados<br/>'
                            },
                            plotOptions: {
                                bar: {
                                    stacking: 'normal'
                                }
                            },
                            credits: {
                                enabled: false
                            },
                            series: seriesData
                        });
                    });
                },
                error: function () {
                    $("#grafico4").html("Error al cargar los datos del gráfico");
                }
            });
        }
    </script>
}
