﻿@{
    Layout = "~/Views/Shared/_IndicadoresLayout.cshtml";
    ViewBag.Indicador = "Ingresos por prestación de prestación de servicios científicos y tecnológicos:";
    ViewBag.Descripcion = "Indica los ingresos percibidos por la universidad por la prestación de servicios científicos y tecnológicos. Se calcula sumando los montos de los contratos de prestación de servicios científicos y tecnológicos de la universidad y se mide en “millones de pesos colombianos”. Se puede discriminar por: actividades desarrolladas (desagregación de las ACTI), objeto del contrato, naturaleza de la organización que contrata el servicio, ámbito sectorial de la organización que contrata el servicio, según la Clasificación Industrial Internacional Uniforme CIIU de la ONU, ámbito geográfico (regional, nacional o internacional).";
    ViewBag.Nombre = "ingresos por prestación de prestación de servicios científicos y tecnológicos";
    ViewBag.Fuente = "D.T.C.P.I y presupuesto de la Universidad del Magdalena";
}

@section ConsultaGeneral{
    <!--Selecciona el rango de años y la tabla a consultar-->
    <div class="row">
        <form class="form">
            <!--Selecciona el año desde-->
            <div class="col-lg-offset-1 col-md-offset-1 col-lg-2 col-md-2">
                <label>Desde</label>
                <select class="form-control" id="fromYear" name="fromYear">
                    <option value="-100">Todos</option>
                </select>
            </div>
            <!--./Fin selecciona el año desde-->
            <!--Selecciona hasta que año consultar-->
            <div class="col-lg-2 col-md-2">
                <div class="form-group">
                    <label>Hasta</label>
                    <select class="form-control" id="toYear" name="toYear">
                        <option value="-100">Todos</option>
                    </select>
                </div>
            </div>
            <!--./Fin selecciona hasta año -->
            <!--Selecciona el tipo de dimensión-->
            <div class="col-lg-4 col-md-4">
                <div class="form-group">
                    <label>Tabla del indicador</label>
                    <select class="form-control" id="tabla">
                        <option value="1">Primer nivel ACTI</option>
                        <option value="2">Segundo nivel ACTI</option>
                        <option value="3">Tercer nivel ACTI</option>
                        <option value="4">Objeto del contrato</option>
                        <option value="5">Naturaleza de la organización</option>
                        <option value="6">Ámbito geográfico</option>
                        <option value="7">Clase CIIU</option>
                        <option value="8">Grupo CIIU</option>
                        <option value="9">División CIIU</option>
                        <option value="10">Sección CIIU</option>
                    </select>
                </div>
            </div>
            <!--./Fin selecciona el tipo de dimensión-->
            <!--Boton consultar-->
            <div class="col-lg-2 col-md-2 topBoton">
                <button type="button" class="btn btn-primary" id="searchData">Consultar</button>
            </div>
            <!--./Fin boton consultar-->
        </form>
    </div>
    <!--./Fin selecciona el rango de años y tabla a consultar-->
    <!--Tabla del indicador-->
    <div class="row container-fluid">
        <div class="col-lg-offset-2 col-lg-8 col-md-offset-2 col-md-8">
            <h4 class="text-center title-tabla" id="nombreTabla"></h4>
        </div>

        <div class="table-responsive col-lg-12 col-lg-12 col-md-12 col-sm-12">
            <div id="ingr_tabla" style="align-items:center;"></div>
        </div>

        <div class="col-lg-offset-1 col-lg-10 col-md-12 col-sm-12 col-xs-12">
            <div id="grafico1" class="grafico_general"></div>
        </div>
    </div>
    <!--./Fin Tabla del indicador-->
}

@section PanelGraficos{
    <!--Panel de los gráficos-->
    <div class="row">
        <!--Selecciona el año, nivel ciiu y acti-->
        <div class="container-fluid">
            <form class="form">
                <!--Selecciona el año-->
                <div class="col-lg-offset-2 col-md-offset-2 col-lg-2 col-md-2">
                    <div class="form-group">
                        <label>Año</label>
                        <select class="form-control" id="year"></select>
                    </div>
                </div>
                <!--./Fin selecciona el año-->
                <!--Selecciona el nivel ciiu-->
                <div class="col-lg-2 col-md-2">
                    <div class="form-group">
                        <label>Nivel CIIU</label>
                        <select class="form-control" id="ciiu">
                            <option value="1">Sección</option>
                            <option value="2">División</option>
                            <option value="3">Grupo</option>
                            <option value="4">Clase</option>
                        </select>
                    </div>
                </div>
                <!--./Fin selecciona el nivel ciiu-->
                <!--Selecciona nivel acti-->
                <div class="col-lg-2 col-md-2">
                    <div class="form-group">
                        <label>Nivel ACTI</label>
                        <select class="form-control" id="acti">
                            <option value="1">Primer</option>
                            <option value="2">Segundo</option>
                            <option value="3">Tercer</option>
                        </select>
                    </div>
                </div>
                <!--./Fin selecciona nivel acti-->
                <!--Boton consultar gráficos-->
                <div class="col-lg-2 col-md-2 topBoton">
                    <button type="button" class="btn btn-primary" id="searchGraphs">Consultar</button>
                </div>
                <!--./Fin boton consultar gráficos-->
            </form>
        </div>
        <!--./Fin selecciona el año, nivel ciiu y acti-->
    </div>
    <div class="row container-fluid">
        <div class="col-lg-offset-1 col-lg-10 col-md-12 col-sm-12 col-xs-12">
            <div id="grafico2" class="grafico"></div>
            <div id="grafico3" class="grafico"></div>
            <div id="grafico4" class="grafico"></div>
            <div id="grafico5" class="grafico"></div>
        </div>
    </div>
    <!--./Fin panel de los gráficos-->
}

@section scripts{
    <script>
        var desdeAño = "-100", hastaAño = "-100";
        var opcion = "1"; //opcion de la tabla a mostrar

        $(document).ready(function () {
            cargaInicial();       //carga inicial de los datos y gráficos del indicador
            load_years();         //carga los años del indicador
            change_hasta();       //cambio del año hasta
            datosTablaResumen();  //llena la tabla de consulta general
            drawGraphs();         //dibuja los gráficos del panel consulta de gráficos
        });
        /*-----------------------Carga inicialmente los datos y gráficos del indicador----------------*/
        function cargaInicial() {
            $(function () {
                //cuando cargue el gráfico, llena la tabla de consulta general
                DrawGrafico();
                $.when(DrawGrafico()).done(function (a1) {
                    loadDataTables();
                });
            });

            /*----Lista el indicador ingresos por servicios en la tabla dinámica----*/
            $(function () {
                $("#tablaDinamica").html('<img src="Content/Imagenes/cargando.gif" class="img-responsive centrar"/>');
                var sum = $.pivotUtilities.aggregatorTemplates.sum;
                var numberFormat = $.pivotUtilities.numberFormat;
                var intFormat = numberFormat({ digitsAfterDecimal: 4 });

                var renderers = $.extend(
                    $.pivotUtilities.renderers,
                    $.pivotUtilities.c3_renderers,
                    $.pivotUtilities.d3_renderers
                    );

                var actionUrl = '@Url.Action("Listar", "IngresosServicios")';

                $.get(actionUrl, function (mps) {
                    $("#tablaDinamica").pivotUI(mps, {
                        aggregators: {
                            "Millones de pesos ($)":
                                function () { return sum(intFormat)(["Cantidad"]) }
                        },
                        hiddenAttributes: ["Cantidad"],
                        renderers: renderers,
                        rendererName: "Tabla"
                    });
                });
            });
        }
        /*------------------Carga los años en los select------------------*/
        function load_years() {
            $.get(
                    '@Url.Action("getYears", "IngresosServicios")'
                )
                .done(function (data) {
                    var lastYear = (new Date).getFullYear() - 1;
                    $.each(data, function (i, row) {
                        var $option = $('<option>');
                        $option.val(row.año);
                        $option.html(row.año);
                        $('#fromYear').append($option);

                        var $option = $('<option>');
                        $option.val(row.año);
                        $option.html(row.año);
                        $('#year').append($option);
                        if (parseInt(row.año) == lastYear) {
                            $('#year').val(row.año);
                        }
                    })
                    //gráficos de la pestaña consulta gráficos
                    var año = $('#year').val();
                    var ciiu = $("#ciiu").find(':selected').text();
                    var acti = $("#acti").find(':selected').text();

                    DrawIngNatOrgACTI(año, acti),
                    DrawIngAmbGeoACTI(año, acti),
                    DrawIngObjContrACTI(año, acti),
                    DrawIngACTICatCIIU(año, ciiu, acti);
                })
                .fail(function (data) {
                    console.log('Error al cargar años!!!');
                }
            );
        }
        /*------------------Cambia el año hasta al seleccionar un año desde--------------*/
        function change_hasta() {
            $('#fromYear').change(function () {
                $.get(
                        '@Url.Action("getYears", "IngresosServicios")'
                    )
                    .done(function (data) {
                        var from = $("#fromYear").find(':selected').text();
                        var fromValue = $("#fromYear").find(':selected').val();
                        $('#toYear').empty();

                        if (fromValue == "-100") {
                            var $option = $('<option>');
                            $option.val("-100");
                            $option.html("Todos");
                            $('#toYear').append($option);
                        } else {
                            $.each(data, function (i, row) {
                                if (parseInt(row.año) >= parseInt(from)) {
                                    var $option = $('<option>');
                                    $option.val(row.año);
                                    $option.html(row.año);
                                    $('#toYear').append($option);
                                }
                            })
                        }
                    })
                    .fail(function (data) {
                        console.log('Error al cargar años hasta!!!');
                    }
                );
            });
        }
        /*-------------------Carga los datos y gráficos en consulta general--------------*/
        function datosTablaResumen() {
            $("#searchData").click(function () {
                //asigna a las variables globales el nuevo valor
                desdeAño = $('#fromYear').val();
                hastaAño = $('#toYear').val();
                opcion = $('#tabla').val();
                //cuando cargue el gráfico, llena la tabla de consulta general
                DrawGrafico();
                $.when(DrawGrafico()).done(function (a1) {
                    loadDataTables();
                });
            });
        }
        /*-------------------------------Exporta el indicador completo-------------------------*/
        function exportar(id) {
            var dt = new Date();
            var month = dt.getMonth() + 1;
            var day = dt.getDate();
            var year = dt.getFullYear();
            var tipoReporte = "0";

            var fecha = day + "" + month + "" + year;
            var fileName = "IngresosServicios" + fecha;
            window.location = "/IngresosServicios/Reporte/" + id + "/" + desdeAño + "/" + hastaAño + "/" + tipoReporte + "/" + fileName;
        }
        /*-------------------------------Exporta el indicador por el tipo de tabla-------------------------*/
        function exportarTabla(id) {
            var dt = new Date();
            var month = dt.getMonth() + 1;
            var day = dt.getDate();
            var year = dt.getFullYear();
            var tipoReporte = opcion;
            var fecha = day + "" + month + "" + year;
            var fileName;
            switch (opcion) {
                case "2"://acti nivel 2
                    fileName = "IngresosServiciosPorN2ACTI" + fecha;
                    break;
                case "3"://acti nivel 3
                    fileName = "IngresosServiciosPorN3ACTI" + fecha;
                    break;
                case "4"://objeto del contrato
                    fileName = "IngresosServiciosPorObjetoContrato" + fecha
                    break;
                case "5"://naturaleza de la organización
                    fileName = "IngresosServiciosPorNaturalezaOrganización" + fecha;
                    break;
                case "6"://ámbito geográfico
                    fileName = "IngresosServiciosPorÁmbitoGeográfico" + fecha;
                    break;
                case "7"://clase ciiu
                    fileName = "IngresosServiciosPorClaseCIIU" + fecha;
                    break;
                case "8"://grupo ciiu
                    fileName = "IngresosServiciosPorGrupoCIIU" + fecha
                    break;
                case "9"://división ciiu
                    fileName = "IngresosServiciosPorDivisiónCIIU" + fecha;
                    break;
                case "10"://sección ciiu
                    fileName = "IngresosServiciosPorSecciónCIIU" + fecha;
                    break;
                default://acti nivel 1
                    fileName = "IngresosServiciosPorN1ACTI" + fecha
                    break;
            }
            window.location = "/IngresosServicios/Reporte/" + id + "/" + desdeAño + "/" + hastaAño + "/" + tipoReporte + "/" + fileName;
        }
        /*-----------------Carga los gráficos en la pestaña consulta gráficos ----------------*/
        function drawGraphs() {
            $("#searchGraphs").click(function () {
                var año = $('#year').val();
                var ciiu = $("#ciiu").find(':selected').text();
                var acti = $("#acti").find(':selected').text();

                DrawIngNatOrgACTI(año, acti),
                DrawIngAmbGeoACTI(año, acti),
                DrawIngObjContrACTI(año, acti),
                DrawIngACTICatCIIU(año, ciiu, acti);
            });
        }
        /*----Lista la tabla de ingresos por servicios----*/
        function loadDataTables() {
            $("#ingr_tabla").html('<img src="Content/Imagenes/cargando.gif" class="img-responsive centrar"/>');
            $.ajax({
                url: "@Url.Action("ListarxYear", "IngresosServicios")",
                data: {
                    tabla: opcion,
                    desde: desdeAño,
                    hasta: hastaAño
                },
                type: "GET",
                dataType: "json",
                success: function (data) {
                    var sum = $.pivotUtilities.aggregatorTemplates.sum;
                    var numberFormat = $.pivotUtilities.numberFormat;
                    var intFormat = numberFormat({ digitsAfterDecimal: 4 });

                    switch (opcion) {
                        case "2"://acti nivel 2
                            $('#nombreTabla').text("Ingresos por prestación de prestación de servicios científicos y tecnológicos por el segundo nivel ACTI");
                            $("#ingr_tabla").pivot(data, {
                                rows: ["ACTI_N2"],
                                cols: ["Año"],
                                aggregator: sum(intFormat)(["Cantidad"])
                            });
                            break;
                        case "3"://acti nivel 3
                            $('#nombreTabla').text("Ingresos por prestación de prestación de servicios científicos y tecnológicos por el tercer nivel ACTI");
                            $("#ingr_tabla").pivot(data, {
                                rows: ["ACTI_N3"],
                                cols: ["Año"],
                                aggregator: sum(intFormat)(["Cantidad"])
                            });
                            break;
                        case "4"://objeto del contrato
                            $('#nombreTabla').text("Ingresos por prestación de prestación de servicios científicos y tecnológicos según el objeto del contrato");
                            $("#ingr_tabla").pivot(data, {
                                rows: ["Objeto_Contrato"],
                                cols: ["Año"],
                                aggregator: sum(intFormat)(["Cantidad"])
                            });
                            break;
                        case "5"://naturaleza de la organización
                            $('#nombreTabla').text("Ingresos por prestación de prestación de servicios científicos y tecnológicos según la naturaleza de la organización que recibe la transferencia");
                            $("#ingr_tabla").pivot(data, {
                                rows: ["Naturaleza_Organización"],
                                cols: ["Año"],
                                aggregator: sum(intFormat)(["Cantidad"])
                            });
                            break;
                        case "6"://ámbito geográfico
                            $('#nombreTabla').text("Ingresos por prestación de prestación de servicios científicos y tecnológicos según el ámbito geográfico");
                            $("#ingr_tabla").pivot(data, {
                                rows: ["Ámbito_Geográfico"],
                                cols: ["Año"],
                                aggregator: sum(intFormat)(["Cantidad"])
                            });
                            break;
                        case "7"://clase ciiu
                            $('#nombreTabla').text("Ingresos por prestación de prestación de servicios científicos y tecnológicos según la clase CIIU");
                            $("#ingr_tabla").pivot(data, {
                                rows: ["Clase_CIIU"],
                                cols: ["Año"],
                                aggregator: sum(intFormat)(["Cantidad"])
                            });
                            break;
                        case "8"://grupo ciiu
                            $('#nombreTabla').text("Ingresos por prestación de prestación de servicios científicos y tecnológicos según el grupo CIIU");
                            $("#ingr_tabla").pivot(data, {
                                rows: ["Grupo_CIIU"],
                                cols: ["Año"],
                                aggregator: sum(intFormat)(["Cantidad"])
                            });
                            break;
                        case "9"://división ciiu
                            $('#nombreTabla').text("Ingresos por prestación de prestación de servicios científicos y tecnológicos según la división CIIU");
                            $("#ingr_tabla").pivot(data, {
                                rows: ["División_CIIU"],
                                cols: ["Año"],
                                aggregator: sum(intFormat)(["Cantidad"])
                            });
                            break;
                        case "10"://sección ciiu
                            $('#nombreTabla').text("Ingresos por prestación de prestación de servicios científicos y tecnológicos según la sección CIIU");
                            $("#ingr_tabla").pivot(data, {
                                rows: ["Sección_CIIU"],
                                cols: ["Año"],
                                aggregator: sum(intFormat)(["Cantidad"])
                            });
                            break;
                        default://acti nivel 1
                            $('#nombreTabla').text("Ingresos por prestación de prestación de servicios científicos y tecnológicos por el primer nivel ACTI");
                            $("#ingr_tabla").pivot(data, {
                                rows: ["ACTI_N1"],
                                cols: ["Año"],
                                aggregator: sum(intFormat)(["Cantidad"])
                            });
                            break;
                    }
                },
                error: function () {
                    alert("¡Falla cargando los datos de la tabla! Intente de nuevo.");
                }
            });
        }
        /*----Dibuja el gráfico de la tabla escogida por el usuario----*/
        function DrawGrafico() {
            $("#ingr_tabla").html('<img src="Content/Imagenes/cargando.gif" class="img-responsive centrar"/>');
            $('#nombreTabla').text("");
            $("#grafico1").html('<img src="Content/Imagenes/cargando.gif" class="img-responsive centrar"/>');
            $.ajax({
                url: "@Url.Action("GraficoxYear", "IngresosServicios")",
                data: {
                    tabla: opcion,
                    desde: desdeAño,
                    hasta: hastaAño
                },
                type: "GET",
                dataType: "json",
                success: function (data) {
                    var seriesData = [];
                    var xCategories = [];
                    var seriesName = [];
                    var valores = [];
                    var i, cat, nombre, k, titulo, sw = true;

                    switch (opcion) {
                        case "2"://acti nivel 2
                            titulo = "Ingresos por prestación de prestación de servicios científicos y tecnológicos por el segundo nivel ACTI";
                            break;
                        case "3"://acti nivel 3
                            titulo = "Ingresos por prestación de prestación de servicios científicos y tecnológicos por el tercer nivel ACTI";
                            break;
                        case "4"://Objeto contrato
                            titulo = "Ingresos por prestación de prestación de servicios científicos y tecnológicos según el objeto del contrato";
                            break;
                        case "5"://Naturaleza de la organización
                            titulo = "Ingresos por prestación de prestación de servicios científicos y tecnológicos según la naturaleza de la organización que recibe la transferencia";
                            break;
                        case "6"://ámbito geográfico
                            titulo = "Ingresos por prestación de prestación de servicios científicos y tecnológicos según el ámbito geográfico";
                            break;
                        case "7"://clase ciiu
                            titulo = "Ingresos por prestación de prestación de servicios científicos y tecnológicos según la clase CIIU";
                            break;
                        case "8"://grupo ciiu
                            titulo = "Ingresos por prestación de prestación de servicios científicos y tecnológicos según el grupo CIIU";
                            break;
                        case "9"://división ciiu
                            titulo = "Ingresos por prestación de prestación de servicios científicos y tecnológicos según la división CIIU";
                            break;
                        case "10"://sección ciiu
                            titulo = "Ingresos por prestación de prestación de servicios científicos y tecnológicos según la sección CIIU";
                            break;
                        default://acti nivel 1
                            titulo = "Ingresos por prestación de prestación de servicios científicos y tecnológicos por el primer nivel ACTI"
                            break;
                    }
                    for (i = 0; i < data.length; i++) {
                        cat = data[i].año;
                        nombre = data[i].nombre;
                        if (xCategories.indexOf(cat) === -1) {
                            xCategories[xCategories.length] = cat;
                        }
                        if (seriesName.indexOf(nombre) === -1) {
                            seriesName[seriesName.length] = nombre;
                        }
                    }
                    for (i = 0; i < seriesName.length; i++) {
                        valores = [];
                        for (j = 0; j < xCategories.length; j++) {
                            var k = 0;
                            var sw = false;
                            while (k < data.length && !sw) {
                                if (data[k].nombre == seriesName[i] && data[k].año == xCategories[j]) {
                                    valores[j] = Math.round(data[k].total * 10000) / 10000;
                                    sw = true;
                                } else {
                                    k++;
                                }
                            }
                            if (!sw) {
                                valores[j] = null;
                            }
                        }
                        seriesData[i] = { name: seriesName[i], data: valores };
                    }
                    var chart;
                    $(document).ready(function () {

                        chart = new Highcharts.Chart({
                            chart: {
                                renderTo: 'grafico1',
                                type: 'column'
                            },
                            title: {
                                text: titulo
                            },
                            subtitle: {
                                text: 'Fuente: D.T.C.P.I y presupuesto de la Universidad del Magdalena'
                            },
                            xAxis: {
                                title: {
                                    text: 'Años'
                                },
                                categories: xCategories
                            },
                            yAxis: {
                                min: 0,
                                title: {
                                    text: 'Millones de pesos colombianos',
                                    align: 'high'
                                },
                                labels: {
                                    overflow: 'justify'
                                },
                                stackLabels: {
                                    enabled: true
                                }
                            },
                            tooltip: {
                                headerFormat: '<b>{point.x}</b><br/>',
                                po: '{series.name}: {point.y} millones de pesos<br/>' +
                                    'Total: {point.stackTotal} millones de pesos'
                            },
                            plotOptions: {
                                column: {
                                    stacking: 'normal'
                                }
                            },
                            credits: {
                                enabled: false
                            },
                            series: seriesData
                        });
                    });
                },
                error: function () {
                    $("#grafico1").html("Error al cargar los datos del gráfico");
                }
            });
        }
        //Gráfico de ingresos por servicios en el año por ciiu y acti
        function DrawIngACTICatCIIU(año, ciiu, acti) {
            $("#grafico2").html('<img src="Content/Imagenes/cargando.gif" class="img-responsive centrar"/>');

            $.ajax({
                url: "@Url.Action("IngresosServiciosCIIUACTI", "IngresosServicios")",
                data: {
                    yearSearch: año,
                    catCIIU: $('#ciiu').val(),
                    catACTI: $('#acti').val()
                },
                type: "GET",
                dataType: "json",
                success: function (data) {
                    var seriesData = [];
                    var xCategories = [];
                    var seriesName = [];
                    var valores = [];

                    var i, cat, nombre;
                    for (i = 0; i < data.length; i++) {
                        cat = data[i].acti;
                        nombre = data[i].nombre;
                        if (xCategories.indexOf(cat) === -1) {
                            xCategories[xCategories.length] = cat;
                        }
                        if (seriesName.indexOf(nombre) === -1) {
                            seriesName[seriesName.length] = nombre;
                        }
                    }

                    for (i = 0; i < seriesName.length; i++) {
                        valores = [];
                        for (j = 0; j < xCategories.length; j++) {
                            var k = 0;
                            var sw = false;
                            while (k < data.length && !sw) {
                                if (data[k].nombre == seriesName[i] && data[k].acti == xCategories[j]) {
                                    valores[j] = Math.round(data[k].total * 10000) / 10000;
                                    sw = true;
                                } else {
                                    k++;
                                }
                            }
                            if (!sw) {
                                valores[j] = null;
                            }
                        }
                        seriesData[i] = { name: seriesName[i], data: valores };
                    }

                    var chart;
                    $(document).ready(function () {
                        chart = new Highcharts.Chart({
                            chart: {
                                renderTo: 'grafico2',
                                type: 'bar'
                            },
                            title: {
                                text: 'Ingresos por servicios en el año ' + año + ' por ' + ciiu.toLowerCase() + ' CIIU y ' + acti.toLowerCase() + ' nivel ACTI'
                            },
                            subtitle: {
                                text: 'Fuente: D.T.C.P.I y presupuesto de la Universidad del Magdalena'
                            },
                            xAxis: {
                                title: {
                                    text: acti + ' nivel ACTI'
                                },
                                categories: xCategories
                            },
                            yAxis: {
                                min: 0,
                                title: {
                                    text: 'Millones de pesos colombianos',
                                    align: 'high'
                                }
                            },
                            tooltip: {
                                headerFormat: '<b>{point.x}</b><br/>',
                                po: '{series.name}: {point.y} millones de pesos<br/>'
                            },
                            plotOptions: {
                                column: {
                                    stacking: 'normal'
                                }
                            },
                            credits: {
                                enabled: false
                            },
                            series: seriesData
                        });
                    });
                },
                error: function () {
                    $("#grafico2").html("Error al cargar los datos del gráfico");
                }
            });
        }
        /*----Dibuja el gráfico ingresos por servicios en el año por nivel acti y objeto del contrato----*/
        function DrawIngObjContrACTI(año, acti) {
            $("#grafico2").html('<img src="Content/Imagenes/cargando.gif" class="img-responsive centrar"/>');
            $("#grafico3").html('<img src="Content/Imagenes/cargando.gif" class="img-responsive centrar"/>');

            $.ajax({
                url: "@Url.Action("IngresosServiciosObjContrACTI", "IngresosServicios")",
                data: {
                    yearSearch: año,
                    catACTI: $('#acti').val()
                },
                type: "GET",
                dataType: "json",
                success: function (data) {
                    var seriesData = [];
                    var xCategories = [];
                    var seriesName = [];
                    var valores = [];

                    var i, cat, nombre, k;
                    for (i = 0; i < data.length; i++) {
                        cat = data[i].nombre;
                        nombre = data[i].objeto;
                        if (xCategories.indexOf(cat) === -1) {
                            xCategories[xCategories.length] = cat;
                        }
                        if (seriesName.indexOf(nombre) === -1) {
                            seriesName[seriesName.length] = nombre;
                        }

                    }

                    for (i = 0; i < seriesName.length; i++) {
                        valores = [];
                        for (j = 0; j < xCategories.length; j++) {
                            var k = 0;
                            var sw = false;
                            while (k < data.length && !sw) {
                                if (data[k].objeto == seriesName[i] && data[k].nombre == xCategories[j]) {
                                    valores[j] = Math.round(data[k].total * 10000) / 10000;
                                    sw = true;
                                } else {
                                    k++;
                                }
                            }
                            if (!sw) {
                                valores[j] = null;
                            }
                        }
                        seriesData[i] = { name: seriesName[i], data: valores };
                    }

                    var chart;
                    $(document).ready(function () {
                        chart = new Highcharts.Chart({
                            chart: {
                                renderTo: 'grafico3',
                                type: 'column'
                            },
                            title: {
                                text: 'ingresos por servicios en el año ' + año + ' por objeto de contrato y ' + acti.toLowerCase() + ' nivel ACTI'
                            },
                            subtitle: {
                                text: 'Fuente: D.T.C.P.I y presupuesto de la Universidad del Magdalena'
                            },
                            xAxis: {
                                title: {
                                    text: acti + ' nivel ACTI'
                                },
                                categories: xCategories
                            },
                            yAxis: {
                                min: 0,
                                title: {
                                    text: 'Millones de pesos colombianos',
                                    align: 'high'
                                },
                                stackLabels: {
                                    enabled: true
                                }
                            },
                            tooltip: {
                                headerFormat: '<b>{point.x}</b><br/>',
                                po: '{series.name}: {point.y} millones de pesos'
                            },
                            plotOptions: {
                                series: {
                                    stacking: 'normal'
                                }
                            },
                            credits: {
                                enabled: false
                            },
                            series: seriesData
                        });
                    });
                },
                error: function () {
                    $("#grafico3").html("Error al cargar los datos del gráfico");
                }
            });
        }
        //Gráfico de ingresos por servicios en el año por nivel acti y ámbito geográfico
        function DrawIngAmbGeoACTI(año, acti) {
            $("#grafico2").html('<img src="Content/Imagenes/cargando.gif" class="img-responsive centrar"/>');
            $("#grafico4").html('<img src="Content/Imagenes/cargando.gif" class="img-responsive centrar"/>');

            $.ajax({
                url: "@Url.Action("IngresosServiciosAmbGeoACTI", "IngresosServicios")",
                data: {
                    yearSearch: año,
                    catACTI: $('#acti').val()
                },
                type: "GET",
                dataType: "json",
                success: function (data) {
                    var seriesData = [];
                    var xCategories = [];
                    var seriesName = [];
                    var valores = [];

                    var i, cat, nombre, k;
                    for (i = 0; i < data.length; i++) {
                        cat = data[i].ambito;
                        nombre = data[i].nombre;
                        if (xCategories.indexOf(cat) === -1) {
                            xCategories[xCategories.length] = cat;
                        }
                        if (seriesName.indexOf(nombre) === -1) {
                            seriesName[seriesName.length] = nombre;
                        }
                    }

                    for (i = 0; i < seriesName.length; i++) {
                        valores = [];
                        for (j = 0; j < xCategories.length; j++) {
                            var k = 0;
                            var sw = false;
                            while (k < data.length && !sw) {
                                if (data[k].nombre == seriesName[i] && data[k].ambito == xCategories[j]) {
                                    valores[j] = Math.round(data[k].total * 10000) / 10000;
                                    sw = true;
                                } else {
                                    k++;
                                }
                            }
                            if (!sw) {
                                valores[j] = null;
                            }
                        }
                        seriesData[i] = { name: seriesName[i], data: valores };
                    }

                    var chart;
                    $(document).ready(function () {
                        chart = new Highcharts.Chart({
                            chart: {
                                renderTo: 'grafico4',
                                type: 'column'
                            },
                            title: {
                                text: 'Ingresos por servicios en el año ' + año + ' por ámbito geográfico y ' + acti.toLowerCase() + ' nivel ACTI'
                            },
                            subtitle: {
                                text: 'Fuente: D.T.C.P.I y presupuesto de la Universidad del Magdalena'
                            },
                            xAxis: {
                                title: {
                                    text: 'Ámbito geográfico'
                                },
                                categories: xCategories
                            },
                            yAxis: {
                                min: 0,
                                title: {
                                    text: 'Millones de pesos colombianos',
                                    align: 'high'
                                },
                                labels: {
                                    overflow: 'justify'
                                },
                                stackLabels: {
                                    enabled: true
                                }
                            },
                            tooltip: {
                                valueSuffix: ' Millones de pesos colombianos'
                            },
                            plotOptions: {
                                column: {
                                    dataLabels: {
                                        enabled: true
                                    }
                                }
                            },
                            legend: {
                                headerFormat: '<span style="font-size:10px">{point.key}</span><table>',
                                po: '<tr><td style="color:{series.color};padding:0">{series.name}: </td>' +
                                    '<td style="padding:0"><b>{point.y:.1f} millones de pesos</b></td></tr>',
                                footerFormat: '</table>',
                                shared: true,
                                useHTML: true
                            },
                            credits: {
                                enabled: false
                            },
                            series: seriesData
                        });
                    });
                },
                error: function () {
                    $("#grafico4").html("Error al cargar los datos del gráfico");
                }
            });
        }
        //Gráfico de ingresos por servicios en el año por nivel acti y naturaleza de la organización
        function DrawIngNatOrgACTI(año, acti) {
            $("#grafico2").html('<img src="Content/Imagenes/cargando.gif" class="img-responsive centrar"/>');
            $("#grafico5").html('<img src="Content/Imagenes/cargando.gif" class="img-responsive centrar"/>');

            $.ajax({
                url: "@Url.Action("IngresosServiciosNatOrgACTI", "IngresosServicios")",
                data: {
                    yearSearch: año,
                    catACTI: $('#acti').val()
                },
                type: "GET",
                dataType: "json",
                success: function (data) {
                    var seriesData = [];
                    var xCategories = [];
                    var seriesName = [];
                    var valores = [];

                    var i, cat, nombre, k;
                    for (i = 0; i < data.length; i++) {
                        cat = data[i].nombre;
                        nombre = data[i].organizacion;
                        if (xCategories.indexOf(cat) === -1) {
                            xCategories[xCategories.length] = cat;
                        }
                        if (seriesName.indexOf(nombre) === -1) {
                            seriesName[seriesName.length] = nombre;
                        }
                    }

                    for (i = 0; i < seriesName.length; i++) {
                        valores = [];
                        for (j = 0; j < xCategories.length; j++) {
                            var k = 0;
                            var sw = false;
                            while (k < data.length && !sw) {
                                if (data[k].organizacion == seriesName[i] && data[k].nombre == xCategories[j]) {
                                    valores[j] = Math.round(data[k].total * 10000) / 10000;
                                    sw = true;
                                } else {
                                    k++;
                                }
                            }
                            if (!sw) {
                                valores[j] = null;
                            }
                        }
                        seriesData[i] = { name: seriesName[i], data: valores };
                    }

                    var chart;
                    $(document).ready(function () {
                        chart = new Highcharts.Chart({
                            chart: {
                                renderTo: 'grafico5',
                                type: 'column'
                            },
                            title: {
                                text: 'Ingresos por servicios en el año ' + año + ' por la naturaleza de la organización y ' + acti.toLowerCase() + ' nivel ACTI'
                            },
                            subtitle: {
                                text: 'Fuente: D.T.C.P.I y presupuesto de la Universidad del Magdalena'
                            },
                            xAxis: {
                                title: {
                                    text: acti + ' nivel ACTI'
                                },
                                categories: xCategories
                            },
                            yAxis: {
                                min: 0,
                                title: {
                                    text: 'Millones de pesos',
                                    align: 'high'
                                },
                                labels: {
                                    overflow: 'justify'
                                },
                                stackLabels: {
                                    enabled: true
                                }
                            },
                            tooltip: {
                                valueSuffix: ' Millones de pesos'
                            },
                            plotOptions: {
                                column: {
                                    dataLabels: {
                                        enabled: true
                                    }
                                }
                            },
                            legend: {
                                headerFormat: '<span style="font-size:10px">{point.key}</span><table>',
                                po: '<tr><td style="color:{series.color};padding:0">{series.name}: </td>' +
                                    '<td style="padding:0"><b>{point.y:.1f} millones de pesos</b></td></tr>',
                                footerFormat: '</table>',
                                shared: true,
                                useHTML: true
                            },
                            credits: {
                                enabled: false
                            },
                            series: seriesData
                        });
                    });
                },
                error: function () {
                    $("#grafico5").html("Error al cargar los datos del gráfico");
                }
            });
        }
    </script>
}

